[2017-06-10 22:29] D00Med commented on #77
For example:
`minetest.register_on_joinplayer(function(player)
	minetest.after(0,function()
		player:set_sky({r=0, g=0, b=0}, "plain")
	end)
end`

[2017-06-10 22:31] tobyplowy commented on #77
@D00Med I dunno how to do that

[2017-06-10 22:36] tobyplowy commented on #77
@D00Med what model shuld I make next?

[2017-06-10 23:03] tobyplowy commented on #77
@D00Med I'm going now see you later

[2017-06-10 23:22] D00Med commented on #77
@tobyplowy Oh ok.
Hmm maybe an ankylosaurus?
Ok, bye

[2017-06-11 14:15] tobyplowy commented on #77
@D00Med ankylosaurus is done
![naamloos](https://user-images.githubusercontent.com/16853304/27011670-f86a406e-4ec0-11e7-8382-336a5a8fa9db.png)
[ankylosaurus.zip](https://github.com/D00Med/farlands/files/1066484/ankylosaurus.zip)

build
![ankylosaurus build](https://user-images.githubusercontent.com/16853304/27011682-2e9da3ec-4ec1-11e7-8b8f-c2ea2942aa6d.png)

[2017-06-11 14:32] tobyplowy commented on #96
@tobyplowy note to self recolor sand

[2017-06-11 14:44] tobyplowy opened #103 "saplings for trees"
theres no saplings for the trees if farlands

[2017-06-11 14:46] tobyplowy opened #104 "update minetest game content"
@D00Med can you update the minetest game content like the new chest animations and new blocks

[2017-06-11 20:20] tobyplowy commented on #77
@D00Med hi

[2017-06-11 20:50] D00Med commented on #77
Hello :)
@tobyplowy Awesome xD

[2017-06-11 20:55] tobyplowy commented on #77
@D00Med thanks

[2017-06-11 20:56] D00Med commented on #77
@tobyplowy I'm going to try and improve the fireworks

[2017-06-11 20:58] tobyplowy commented on #77
@D00Med ok

[2017-06-11 21:02] tobyplowy commented on #77
@D00Med its e3 minetest shuld be on e3 lol

[2017-06-11 21:02] tobyplowy commented on #77
jk

[2017-06-11 21:10] tobyplowy commented on #77
@D00Med have you seen #104 and #103

[2017-06-11 21:12] tobyplowy commented on #80
@tacotexmex and is it fixed with with .4.16.

[2017-06-11 21:12] tacotexmex commented on #80
I still need to test, sorry for stalling.

[2017-06-11 21:14] tobyplowy commented on #80
no idea what that means but your forgiven XD

[2017-06-11 21:15] tobyplowy commented on #80
@tacotexmex if you test can you report back

[2017-06-11 21:16] D00Med commented on #77
@tobyplowy I have now

[2017-06-11 21:17] tobyplowy commented on #77
@D00Med XD

[2017-06-11 21:18] tobyplowy commented on #77
@D00Med is #83 fixed alredy?

[2017-06-11 21:27] D00Med commented on #77
@tobyplowy If you think so :)

[2017-06-11 21:31] tobyplowy commented on #77
@D00Med yes i do

[2017-06-11 21:32] tobyplowy commented on #77
@D00Med but theres still 2 boats and the one you added i acting odd it keeps jumping :D

[2017-06-11 21:34] D00Med commented on #77
@tobyplowy Oh ok, I'll get rid of my one

[2017-06-11 21:41] tobyplowy commented on #77
@D00Med it has hidrolics

hidrolics + boat

D00Med boat XD
(pun intended)

[2017-06-11 21:41] #83 closed

[2017-06-11 21:56] tobyplowy commented on #77
@D00Med im makeing a 3D model (not for farlands)

[2017-06-11 21:58] D00Med commented on #77
It'd be neat to have a boat that just moved in the direction of the keys rather than turning.

[2017-06-11 22:14] tobyplowy commented on #77
@D00Med isent that how it works now?

[2017-06-11 22:33] D00Med commented on #77
@tobyplowy No, it rotates if you press left or right, but it doesn't turn and move left or right.

[2017-06-11 22:35] tobyplowy commented on #77
@D00Med move as in strafing?

[2017-06-11 22:37] tobyplowy commented on #77
[the hype is real](https://www.youtube.com/watch?v=Nq_Q77bJ3H0)

[2017-06-11 22:42] tobyplowy commented on #77
let the disapointment come XD

[2017-06-11 22:50] D00Med commented on #77
@tobyplowy No, like if you press left, the boat turns, faces left, and moves that way.

[2017-06-11 22:51] D00Med commented on #77
_Meanwhile, in minetest..._
wE hAvE sAnDsToNE!!!

[2017-06-11 23:04] tobyplowy commented on #77
lol true have you seen the shaders its so boetifool :,D

[2017-06-11 23:05] tobyplowy commented on #77
@D00Med maybe one day we will have shaders in mt i will probably be dead by than XD

[2017-06-11 23:49] tobyplowy commented on #77
@D00Med do you know what this is?
![naamloos](https://user-images.githubusercontent.com/16853304/27015579-4723d33c-4f11-11e7-9da6-6d42dbe4b062.png)

[2017-06-12 00:06] tobyplowy commented on #77
@D00Med im going now see you tomorrow

[2017-06-12 00:40] D00Med commented on #77
@tobyplowy Sorry, disappeared again.
Ha yeah better shaders would be great.
Is that hmm, a laser cutter? a nail gun?

[2017-06-12 12:11] tobyplowy commented on #77
@D00Med no it's a matter manipulator from the game Starbound but you were close (sort of)

[2017-06-12 20:51] D00Med commented on #77
@tobyplowy Ohh, it looks good!

[2017-06-13 20:21] tobyplowy commented on #77
@D00Med I won't be able to help this week (probably not) only in the weekend
Sorry for my inpressens but its the last 3 weeks on school and its a bit chaotic but after those 3 weeks I will have seas of time :)

[2017-06-13 20:59] D00Med commented on #77
@tobyplowy Ok, that's alright.

[2017-06-16 20:08] tobyplowy commented on #77
@D00Med hi

[2017-06-16 20:40] D00Med commented on #77
@tobyplowy Hello :) How are you?
I can't work on farlands today

[2017-06-16 20:51] tobyplowy commented on #77
@D00Med I'm good how are you?

Ok

[2017-06-16 20:52] D00Med commented on #77
@tobyplowy Good thanks, been busy though.
I'm going now, enjoy your evening

[2017-06-16 20:58] tobyplowy commented on #77
@D00Med yes you too :)

[2017-06-17 20:27] tobyplowy commented on #77
@D00Med hi

[2017-06-17 20:52] tobyplowy commented on #77
@D00Med well Everytime I delete a comment from someone else it spams a message saying so

(Me) Let's decrease the amount of comments so the same thing doesn't happen like the previous conversation

(Githubs response) ok that's smart and now I will annoy the fuck out of you!

[2017-06-17 21:27] D00Med commented on #77
@tobyplowy When I get time I'll get rid of some of my comments.
But why are you deleting from the bottom?
It would be better to delete earlier comments first.

[2017-06-17 21:30] tobyplowy commented on #77
@D00Med Yeh I know :)

[2017-06-17 21:30] tobyplowy commented on #77
@D00Med do you have time for farlands today?

[2017-06-17 21:31] D00Med commented on #77
@tobyplowy No sorry

[2017-06-17 21:33] tobyplowy commented on #77
@D00Med ok :/

Will you have more time in the vacation

[2017-06-17 21:33] D00Med commented on #77
@tobyplowy Yes :)

[2017-06-17 21:33] tobyplowy commented on #87
@GreenXenith any updates?

[2017-06-17 21:34] tobyplowy commented on #77
Ok cool :)

[2017-06-17 21:37] tobyplowy commented on #77
@D00Med well I guess bye than

[2017-06-17 21:39] D00Med commented on #77
@tobyplowy Yeah, talk later

[2017-06-17 23:24] GreenXenith commented on #87
@tobyplowy No :( The beginning of my summer has been a nightmare, and the little time I do get is spend on moderating. I will also be gone for a week. When I get back I will (hopefully) start work on some more stuff.

[2017-06-23 19:26] tobyplowy commented on #77
@D00Med sorry for being this quiet I'm not dead yet XD

Next week I will be able to resume work as usual

[2017-06-23 21:09] D00Med commented on #77
@tobyplowy Hey, how are you?
Oh that's a shame(about being quiet not about being alive xD). I'm on holidays now so I'll be able to get more done :)

[2017-06-23 21:14] tobyplowy commented on #77
@D00Med I'm doing good how are you bdw I don't have alot of time to stick around

Lol

See you next weekend :)

[2017-06-23 21:14] D00Med commented on #77
I'm great thanks. Ok then.
Yeah see you :)

[2017-06-23 21:40] tobyplowy commented on #77
Good to hear that

Yup :)

[2017-06-26 15:03] #96 closed

[2017-06-26 15:04] tobyplowy commented on #80
@tacotexmex is this fixed for you by using the newest version of mt?

[2017-06-26 15:07] tobyplowy commented on #97
@GreenXenith can you work on that arcade machene?

[2017-06-26 15:13] tobyplowy commented on #99
@D00Med well looks like the new mob ai is abandond :/

[2017-06-26 15:16] tobyplowy commented on #91
when hell and heaven are added there culd be some cool bosses like satan himself

[2017-06-26 15:23] DS-Minetest commented on #91
Heh, satan in his prison would be very easy to kill, just break the urns and the planet will fall into the black hole.

[2017-06-26 15:26] DS-Minetest commented on #97
A tetris machine was already done by some mod. But it's awful.

[2017-06-26 15:30] GreenXenith commented on #97
Yep. Homedecor modpack.

[2017-06-26 17:03] tacotexmex commented on #80
Several mines has been created without crashing now that I test with a stable 0.4.16, so it should be safe to say that the bug is now fixed.

[2017-06-26 17:03] #80 closed

[2017-06-26 21:29] D00Med commented on #99
@tobyplowy  That's a shame :/

[2017-06-26 21:31] D00Med commented on #91
How about a monster urn? xD

[2017-06-30 19:45] tobyplowy commented on #77
@D00Med hi

[2017-06-30 21:28] D00Med commented on #77
@tobyplowy Hi, how are you? :)

[2017-06-30 21:55] tobyplowy commented on #77
@D00Med I'm good :)

What shuld I work on?

[2017-06-30 22:03] D00Med commented on #77
@tobyplowy That's good. Hmm idk, maybe different textures for the npc's?
Like a butcher, a librarian etc.?
I've been working on weather

[2017-06-30 22:05] tobyplowy commented on #77
@D00Med Jup Will do

Also nice

[2017-06-30 22:12] D00Med commented on #77
@tobyplowy Ok, thanks :)

[2017-06-30 22:14] tobyplowy commented on #77
No problem :)

Make sure to make the weather as nice as possible

[2017-06-30 23:48] D00Med commented on #77
@tobyplowy What's the most important thing for me to finish?

[2017-07-01 10:08] D00Med commented on #77
@tobyplowy  https://forum.minetest.net/viewtopic.php?f=9&t=17918
This looks like it might be helpful, maybe I can use this for the villagers

[2017-07-01 10:48] tobyplowy commented on #77
@D00Med #104 #103 #102

Also make dungeons genarate

[2017-07-01 10:49] tobyplowy commented on #77
@D00Med https://forum.minetest.net/viewtopic.php?f=9&t=17918 seems good

[2017-07-01 20:57] tobyplowy commented on #77
@D00Med Hi

[2017-07-01 21:06] D00Med commented on #77
@tobyplowy Hello :)

[2017-07-01 21:20] D00Med commented on #77
@tobyplowy @GreenXenith Were there any changes to the GUI of chests?
I'm just wondering if I can replace "nodes.lua" from default with a more updated copy.

[2017-07-01 21:36] tobyplowy commented on #77
@D00Med I dunno that

@GreenXenith are there?

[2017-07-01 22:02] D00Med commented on #77
@tobyplowy Ok.

[2017-07-01 22:05] tobyplowy commented on #77
@D00Med I guess you can work on the other 2 things before you get an answer from @GreenXenith

[2017-07-01 22:05] tobyplowy commented on #77
Also I'm still working on the vilagger textures

[2017-07-01 22:09] D00Med commented on #77
@tobyplowy Ok. Nice :)

[2017-07-01 22:57] D00Med commented on #77
@tobyplowy I've got to go, enjoy your evening

[2017-07-02 01:39] GreenXenith commented on #77
@D00Med I keep my work local so go ahead and update it - I'll need to update the chests to work with the new chest models... that might set me back a bit...

[2017-07-02 02:40] D00Med commented on #77
@GreenXenith ok, that's what I thought, thanks :)

[2017-07-02 21:16] tobyplowy commented on #77
@D00Med hi

[2017-07-02 21:34] D00Med commented on #77
Hello :)

[2017-07-02 21:43] tobyplowy commented on #77
@D00Med nice work with the weather

[2017-07-02 21:46] D00Med commented on #77
@tobyplowy Thanks :)
I tried to make it as simple as I could

[2017-07-02 21:48] tobyplowy commented on #77
@D00Med do you still have my build map for vilage buildings?

[2017-07-02 21:49] D00Med commented on #77
Probably, but idk where.
We've just about reached the limit on how much we can comment

[2017-07-02 21:51] tobyplowy commented on #77
@D00Med yes I'm removeing some comments

Maybe you should also remove some

[2017-07-02 21:51] D00Med commented on #77
@tobyplowy Ok, don't delete anything important

[2017-07-02 21:54] tobyplowy commented on #77
@D00Med it may already be to late for that XD

[2017-07-02 21:59] D00Med commented on #77
@tobyplowy  Oh no :'D
My memory isn't good enough for that :P

[2017-07-02 22:00] tobyplowy commented on #77
@D00Med the raveling merchant seems to have a very short hitbox

[2017-07-02 22:00] D00Med commented on #77
@tobyplowy  I will check that

[2017-07-02 22:02] tobyplowy commented on #77
@D00Med also he seems to move very fast

[2017-07-02 22:06] tobyplowy commented on #77
@D00Med is it Possible to add very small biomes

[2017-07-02 22:09] D00Med commented on #77
@tobyplowy I don't think so, it's pretty hard to even get new biomes right.

[2017-07-02 22:10] tobyplowy commented on #77
@D00Med That really sucks

[2017-07-02 22:10] D00Med commented on #77
@tobyplowy I'm going to have to leave soon, idk when though.
I'm going to work on adding the dungeons

[2017-07-02 22:12] tobyplowy commented on #77
@D00Med Ok

I will work on some more item textures

Also dount forget the mimics :)

[2017-07-02 22:14] D00Med commented on #77
@tobyplowy Something I've been working on for Legend of Minetest, is a tool that places different dungeons depending on what it's used on. In each dungeon, there is a block with will spawn a boss when right-clicked. Does this sound better than what I've I've done in the past? It's more reliable in some ways because the boss will most certainly spawn, and there's less of a chance of things being re

[2017-07-02 22:19] tobyplowy commented on #77
@D00Med maybe instead of a tool can it be a block (doesn't drop) that genarates understand (like an ore but just one block) and you have to Right Click to activate it

[2017-07-02 22:19] D00Med commented on #77
@tobyplowy  Oh I know why there aren't any dungeons, I forgot to change all the stuff related to legend of minetest xD

[2017-07-02 22:19] tobyplowy commented on #77
@D00Med maybe instead of a tool can it be a block (doesn't drop) that genarates understand (like an ore but just one block) and you have to Right Click to activate it

[2017-07-02 22:27] D00Med commented on #77
@tobyplowy That's not a bad idea, but how would that work for above-ground dungeons?
The underground dungeons work fine imo, so it's really only useful for the dungeons that are above the ground

[2017-07-02 22:34] tobyplowy commented on #77
@D00Med the same maybe?

[2017-07-02 22:39] D00Med commented on #77
@tobyplowy Ok, so you're saying there should be a generated node, something like say a totem pole for jungle pyramids, and when you right click it, a dungeon spawns? That sounds good, only problem I can think of is trying to get it somewhere flat. Also, I won't have to go

[2017-07-02 22:41] tobyplowy commented on #77
Well it's one node so that's not a big problem no?

Yay!

[2017-07-02 22:43] D00Med commented on #77
@tobyplowy nvm, brain not switched on.

[2017-07-02 22:45] tobyplowy commented on #77
@D00Med Well I had to lookup what nvm means so we are both not on point XD

[2017-07-02 22:48] tobyplowy commented on #77
@D00Med wood and stone tools are 100% done!

[2017-07-02 22:48] D00Med commented on #77
@tobyplowy  https://github.com/D00Med/LegendofMinetest/tree/Update-July-2017
Nearly finished the update

[2017-07-02 22:50] tobyplowy commented on #77
Cool!

[2017-07-02 22:54] tobyplowy commented on #77
@D00Med iron tools done

[2017-07-02 22:57] tobyplowy commented on #77
That's ironic XD

[2017-07-02 22:58] D00Med commented on #77
@tobyplowy how?
Should the lantern, torch, and candle work when the player is holding them?

[2017-07-02 22:59] tobyplowy commented on #77
If the lag indent to extreme

[2017-07-02 23:00] D00Med commented on #77
@tobyplowy Seems ok to me, but idk about on slower computers.

[2017-07-02 23:00] tobyplowy commented on #77
How iron-ic that you ask XD

[2017-07-02 23:02] tobyplowy commented on #77
Wurst pun ever

[2017-07-02 23:11] tobyplowy commented on #77
@D00Med Nice new armor textures for the legend of mt

[2017-07-02 23:20] D00Med commented on #77
@tobyplowy Thanks :)

[2017-07-02 23:22] tobyplowy commented on #77
@D00Med it seems like a good update :)

Will test later

[2017-07-02 23:27] D00Med commented on #77
@tobyplowy Ok, let me know what you think

[2017-07-02 23:28] tobyplowy commented on #77
@D00Med will do

Also gold tools are almost done

[2017-07-02 23:28] D00Med commented on #77
@tobyplowy ok great

[2017-07-02 23:38] tobyplowy commented on #77
@D00Med can you give me some feedback on the tools (the ones that are done)

[2017-07-02 23:39] D00Med commented on #77
@tobyplowy in a sec

[2017-07-02 23:39] tobyplowy commented on #77
@D00Med Ok

[2017-07-02 23:41] D00Med commented on #77
I really like the textures, but the gold tools look a bit orange

[2017-07-02 23:43] tobyplowy commented on #77
@D00Med yeh I'm struggling to get that nice gold feel

Will redo all good textures

[2017-07-02 23:46] tobyplowy commented on #77
@D00Med so what are you working on at the moment?

[2017-07-02 23:48] D00Med commented on #77
@tobyplowy Ok. The glowing tools

[2017-07-02 23:49] tobyplowy commented on #77
@D00Med :)

[2017-07-02 23:53] tobyplowy commented on #77
@D00Med if you are done can you please add
Palm tree sapling
Baobab tree sapling
Bamboo sapling
Welow ipe tree sapling
Willow tree sapling

[2017-07-02 23:55] D00Med commented on #77
Ok, I will do that

[2017-07-02 23:57] tobyplowy commented on #77
@D00Med thanks

[2017-07-03 00:00] tobyplowy commented on #77
@D00Med shuld we remove vesseles?

[2017-07-03 00:03] D00Med commented on #77
@tobyplowy Not if you want to keep witchcraft

[2017-07-03 00:04] tobyplowy commented on #77
@D00Med workaround?

[2017-07-03 00:06] D00Med commented on #77
@tobyplowy Yeah but I don't really see the point. why do you want to remove vessels?

[2017-07-03 00:08] tobyplowy commented on #77
Also for the NPCs I think the not human ones shuld be a new mob and they should genarate in hot biomes
Also they need a name what about Awaj?

[2017-07-03 00:09] tobyplowy commented on #77
I think they are useless but we can keep them

[2017-07-03 00:09] D00Med commented on #77
@tobyplowy Ok. Nice name ;)

[2017-07-03 00:12] tobyplowy commented on #77
It's a reference to the original idea and look of there face

[2017-07-03 00:16] tobyplowy commented on #77
@D00Med Wel It's getting late for me I will be going to bed see you tomorrow :)

[2017-07-03 00:18] D00Med commented on #77
@tobyplowy ok, goodnight :) see you

[2017-07-03 15:21] tobyplowy commented on #104
@D00Med done?

[2017-07-03 21:02] D00Med commented on #104
@tobyplowy No, not yet

[2017-07-03 21:02] D00Med commented on #104
Mostly is though

[2017-07-03 21:02] tobyplowy commented on #77
@D00Med Hi

[2017-07-03 21:02] D00Med commented on #77
Hello

[2017-07-03 21:03] D00Med commented on #77
@DS-Minetest You don't like the idea of torches etc. working without being placed?
I think it works quite well

[2017-07-03 21:22] tobyplowy commented on #77
@D00Med what will you work on today?

[2017-07-03 21:23] D00Med commented on #77
@tobyplowy Nothing yet sorry, I've got to help move a stove this morning.
But I will be back in the afternoon. I'll probably work on the dungeons

[2017-07-03 21:26] tobyplowy commented on #77
Ok

[2017-07-03 21:31] tobyplowy commented on #77
@D00Med well I have to go see you later if I'm still awake :)

[2017-07-03 21:38] D00Med commented on #77
@tobyplowy eh, actually I have time. I thought it was wednesday

[2017-07-03 21:42] tobyplowy commented on #77
@D00Med I still don't :/

But later I will

[2017-07-03 21:42] tobyplowy commented on #77
@D00Med Please get the saplings done

[2017-07-03 21:45] D00Med commented on #77
@tobyplowy  Oh ok. Oh yeah, forgot about that, I'll do it right away

[2017-07-04 14:48] DS-Minetest commented on #77
I think it works quite well

It causes much lag since there have to be set many nodes again and again and these nodes produce artificial light and so, they affect other nodes, too.
I think, there should be a setting for it.

[2017-07-04 21:20] tobyplowy commented on #77
@D00Med hi

[2017-07-04 21:21] D00Med commented on #77
@DS-Minetest It seems to work ok for me, but I think I will get rid of it anyway, it doesn't work on servers(or at least the way I did it doesn't work).

[2017-07-04 21:21] D00Med commented on #77
Hello :)

[2017-07-04 21:24] tobyplowy commented on #77
@D00Med what shuld I work on?

[2017-07-04 21:25] tobyplowy commented on #77
@D00Med also have you worked on the saplings already?

[2017-07-04 21:26] D00Med commented on #77
@tobyplowy More sapling textures please.
Yes I have added the saplings that have textures, and started on those that don't.

[2017-07-04 21:29] tobyplowy commented on #77
@D00Med Ok

Do you still have the baobab and yellow ipe and palm sapling textures?

[2017-07-04 21:31] tobyplowy commented on #77
@D00Med if not here you go
mapgen yellow ipe
![mapgen_yellow_ipe_sapling](https://user-images.githubusercontent.com/16853304/27843128-d8a9afdc-6110-11e7-9235-c490c1e96142.png)
palmtree sapling
![palmtree sapling](https://user-images.githubusercontent.com/16853304/27843129-d8ab59cc-6110-11e7-818a-6109a4a0968e.png)
baobab sapling
![mapgen_baobab_sapling](https://user-images.githubusercontent.com/168

[2017-07-04 21:32] D00Med commented on #77
@tobyplowy yeah, got those thanks :)

[2017-07-04 21:33] tobyplowy commented on #77
@D00Med so wat sapling textures do you still need?

[2017-07-04 21:35] D00Med commented on #77
Big pine tree, willow, and maybe bamboo.

[2017-07-04 21:36] tobyplowy commented on #77
ok

[2017-07-04 21:37] D00Med commented on #77
@tobyplowy don't delete anything important :'D

[2017-07-04 21:46] tobyplowy commented on #77
XD

willow_sapling
![mapgen_willow_sapling](https://user-images.githubusercontent.com/16853304/27843341-dbf370c2-6112-11e7-98a5-569c77bd8774.png)

[2017-07-04 21:46] D00Med commented on #77
@tobyplowy looks good, thanks

[2017-07-04 21:51] tobyplowy commented on #77
bamboo_sapling
![mapgen_bamboo_sapling](https://user-images.githubusercontent.com/16853304/27843431-acc7b28a-6113-11e7-9916-4079c14f034f.png)

[2017-07-04 21:56] tobyplowy commented on #77
new default pine sapling
![default_pine_sapling](https://user-images.githubusercontent.com/16853304/27843474-3f496202-6114-11e7-96c5-e599fb74f94e.png)
big pine sapling
![default_big_pine_sapling](https://user-images.githubusercontent.com/16853304/27843473-3f493002-6114-11e7-9447-a7e2c54c1165.png)

[2017-07-04 21:57] tobyplowy commented on #77
@D00Med ok now what shuld i work on?

[2017-07-04 21:59] D00Med commented on #77
@tobyplowy hmm, not sure.

[2017-07-04 21:59] tobyplowy commented on #77
@D00Med XD

[2017-07-04 22:00] tobyplowy commented on #77
@D00Med maybe i shuld make some ruines for mapgen

[2017-07-04 22:00] D00Med commented on #77
@tobyplowy That's a good idea :)

[2017-07-04 22:03] tobyplowy commented on #77
@D00Med i will make one for now and i will make more later
after that one i will need to draw some textures for personal use (hd textures)

[2017-07-04 22:03] tobyplowy commented on #77
@D00Med also what do you think of this grass texture?
![grass](https://user-images.githubusercontent.com/16853304/27843561-59dc356c-6115-11e7-9dfe-16e1df92987a.png)

[2017-07-04 22:08] D00Med commented on #77
It's pretty good!

[2017-07-04 22:08] tobyplowy commented on #77
thanks

[2017-07-04 22:22] tobyplowy commented on #77
@D00Med so hows the saplings going?

[2017-07-04 22:31] D00Med commented on #77
@tobyplowy Sorry, had something else to do.
I'll finish them in a second

[2017-07-04 22:31] tobyplowy commented on #77
@D00Med ok

[2017-07-04 22:45] tobyplowy commented on #77
@D00Med im done for today see you later

[2017-07-04 22:45] D00Med commented on #77
@tobyplowy Ok, I'm going now, enjoy the rest of your evening :)

[2017-07-04 22:45] D00Med commented on #77
@tobyplowy lol, the timing xD

[2017-07-04 22:47] tobyplowy commented on #77
Yeh XD

[2017-07-05 19:17] tobyplowy commented on #77
@D00Med I won't be able to do anything today I have to wake up very early tomorrow :)

[2017-07-05 21:16] D00Med commented on #77
@tobyplowy Oh ok, that's kind of convenient, my eyes are killing me today. I was going to say I can't do anything either.

[2017-07-06 20:59] D00Med commented on #77
Hello

[2017-07-06 21:07] tobyplowy commented on #77
@D00Med hi

[2017-07-06 21:09] D00Med commented on #77
@tobyplowy :) How are you?
I'm working on the weather mod

[2017-07-06 21:09] tobyplowy commented on #77
@D00Med I'm doing good :)

Ok I will continue working on the new structures

[2017-07-06 21:10] D00Med commented on #77
@tobyplowy Ok great :) I'll make some blocks to use as spawners for them

[2017-07-06 21:11] tobyplowy commented on #77
@D00Med Ok

[2017-07-06 21:12] tobyplowy commented on #77
@D00Med will the vilages spawn without structure blocks?

[2017-07-06 21:12] D00Med commented on #77
@tobyplowy hopefully

[2017-07-06 21:17] tobyplowy commented on #77
@D00Med Also is it possible to replace the torches in mineshafts with lanterns?

[2017-07-06 21:19] D00Med commented on #77
@tobyplowy It might be

[2017-07-06 21:23] tobyplowy commented on #77
@D00Med huh :/

[2017-07-06 21:24] D00Med commented on #77
Hopefully they will face the right way

[2017-07-06 21:28] D00Med commented on #77
@tobyplowy ok, it's done :)

[2017-07-06 21:35] tobyplowy commented on #77
@D00Med Nice

[2017-07-06 21:40] tobyplowy commented on #77
@D00Med I'm testing mapgen for a sec

[2017-07-06 21:41] tobyplowy commented on #77
@D00Med also coral (plantlike) and kelp are broken

[2017-07-06 21:42] D00Med commented on #77
@tobyplowy in what way?

[2017-07-06 21:44] tobyplowy commented on #77
@D00Med air bubbles

[2017-07-06 21:44] D00Med commented on #77
@tobyplowy Oh yeah they don't like the update I think, or have you got shaders on?

[2017-07-06 21:45] tobyplowy commented on #77
@D00Med yeh its becouse of the mt update

[2017-07-06 21:47] tobyplowy commented on #87
@GreenXenith shuld i add this to the v2 milestone?

[2017-07-06 21:48] D00Med commented on #77
@tobyplowy Ok. It's a shame

[2017-07-06 21:48] tobyplowy commented on #77
yeh

[2017-07-06 21:50] tobyplowy commented on #77
@D00Med im super happy with the savannah biome

[2017-07-06 21:58] D00Med commented on #77
@tobyplowy that's great :D

[2017-07-06 21:58] D00Med commented on #77
I think they're all looking pretty good, but I still have to improve the second deciduous forest

[2017-07-06 22:01] GreenXenith commented on #87
@tobyplowy Yes.

[2017-07-06 22:02] tobyplowy commented on #77
yeh

[2017-07-06 22:08] tobyplowy commented on #77
@D00Med can you add the water lillys from the nodebox tree mod to farlands

[2017-07-06 22:13] D00Med commented on #77
@tobyplowy yes. Do placeable tools sound like a good idea?

[2017-07-06 22:14] tobyplowy commented on #77
@D00Med hum that may be bad but it sounds interesting

what about a medastool of some kind to show off the items?

[2017-07-06 22:15] tobyplowy commented on #77
@D00Med like this mod https://forum.minetest.net/viewtopic.php?f=11&t=5600&start=25

[2017-07-06 22:15] tobyplowy commented on #87
@D00Med @GreenXenith moving to v2

[2017-07-06 22:20] D00Med commented on #77
@tobyplowy that's probably better

[2017-07-06 22:21] tobyplowy commented on #77
@D00Med maybe

[2017-07-06 22:24] D00Med commented on #77
brb

[2017-07-06 22:24] tobyplowy commented on #77
ok

[2017-07-06 22:40] D00Med commented on #77
ok, I'm back

[2017-07-06 22:42] tobyplowy commented on #77
good

[2017-07-06 22:47] D00Med commented on #77
@tobyplowy I'm working on the forest biome

[2017-07-06 22:50] tobyplowy commented on #77
ok

[2017-07-06 22:54] tobyplowy commented on #77
@D00Med somting went wrong it says i merged this WTF https://github.com/D00Med/farlands/commit/ed3ac97ac43ba3ce64efb07a04fc6e4afed1d296

[2017-07-06 23:00] GreenXenith commented on #87
I am going to attempt to redo the large chest to use the new opening model

[2017-07-06 23:01] D00Med commented on #77
@tobyplowy That looks like what I did before

[2017-07-06 23:01] tobyplowy commented on #77
@D00Med ?

[2017-07-06 23:02] D00Med commented on #77
@tobyplowy The watering can and the book etc.?
idk why it says you merged it

[2017-07-06 23:10] tobyplowy commented on #77
@D00Med lol its odd

[2017-07-06 23:11] tobyplowy commented on #77
@D00Med im editting some color pallettes
and inproving textures/models

[2017-07-06 23:19] D00Med commented on #77
Ok, good idea

[2017-07-06 23:22] tobyplowy commented on #87
@GreenXenith Good :)

[2017-07-06 23:29] tobyplowy commented on #77
@D00Med Yup it is :)

[2017-07-06 23:31] tobyplowy commented on #87
@GreenXenith maybe try to finish the chests first so you can alredy merge them in to master

[2017-07-06 23:34] tobyplowy commented on #77
@D00Med that structure block is a big tease
node is unfinished XD

[2017-07-06 23:43] tobyplowy commented on #77
@D00Med im going now see you tomorrow

[2017-07-06 23:45] D00Med commented on #77
@tobyplowy ok, bye

[2017-07-07 20:47] tobyplowy commented on #77
@D00Med hi

[2017-07-07 21:30] D00Med commented on #77
@tobyplowy Hello

[2017-07-07 21:31] tobyplowy commented on #77
@D00Med hi

[2017-07-07 21:32] D00Med commented on #77
What should I work on today?

[2017-07-07 21:33] tobyplowy commented on #77
The lanterns in minechafts dount work

And vilages in natural mapgen

[2017-07-07 21:34] D00Med commented on #77
@tobyplowy They don't?
Ok

[2017-07-07 21:35] tobyplowy commented on #77
@D00Med well they are there but they are odly rotated

[2017-07-07 21:36] D00Med commented on #77
@tobyplowy Maybe someone has been through the mines knocking all the lanterns over xD

[2017-07-07 21:38] tobyplowy commented on #77
XD

[2017-07-07 21:42] D00Med commented on #77
@tobyplowy Should villages have an npc beacon inside?
Also I fixed the lanterns.

[2017-07-07 21:43] tobyplowy commented on #77
@D00Med also the bamboo forest takes alot of performance can that be fixed
(I think it's because of the leafs)

[2017-07-07 21:44] D00Med commented on #77
@tobyplowy Ok, I'll see what I can do about it

[2017-07-07 21:44] tobyplowy commented on #77
@D00Med About the npc beacon I don't think that's needed

They are used to spawn npcs but the villages should already have npcs

[2017-07-07 21:45] tobyplowy commented on #77
Also is it possible to make waypoint blocks the show a little indicator on screen

[2017-07-07 21:46] tobyplowy commented on #77
@D00Med Like this https://i.ytimg.com/vi/_2ckW0mVXj8/maxresdefault.jpg

[2017-07-07 21:48] tobyplowy commented on #77
This https://forum.minetest.net/viewtopic.php?t=15453 may help

[2017-07-07 21:55] tobyplowy commented on #77
@D00Med my newest build map
[buildmap.zip](https://github.com/D00Med/farlands/files/1132445/buildmap.zip)

[2017-07-07 22:01] D00Med commented on #77
@tobyplowy Yes but the beacons are for when the player wants to build a village, so they are needed.
And also, for some reason the entities aren't spawning in Legend of Minetest for villages placed by the mapgen. I tried using waypoints when I made the beacons in Legend of Minetest, but the position was all wrong(I'm sure it can be fixed), and they were gone when the server was restarted. Thanks

[2017-07-07 22:03] tobyplowy commented on #77
@D00Med I will play some Skyrim now I'm still here to talk

[2017-07-07 22:04] D00Med commented on #77
@tobyplowy Ok. You are a lot better at building houses in minetest than I am xD

[2017-07-07 22:05] tobyplowy commented on #77
@D00Med bdw have you seen this already https://github.com/minetest/minetest/pull/6105#issuecomment-313758060
Just emagine the cool stuff I can do with that!

[2017-07-07 22:07] tobyplowy commented on #77
Yeh XD
I used to make a dirt house just like you but than I took an arrow in the kne

[2017-07-07 22:08] D00Med commented on #77
@tobyplowy Awesome!

I know that's a reference, but I haven't heard the original XD
 Oh I should mention, beds should be on the first floor, that way villagers are more likely to adopt a home.

[2017-07-07 22:15] tobyplowy commented on #77
https://youtu.be/zKx6EPimxPI

[2017-07-07 22:16] tobyplowy commented on #77
@D00Med is it possible to randomize the bed colors on genarateion

[2017-07-07 22:19] tobyplowy commented on #77
@D00Med dount worry about the anvil and altar I will make models for those soon

[2017-07-07 22:41] D00Med commented on #77
@tobyplowy Yes that's possible.
Ok

[2017-07-07 22:46] tobyplowy commented on #77
@D00Med can you do the bed color Randomization

[2017-07-07 22:47] D00Med commented on #77
@tobyplowy Ok

[2017-07-07 23:13] D00Med commented on #77
@tobyplowy I'm having trouble with random bed colours

[2017-07-07 23:20] tobyplowy commented on #77
@D00Med That's ok

[2017-07-07 23:24] D00Med commented on #77
@tobyplowy I'm thinking, what I could do, it remove the crafting recipes, and make a new "bed" item that places the beds.

[2017-07-07 23:36] tobyplowy commented on #77
@D00Med No that is a bad idea or should I say that is a BED idea XD

[2017-07-08 00:10] tobyplowy commented on #77
@D00Med will the vilages be randomly genarated or will they all be the same?

[2017-07-08 00:30] tobyplowy commented on #77
@D00Med I'm going now see you tomorrow

[2017-07-08 00:38] D00Med commented on #77
@tobyplowy hopefully they will be randomly generated.
Ok, bye.

[2017-07-08 01:14] LoneWolfHT commented on #101
Can't craft willow wood into planks and I can't collect dirty_water_source with a bucket. I tried both Right Click and Left Click on the dirty_water_source with a bucket in hand. I can collect normal water_source though.
The poison textures haven't been updated yet. (It shows green bread when you eat a red mushroom)

[2017-07-08 02:06] D00Med commented on #101
@LoneWolfHT Thanks for pointing these out, I'll work on fixing them

[2017-07-08 10:42] tobyplowy commented on #103
@D00Med fixed?

[2017-07-08 10:43] tobyplowy commented on #104
@D00Med I can take it over from here

[2017-07-08 21:11] tobyplowy commented on #92
@DS-Minetest @D00Med @GreenXenith have any ideas on this

[2017-07-08 21:11] tobyplowy commented on #77
@D00Med hi

[2017-07-08 21:12] tobyplowy commented on #91
@DS-Minetest hows progress going on the zombie brute boss?

[2017-07-08 21:15] D00Med commented on #77
Hello :)

[2017-07-08 21:16] tobyplowy commented on #77
@D00Med yay

[2017-07-08 21:16] tobyplowy commented on #77
@D00Med Is https://github.com/D00Med/farlands/issues/103 fixed?

[2017-07-08 21:16] D00Med commented on #92
@tobyplowy I think multiple dimensions are a bit difficult to do, but maybe unique layers underground(that aren't particularly deep) would be better?

[2017-07-08 21:17] D00Med commented on #104
@tobyplowy Just be careful you don't overwrite changes I've made

[2017-07-08 21:17] D00Med commented on #103
Yep :)

[2017-07-08 21:17] D00Med commented on #77
@tobyplowy Yeah

[2017-07-08 21:18] tobyplowy commented on #77
Also can you fix these problems?

[2017-07-08 21:20] D00Med commented on #77
@tobyplowy Yes

[2017-07-08 21:20] tobyplowy commented on #103
@D00Med they don't seem to grow but that's probably because trees take really long to grow in Minetest aperenly it can take up to 40 minutes :/

So I will close if all trees grow

[2017-07-08 21:21] tobyplowy commented on #77
@D00Med I will make the bucket texture I will also make a lantarn item texture
And some other stuff

[2017-07-08 21:24] D00Med commented on #77
@tobyplowy Ok :) Can I remove "planks" from the wood planks technical names? It's inconsistent, and if I changed the others it would spoil compatibility with a lot of mods

[2017-07-08 21:24] D00Med commented on #77
@tobyplowy Actually forget that last reason, there is a fix for it

[2017-07-08 21:24] tobyplowy commented on #92
@D00Med this is future content
I'm waiting for propper support from minetest engine

[2017-07-08 21:26] tobyplowy commented on #77
Just the Name or the node?

[2017-07-08 21:27] tobyplowy commented on #77
Sorry I didn't see this :)

[2017-07-08 21:29] D00Med commented on #77
@tobyplowy just the node name, not the description

[2017-07-08 21:29] D00Med commented on #92
@tobyplowy Ok :)

[2017-07-08 21:32] tobyplowy commented on #77
@D00Med If the node is still in the game than yes

[2017-07-08 21:32] D00Med commented on #77
@tobyplowy Ok

[2017-07-08 21:34] tobyplowy commented on #77
@D00Med well this is [someting.zip](https://github.com/D00Med/farlands/files/1133330/someting.zip)

[2017-07-08 21:36] D00Med commented on #77
@tobyplowy What are they doing? xD

[2017-07-08 21:43] tobyplowy commented on #77
@D00Med That's The Ancient ritual of the awaj they do it ones a year

It goes like this find a random person and follow him around until the end of the day sounds like fun right XD

[2017-07-08 21:45] tobyplowy commented on #77
@D00Med Can you add dirt lumps underground like ore but with dirt

[2017-07-08 21:47] D00Med commented on #77
@tobyplowy Lots of fun xD
I think there's already dirt lumps underground

[2017-07-08 21:49] tobyplowy commented on #77
@D00Med please remove some more comments

[2017-07-08 21:50] tobyplowy commented on #77
Well I guess it's not enough than becouse I didn't even know XD

[2017-07-08 21:51] D00Med commented on #77
@tobyplowy Yeah nvm what I said, it was only small patches down to -31 nodes

[2017-07-08 21:53] tobyplowy commented on #77
@D00Med Can you add more?

And under -31 is it possible to genarate coarse Dirt down to -50?

[2017-07-08 21:56] D00Med commented on #77
@tobyplowy I've already done it down to -31000, is -50 better?

[2017-07-08 21:57] tobyplowy commented on #77
![image](https://user-images.githubusercontent.com/16853304/27989434-faa6b154-6438-11e7-9aa9-d9f9874144d3.png)
why are the leafes off center?

-31000 is good i guss

[2017-07-08 21:57] D00Med commented on #77
@tobyplowy I never even noticed that. Is it a problem?

[2017-07-08 21:59] tobyplowy commented on #77
@D00Med it triggers my ocd (no i dount have ocd it just anoyes me)
but is you dount wanna do it i wuld be fine with that

[2017-07-08 22:00] D00Med commented on #77
I think I must have done it for a reason, but I don't remember what

[2017-07-08 22:01] tobyplowy commented on #77
@D00Med human Imperfection is natural perfection

[2017-07-08 22:02] D00Med commented on #77
@tobyplowy Nah I just realised, I didn't check the side :'D

[2017-07-08 22:03] tobyplowy commented on #77
@D00Med also is it posible to change the size of block braking particles?

[2017-07-08 22:04] D00Med commented on #77
@tobyplowy idk

[2017-07-08 22:05] D00Med commented on #77
@tobyplowy fixed the pine tree

[2017-07-08 22:06] tobyplowy commented on #77
can you look if its posible

yay

[2017-07-08 22:08] tobyplowy commented on #77
bucket dirty water
![bucket_dirty_water](https://user-images.githubusercontent.com/16853304/27989523-b7c9adda-643a-11e7-87a2-7001b6c87b71.png)

[2017-07-08 22:18] D00Med commented on #77
@tobyplowy I can't find anything about it

[2017-07-08 22:21] tobyplowy commented on #77
@D00Med oh well :/

[2017-07-08 22:22] D00Med commented on #77
@tobyplowy I like what you did with the mob particles

[2017-07-08 22:23] tobyplowy commented on #77
Not sure what your referring to do you mean the blood?

[2017-07-08 22:39] tobyplowy commented on #103
@D00Med all saplings have grown so thats good

[2017-07-08 22:39] #103 closed

[2017-07-08 22:49] D00Med commented on #77
@tobyplowy yeah the blood

[2017-07-08 22:50] D00Med commented on #103
@tobyplowy You can use the watering can to test them, you left-click on the node below a sapling with it to make the sapling grow

[2017-07-08 22:53] tobyplowy commented on #77
@D00Med Thanks I guess XD

[2017-07-08 22:54] tobyplowy commented on #77
Cactus(ouchy) lol

[2017-07-08 22:57] tobyplowy commented on #77
can you remove this from mapgen?
![remove this from farlands](https://user-images.githubusercontent.com/16853304/27989786-656fed72-6441-11e7-941d-1601269b3d4c.png)

also can you add dead grass and cactus plantlike to mapgen?
in deserts

[2017-07-08 23:00] tobyplowy commented on #103
@D00Med why didn't you tell me this before waiting an hour for them to grow (yes it took that long) XD

[2017-07-08 23:01] D00Med commented on #77
@tobyplowy Yep

[2017-07-08 23:04] tobyplowy commented on #77
@D00Med also i really like these rocks but the small 1x1 blocks look odd can those be removed without removing the ones that dount have the red sercle around them?
![rock fix](https://user-images.githubusercontent.com/16853304/27989810-4f401152-6442-11e7-9fb9-78276178c7a9.png)

[2017-07-08 23:05] D00Med commented on #77
yeah that can be fixed, I think the problem was that the first layer of each rock is buried

[2017-07-08 23:10] tobyplowy commented on #77
@D00Med also can the amount of Hog Peanuts that generate in the big pine forest be decreased to inprove performance

[2017-07-08 23:11] tobyplowy commented on #77
yes i coticed that just now

[2017-07-08 23:14] tobyplowy commented on #77
@D00Med also if it rains can you incrase the amount of clouds and also color them dark gray
(this feature was added in the newest stable of mt)

[2017-07-08 23:18] tobyplowy commented on #77
also if it rains can you incrase the amount of clouds and also color them dark gray
(this feature was added in the newest stable of mt)

also the sky is compleatly gray maybe ake it have a gray blue like color
![sky](https://user-images.githubusercontent.com/16853304/27989878-90e5fbba-6444-11e7-97f1-eb6d5350ebbf.png)

[2017-07-08 23:27] D00Med commented on #77
The hardest bit is finding out which rock schematic is which

[2017-07-08 23:28] D00Med commented on #77
@tobyplowy aah sorry, page wasn't reloading.
@GreenXenith Careful not to delete anything important

[2017-07-08 23:28] D00Med commented on #77
@tobyplowy That's a good idea about the clouds and sky

[2017-07-08 23:29] GreenXenith commented on #77
@D00Med No worries. Just deleting things like 'xD' or old 'ok's and 'hello'/'goodbye' and such.

[2017-07-08 23:31] tobyplowy commented on #77
@GreenXenith XD

ᶦ ʰᵒᵖᵉ ʸᵒᵘ ᵈᵉᶫᵉᵗᵉ ᵗʰᶦˢ

[2017-07-08 23:33] tobyplowy commented on #77
@GreenXenith are you done?

[2017-07-08 23:34] GreenXenith commented on #77
Yes
Deleted ~200 useless comments.

[2017-07-08 23:34] tobyplowy commented on #77
@GreenXenith XD
ᶦ ʰᵒᵖᵉ ʸᵒᵘ ᵈᵉᶫᵉᵗᵉ ᵗʰᶦˢ

[2017-07-08 23:34] GreenXenith commented on #77
And how dare you delete-proof your comment.

[2017-07-08 23:36] tobyplowy commented on #77
@GreenXenith what shuld i say :D
so when will you worke on those chests and gui do you think its possible to get it done in v1

[2017-07-08 23:37] GreenXenith commented on #77
@tobyplowy I asked Wuzzy about some stuff, but it was on his 'day off' so I will try to catch him on IRC and see what I can do about those chests.

[2017-07-08 23:38] GreenXenith commented on #77
Depends on how far from now 'V1' will be.

[2017-07-08 23:39] tobyplowy commented on #77
@GreenXenith im wating on you and @DS-Minetest for the boss mostly
unless @D00Med whants to get a big thing done in V1

[2017-07-08 23:40] GreenXenith commented on #77
I am not doing anything with bosses? That's his thing...

[2017-07-08 23:41] tobyplowy commented on #77
for the gui if you can get it done for v1

[2017-07-08 23:42] GreenXenith commented on #77
I wouldn't wait for me. My schedule is subject to change without warning.

[2017-07-08 23:44] tobyplowy commented on #77
@GreenXenith ok

[2017-07-08 23:45] tobyplowy commented on #77
@D00Med i just found out that none of the farlands trees can be crafted in to planks

[2017-07-08 23:46] D00Med commented on #77
That'd be crafting recipes, and license files.
@tobyplowy oh yeah I forgot something, it'll be fixed in a minute or two

[2017-07-08 23:47] tobyplowy opened #105 "none of the farlands trees can be crafted in to planks"
@D00Med palm yellow ipe baobab and willow wood all cant be cafted in to wood planks
this is a top prioety fix!

[2017-07-08 23:48] tobyplowy commented on #77
@D00Med ok if fixed close this https://github.com/D00Med/farlands/issues/105

[2017-07-08 23:52] tobyplowy commented on #77
@D00Med the night sky when it rains looks so weard
![waaaa](https://user-images.githubusercontent.com/16853304/27990016-2397769c-6449-11e7-86f2-4f7d8364df2b.png)

[2017-07-08 23:56] tobyplowy commented on #98
http://freesound.org/people/lebcraftlp/sounds/243628/

this may be good for rain it will need some cuts thow

[2017-07-08 23:58] D00Med commented on #77
@tobyplowy Yeah it's not supposed to change at night, I need to fix some things

[2017-07-09 00:03] tobyplowy commented on #77
@D00Med can you put a block in the ayr and than put a lanter or torch on evry side
and than turn it to night some of the light effect are in the wrong position

[2017-07-09 00:03] #105 closed

[2017-07-09 00:04] D00Med commented on #77
@tobyplowy Not sure what you mean there.
I have to go sorry, I'll be back later though.

[2017-07-09 00:07] tobyplowy commented on #77
@D00Med look at this
[bug.zip](https://github.com/D00Med/farlands/files/1133458/bug.zip)

[2017-07-09 00:09] tobyplowy commented on #77
@D00Med some of the light effect are in the wrong position 2 to be exact always the same side

[2017-07-09 00:21] tobyplowy opened #106 "tin duplicate"
there seems to be a tin duplicate

theres 2 tin blocks 2 tin ingots and 2 tin ore

[2017-07-09 00:43] D00Med commented on #98
@tobyplowy I planned on using the sounds from weather_pack

[2017-07-09 00:44] D00Med commented on #77
@tobyplowy Oh ok, I will fix that as best as I can

[2017-07-09 00:45] tobyplowy commented on #98
@D00Med those are probably also good

[2017-07-09 00:52] tobyplowy commented on #77
@D00Med well I'm going to bed see you tomorrow

[2017-07-09 01:04] D00Med commented on #77
@tobyplowy Ok, bye :)

[2017-07-09 08:32] DS-Minetest commented on #91
@tobyplowy It's WorkInPause because of laziness and co.

[2017-07-09 20:51] tobyplowy commented on #77
@D00Med Hi

[2017-07-09 21:36] D00Med commented on #77
@tobyplowy Hello :)
I can't work on Farlands this morning - holiday's over now.
But I'll still work on it in the afternoons.

[2017-07-09 21:46] tobyplowy commented on #77
@D00Med Ok

[2017-07-09 22:16] D00Med commented on #77
@tobyplowy Any ideas for the deciduous forest?

[2017-07-09 23:00] tobyplowy commented on #77
@D00Med That's the one with the weard trees you made?

Decrease the plants there it makes alot of lag

[2017-07-09 23:01] tobyplowy commented on #77
@D00Med Also the bamboo forest leaf blocks make alot of lag

[2017-07-09 23:18] D00Med commented on #77
@tobyplowy Ok :)

[2017-07-10 04:58] LoneWolfHT commented on #101
I don't think any of the new (non-default) trees are able to craft into planks.

[2017-07-10 10:55] tobyplowy commented on #101
@LoneWolfHT the things you reported should be fixed now

Have any other problems or perhaps a request?

[2017-07-10 10:56] tobyplowy commented on #101
I plan that for future content https://github.com/D00Med/farlands/issues/93

[2017-07-10 18:31] LoneWolfHT commented on #101
Ok Maybe add water to the game? That would make it a bit more rouge-like if that's what you're aiming for.

[2017-07-10 19:01] LoneWolfHT commented on #95
What about a fake morning? For example: You sleep in bed and wake up. You find yourself in an open plain of sand with a giant rock nearby. You have no inventory.
 Then alluva sudden a giant monster/dinosuar spawns behind the rock and runs out at you. When you die you wake up in bed and your bones will be lying next to/above your bed.

[2017-07-10 19:41] tobyplowy commented on #101
I'm not a fan of that sorry

That is planed I'm waiting on @GreenXenith for that

[2017-07-10 20:46] tobyplowy commented on #77
@D00Med Hi

[2017-07-10 21:47] D00Med commented on #77
@tobyplowy hello

[2017-07-10 21:48] D00Med commented on #95
@LoneWolfHT Sounds good, but a bit too complicated

[2017-07-10 21:48] tobyplowy commented on #77
@D00Med you keep coming later and later XD

[2017-07-10 21:49] D00Med commented on #77
@tobyplowy Do I? :'D
They days are getting shorter over here.

[2017-07-10 21:50] tobyplowy commented on #77
@D00Med well yes 2 monthes ago you were online 2 howers ago

[2017-07-10 21:51] tobyplowy commented on #77
@D00Med so what will you work on today

i will make some texture and model fixes

[2017-07-10 21:52] D00Med commented on #77
@tobyplowy Yeah, I've got no power at night, have to wait until it's light.
hmm probably crafting recipes, and the bamboo forest.
Ok, cool.

[2017-07-10 21:53] tobyplowy commented on #77
@D00Med ok

[2017-07-10 21:54] tobyplowy commented on #77
@D00Med also have you fixed those rocks alredy?

[2017-07-10 21:57] tobyplowy commented on #77
@D00Med how do i add a menu background?

[2017-07-10 22:05] D00Med commented on #77
@tobyplowy No not yet.
You add a file in the "menu" folder and name it "background".
If you want more than one you name them "background.0", "background.1" and so on.

[2017-07-10 22:06] tobyplowy commented on #77
@D00Med ok thanks

[2017-07-10 22:11] tobyplowy commented on #77
@D00Med also why does this happen https://github.com/D00Med/farlands/issues/106

[2017-07-10 22:16] tobyplowy commented on #77
the farlands wood blocks need slabes and stairs

[2017-07-10 22:16] tobyplowy commented on #77
@D00Med i will try to add the slabs and stairs

[2017-07-10 22:17] D00Med commented on #77
@tobyplowy idk, I'm going to fix it.
Ok :)

[2017-07-10 22:20] tobyplowy commented on #77
close #106 if your done

[2017-07-10 22:22] D00Med commented on #77
@tobyplowy Ok. I can't work anything right now

[2017-07-10 22:27] tobyplowy commented on #77
@D00Med ok

[2017-07-10 22:30] tobyplowy commented on #77
@D00Med i added the stairs

[2017-07-10 22:32] tobyplowy commented on #77
@D00Med shuld big pine get new wood?

[2017-07-10 22:34] tobyplowy commented on #77
big pine will need new leaves so they can drop big pine saplings (now they give normal pine saplings)

[2017-07-10 22:42] D00Med commented on #77
@tobyplowy I don't think so, there's already a lot of different wood types.
Ok.

[2017-07-10 22:50] tobyplowy commented on #77
@D00Med ok

[2017-07-10 22:58] tobyplowy commented on #77
@D00Med im working on the menu now

[2017-07-10 23:20] tobyplowy commented on #77
@D00Med im done for today :D

have nice day bdw what wass the thing you did yesterday

[2017-07-10 23:21] tobyplowy commented on #77
wait its the end of your vacation?

[2017-07-10 23:38] D00Med commented on #77
@tobyplowy Ok, nice :)

[2017-07-10 23:40] LoneWolfHT commented on #101
You know what I meant by water HUD then? You have to drink every once and a while so you don't die of thirst?

Ok cool!

**Requests**

1. Could you make snow-balls/blocks smeltable into a water bucket/source?

2. Add more hostile mobs? Also, here's something I found that you might like the idea of: https://forum.minetest.net/viewtopic.php?f=9&t=17922

[2017-07-10 23:46] LoneWolfHT commented on #95
Yea I just realized my mistake lol
Maybe when you get more worlds (Like nether or the end in MC) you could do it. Just have the player tp there leaving inventory in Farlands and getting attack by all kinds of nightmarish mobs. Defending yourself with a steel/stone sword?

[2017-07-10 23:48] LoneWolfHT commented on #95
Another idea: Make a video of a player in 3rd/1st person get attacked by a hoard of velociraptors. Then make a random chance of overlaying it over the players screen. I could make a video like that if it's possible to overlay. I could even do my first idea almost xD

[2017-07-10 23:57] LoneWolfHT commented on #101
Are coconuts supposed to be crafted from **palm_leaves (coconut)**? How do I get them?

[2017-07-10 23:57] D00Med commented on #101
@LoneWolfHT right click the leaves

[2017-07-10 23:59] D00Med commented on #77
@tobyplowy Oh sorry, page wasn't refreshing.
Yeah,got to study again.
Goodnight :)

[2017-07-11 00:06] LoneWolfHT commented on #101
Oh ok thanks lol
Is it possible to add a sort of dual wield? My idea: add an extra armor slot for 1 torch only. When in the slot you can walk around with a torch in your left hand and another thing in the right. But decrease mining/fighting speed when doing this. That would be a cool addition.

[2017-07-11 00:06] D00Med commented on #95
@tobyplowy I think that's all a bit too complicated.
overlaying a video would be a pain.
I've tried getting 3-4 frame HUD animations to work before, and it's very hard to do.
What I think would be possible, it stopping the player from moving whilst an evil mob moves toward them.
Maybe even make the screen flash red as if the player is being damaged.

GreenXenith's idea is good.

[2017-07-11 00:06] D00Med commented on #95
@LoneWolfHT Sorry, I'm not talking to Toby. Just writing out of habit xD

[2017-07-11 00:09] D00Med commented on #101
@LoneWolfHT Dueal wield would be awesome, but I don't think I could do that.
That's a really good idea. I still need to improve the torch code though, since it doesn't seem to work with multiple players.

[2017-07-11 00:15] LoneWolfHT commented on #101
Did you do the torch code yourself or was it from a mod?

[2017-07-11 00:25] tobyplowy commented on #101
Dueal wield is a cool feature (definitely something I whant) but it's not possible in the current minetest version @wuzzy2 can't do it so no one can hes the god of subgames XD

Also @LoneWolfHT if you're interested in helping with this subgame be sure to do so the more poeple help the better!

[2017-07-11 00:36] LoneWolfHT commented on #101
Yes I am interested in helping but not much good at anything but ideas :P
You know how the HUD works? Would it be possible to but a 2d image of a torch where the left hand would be?
Also: Maybe reduce the chances of finding a diamond pick in the mines. I have 3 from one shaft :P
Do you have any ideas for an adventure map? I was thinking I could make one and keep it up-to-date with the latest versi

[2017-07-11 00:46] LoneWolfHT commented on #101
Where do I post textures I've made for the game?
Here's my texture for the diamond:
![image](https://user-images.githubusercontent.com/28972859/28046325-b40be33a-6597-11e7-8475-3b5df8ba4307.png)

[2017-07-11 01:00] D00Med commented on #101
@LoneWolfHT I coded the wielded torch light myself. A hud image of a torch would work.
Posting them here is fine

[2017-07-11 01:07] LoneWolfHT commented on #101
I forgot to ask if I could make an Issue for contributing textures.
I think there's a mod out there that does the same thing as your wielded-torch-light mod too. I'll go search up that link.
Here's something you might like also: https://forum.minetest.net/viewtopic.php?f=11&t=15721&hilit=torch#p237016

[2017-07-11 01:12] LoneWolfHT commented on #101
Walking-torch-light (most updated version I think) https://forum.minetest.net/viewtopic.php?f=11&t=14359

[2017-07-11 02:11] D00Med commented on #101
@LoneWolfHT Your diamond texture doesn't really fit into the game, @tobyplowy do we use it?
Anyway, you can make a new issue for textures, that'd be really useful.
Yeah I think it might have been Blockmen's torches mod. That looks good too, thanks.
Oh ok, that might mean the code is already in the game.

[2017-07-11 03:53] GreenXenith commented on #95
I can play around with my idea when I finish the inventories and chests (which might be a while).

[2017-07-11 04:07] LoneWolfHT commented on #101
What do you want the diamond to look like? I can change np.

[2017-07-11 04:12] LoneWolfHT opened #107 "Submit textures here"
After a certain amount of textures are approved I'll send a pull request to save you guys the time.

[2017-07-11 04:16] LoneWolfHT commented on #101
Could you make both chest types nameable? That would really help sorting things lol.
(Like the protected chest in protector_redo)

[2017-07-11 10:14] tobyplowy commented on #101
@LoneWolfHT @D00Med eeeeeh yeh that diamond texture looks a bit too simple also it doesn't fit the style I already made a Diamond Texture but I haven't added it to the subgame yet (I still need to mess with the color and contrast so it fits the game)

[2017-07-11 10:18] tobyplowy commented on #101
@LoneWolfHT also if you talk about art (textures and images) use @tobyplowy so I get notified
I am also the lead artist of the project so all art needs to run by me first so I can check the colour balance and details :)

[2017-07-11 10:27] tobyplowy commented on #107
@LoneWolfHT please upload the .png file instead of a screenshot you can do that by minimising the Internet window and just dropping it in from your desktop
(this works on Windows but I'm not sure about Mac or Linux I guess it's the same)

Also please don't upload a .jpeg or .jpg I hate that junk!

[2017-07-11 20:56] tobyplowy commented on #77
@d00med hi

[2017-07-11 21:36] D00Med commented on #101
@tobyplowy Would it be a good idea to show us your progress on making a texture? if you don't mind of course.

[2017-07-11 21:36] D00Med commented on #77
@tobyplowy Hello

[2017-07-11 21:40] tobyplowy commented on #77
@D00Med so do you have time for farlands today
im modeling at the moment but i will work on farlands in a copple minutes

[2017-07-11 21:42] D00Med commented on #77
@tobyplowy Later I will. Ok cool, what are you working on?

[2017-07-11 21:42] tobyplowy commented on #101
@D00Med yes I will do that For the diamond textures

[2017-07-11 21:43] D00Med commented on #101
@tobyplowy Thanks :D

[2017-07-11 21:48] tobyplowy commented on #101
@D00Med If I remember that is! also shuld I record it?

Because I can't really do it with steps because I just go all over the place there's no way to make easy staps
So i will have to record it but that will be hard because I don't have capable computer at the moment but hopefully next week I will (I will buy a new PC a good one if I have Enough money otherwise I will have to keep saving) and oth

[2017-07-11 21:48] tobyplowy commented on #77
this but in 3d
![creature](https://user-images.githubusercontent.com/16853304/28092381-716ad980-6693-11e7-9365-c44305bb639b.png)

[2017-07-11 21:49] D00Med commented on #77
Nice xD

[2017-07-11 21:49] D00Med commented on #101
@tobyplowy Yeah that might be better.

[2017-07-11 21:50] D00Med commented on #101
@tobyplowy  good luck getting a new PC

[2017-07-11 21:50] tobyplowy commented on #77
@D00Med yeh ;D

[2017-07-11 21:52] tobyplowy commented on #77
@D00Med i will also try to use sculpting for the first time

[2017-07-11 21:55] D00Med commented on #77
@tobyplowy Cool! can you show me when you're finished?

[2017-07-11 22:02] tobyplowy commented on #77
yeh

[2017-07-11 22:04] tobyplowy commented on #77
@D00Med hey you also draw do you have any pictures of monsters and or creatures i can use as refrence for 3d?

[2017-07-11 22:10] D00Med commented on #77
@tobyplowy Hmm don't know, I'll have a look

[2017-07-11 22:11] tobyplowy commented on #77
@D00Med even unfinised stuff is good also plese put them in a zip if posible

[2017-07-11 22:15] D00Med commented on #77
@tobyplowy Ok

[2017-07-11 22:39] D00Med commented on #77
[pics.zip](https://github.com/D00Med/farlands/files/1140390/pics.zip)
Here ya go :)

[2017-07-11 22:40] tobyplowy commented on #77
@D00Med thanks

[2017-07-11 22:42] tobyplowy commented on #77
how is this 9 minutes for 12,0 mb lol its a all time low

[2017-07-11 22:46] D00Med commented on #77
@tobyplowy That's pretty slow O.o

[2017-07-11 22:47] tobyplowy commented on #77
yeh :/

im not sure why that is

[2017-07-11 22:57] tobyplowy commented on #77
@D00Med well i have to go i will try to fix the problem with my internet

[2017-07-11 22:58] tobyplowy commented on #77
![g wv xbnb](https://user-images.githubusercontent.com/16853304/28094488-380e4c26-669d-11e7-96a4-522869c483de.png)

[2017-07-11 23:07] D00Med commented on #77
@tobyplowy Is it like that all the time?

[2017-07-11 23:07] D00Med commented on #77
aah page didn't reload.
talk later then :)
Your model looks good!

[2017-07-11 23:24] tobyplowy commented on #77
No it isent but I think I found the problem

[2017-07-11 23:26] D00Med commented on #77
@tobyplowy Oh ok, that's good

[2017-07-11 23:28] tobyplowy commented on #77
@D00Med well I fixed the problem my sister's computer was running on Internet the whole time for 3 days

The problem is fixed but now I will be on small band for the rest of the month really fun! NOT

[2017-07-11 23:29] tobyplowy commented on #77
@D00Med about my model I will first make it in low poly and then I will sculpt it out and bake the normal maps (this will be a good test for my new PC)

[2017-07-11 23:30] tobyplowy commented on #77
@D00Med I Won't be able to work on farlands anymore today :/

[2017-07-11 23:46] D00Med commented on #77
@tobyplowy Oh ok. Oh I know how annoying that can get.
Noice :) ok, well I should be able to work on a few things this afternoon

[2017-07-11 23:48] tobyplowy commented on #77
@D00Med ok :)

[2017-07-11 23:49] D00Med commented on #77
![](http://i1.kym-cdn.com/photos/images/original/001/168/298/c24.jpg)
I wish I had modelling skills like this xD

[2017-07-11 23:50] tobyplowy commented on #77
@D00Med I Just Don't Understand Why its so hard to click that power button If You Go On Vacation jeeezzzzzzz I hate her!

Also what the fuck is that!

[2017-07-11 23:52] D00Med commented on #77
@tobyplowy Just a bit frustrated lol.
Mr. Orange :'D

[2017-07-11 23:52] D00Med commented on #77
http://knowyourmeme.com/memes/mr-orange

[2017-07-11 23:53] tobyplowy commented on #77
@D00Med I shall call it omfnrhbmwwfaatystwpys
Aka
the orange man face but not really human body monster with weard feet and a 1000 yard stare that will pierce your soul

[2017-07-11 23:55] tobyplowy commented on #77
@D00Med my dyslexia ruined that ''short'' name

[2017-07-11 23:59] tobyplowy commented on #77
![cf2](https://user-images.githubusercontent.com/16853304/28095946-a4f3aa72-66a5-11e7-8fe8-c5f19384b150.jpg)

[2017-07-12 00:00] D00Med commented on #77
@tobyplowy I'm going now, goodnight :)

[2017-07-12 00:02] tobyplowy commented on #77
@D00Med Yup see you

[2017-07-12 21:20] tobyplowy commented on #77
@D00Med hi

[2017-07-12 21:53] D00Med commented on #77
@tobyplowy Hello

[2017-07-12 21:54] tobyplowy commented on #77
@D00Med Hey I had a look at those pictures and I have to say that is pretty impressive!

[2017-07-12 21:54] tobyplowy commented on #77
Where did you learn that?

[2017-07-12 22:02] D00Med commented on #77
@tobyplowy Thanks!
Mostly from looking at progress pics from other artists.

[2017-07-12 22:04] tobyplowy commented on #77
@D00Med Can you lern me some stuff

[2017-07-12 22:05] D00Med commented on #77
@tobyplowy If you like :) Although, there are probably better teacher's out there.

[2017-07-12 22:07] tobyplowy commented on #77
True but I like your artstile so how do we do this I was thinking Skype and I can do screen shere and we can talk while drawing

[2017-07-12 22:08] D00Med commented on #77
@tobyplowy I don't have skype sorry

[2017-07-12 22:09] tobyplowy commented on #77
@D00Med hum your idea?

[2017-07-12 22:12] D00Med commented on #77
@tobyplowy :] I have one?
I could record a video. But I like the idea of actually talking throughout the process.

[2017-07-12 22:19] tobyplowy commented on #77
@D00Med you can install Skype
You probably already have a Microsoft account it's impossible to not have one (in these times) and if you don't it only takes 5 minutes to make one

[2017-07-12 22:21] D00Med commented on #77
@tobyplowy 😖a Micro$oft account...

[2017-07-12 22:25] tobyplowy commented on #77
@D00Med oh no you too :/

[2017-07-12 22:27] D00Med commented on #77
@tobyplowy xD Yeah I don't like microsoft, I _use_ it, but I don't like it.
I'll think about it though.

[2017-07-12 22:30] tobyplowy commented on #77
@D00Med you wuld be a good teacher also it would be useful for farlands development
Maybe we can use discord (note there is no screen sharing function as far as I know)

[2017-07-12 22:31] D00Med commented on #77
@tobyplowy Have you got a google account?

[2017-07-12 22:33] tobyplowy commented on #77
@D00Med Yes of course I do, just like a Microsoft account it's almost impossible to not have it :)

[2017-07-12 22:34] tobyplowy commented on #77
@D00Med Google had a thing it's called Team speak am I right?
I forgot about it I guess it's really that important and popular XD

[2017-07-12 22:37] D00Med commented on #77
@tobyplowy Idk, I was thinking we could use hangouts

[2017-07-12 22:38] tobyplowy commented on #77
yes that's good never used I thow I will install it

[2017-07-12 22:40] tobyplowy commented on #77
@D00Med Wait I can get a program for that :/ oh well guess crome will have to do

[2017-07-12 22:41] tobyplowy commented on #77
@D00Med so how do I add you?

[2017-07-12 22:42] tobyplowy commented on #77
Maybe you should add me my name is Toby plowy or tobyplowy

[2017-07-12 22:44] D00Med commented on #77
@tobyplowy It doesn't work online? I've never used it before xD Ok, I'll add you when I get set up.
I can't teach you today anyway, I've got to study. How about Friday night?

[2017-07-12 22:46] tobyplowy commented on #77
@D00Med Tomorrow ok that's fine

Yes it does but There doesn't seem to be a .exe you can install so you have to do it in your internet browser

[2017-07-12 22:48] D00Med commented on #77
@tobyplowy Wait what day is it for you? I thought it was wednesday evening.
Oh ok.

[2017-07-12 22:51] tobyplowy commented on #77
@D00Med No it's midnight for me so it's already the next day (Tuesday)

[2017-07-12 22:53] tobyplowy commented on #77
@D00Med also Sorry For me not making alot of progress I have some other projects I have to work on

[2017-07-12 22:55] tobyplowy commented on #77
@D00Med is it already Possible to have a conversation so its Less Awkward Friday?

[2017-07-12 23:08] D00Med commented on #77
@tobyplowy Oh ok. That's ok, I have other things too.
No sorry :/ Thursday evening maybe?

[2017-07-12 23:09] D00Med commented on #77
@tobyplowy Thursday evening for you that is

[2017-07-12 23:09] tobyplowy commented on #77
@D00Med Yes

[2017-07-12 23:18] D00Med commented on #77
@tobyplowy Ok :)

[2017-07-12 23:25] tobyplowy commented on #77
Wait that will not work because I will still still sleep (wake up Around noon) that is night for you I think

Well I guess it will have to be Friday than normal meeting time? 11:00 that is for me not sure what that is for you I think that's morning (it's morning for you at the moment right)

[2017-07-12 23:28] D00Med commented on #77
@tobyplowy Ok then, that's better for me actually, friday for you is saturday for me. Yes it's morning.

[2017-07-12 23:31] tobyplowy commented on #77
@D00Med So for you it's Friday tomorrow?
This is so confusing

[2017-07-12 23:38] D00Med commented on #77
@tobyplowy Yep it's Friday tomorrow.

[2017-07-12 23:44] tobyplowy commented on #77
@D00Med So next time so that is tomorrow (Friday for you) we do hangouts correct
I hate time zones!

Also do you have more art
I really like beetle4.png the shapes and color use are just spot on! I also like the outlines!

[2017-07-12 23:49] D00Med commented on #77
@tobyplowy Better idea: just tell me on the day :'D
I do, but not much, I haven't really finished many paintings.
I have some sketches I could send. And thanks :)

[2017-07-12 23:54] tobyplowy commented on #77
Even better idea you just tell me when we can voice chat I'm always ready even now (and that sounds so wrong)

Yeh those are also good it will give me a better idea of your workflow

We actually had the best conversation ever just talking about the days of the week isn't that just exciting XD

[2017-07-12 23:57] D00Med commented on #77
@tobyplowy Ok. You have an amazing imagination.
Ok then :) Haha yeah xD

[2017-07-13 00:02] tobyplowy commented on #77
Uuuuuhhhhhh thanks ;)

[2017-07-13 00:19] tobyplowy commented on #77
@D00Med Well I'm going now see you tomorrow also have a good day :)

[2017-07-13 00:22] D00Med commented on #77
@tobyplowy Ok, goodnight :)

[2017-07-13 04:12] D00Med commented on #77
@tobyplowy I made a group/conversation thing on hangouts.
My username is wingedjackal.

[2017-07-13 21:00] tobyplowy commented on #77
@D00Med hi

[2017-07-13 21:16] D00Med commented on #77
@tobyplowy Hello

[2017-07-13 21:17] tobyplowy commented on #77
@D00Med eeeeey

[2017-07-13 21:18] tobyplowy commented on #77
so its friday correct

[2017-07-13 21:18] D00Med commented on #77
@tobyplowy here? yes

[2017-07-13 21:18] tobyplowy commented on #77
@D00Med so we doing hangouts

[2017-07-13 21:22] tobyplowy commented on #77
@D00Med also how are you doing XD

[2017-07-13 21:22] D00Med commented on #77
@tobyplowy Alright then, give me a bit to finish waking up :'D
I'm good, how are you?

[2017-07-13 21:23] tobyplowy commented on #77
lol yeh

im good and exited

[2017-07-13 21:26] tobyplowy commented on #77
@D00Med also i hate sculpting its just so hard and anying XD

[2017-07-13 21:29] tobyplowy commented on #77
@D00Med i have also been working on some small things for farlands (advertising)

[2017-07-13 21:32] D00Med commented on #77
@tobyplowy I bet, I tried it once, never again D:
Cool

[2017-07-13 21:33] tobyplowy commented on #77
lol but i will have to lern it if i whant to do it good

[2017-07-13 21:36] D00Med commented on #77
@tobyplowy Yeah I suppose so.
If you don't mind, I'll use paint tool SAI to show you how I paint, but the methods I use work fine with other programs too.

[2017-07-13 21:37] tobyplowy commented on #77
yup thats fine i will use krita

[2017-07-14 20:24] tobyplowy commented on #77
@D00Med hey :D

[2017-07-14 21:04] D00Med commented on #77
@tobyplowy Hello

[2017-07-14 21:05] tobyplowy commented on #77
@D00Med eeeey

[2017-07-14 21:05] tobyplowy commented on #77
@D00Med do we do voice chat again?

[2017-07-14 21:10] D00Med commented on #77
@tobyplowy Maybe later. I didn't know, but I have work to do today, so probably not :/

[2017-07-14 21:10] tobyplowy commented on #77
ok

[2017-07-14 21:12] tobyplowy commented on #77
@D00Med can you send me that picture with the animals :D

[2017-07-14 21:13] D00Med commented on #77
The fish thing?

[2017-07-14 21:14] tobyplowy commented on #77
@D00Med yeh

[2017-07-14 21:15] tobyplowy commented on #77
@D00Med also that was fun yesterday (drawing togeter) also thanks for your time

[2017-07-14 21:16] D00Med commented on #77
[fishy.zip](https://github.com/D00Med/farlands/files/1149696/fishy.zip)
It's very WIP.
Yeah it was, thankyou too, and you're welcome

[2017-07-14 21:16] tobyplowy commented on #77
@D00Med i guess its not that good (my drawing) but eh XD
![object 1](https://user-images.githubusercontent.com/16853304/28231170-67ce8800-68ea-11e7-80b3-8a2b353f0741.png)

[2017-07-14 21:17] tobyplowy commented on #77
@D00Med have any feedback?

[2017-07-14 21:19] D00Med commented on #77
![part](https://user-images.githubusercontent.com/19916704/28231213-9eaaad0c-692d-11e7-9b54-838ddccd30e8.png)
It's good, and you haven't got cartoony lines like mine has.
I can think of two things that you might improve; if there was sharper brighter lighting in places it would look more like metal, and if you kept darkening the edges it would look more defined.

[2017-07-14 21:20] tobyplowy commented on #77
ha nice name dude

also thanks for the feedback

[2017-07-14 21:23] tobyplowy commented on #77
@D00Med your image is stylized i like it also i like the smoke :D

[2017-07-14 21:24] D00Med commented on #77
@tobyplowy Thanks :D

[2017-07-14 21:29] tobyplowy commented on #77
i guess that means no time for farlands aswell XD
also are you interested to see how i make my models?

[2017-07-14 21:36] D00Med commented on #77
@tobyplowy  no sadly. Yes I'd love to see that sometime, if you're willing to show me.

[2017-07-14 21:38] tobyplowy commented on #77
yup, im ready when you are :D

[2017-07-14 21:44] tobyplowy commented on #77
@D00Med well i will be gaming a bit (i will probably play skyrim)
see you meybe later also if you need me for someting just ask me :D

[2017-07-14 21:46] D00Med commented on #77
@tobyplowy Ok :)
I've got to finish copying notes and load some firewood so I might be a while.

[2017-07-14 21:54] tobyplowy commented on #77
[This](https://avatars4.githubusercontent.com/u/19916704?v=4&s=400) + [this](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvccyQYczzN2EHG1rYuSrJtYcZyvg9BlK6ZICAikz7EDxC3XyRfw) = [this](https://i.ytimg.com/vi/6lKlllGz0cc/maxresdefault.jpg)?

[2017-07-14 21:56] tobyplowy commented on #77
@D00Med How to craft burning house minecraft tutorial XD

[2017-07-14 21:56] D00Med commented on #77
@tobyplowy xD I did once set a log on fire by mistake, it burned for about a month.

[2017-07-14 21:57] tobyplowy commented on #77
Naaahhhhh no way

[2017-07-14 22:01] D00Med commented on #77
The whole thing was hollow so the fire kept burning from the inside, which I couldn't reach to put out

[2017-07-14 22:02] D00Med commented on #77
@tobyplowy smouldered would be a better word

[2017-07-14 22:05] tobyplowy commented on #77
@D00Med Well if you can give me that log and a 100000$ I can turn of the fire [with a bang](https://upload.wikimedia.org/wikipedia/commons/c/c2/Fat_man.jpg)

[2017-07-14 22:43] tobyplowy commented on #77
@D00Med I will go now
Can you work on farlands tomorrow?

[2017-07-14 22:46] D00Med commented on #77
@tobyplowy Ok. Yeah hopefully :)

[2017-07-14 22:47] tobyplowy commented on #77
@D00Med have a nice day :)

[2017-07-15 20:47] tobyplowy commented on #107
@LoneWolfHT So were are the textures?

[2017-07-15 20:50] tobyplowy commented on #77
@D00Med hi
Do you have time for farlands?

[2017-07-15 21:37] D00Med commented on #77
@tobyplowy Hi :) and yes I do.

[2017-07-15 21:40] tobyplowy commented on #77
@D00Med Can you voice chat?

[2017-07-15 21:44] D00Med commented on #77
@tobyplowy Yeah I can. Can't use skype yet though.

[2017-07-15 21:46] tobyplowy commented on #77
Ok

[2017-07-16 01:07] D00Med commented on #77
![screenshot_20170716_110342](https://user-images.githubusercontent.com/19916704/28243670-ceeda002-6a16-11e7-8faf-03a371317163.png)
I just found something cool.
Ore generation works with schematics too! There is no registered limestone rock.
This means that things like trees randomly having fruit is possible: if the fruit-bearing leaf nodes are an ore within standard leaves.

[2017-07-16 02:17] LoneWolfHT commented on #107
@tobyplowy None yet.
I'll be submitting them over time.
Question: What type of feel are they supposed to have? Dark? Realistic? Both? Other?

[2017-07-16 08:02] DS-Minetest commented on #77
Now there is again space for 7 more comments but I think a new issue is needed.

[2017-07-16 08:33] D00Med commented on #77
I agree, a new issue would be good.
We could just delete stuff, but that would take ages, and I need some of the comments because I'm going to forget stuff I have to do

[2017-07-16 10:56] tobyplowy commented on #107
@LoneWolfHT
They should be Bright but not too saturated also make them feel a bit retro

[2017-07-16 11:03] tobyplowy opened #108 "Development discussion 3"
GitHub probably hates us for all those discussion issues XD

[2017-07-16 11:03] tobyplowy commented on #77
https://github.com/D00Med/farlands/issues/108

[2017-07-16 20:58] tobyplowy commented on #108
@D00Med hi

[2017-07-16 21:39] D00Med commented on #108
@tobyplowy Hi :)

[2017-07-16 21:42] tobyplowy commented on #108
@D00Med Heeeey
Do you have time for farlands?

[2017-07-16 21:42] D00Med commented on #108
@tobyplowy No sorry, but I'm still here

[2017-07-16 21:43] tobyplowy commented on #108
Well yes otherwise you wouldn't be able to post that comment XD

[2017-07-16 21:45] tobyplowy commented on #108
@D00Med if we ever draw again can you show me how you come up with animals and creatures

[2017-07-16 21:46] D00Med commented on #108
@tobyplowy Sure

[2017-07-16 21:53] tobyplowy commented on #108
@D00Med thx

[2017-07-16 21:54] D00Med commented on #108
@tobyplowy It's going to be hard to explain though :'D

[2017-07-16 22:08] tobyplowy commented on #108
@D00Med That's not a problem :)

[2017-07-16 23:11] tobyplowy commented on #108
@D00Med well I need to go see you tomorrow

[2017-07-16 23:24] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-07-17 00:49] LoneWolfHT commented on #107
@tobyplowy Not sure what retro means xD (Just a faint idea)

[2017-07-17 01:01] tobyplowy commented on #107
@LoneWolfHT just Google nes graphics
(It means the style of old games)

[2017-07-17 17:57] LoneWolfHT commented on #101
My full-health tamed chicken is missing from a 3 node high double thick wall of pine fence.

[2017-07-17 18:02] tobyplowy commented on #101
@LoneWolfHT that seems like a problem I will tell it to d00med :)

[2017-07-17 18:05] LoneWolfHT commented on #95
Here's a mod you could use for it?
https://forum.minetest.net/viewtopic.php?f=11&t=17545

[2017-07-17 18:06] tobyplowy commented on #108
@LoneWolfHT @D00Med @DS-Minetest @GreenXenith would anyone be interested in makeing a let's play series for farlands

This can help me understand what poeple do in this subgame also it's a good way to talk about what you like and what not :)

[2017-07-17 20:25] GreenXenith commented on #95
No, I would use my own HUD code.

[2017-07-17 21:08] D00Med commented on #108
@tobyplowy That's a good idea, not that I'd do it.

[2017-07-17 21:09] D00Med commented on #101
@LoneWolfHT There's not much that can be done about that unfortunately. I could try making the collision box a little bigger

[2017-07-17 21:15] tobyplowy commented on #101
@D00Med I think it's because it despawned

[2017-07-17 21:17] tobyplowy commented on #108
@D00Med can you work on farlands today?

[2017-07-17 21:17] D00Med commented on #101
@tobyplowy I think tamed animals don't despawn

[2017-07-17 21:19] D00Med commented on #108
@tobyplowy Maybe later.

[2017-07-17 21:20] D00Med commented on #108
@tobyplowy I made fruit as an ore in leaves, but I wasn't happy with it so I released it as a separate mod.

[2017-07-17 21:20] tobyplowy commented on #108
@D00Med Ok I will go to bed early today so I may not be able to

[2017-07-17 21:20] tobyplowy commented on #108
Also ok

[2017-07-17 21:21] D00Med commented on #108
@tobyplowy Ok

[2017-07-17 21:24] tobyplowy commented on #108
What was the problem with it?

[2017-07-17 21:32] D00Med commented on #108
@tobyplowy The fruit looked ugly when they were on the tree.

![](https://s21.postimg.org/fdv2a6qfr/screenshot_20170717_133642.png)

[2017-07-17 21:40] tobyplowy commented on #108
@D00Med maybe less Contrast in the fruit textures wuld help

[2017-07-17 21:42] tobyplowy commented on #108
I may whant to use this to replace the apples in Minetest so the apple is a full block

[2017-07-17 21:42] D00Med commented on #108
@tobyplowy Yeah that might help. Do you think it's ok for Farlands? The leaves with fruit drop leaves and the fruit falls as an item entity. I'm thinking of making the leaves with coconut do that too.
A full block?

[2017-07-17 21:47] tobyplowy commented on #108
This is why using voice chat is better XD
What I meant to say is replacing the Apple Block that we have From default
And replacing it with a block leaves with apple
They work the same as leaves with coconut but is an apple instead of a coconut XD
I will also make a new default tree schematic if that is ok with you

Also shuld default tree be named oak tree?

[2017-07-17 21:50] D00Med commented on #108
@tobyplowy Yeah xD
Oh ok. I'm fine with that, I don't really like the default trees anyway, they are too short.
I don't really care, but if you do rename it, just change the description, not the textures or registered names.

[2017-07-17 21:50] tobyplowy commented on #108
I'm not sure i think yes but I need to see it in game to be sure
I may only use it for apples

[2017-07-17 21:57] tobyplowy commented on #108
I will not make them alot taller but I will try also we may also add a big oak schematic so there's more variation that will make the forest more interesting and less repetitive :)

Of course i did that before but it changed back to normal after you updated the minetest game content
But I will correct it again :)

[2017-07-17 21:57] tobyplowy commented on #108
@D00Med Also shuld I make a new birch tree aswell?

[2017-07-17 21:58] D00Med commented on #108
@tobyplowy Ok. Just one or two nodes higher would be good. That way it wouldn't be too hard to clear forest, and easier to walk around. I think the birch trees are good as they are.
Oh ok.

[2017-07-17 21:59] tobyplowy commented on #108
Yeh maybe

[2017-07-17 22:04] tobyplowy commented on #108
@D00Med I think we should start testing the game soon in survival to find mistakes

Like problems to survive (not enough food and wood)
The game Bering too easy (mobs and tools blans)
Having tings to do (like dungeons and other structures achievements and other)

[2017-07-17 22:05] D00Med commented on #108
@tobyplowy Ok, good idea

[2017-07-17 22:06] tobyplowy commented on #108
@D00Med So in the next coming 2 Hours Will you have Time for farlands?

[2017-07-17 22:11] D00Med commented on #108
@tobyplowy No sorry.

[2017-07-17 22:12] D00Med commented on #108
@tobyplowy Generally I'm going to be busy on weekday mornings.

[2017-07-17 22:20] tobyplowy commented on #108
@D00Med :/ well i guess we will only make progress in the weekend than

[2017-07-17 22:23] D00Med commented on #108
@tobyplowy I can still do stuff in the afternoon, I just can't discuss it

[2017-07-17 22:25] tobyplowy commented on #108
@D00Med Oh ok I see

[2017-07-17 22:52] D00Med commented on #108
@tobyplowy Should the silo work like a chest?

[2017-07-17 22:56] tobyplowy commented on #108
@D00Med Yes it can hold alot of items more than a chest but it can only hold one type of item at a time

[2017-07-17 22:57] D00Med commented on #108
@tobyplowy I think I will add a "grain" group, and add cotton and wheat seeds to that. The silo can work like a vessels shelf and only allow that group.

[2017-07-17 23:03] tobyplowy commented on #108
@D00Med Ok also good

[2017-07-17 23:04] tobyplowy commented on #108
@D00Med is it possible to port the mineclone2 minechafts to farlands?

[2017-07-17 23:04] D00Med commented on #108
@tobyplowy idk, I'll have a look

[2017-07-17 23:07] tobyplowy commented on #108
@D00Med the minescafts in mineclone2 are way better and they generate Bridges if they don't have Ground they also Don't generate In The Wrong Direction also they are way more advanced
The mineclone2 minechafts can probably also be used for dungeons

[2017-07-17 23:11] D00Med commented on #108
@tobyplowy They sound good!

[2017-07-17 23:13] tobyplowy commented on #108
@D00Med That's because they are

[2017-07-18 00:08] tobyplowy commented on #108
@D00Med I'm going see you tomorrow

[2017-07-18 00:52] D00Med commented on #108
@tobyplowy Ok, bye

[2017-07-18 21:35] D00Med commented on #108
@tobyplowy Hello

[2017-07-18 23:54] tobyplowy commented on #108
@D00Med Hey

[2017-07-18 23:54] tobyplowy commented on #108
@D00Med I'm a bit late sorry for that

[2017-07-19 00:00] D00Med commented on #108
@tobyplowy Hey :)
That's alright, but I can't really talk right now.

[2017-07-19 00:05] tobyplowy commented on #108
@D00Med Ok is fine :)

[2017-07-19 20:21] tobyplowy commented on #108
@D00Med hi

[2017-07-19 21:49] D00Med commented on #108
@tobyplowy Hello

[2017-07-19 21:51] tobyplowy commented on #108
@D00Med you probably dount have time for farlands?

[2017-07-19 21:52] D00Med commented on #108
@tobyplowy No, and unfortunately I probably wont until next weekend. Discovered yesterday that I have a lot more stuff to do than I thought :(

[2017-07-19 21:53] tobyplowy commented on #108
@D00Med eh

[2017-07-19 22:01] D00Med commented on #108
@tobyplowy what about you?

[2017-07-19 22:19] tobyplowy commented on #108
@D00Med im runing out of work for farlands

[2017-07-19 22:20] D00Med commented on #108
@tobyplowy Ok.

[2017-07-19 22:21] D00Med commented on #108
@tobyplowy Could you improve the colours of the plants in the 2nd deciduous forest biome?

[2017-07-19 22:23] D00Med commented on #108
@tobyplowy Also someone said we should have more aggressive mobs.
I agree with that. Could you make a few more monster models?

[2017-07-19 22:26] tobyplowy commented on #108
yes

yes but later

[2017-07-19 22:45] tobyplowy commented on #108
@D00Med well im going now see you later

[2017-07-19 22:53] D00Med commented on #108
@tobyplowy Ok, bye

[2017-07-20 04:46] LoneWolfHT commented on #101
I just realized the bug:Me -_- I did a clear objects quick while in my house and I think it cleared the chicken too. Might want to enlarge the collision box anyway though. I've found him in between the holes in a fence that you get when making a double thick wall. Sorry for that false alarm.

[2017-07-20 04:47] LoneWolfHT commented on #95
Ok

[2017-07-20 20:43] tobyplowy commented on #108
@D00Med hi I wount have any time to work on farlands today also I can't talk have a good day :)
See you tomorrow hopefully

[2017-07-20 20:57] D00Med commented on #108
@tobyplowy Ok, you too

[2017-07-21 20:44] tobyplowy commented on #108
@D00Med hi

[2017-07-21 21:36] D00Med commented on #108
@tobyplowy Hello

[2017-07-21 21:41] tobyplowy commented on #108
@D00Med hey im finally working on a car

[2017-07-21 21:41] tobyplowy commented on #108
3D car

[2017-07-21 21:50] D00Med commented on #108
@tobyplowy Oh cool! :D

[2017-07-21 21:50] tobyplowy commented on #108
@D00Med yeh its hard

[2017-07-21 21:51] tobyplowy commented on #108
@D00Med whant to voice chat?

[2017-07-21 21:52] D00Med commented on #108
@tobyplowy Sorry but I really shouldn't. Still got a ton of reading to do 😔

[2017-07-21 21:53] tobyplowy commented on #108
ok

[2017-07-21 21:56] D00Med commented on #108
@tobyplowy I have an interesting idea for farlands though, it might be possible to make a mob that follows the player and helps them mine.

[2017-07-21 21:58] tobyplowy commented on #108
@D00Med yes nice idea

[2017-07-21 22:01] D00Med commented on #108
@tobyplowy Any progress on the tool textures?

[2017-07-21 22:02] tobyplowy commented on #108
@D00Med no sorry

[2017-07-21 22:03] D00Med commented on #108
@tobyplowy No problem :)

[2017-07-21 22:21] tobyplowy commented on #108
have you ever made a car in blender (with alot of details)

bdw i know you made the cars for your mod but they dount count

[2017-07-21 22:23] D00Med commented on #108
Says you xD
No I haven't, I've made a few in autodesk inventor though.

[2017-07-21 22:27] tobyplowy commented on #108
@D00Med cool

[2017-07-21 22:28] tobyplowy commented on #108
@D00Med im working on the Mazda 121 Cosmo

bdw can you work on farlands tomorrow?

[2017-07-21 22:34] D00Med commented on #108
@tobyplowy Nice!
Hmm idk, I'd like to, but it's unlikely

[2017-07-21 22:36] tobyplowy commented on #108
@D00Med your decreasing amounts of time sucks also its extreemly demotivating :/

oh well

[2017-07-21 22:38] D00Med commented on #108
@tobyplowy Yeah, sorry about that.

[2017-07-21 22:41] tobyplowy commented on #108
@D00Med yeh XD

[2017-07-21 22:41] tobyplowy commented on #108
@D00Med no need to say sorry

[2017-07-21 22:42] D00Med commented on #108
@tobyplowy Thanks

[2017-07-21 22:54] tobyplowy commented on #108
:D

[2017-07-21 23:38] tobyplowy commented on #108
@D00Med here is some progerss on the car
![car](https://user-images.githubusercontent.com/16853304/28486034-5bbeb474-6e7e-11e7-92cc-a657e3cf5228.png)

[2017-07-21 23:40] D00Med commented on #108
Looks good!

[2017-07-21 23:58] GreenXenith commented on #108
Heh... that's nothing compared to how little I work on this. I really need to get back to work on that inventory soon.. oh and the chests.. the chests... *sigh*

[2017-07-22 00:06] tobyplowy commented on #108
is it that bad XD

[2017-07-22 00:09] D00Med commented on #108
@GreenXenith Yeah well, things happen.

[2017-07-22 00:13] tobyplowy commented on #108
@D00Med true i guess

[2017-07-22 00:16] tobyplowy commented on #108
@D00Med we shuld add @GreenXenith and @DS-Minetest to the hangouts convesation if they are ok with it that is

[2017-07-22 00:19] D00Med commented on #108
@tobyplowy Ok. I forgot to mention before, I can't do the video/voice/screen-sharing thing _too_ often because it chews a lot of data.

[2017-07-22 00:21] D00Med commented on #108
@DS-Minetest @GreenXenith If you guys want to join the conversation that is, it's fine if you don't

[2017-07-22 00:33] tobyplowy commented on #108
yeh thats ok bdw skype is better with the data use

[2017-07-22 00:45] D00Med commented on #108
@tobyplowy Yeah I've heard :'D

[2017-07-22 01:04] tobyplowy commented on #108
@D00Med lol also i need to sleep have a nice day all of you

[2017-07-22 01:27] D00Med commented on #108
@tobyplowy Ok, goodnigt

[2017-07-22 21:10] tobyplowy commented on #108
@D00Med hey

[2017-07-22 21:14] D00Med commented on #108
@tobyplowy Hi

[2017-07-22 21:17] tobyplowy commented on #108
@D00Med I can't stay for long

But I have worked on a new monster model (I just need to make the texture)

Also do you have time for farlands today or tomorrow?

[2017-07-22 21:18] D00Med commented on #108
@tobyplowy Ok. Cool.
Hmm maybe wednesday, I'm not sure.

[2017-07-22 21:21] tobyplowy commented on #108
@D00Med also what do you think of the car i made (its my 3 car model i made and its the first i made in blender)
[masda.zip](https://github.com/D00Med/farlands/files/1167647/masda.zip)

[2017-07-22 21:34] D00Med commented on #108
@tobyplowy  It's a nice model! Do you plan on making a career from modelling?

[2017-07-22 21:38] tobyplowy commented on #108
@D00Med no I'm not professional enough for that
It will stay as a hobby for now :)

[2017-07-22 21:39] tobyplowy commented on #108
@D00Med do you think I should?
(I'm just wondering please be honest)

[2017-07-22 22:04] D00Med commented on #108
@tobyplowy Ok :) I can't say, I think with training you probably could, but idk.

[2017-07-22 22:15] tobyplowy commented on #108
@D00Med Thanks I guess XD

Well I have to go

[2017-07-22 22:16] D00Med commented on #108
@tobyplowy xD
Ok, goodnight :)

[2017-07-23 12:07] tobyplowy commented on #77
This maybe useful for smaller biomes https://forum.minetest.net/viewtopic.php?f=3&t=18132

[2017-07-23 12:11] tobyplowy commented on #108
This maybe useful for smaller biomes https://forum.minetest.net/viewtopic.php?f=3&t=18132

[2017-07-23 21:08] tobyplowy commented on #108
@D00Med hi

[2017-07-23 21:09] tobyplowy commented on #108
I made 2 new mob models

[2017-07-23 21:09] tobyplowy commented on #108
@D00Med Also the lantarn glow effect needs to be fixed :)

[2017-07-23 21:10] tobyplowy commented on #108
@GreenXenith when do you think you will get the chests done?

[2017-07-23 22:08] D00Med commented on #108
@tobyplowy Hi :) Great :D and yeah I forgot I needed to fix that too

[2017-07-23 22:12] tobyplowy commented on #108
@D00Med :)

[2017-07-23 22:14] D00Med commented on #108
@tobyplowy Should I add the settings to control the biome size? like in that post you linked

[2017-07-23 22:17] tobyplowy commented on #108
@D00Med Yeh I want them to be smaller not bigger :)

[2017-07-23 22:25] tobyplowy commented on #108
here are the 2 new monsters
[crabspider.zip](https://github.com/D00Med/farlands/files/1168451/crabspider.zip)
[cavecrab.zip](https://github.com/D00Med/farlands/files/1168452/cavecrab.zip)
cavecrab shuld genarate as a block (like the mimic) underground ore if you brake the ore the cavecrab shuld come out and run away at all costs from the player (this mob is not hostile) also the ore shuld be preat

[2017-07-23 22:29] D00Med commented on #108
@tobyplowy Making it run away from the player might be a bit tricky, but I'll see what I can do

[2017-07-23 22:33] tobyplowy commented on #108
@D00Med why is minetest so Limited?

Also do you have any ideas for monsters or fantasy animals?

[2017-07-23 22:34] D00Med commented on #108
@tobyplowy Nice models! ...I've seen that crab before https://www.zeldadungeon.net/wiki/images/a/a0/Hoarder-Sprite-3.png

[2017-07-23 22:34] D00Med commented on #108
@tobyplowy It's not minetest, it's my coding skills. mobs_redo can't do it as far as I know, so I'll have to make the code for running away myself

[2017-07-23 22:35] D00Med commented on #108
@tobyplowy Some kind of blob monster would be cool

[2017-07-23 22:50] tobyplowy commented on #108
No it's not inspired by that XD

A slime?

[2017-07-23 22:55] D00Med commented on #108
@tobyplowy Oh ok xD
Yeah, or a mud monster, something like that.

[2017-07-23 23:08] tobyplowy commented on #108
@D00Med ok

[2017-07-23 23:09] tobyplowy commented on #108
@D00Med I wish mobs could have transparent textures :/

[2017-07-23 23:17] D00Med commented on #108
@tobyplowy Yeah, that would be great. It'd be cool if parts of the texture could ignore lighting too(ie; glow).

[2017-07-23 23:19] tobyplowy commented on #108
@D00Med Yeh

[2017-07-23 23:29] tobyplowy commented on #108
@D00Med about that mob that follows the player to help mine (your idea) maybe you can use the maidroid mod for it?

[2017-07-23 23:29] tobyplowy commented on #108
https://github.com/tacigar/maidroid

[2017-07-23 23:30] D00Med commented on #108
@tobyplowy Maybe, I was thinking of something more simple though, like changing colour if there is an ore nearby

[2017-07-23 23:32] D00Med commented on #108
@tobyplowy It looks useful though, thanks

[2017-07-23 23:35] tobyplowy commented on #108
Maybe it can be a steam bot (steampunk robot)

[2017-07-23 23:36] tobyplowy commented on #108
@D00Med but it should not be too accurate so it's not op :)

[2017-07-23 23:47] D00Med commented on #108
@tobyplowy That's a good idea. And yeah. I think it wouldn't be if its range was small, players would still have to be maybe 3-5 nodes away.

[2017-07-23 23:58] tobyplowy commented on #108
@D00Med yeh sounds good to me

[2017-07-24 00:32] tobyplowy commented on #108
@D00Med i still need to make that anvil :)
(This is a reminder to myself)

Also do the fosill ores genarate in mapgen?

[2017-07-24 00:39] D00Med commented on #108
@tobyplowy Ok. Not yet.
I'm going now, enjoy the rest of your evening

[2017-07-24 00:51] tobyplowy commented on #108
@D00Med Well I also have to go to bed so yeh the same for you :)

[2017-07-24 16:31] GreenXenith commented on #108
Whenever I can catch Wuzzy on IRC.

[2017-07-24 18:57] tobyplowy commented on #108
@GreenXenith Cant you send him a pm?
Also why do you need wuzzy is it to ask someting?

[2017-07-24 19:46] LoneWolfHT commented on #108
(This is a reminder to myself)

@tobyplowy Have you seen this mod? https://github.com/minetest-mods/anvil

[2017-07-24 19:52] LoneWolfHT commented on #108
@tobyplowy @D00Med Not sure if you've fixe this but I can't craft boab doors/fences. I think it is the same for all the trees besides default.

[2017-07-24 20:20] tobyplowy commented on #108
@LoneWolfHT I will have a look if it's fixed also please stop recommending mods we rather make the content ourselves but still thanks for the effort :)

[2017-07-24 20:44] LoneWolfHT commented on #108
Ok I see now.
I might upload a video today if all goes well!

[2017-07-24 21:06] D00Med commented on #108
@tobyplowy @LoneWolfHT Hello

[2017-07-24 21:07] LoneWolfHT commented on #108
Heya!

[2017-07-24 21:12] D00Med commented on #108
@LoneWolfHT I don't think there are crafting recipes for the new doors and fences yet.
Crafting recipes aren't a priority for now

[2017-07-24 21:16] tobyplowy commented on #108
@D00Med Well how ya doing :)

[2017-07-24 21:17] D00Med commented on #108
@tobyplowy Good, how are you?

[2017-07-24 21:17] D00Med commented on #108
@tobyplowy I improved the fruit mod a bit last night, I still can't get the fruit to be nicely scattered though

[2017-07-24 21:18] tobyplowy commented on #108
Great news!
Also thanks for your interest in farlands and for the vid (if you make a copple I will add a statue of you if you what that of course)

[2017-07-24 21:19] tobyplowy commented on #108
I'm doing good :)

Well I think if you just add one fruit that it will look fine?

[2017-07-24 21:23] D00Med commented on #108
@tobyplowy Not sure what you mean. Instead of being a blob they are now mostly found as a single node, sometimes with 2 or 3 others closeby.

[2017-07-24 21:40] tobyplowy commented on #108
@D00Med yeh Maybe have one kind of fruit per biome?

[2017-07-24 22:03] D00Med commented on #108
@tobyplowy Yeah that's a good idea.

[2017-07-24 22:05] D00Med commented on #108
What I could do is:
apples & peaches: deciduous forest trees
pears: deciduous forest trees (the 2nd kind)
plums: aspen trees
mangoes: jungle trees
oranges: acacia trees

[2017-07-24 22:05] tobyplowy commented on #108
@D00Med yay :)

[2017-07-24 22:06] D00Med commented on #108
That's pretty much what I have already.
Oh and I forgot, berries in bushes

[2017-07-24 22:07] tobyplowy commented on #108
Not sure about that

Also coconut shuld use the new fruit system

And pinecones in big pine biome?

[2017-07-24 22:08] tobyplowy commented on #108
There should be normal and poisonus berries :)

[2017-07-24 22:09] D00Med commented on #108
@tobyplowy
Why not?
Ok. Yeah I was thinking that.
Hmm the hunger mod has poisonous food right?

[2017-07-24 22:15] tobyplowy commented on #108
It seems a bit weard

I think so yes but default minetest also has it

[2017-07-24 22:17] D00Med commented on #108
@tobyplowy But mangoes in jungle trees isn't? ;)
Oh ok

[2017-07-24 22:19] tobyplowy commented on #108
@D00Med GG good point :)

[2017-07-24 22:22] tobyplowy commented on #108
@D00Med do you like the fire texture edit I did?

[2017-07-24 22:26] tobyplowy commented on #108
@LoneWolfHT if the video is done can you send me a link?

[2017-07-24 22:27] D00Med commented on #108
@tobyplowy I haven't seen it yet

[2017-07-24 22:28] tobyplowy commented on #108
@D00Med is it possible to add a mob trophy without having to add a million new blocks?

A mob Trophy is basically a block that displays a mob like an item frame but a plate instead of a frame and a mob instead of a item :)

[2017-07-24 22:30] D00Med commented on #108
@tobyplowy not in a way that is better than adding a million new blocks. There are faster ways to add a million new blocks though.

[2017-07-24 22:33] tobyplowy commented on #108
@D00Med is it Possible to add a new mob Trophy Everytime a mob is registered?

[2017-07-24 22:40] tobyplowy commented on #108
@D00Med I'm looking at nathans video on your vehicles mod XD

[2017-07-24 22:53] D00Med commented on #108
@tobyplowy Yeah, I could make a simple function that could be used to register one.
xD

[2017-07-24 22:55] tobyplowy commented on #108
@D00Med how simple
Is it i can add it simple?

[2017-07-24 22:57] tobyplowy commented on #108
@D00Med I think we should add the item frame mod by sofar

Apparently it adds item frames that don't register new blocks and also don't use entitys

[2017-07-24 23:00] tobyplowy commented on #108
@D00Med possible fix for swamp terrain?
https://github.com/minetest/minetest/pull/6167

[2017-07-24 23:05] D00Med commented on #108
@tobyplowy Simple like you only need to put a name, a description, and a texture in.
eg: register_trophy("name", "desc", "texture.png")
I thought it did register new blocks.
Not sure, it doesn't look biome specific

[2017-07-24 23:11] tobyplowy commented on #108
You can ask him if it is and if it isn't you can request it

Sounds good

[2017-07-24 23:14] tobyplowy commented on #108
@D00Med is it also possible to add a Trophy rearety stat (this controls How Common The tophy Drop is)
Also How do you specify which mob drops what trophy also is it possible to get the mob automatically on the trophy or do I have to make a new model every time

[2017-07-24 23:18] D00Med commented on #108
@tobyplowy Trophy rarity is possible, same as drop rarity. It would have to be added to mob drops.
If you want the trophy to be 3d you'd have to make a new model every time.
Or you could use a screenshot from blender as a texture to overlay on a plaque or something.

[2017-07-24 23:21] tobyplowy commented on #108
Nope I don't like that, this is instant deal breaker

Is it Possible to put in Mob that has no ai on a plate?

[2017-07-24 23:22] D00Med commented on #108
@tobyplowy Haha I thought so.
Yeah it would, but they'd have to be entities. And that would slow the game down.

[2017-07-24 23:25] tobyplowy commented on #108
well I don't think People will place A Million mob trophys I will thow but I can live with that
Maybe we should put a warning on the tophy about lag

[2017-07-24 23:27] tobyplowy commented on #108
@D00Med I whant something like this
http://media-elerium.cursecdn.com/attachments/32/75/2016-02-10_19.png

But the mobs shuld have a plaque under them XD

[2017-07-24 23:40] D00Med commented on #108
Ok

[2017-07-24 23:40] D00Med commented on #108
@tobyplowy I could make the models maybe

[2017-07-24 23:45] tobyplowy commented on #108
@D00Med yeh but using models will make the file size really big (I Don't Care About This but i don't want anyone in the Community complaining About It and we all now it will happen)

Also it's verry unefficient

[2017-07-24 23:46] D00Med commented on #108
@tobyplowy  ok

[2017-07-24 23:47] tobyplowy commented on #108
@D00Med We may need to add this as an update unless it can be added fast

[2017-07-24 23:48] D00Med commented on #108
@tobyplowy yeah

[2017-07-24 23:49] tobyplowy commented on #108
@D00Med Lol naild it!

[2017-07-24 23:50] tobyplowy commented on #108
@D00Med So Wednesday you will be able to work on farlands also voice chat?

[2017-07-24 23:51] D00Med commented on #108
@tobyplowy Probably not voice chat, but I can work on Farlands

[2017-07-24 23:52] tobyplowy commented on #108
@D00Med well I guess that's fine

[2017-07-24 23:58] D00Med commented on #108
@tobyplowy Next month I'll be able to though

[2017-07-24 23:59] tobyplowy commented on #108
@D00Med Ok thats good :D

[2017-07-25 00:01] tobyplowy commented on #108
@D00Med apart From The previous Question I Asked What mobs should I add?

Give me all your ideas

[2017-07-25 00:13] D00Med commented on #108
@tobyplowy
hmm ok, _all_ my ideas...

Monsters/Agressive
Centipede(made from multiple body mobs)
Golem
Giant bat (could be an edit of the pterodactyl)
Sandworm
Wolf
Gargoyle (could maybe be tamed and turned into a block)
Cyclops
Hydra
A demon-like creature for jungles, something like an indonesian demon
Ghost

Passive:
Unicorn (easy edit)
Cassowary
Snake
A Waterbird of some sort
Bear

[2017-07-25 00:13] D00Med commented on #108
I could keep going xD

[2017-07-25 00:16] tobyplowy commented on #108
@D00Med Do it do it do it XD

[2017-07-25 00:25] tobyplowy commented on #108
@D00Med I have to go now see you tomorrow

[2017-07-25 00:30] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-07-25 00:32] D00Med commented on #108
paramat's response to my question on flat biomes:

[2017-07-25 01:01] LoneWolfHT commented on #101
@D00Med @tobyplowy I found a weird bug:
Fish can *swim* on land. I forgot to take a screenshot sadly. If you want I could reproduce it and take a picture.

[2017-07-25 01:06] D00Med commented on #101
@LoneWolfHT Ok, that might be a bit hard to fix, but I'll try

[2017-07-25 01:20] LoneWolfHT commented on #101
Make them despawn if They aren't in water maybe?

[2017-07-25 01:43] GreenXenith commented on #108
Also why do you need wuzzy is it to ask someting?

I could, but I would rather talk to him directly. I need his help with the double chests. After all, I *did* get the code from *his* subgame (heavily modified ofcourse). :P

[2017-07-25 02:01] D00Med commented on #101
@LoneWolfHT I'm just going to try reducing their stepheight for now, and see what happebs

[2017-07-25 10:14] tobyplowy commented on #108
May I summon the great all mighty @wuzzy2
wuzzy If you see this we need your help!

[2017-07-25 11:53] tobyplowy commented on #92
Here is a list of mobs I think shuld be in hell and heaven (D00med helped with ideas for mobs)

### Hell

Gargoyle
Giant bat
Fire snake
Skeleton bat

### heaven

Harpy
Some kind of dragon like in terraria http://terraria.gamepedia.com/Wyvern
Chinese dragon
Someting like a chocobo
Unicorn

[2017-07-25 11:55] tobyplowy commented on #92
@D00Med feel free to add more to that list

[2017-07-25 12:22] tobyplowy commented on #92
### for heaven blocks

Bace terrain blocks
This includes grass dirt and stone
I think the grass shuld have a blue/green appearance (i think its called Cyan but I'm not sure)
Dirt shuld get a blue color and stone should have a pink like color keep in mind this pallette may not look good I will have to see it in game to know

Than trees maybe we can add 1 or 2 new trees with all the tree things that

[2017-07-25 16:34] DS-Minetest commented on #92
The easiest and maybe best would be including [nether](https://forum.minetest.net/viewtopic.php?t=10265) and [nyancat's heaven](https://forum.minetest.net/viewtopic.php?t=7689) and modifying it.

[2017-07-25 21:08] tobyplowy commented on #108
@GreenXenith ok

[2017-07-25 21:08] tobyplowy commented on #108
@D00Med did someone say bear?

[2017-07-25 21:11] tobyplowy commented on #108
[bear.zip](https://github.com/D00Med/farlands/files/1174771/bear.zip)

[2017-07-25 21:12] tobyplowy commented on #108
@D00Med i was bear-ly able to make that model XD

[2017-07-25 21:12] D00Med commented on #108
@tobyplowy Hello

[2017-07-25 21:12] tobyplowy commented on #108
hi

[2017-07-25 21:14] D00Med commented on #108
@tobyplowy Great model!

[2017-07-25 21:14] tobyplowy commented on #108
@D00Med thanks :)

[2017-07-25 21:16] tobyplowy commented on #108
@D00Med it was hard to get an idea of the size of a bear compared to a human Because you know they're quite Dangerous xD

But I got it to work :)

[2017-07-25 21:17] tobyplowy commented on #108
@D00Med do you like my wall of text https://github.com/D00Med/farlands/issues/92

(I know it's not that big)

[2017-07-25 21:18] tobyplowy commented on #108
@D00Med It's not a wall of text but a fence of text XD

[2017-07-25 21:18] D00Med commented on #108
@tobyplowy Yeah it's not like you can go measure xD
Yeah I noticed that

[2017-07-25 21:19] tobyplowy commented on #108
You just made my day XD

[2017-07-25 21:23] tobyplowy commented on #108
@D00Med I just Googled bear pet for an idea it's surprising how much people own a bear that makes me bear-y sceard 0_o

Also I found this https://static.seattletimes.com/wp-content/uploads/2008/06/2008015497-300x0.jpg
I'm not sure whats happening in that picture :/

[2017-07-25 21:25] D00Med commented on #108
@tobyplowy That guy doesn't look happy about it xD or maybe that's just because of the puns

[2017-07-25 21:25] tobyplowy commented on #108
@D00Med what do you think about the stuff I posted on #92 ?

[2017-07-25 21:26] tobyplowy commented on #108
@D00Med I will stop with the puns

[2017-07-25 21:27] D00Med commented on #108
@tobyplowy They are nice ideas. I especially like the idea of adding blocks themed from ancient buildings. I'd actually like to incorporate that idea into village generation if you don't mind.

[2017-07-25 21:28] tobyplowy commented on #108
@D00Med Eeeehhhm yeh sure

[2017-07-25 21:29] D00Med commented on #108
@tobyplowy Awesome xD

[2017-07-25 21:32] tobyplowy commented on #108
@D00Med Yeh XD
Farlands development where everything has to end with XD
Do you have an idea for a second tree for Heaven XD
XD and one more time XD

[2017-07-25 21:36] D00Med commented on #108
@tobyplowy Yeah of course, why not? XD
Hmm maybe a one that's totally white?

[2017-07-25 21:39] tobyplowy commented on #108
Yeh maybe a good tree with white leaves?

[2017-07-25 21:40] tobyplowy commented on #108
@D00Med Can you post some ideas on the Dimensions issue?

[2017-07-25 21:41] D00Med commented on #108
@tobyplowy Sure. Also, I'm animating the bear

[2017-07-25 21:44] D00Med commented on #92
@tobyplowy My idea, use schematics for some floating islands. And also white trees, maybe with glowing teardrop-shaped fruit. For hell I think maybe there should be castles that spawn, and ruined villages.

[2017-07-25 21:44] tobyplowy commented on #108
@D00Med you really have to make an animation where the bear dances not for the game but to post on the forums as a update report that will be so gooooooood XD

[2017-07-25 21:46] D00Med commented on #108
@tobyplowy Ok

[2017-07-25 21:48] tobyplowy commented on #108
@D00Med Can't wait

[2017-07-25 21:52] D00Med commented on #108
@tobyplowy ...https://media.giphy.com/media/1RxlWYJ5hMYbS/giphy.gif

[2017-07-25 22:07] tobyplowy commented on #108
@D00Med I have seen some beautiful things like it giant Cliff a double rainbow alot of animals and cave but that is just perfect :')

[2017-07-25 22:12] tobyplowy commented on #108
@D00Med I'm wondering how they did that is it a person in a costume with a Photoshop bear head on it
Or is it a very convincing mask

[2017-07-25 22:15] D00Med commented on #108
@tobyplowy Not sure, but I'm pretty sure bears don't have stitched on bellies xD

[2017-07-25 22:15] D00Med commented on #108
![bear](https://user-images.githubusercontent.com/19916704/28596169-9a3eb3c0-71da-11e7-9aef-0c1a0fdf722e.PNG)
Tolerable or should I modify the model?

[2017-07-25 22:19] tobyplowy commented on #108
Yes

[2017-07-25 22:20] D00Med commented on #108
@tobyplowy Phew, that's good :D

[2017-07-25 22:21] tobyplowy commented on #108
@D00Med Lol

[2017-07-25 22:28] tobyplowy commented on #108
@D00Med will you include my bear model in dmobs?

[2017-07-25 22:43] tobyplowy commented on #92
Paramat is working on floatlands mapgen so think that is better no?
The rest are good ideas :)

[2017-07-25 22:44] D00Med commented on #108
@tobyplowy If you don't mind :)

[2017-07-25 22:47] D00Med commented on #92
@tobyplowy Oh a combination would be good :)

[2017-07-25 22:47] tobyplowy commented on #108
@D00Med Of course I mind are you crazy why would I allow you to use that model
Lol jk of course I don't mind XD

[2017-07-25 22:48] tobyplowy commented on #92
@D00Med Yeh maybe :)

[2017-07-25 22:50] tobyplowy commented on #108
@D00Med we should put a picture of a bear with a fez on the forums XD

[2017-07-25 22:57] D00Med commented on #92
@tobyplowy Floating islands would be so cool

[2017-07-25 22:58] D00Med commented on #108
@tobyplowy Why a fez?

[2017-07-25 22:59] tobyplowy commented on #108
@D00Med I'm makeing something Super amazing!

[2017-07-25 23:00] tobyplowy commented on #108
@D00Med a bear with a fez is funny
A bear with a fez and banjo is gold!

[2017-07-25 23:06] D00Med commented on #108
@tobyplowy Oh ok...super amazing.
xD
The bear dance is nearly done

[2017-07-25 23:07] tobyplowy commented on #108
@D00Med Nice

[2017-07-25 23:13] D00Med commented on #108
How's this?
![insta](https://user-images.githubusercontent.com/19916704/28597699-b7a61e28-71e2-11e7-98b6-5b768c4d2203.gif)
![](http://pa1.narvii.com/6311/0b282781d38573d467423ed2531ed7b25a78f338_hq.gif)

[2017-07-25 23:14] tobyplowy commented on #108
@D00Med Lol it's perfect!

I'm almost done with my thing :)

[2017-07-25 23:15] D00Med commented on #108
@tobyplowy Ok cool

[2017-07-25 23:15] tobyplowy commented on #108
@D00Med The raging rave bear XD

[2017-07-25 23:29] tobyplowy commented on #108
[bear 2.zip](https://github.com/D00Med/farlands/files/1175068/bear.2.zip)

[2017-07-25 23:31] D00Med commented on #108
@tobyplowy xD A drinking bear?

[2017-07-25 23:31] D00Med commented on #108
@tobyplowy This is brilliant btw, can I put it in the game? xD

[2017-07-25 23:33] tobyplowy commented on #108
@D00Med His not addicted he just has some problems with alcohol XD

Also yes I don't know how you would use it but go ahead :)

[2017-07-25 23:42] D00Med commented on #108
@tobyplowy A beer bear :'D
Great :D

[2017-07-25 23:42] tobyplowy commented on #108
@D00Med im wondering what you lill do with the bear 2 model

[2017-07-25 23:43] D00Med commented on #108
@tobyplowy Village entertainment

[2017-07-25 23:44] tobyplowy commented on #108
nice XD

hell yeh!

[2017-07-25 23:44] D00Med commented on #108
I was thinking, it might be a good idea to plan building block sets the same way you do models, ie: make a building picture and use that for textures.

[2017-07-25 23:49] D00Med commented on #108
@tobyplowy Is the new fire texture still based off the one in MC?

[2017-07-25 23:52] tobyplowy commented on #108
good idea i alred sortof do that but still good idea

[2017-07-25 23:52] tobyplowy commented on #108
![memez](https://user-images.githubusercontent.com/16853304/28598621-16afac06-71a5-11e7-845f-d224f720a201.png)

[2017-07-25 23:56] tobyplowy commented on #108
Yes let Me Explain so I took your original texture and I recolord it then I skaled it down for the small fire Particles and I used that particle texture and skaled it back up and I used that shape as my new outline and I added the old one over it so yes it's still baced of the mc one (but its not really recognizable Anymore)

[2017-07-25 23:59] D00Med commented on #108
@tobyplowy *blinks confusedly* ok

[2017-07-26 00:01] tobyplowy commented on #108
@D00Med lol I don't wanna Sound like a broken record but If we would have voice chated you would have understood :)

[2017-07-26 00:02] tobyplowy commented on #108
@D00Med if the forum update post is up can you please tell me:)

[2017-07-26 00:02] tobyplowy commented on #108
@LoneWolfHT I see you were not able to make that video :)

[2017-07-26 00:03] D00Med commented on #108
@tobyplowy Yeah, true. I've got to study now, still got lots to do.
Ah what do I put in the post? just progress we've made over the last few weeks?

[2017-07-26 00:04] tobyplowy commented on #108
Yes exactly that :)

[2017-07-26 00:09] D00Med commented on #108
@tobyplowy Ok...so that would be:

Anything else?

[2017-07-26 00:12] tobyplowy commented on #108
@D00Med no that's fine

[2017-07-26 00:14] tobyplowy commented on #108
@D00Med Bdw did you make those Fruit textures?

[2017-07-26 00:15] tobyplowy commented on #108
@D00Med also don't forget the dancing bear

[2017-07-26 00:16] tobyplowy commented on #108
@D00Med Well I have to go see you tomorrow

[2017-07-26 00:16] D00Med commented on #108
@tobyplowy Hmm the new fruit?
I won't.
Ok, goodnight :)

[2017-07-26 00:17] tobyplowy commented on #108
Yes
also have a good day

[2017-07-26 00:18] D00Med commented on #108
@tobyplowy Ok, and thanks

[2017-07-26 05:03] D00Med commented on #108
![screenshot_20170726_145857](https://user-images.githubusercontent.com/19916704/28605144-1a30121c-7213-11e7-98cf-90df02c4ce59.png)
Desert building blocks, inspired by egyptian and arabian structures.
Next up, asian and greek inspired blocks...

[2017-07-26 21:07] tobyplowy commented on #108
@D00Med hi nice stuff

[2017-07-26 21:23] D00Med commented on #108
@tobyplowy Hi, and thanks

[2017-07-26 21:26] tobyplowy commented on #108
@D00Med :) well I will start work on the Asian blocks

Also can you add a hell and heaven nodes mod this is just for the nodes not for actual hell and heaven
So I can already start working on future content

[2017-07-26 21:29] D00Med commented on #108
@tobyplowy I already have a few made up; sloped roof blocks, a couple of arches, and a new type of pillar.
Ok, I will. But I think we should prioritise stuff for v1

[2017-07-26 21:31] D00Med commented on #108
@tobyplowy Actually aside from the sloped rooves, which aren't very good anyway, the stuff I made is based off Indian & Indonesian buildings, so if you were to do Chinese or Japanese inspired blocks, we wouldn't end up doing the same thing. Or you could just do whatever since I'm not working on farlands today :P

[2017-07-26 21:32] tobyplowy commented on #108
Yes that's the spirit!
Also I was going to keep it as a side project :)

That was my original intension

[2017-07-26 21:33] tobyplowy commented on #108
@D00Med can you merge the new blocks you added?

[2017-07-26 21:33] D00Med commented on #108
@tobyplowy Only the one's I've finished.

[2017-07-26 21:34] tobyplowy commented on #108
@D00Med Ok

[2017-07-26 21:41] tobyplowy commented on #108
@D00Med can you post the forum update?

[2017-07-26 21:44] D00Med commented on #108
@tobyplowy Yeah

[2017-07-26 21:45] tobyplowy commented on #108
@D00Med Yay XD

[2017-07-26 21:47] tobyplowy commented on #108
@D00Med how will you add the beer bear
And will it have Physical interaction with Npcs?

[2017-07-26 21:49] D00Med commented on #108
@tobyplowy Once I get entity placement with villages worked out, I'm thinking of just having it spawn beside a building or in the center of a village. It can just sit there playing. Hmm maybe

[2017-07-26 21:51] tobyplowy commented on #108
Ok fine but I whant some real music comming out of that banjo maybe sam can help with that?

[2017-07-26 21:52] D00Med commented on #108
@tobyplowy Maybe, there might be some music online which we could use

[2017-07-26 21:52] tobyplowy commented on #108
@D00Med  i think center of a village is better

[2017-07-26 21:53] tobyplowy commented on #108
Yes maybe but Sam is really good he made the legend of Mt "soundtrack" :)

[2017-07-26 21:55] D00Med commented on #108
@tobyplowy Yeah he is

[2017-07-26 21:55] D00Med commented on #108
https://forum.minetest.net/viewtopic.php?f=50&t=16921&start=75

[2017-07-26 21:57] tobyplowy commented on #108
@D00Med Fantastic :)

[2017-07-26 22:05] tobyplowy commented on #108
@D00Med I have to go I can still talk but only if you ask me something :)

[2017-07-26 22:06] D00Med commented on #108
@tobyplowy Ok :)

[2017-07-26 23:00] Wuzzy2 commented on #87
Hello. I heard you need help. Please talk to me next week.

[2017-07-27 00:02] tobyplowy opened #109 "Possible to survive in biome?"
Add biome list here

[2017-07-27 00:04] tobyplowy commented on #77
@D00Med hey I'm testing the game to see in what biomes you can and can't survive
Can you add a list of all biomes to the below issue?
https://github.com/D00Med/farlands/issues/109

[2017-07-27 00:06] tobyplowy commented on #77
@D00Med also that issue has the number 109 my favorite and lucky number

[2017-07-27 00:14] GreenXenith commented on #87
Noted.

[2017-07-27 00:18] tobyplowy commented on #87
@GreenXenith easy peasy lemon Squeezy see that wasn't so hard :)

[2017-07-27 00:46] D00Med commented on #77
@tobyplowy Sure

[2017-07-27 00:49] D00Med commented on #109
Deciduous Forest
Deciduous Forest 2
Swamp
Icesheet
Tundra
Taiga
Snowy Grassland
Bamboo Forest
Grassland
Coniferous Forest (aka Pine)
Tall Coniferous Forest (aka Big Pine)
Desert
Sandstone Desert (aka the one Toby doesn't like)
Savanna
Rainforest

[2017-07-27 01:00] #77 closed

[2017-07-27 01:01] tobyplowy commented on #108
@D00Med I have to go to bed I will continue work on the biome survival thing tomorrow have a good day :)

[2017-07-27 01:30] D00Med commented on #108
@tobyplowy Ok, goodnight :)

[2017-07-27 13:39] DS-Minetest commented on #109
<details><summary>You should make a table:</summary>

biome|wood|food|stone|tools|ores|danger
---|---|---|---|---|---|---
Deciduous Forest|
Deciduous Forest 2|
Swamp|
Icesheet|
Tundra|
Taiga|
Snowy Grassland|
Bamboo Forest|
Grassland|
Coniferous Forest (aka Pine)|
Tall Coniferous Forest (aka Big Pine)|
Desert|
Sandstone Desert (aka the one I aperenly dount like)|
Savanna|
Rainforest|

[code]
</det

[2017-07-27 13:45] tobyplowy commented on #109
@DS-Minetest I don't understand how it works

[2017-07-27 13:47] DS-Minetest commented on #109
It's a markdown table.

[2017-07-27 18:29] lefty-studios commented on #101
Bamboo crafts unknown Item

[2017-07-27 21:21] tobyplowy commented on #108
@D00Med hi

[2017-07-27 21:26] D00Med commented on #108
@tobyplowy Hello

[2017-07-27 21:27] tobyplowy commented on #108
We have a new pr :)

[2017-07-27 21:29] tobyplowy commented on #101
@lefty-studios I'm working on fixing it :)

[2017-07-27 21:31] D00Med commented on #108
@tobyplowy It's been merged.
I had an idea that might make survival more interesting; temperature impacting stamina/hunger

[2017-07-27 21:34] tobyplowy commented on #108
@D00Med I'm not a fan of that

[2017-07-27 21:35] D00Med commented on #108
@tobyplowy Ok

[2017-07-27 21:36] tobyplowy commented on #108
@D00Med what was that or for?

[2017-07-27 21:40] tobyplowy commented on #101
@lefty-studios it's fixed thanks for reporting

[2017-07-27 21:41] D00Med commented on #108
You not being a fan of temperature based changes

[2017-07-27 21:42] tobyplowy commented on #108
@D00Med No I mean the pr XD

[2017-07-27 21:44] tobyplowy commented on #108
@D00Med I hate autocorrect but on the other side it's so usefull and I like it :/

[2017-07-27 21:50] D00Med commented on #108
@tobyplowy Oh, it added 'wool' to the dependencies of the mobs mod, or one of them, I forgot already xD

[2017-07-27 21:55] tobyplowy commented on #108
@D00Med Oh I see

[2017-07-27 22:01] tobyplowy commented on #108
@D00Med I'm testing the biomes

[2017-07-27 22:01] D00Med commented on #108
@tobyplowy Ok

[2017-07-27 22:02] tobyplowy commented on #108
@D00Med When will you be able to work on farlands again?

[2017-07-27 22:04] D00Med commented on #108
@tobyplowy Possibly tomorrow, but I'm not sure.

[2017-07-27 22:04] tobyplowy commented on #108
Ok

[2017-07-27 22:05] tobyplowy commented on #108
@D00Med And if you do what will you work on?

[2017-07-27 22:06] D00Med commented on #108
@tobyplowy Probably new blocks, or the crab thing

[2017-07-27 22:10] tobyplowy commented on #108
@D00Med Ok

[2017-07-27 22:16] D00Med commented on #108
@tobyplowy Will you work on anything?

[2017-07-27 22:22] tobyplowy commented on #108
@D00Med Well I'm doing the biome testing now
And I have some more texture that need work
Also I may make a model tomorrow

[2017-07-27 22:25] D00Med commented on #108
@tobyplowy Ok

[2017-07-27 22:40] tobyplowy commented on #108
@D00Med I'm making fast progress on the biome survival list

[2017-07-27 22:55] tobyplowy commented on #108
@D00Med I will continue working on the biome survival list tomorrow you can already take a look at it
 (note its still wip)

N means there's nothing of that resource (N = bad)
X means there's not enoth of that resource (X = bad)
O means there's good amount of that resource (O = good)

or not enoth
<details><summary>list:</summary>

biome|wood|food|stone|tools|ores|danger
---|---|---|---|---|---|--

[2017-07-27 23:00] D00Med commented on #108
@tobyplowy Ok. The list thing is neat

[2017-07-27 23:06] tobyplowy commented on #108
@D00Med true thanks to dsminetest

[2017-07-27 23:20] tobyplowy commented on #108
@D00Med well I'm going now :)

[2017-07-27 23:33] D00Med commented on #108
@tobyplowy Ok, goodnight :)

[2017-07-28 20:47] tobyplowy commented on #108
@D00Med hi

[2017-07-28 21:17] D00Med commented on #108
@tobyplowy Hi

[2017-07-28 21:20] tobyplowy commented on #108
@D00Med do you have time to work on farlands?

[2017-07-28 21:22] D00Med commented on #108
@tobyplowy I think so, I'll start and see what happens xD

[2017-07-28 21:25] tobyplowy commented on #108
@D00Med ok :)

[2017-07-28 21:26] tobyplowy commented on #108
@D00Med also it seems like it isent possible to brake the fruit leves with your hand

[2017-07-28 21:27] D00Med commented on #108
@tobyplowy  Ok, I will fix it

[2017-07-28 21:27] tobyplowy commented on #108
@D00Med bdw can you voice chat?

[2017-07-28 21:32] D00Med commented on #108
@tobyplowy Not this month sorry, running out of data

[2017-07-28 21:34] tobyplowy commented on #108
@D00Med Ok I see

[2017-07-28 21:34] tobyplowy commented on #108
@D00Med I'm working on the tool textures

[2017-07-28 21:35] D00Med commented on #108
@tobyplowy Yeah, I'm actually using my younger siblings' school connection at the moment, because I did run out. Ok cool.

[2017-07-28 21:36] tobyplowy commented on #108
@D00Med Also gold is completely recolord so it's not so orange anymore :)

[2017-07-28 21:37] tobyplowy commented on #108
@D00Med haha lol

Well it's almost a new month so hang on just a little longer :)

[2017-07-28 21:42] tobyplowy commented on #108
@D00Med can you make Zombies Spawn At Night so there's some danger?

[2017-07-28 21:42] D00Med commented on #108
@tobyplowy Yep

[2017-07-28 21:46] tobyplowy commented on #108
Ok thanks

[2017-07-28 21:49] tobyplowy commented on #108
@D00Med so what exactly will you work on today again?

[2017-07-28 21:50] D00Med commented on #108
@tobyplowy Finishing adding the new nodes, fixing some things with mobs

[2017-07-28 21:51] tobyplowy commented on #108
@D00Med Also maybe an odd questionto ask but do your siblings also play Minetest?
And if so what do they think of it?

[2017-07-28 21:51] tobyplowy commented on #108
Ok

[2017-07-28 21:52] D00Med commented on #108
@tobyplowy My little sister does, she thinks it's good because it's easy to add weird new things.
But both her and my brother prefer minecraft.

[2017-07-28 21:54] D00Med commented on #108
@tobyplowy Can I add marble?

[2017-07-28 22:02] tobyplowy commented on #108
I understand why

I dunno can you?
Yes you can but make it genarate deep underground
Also This can be used for the Greek style blocks

[2017-07-28 22:04] D00Med commented on #108
@tobyplowy
Yeah that's what I was thinking.
I'm going now, enjoy the rest of your evening

[2017-07-28 22:05] tobyplowy commented on #108
@D00Med Ok bye :)

[2017-07-29 21:08] tobyplowy commented on #108
@D00Med hi

[2017-07-29 21:22] D00Med commented on #108
@tobyplowy Hi

[2017-07-29 21:35] tobyplowy commented on #108
@D00Med Ej How ja doin :)

[2017-07-29 21:49] D00Med commented on #108
@tobyplowy Good, you?

[2017-07-29 21:50] tobyplowy commented on #108
@D00Med I'm doing fine I made some more texture edits :)

[2017-07-29 21:51] tobyplowy commented on #108
Also we have our first farlands Letsplay :)

[2017-07-29 21:52] tobyplowy commented on #108
https://m.youtube.com/watch?v=hzRBfDGxSVM

[2017-07-29 21:53] D00Med commented on #108
@tobyplowy Ok. Cool, I'll watch it now

[2017-07-29 21:54] tobyplowy commented on #108
@D00Med yeh :)

[2017-07-29 21:56] tobyplowy commented on #108
@D00Med Also when will you add the cave crab and spidercrab
Also the zombie spawning at night

[2017-07-29 21:57] D00Med commented on #108
@tobyplowy I'm fixing the zombie spawning now, and I'll probably add the cave crab today or sometime this week.

[2017-07-29 21:58] tobyplowy commented on #108
@D00Med Ok nice :)

[2017-07-29 21:59] tobyplowy commented on #108
Bdw do you like the new gold tool color?

[2017-07-29 22:03] D00Med commented on #108
@tobyplowy Yes, it's a lot better

[2017-07-29 22:03] tobyplowy commented on #108
@D00Med thanks :)

[2017-07-29 22:05] tobyplowy commented on #108
@D00Med what do I work on now?

[2017-07-29 22:22] D00Med commented on #108
@tobyplowy ¯\_(ツ)_/¯

[2017-07-29 22:23] D00Med commented on #108
@tobyplowy Mobs maybe?

[2017-07-29 22:25] tobyplowy commented on #108
@D00Med Ok will do

[2017-07-29 22:30] tobyplowy commented on #108
@D00Med Also the lantarn glow may still need to be fixed

[2017-07-29 22:31] D00Med commented on #108
@tobyplowy It does

[2017-07-29 22:32] D00Med commented on #108
@tobyplowy But you already know that lol xD

[2017-07-29 22:32] tobyplowy commented on #108
@D00Med Well :)

[2017-07-29 22:33] D00Med commented on #108
@tobyplowy What is Stucco?

[2017-07-29 22:40] tobyplowy commented on #108
@D00Med it's some kind of clay or plaster I think, it was used for medival buildings

[2017-07-29 22:41] D00Med commented on #108
@tobyplowy Ok

[2017-07-29 22:42] tobyplowy commented on #108
@D00Med Just Google it to get an idea of what it is

[2017-07-29 22:46] D00Med commented on #108
@tobyplowy Ok

[2017-07-29 22:50] D00Med commented on #108
@tobyplowy Could you make the missing textures for the potted leaves?

[2017-07-29 22:51] tobyplowy commented on #108
@D00Med I think v1 is almost done

All that needs to be done is fixing the biomes so you can survive in them
Adding the needed crafting recipes
Maybe a craft guide (premade mod)
And maybe fix some bugs
@GreenXenith probably will not be done with the GUI anytime soon so that will be for v2

[2017-07-29 22:52] tobyplowy commented on #108
Can you add the code for them and add blank textures

[2017-07-29 23:12] tobyplowy commented on #108
@D00Med well I'm going now see you tomorrow

[2017-07-29 23:28] D00Med commented on #108
@tobyplowy Ok :) I think the code is already there.
Goodnight

[2017-07-30 05:41] GreenXenith commented on #108
Probably true that GUI wont be done any time soon :P
I will try to get the chests done soon - though I can't make any promises.

[2017-07-30 16:02] DS-Minetest commented on #108
I made some progress with the zombie brute. The only things that are missing are more attack types (box and dash) and maybe path searching using `minetest.find_path`.

[2017-07-30 20:59] tobyplowy commented on #108
@D00Med hi

@DS-Minetest nice and thank you

[2017-07-30 21:12] D00Med commented on #108
@tobyplowy Hi
@DS-Minetest Awesome :D

[2017-07-30 21:15] tobyplowy commented on #108
@D00Med do you have time for farlands today?

[2017-07-30 21:16] D00Med commented on #108
@tobyplowy No sorry

[2017-07-30 21:21] tobyplowy commented on #108
@D00Med ok

[2017-07-30 21:32] tobyplowy commented on #108
@D00Med I'm watching The Walking Dead so I probably won't be able to do anything today aswell

[2017-07-30 21:33] D00Med commented on #108
@tobyplowy Ok

[2017-07-30 23:33] tobyplowy commented on #108
@D00Med I'm going now :)

[2017-07-31 00:31] D00Med commented on #108
@tobyplowy Ok, bye

[2017-07-31 20:58] tobyplowy commented on #108
@D00Med hi

[2017-07-31 22:03] D00Med commented on #108
@tobyplowy Hi

[2017-07-31 22:06] tobyplowy commented on #108
@D00Med I will have to go yay progress XD

[2017-07-31 22:12] D00Med commented on #108
@tobyplowy Ok, goodnight. yeah progress xD

[2017-08-01 01:26] LoneWolfHT commented on #101
You should make players lose air when in kelp or other sea-plants. That would solve the air problem.
Also: You don't have any inventory textures for Pink Coral.

[2017-08-01 01:49] D00Med commented on #101
@LoneWolfHT I'm thinking of removing them until the visible air bubble thing can be fixed.

[2017-08-01 17:11] DS-Minetest commented on #108
Zombie brute can now dash and jump. I think, it's good enough now for a PR: #111

[2017-08-01 20:58] D00Med commented on #108
@DS-Minetest Awesome, thanks for this

[2017-08-01 21:00] D00Med commented on #108
@tobyplowy Hi

[2017-08-01 21:01] tobyplowy commented on #108
@D00Med hi

@DS-Minetest thank you for your effort :)

[2017-08-01 21:03] tobyplowy commented on #108
@D00Med it's a new month
When can we Voice chat exactly?

[2017-08-01 21:05] D00Med commented on #108
@tobyplowy Whenever I have the time, which probably won't be for a few weeks unfortunately :(

[2017-08-01 21:06] tobyplowy commented on #108
@D00Med I see

I was just going to start a drawing :)

[2017-08-01 21:07] tobyplowy commented on #108
@D00Med And after that I will work some more on farlands

I'm wondering can we finish v1 in the coming month?

[2017-08-01 21:08] D00Med commented on #108
@tobyplowy Hehe trust me, I've got a lot to do over the next two weeks.
Ok, cool.
I really hope so

[2017-08-01 21:11] tobyplowy commented on #108
@D00Med well me too

[2017-08-01 22:21] tobyplowy commented on #108
@D00Med when will you be able to work on farlands again?

[2017-08-01 22:38] D00Med commented on #108
@tobyplowy I really can't say.
I've got assignments this week, and next week I'll probably be reading all day until the weekend

[2017-08-01 22:39] tobyplowy commented on #108
@D00Med Oh I see :/

[2017-08-02 00:15] tobyplowy commented on #108
@D00Med did you make that marble texture

[2017-08-02 00:42] D00Med commented on #108
@tobyplowy Yeah

[2017-08-02 00:43] tobyplowy commented on #108
@D00Med Nice texture :)

[2017-08-02 00:43] D00Med commented on #108
@tobyplowy Thanks :)

[2017-08-02 00:44] tobyplowy commented on #108
How do you get marble in survival is it an ore?

[2017-08-02 00:46] D00Med commented on #108
@tobyplowy
Yeah, same as the other stone types

[2017-08-02 00:46] D00Med commented on #108
![](http://www.hartzstone.com/blog/images/012_14A.JPG)
A barcode quarry xD

[2017-08-02 00:48] tobyplowy commented on #108
@GreenXenith you showed me a working test version of the GUI ones (a while ago)
Is that stable (we can use it for v1 as temporary solution) do you still have it?

[2017-08-02 00:49] tobyplowy commented on #87
@GreenXenith you showed me a working test version of the GUI ones (a while ago)
Is that stable (we can use it for v1 as temporary solution) do you still have that?

[2017-08-02 00:50] tobyplowy commented on #108
Lol nice

[2017-08-02 00:51] tobyplowy commented on #108
@D00Med is the PR that DS-Minetest made good to be merged?

[2017-08-02 00:54] tobyplowy commented on #108
@D00Med I have to go to bed :)

[2017-08-02 00:57] tobyplowy commented on #108
@D00Med if it doesn't brake the game than it's good for me :)

[2017-08-02 01:55] GreenXenith commented on #87
Definitely not stable.

[2017-08-02 02:39] D00Med commented on #108
@tobyplowy Ok

[2017-08-02 10:57] DS-Minetest commented on #108
I think, @GreenXenith wrote on irc with Wuzzy:
http://irc.minetest.ru/minetest/2017-08-01#i_5029818

[2017-08-02 14:13] tobyplowy commented on #108
@DS-Minetest thanks for reporting :)

Do you still not have a skin?

[2017-08-02 14:15] tobyplowy commented on #87
@GreenXenith Oh ok I see

[2017-08-02 17:42] GreenXenith commented on #108
Yep. We discovered a bug in Minetest. How fun :/

[2017-08-02 17:45] tobyplowy commented on #108
@GreenXenith hih diddent see that coming XD

Also If you haven't already please report it on the minetest github :)

[2017-08-02 17:47] GreenXenith commented on #108
Wuzzy already did. [#6195](https://github.com/minetest/minetest/issues/6195)

[2017-08-02 18:26] DS-Minetest commented on #108
Well, the issue is well known and not new…

Heh, it's funny how so many times on issues of minetest are referenced to here.

[2017-08-02 20:19] tobyplowy commented on #108
@DS-Minetest thats because minetest is such a great engine XD

[2017-08-02 21:09] DS-Minetest commented on #108
I just recognized that the question was asked to me:

Yes.

[2017-08-02 21:29] D00Med commented on #108
Hello.
It's a shame about the bug.

[2017-08-02 21:32] tobyplowy commented on #108
@D00Med hey

[2017-08-02 21:33] D00Med commented on #108
@tobyplowy How are you?

[2017-08-02 21:36] tobyplowy commented on #108
@D00Med I'm good how are you

[2017-08-02 21:43] D00Med commented on #108
@tobyplowy that's good. I'm good thanks

[2017-08-02 21:44] tobyplowy commented on #108
@D00Med Good

[2017-08-02 21:46] tobyplowy commented on #108
@D00Med can you please make horses zebras elephants and sheep spawn in the world?

[2017-08-02 21:52] D00Med commented on #108
@tobyplowy I think they already should, let me just check

[2017-08-02 21:55] tobyplowy commented on #108
@D00Med also why do mobs almost never spawn with full health?

[2017-08-02 21:59] D00Med commented on #108
@tobyplowy I don't know why that's happening, it's really weird

[2017-08-02 22:01] tobyplowy commented on #108
@D00Med Oh boy This will be fun XD

[2017-08-02 22:02] D00Med commented on #108
@tobyplowy I found out why it's been happening, the maximum number of mobs that can spawn for each type is 0 :/ And I probably have the same mistake in one of my other mob mods, but I forget which one I used for the farlands mobs

[2017-08-02 22:03] tobyplowy commented on #108
Aahhh I see

[2017-08-02 22:07] tobyplowy commented on #108
@D00Med we shuld add barcode ore lol jk

[2017-08-02 22:17] tobyplowy commented on #108
@D00Med I'm working on some more texures

[2017-08-02 22:18] D00Med commented on #108
@tobyplowy Ok, nice

[2017-08-02 22:19] tobyplowy commented on #108
@D00Med did you fix the spawning problem?

[2017-08-02 22:31] D00Med commented on #108
@tobyplowy Haven't tested it yet, but hopefully yes

[2017-08-02 22:37] tobyplowy commented on #108
@D00Med Ok

[2017-08-02 23:27] tobyplowy commented on #108
@D00Med can you guess what this is?

![mobs_chicken_raw](https://user-images.githubusercontent.com/16853304/28899352-d4a8a532-77ea-11e7-90e6-922a8053af3e.png)

[2017-08-02 23:46] GreenXenith commented on #108
<details>
  <summary>I know what it is... </summary>
   It's chicken.
</details>

[2017-08-02 23:51] tobyplowy commented on #108
@GreenXenith did you guess it or did you get the image name?

[2017-08-02 23:52] tobyplowy commented on #108
@GreenXenith also yes it's correct :)

[2017-08-03 00:01] D00Med commented on #108
@tobyplowy It does look like chicken

[2017-08-03 00:02] tobyplowy commented on #108
@D00Med good I was doubting myself there for a second (I wasn't sure if it was clear enough)

[2017-08-03 00:03] D00Med commented on #108
@tobyplowy Nah it's good

[2017-08-03 00:04] tobyplowy commented on #108
@D00Med ok good :)

[2017-08-03 00:21] tobyplowy commented on #108
@D00Med I'm going now

[2017-08-03 00:23] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-03 20:40] tobyplowy commented on #108
@D00Med hi

[2017-08-03 21:34] tobyplowy commented on #108
@D00Med Are you still working on the legend of Mt?

[2017-08-03 21:53] D00Med commented on #108
@tobyplowy As much as I'm still working on Farlands

[2017-08-03 22:01] tobyplowy commented on #108
@D00Med Ah I see

What have you added since last time?

[2017-08-03 22:01] D00Med commented on #108
Last time being when?

[2017-08-03 22:06] tobyplowy commented on #108
@D00Med When you added climbing and the glow effect

[2017-08-03 22:09] D00Med commented on #108
@tobyplowy Mostly I just fixed some things. Nothing really exciting. I did add a door that looks like normal stone :D

[2017-08-03 22:26] tobyplowy commented on #108
@D00Med ah cool

[2017-08-03 22:27] tobyplowy commented on #108
@D00Med would I be allowed to work on the legend of Mt?

Texture improvements and adding new blocks

[2017-08-03 22:28] D00Med commented on #108
@tobyplowy Sure

[2017-08-03 22:33] tobyplowy commented on #108
Can you give me the link (pun not intended) for the unstable bransh

[2017-08-03 23:22] D00Med commented on #108
@tobyplowy Yep, here it is https://github.com/D00Med/LegendofMinetest/tree/Update-July-2017

[2017-08-03 23:23] D00Med commented on #108
@tobyplowy Sorry I take so long to reply.
I'm writing an essay/

[2017-08-03 23:27] tobyplowy commented on #108
@DS-Minetest i just remembered you mentioned you wanted to do more work after you were done with the zombie brute are you still up for that and if so what would you like to do

[2017-08-03 23:27] tobyplowy commented on #108
@D00Med No problem

[2017-08-04 00:19] D00Med commented on #108
@tobyplowy I should go. Talk later

[2017-08-04 00:20] tobyplowy commented on #108
@D00Med ok

[2017-08-04 10:07] DS-Minetest commented on #108
@tobyplowy Currently I have not much imagination what would be good to be done in farlands. The only thing would be to rewrite some code to replace deprecated functions, improve the style and make it a bit more performant.

[2017-08-04 10:34] tobyplowy commented on #108
@DS-Minetest you can work on what you whant

thats also good XD

[2017-08-05 19:51] tobyplowy commented on #108
@D00Med @GreenXenith @LoneWolfHT @DS-Minetest please take a moment to vote on what derection minetest game should go in game or modding bace (I whant it to be a game)
http://www.strawpoll.me/13633573

[2017-08-05 19:56] tobyplowy commented on #108
Also shere it with friends and others

I will be online in 1 hour and a half (rufly)

[2017-08-05 21:32] tobyplowy commented on #108
@D00Med Hi

[2017-08-05 22:22] D00Med commented on #108
@tobyplowy Hi

[2017-08-05 22:24] tobyplowy commented on #108
@D00Med sorry for not showing up yesterday

[2017-08-05 22:24] D00Med commented on #108
@tobyplowy That's ok. I was away anyway😅

[2017-08-05 22:26] tobyplowy commented on #108
@D00Med Ha ok

[2017-08-05 22:28] tobyplowy commented on #108
@D00Med I'm really demotivated to farlands the last couple of months and it really sucks :/

[2017-08-05 22:33] D00Med commented on #108
@tobyplowy I noticed. Don't worry, it happens.

[2017-08-05 22:37] tobyplowy commented on #108
@D00Med no this is bad news I'm buring out of farlands and minetest in genral

This vote pool is just another example http://www.strawpoll.me/13633573 that all that is done for minetest is useless the core devs will not even look at this but I have to try!

[2017-08-05 22:44] D00Med commented on #108
??
Oh ok(I get the general idea of what you're saying).
I wouldn't say useless. I think maybe they could add more useful features, but I don't know how much work they put into it so I don't think it's right to say. Certainly though I think they should work on improving the engine for now, because that will help the game become a lot better. Things like glowing/animated particles, or improving the

[2017-08-05 22:44] D00Med commented on #108
@tobyplowy Forgot a double space X|

[2017-08-05 22:48] D00Med commented on #108
@tobyplowy lol, I've got two ip addresses, I can vote twice xD

[2017-08-05 22:50] tobyplowy commented on #108
Sorry I meant burning out

As in I'm getting tired of it anoyed and frustrated
Don't get me wrong farlands is an amazing project and I'm really happy that you help me with it but it's just not going anywhere (not with minetest at least)
And all the limitations just ruine everything if only I was able to program so I can make farlands what it truly deserves to be!

[2017-08-05 22:50] tobyplowy commented on #108
@D00Med also nice

[2017-08-05 22:55] tobyplowy commented on #108
@D00Med I'm also really Getting frustrated on trying to find something and I have been looking For A long time but cant find it
I just recently found this song (yesterday) and it's good to say the least I'm not really a Big fan Of My Little Pony and the lyrics if you can call it that but that background music is So Good and I need to find what genre of music that is can you help (I'm guessing it's

[2017-08-05 23:02] D00Med commented on #108
@tobyplowy Oh ok, makes more sense now.
Yeah. I hate to say it, but you should probably find someone else to do some of the coding if you want faster progress. I still want to contribute whenever I can, but the reality of it is that I can't work very fast.

Oh crap I forgot to go into private browsing xD It sounds kind of like progressive house and like trance. Might be worth comparing trance and

[2017-08-05 23:07] tobyplowy commented on #108
@D00Med I'm not saying you're doing a bad job I'm just saying that minetest probably won't get it for my idea of the project for now it will have to do but I will look for alternatives even if it's an edit of the minetest engine

Also thanks for the tip about the music

[2017-08-05 23:08] D00Med commented on #108
@tobyplowy Ok. It'd be nice to know how to edit the engine...not that I'm going to learn xD
You're welcome

[2017-08-05 23:10] tobyplowy commented on #108
Yeh that would be amazing :)

[2017-08-05 23:15] tobyplowy commented on #108
@D00Med so how is your motivation on farlands and minetest?

[2017-08-05 23:19] D00Med commented on #108
@tobyplowy It's there xD

[2017-08-05 23:20] tobyplowy commented on #108
@D00Med lol

[2017-08-05 23:26] D00Med commented on #108
@tobyplowy I really want to finish v1 of Farlands soon.
I forgot to mention, I'll be away for two weeks, starting on the 28th(or 27th for you)

[2017-08-05 23:34] tobyplowy commented on #108
@D00Med Yeh me too

Well I guess that's ok

[2017-08-05 23:40] D00Med commented on #108
@tobyplowy Could you add a list of things for me to do for v1 to the projects page?

[2017-08-05 23:42] tobyplowy commented on #108
@D00Med Yeh

[2017-08-05 23:48] D00Med commented on #108
@tobyplowy Thanks

[2017-08-05 23:49] tobyplowy commented on #107
@LoneWolfHT i will have to close soon

[2017-08-05 23:49] tobyplowy commented on #106
i fixed this

[2017-08-05 23:49] #106 closed

[2017-08-05 23:53] tobyplowy commented on #109
@D00Med things that are not filled in are good

[2017-08-05 23:53] tobyplowy commented on #98
this is a hard one it wount make v1

[2017-08-05 23:56] D00Med commented on #109
@tobyplowy Ok, I will work on this

[2017-08-05 23:58] tobyplowy commented on #94
@D00Med what are your ideas on this an can it be done for v1?

[2017-08-06 00:01] tobyplowy commented on #109
@D00Med ok im still working on the todo list

[2017-08-06 00:06] D00Med commented on #94
@tobyplowy I think just finishing the basic things, like lamps and the pistons is best for v1.
Most important though is getting cables and pipes to work properly

[2017-08-06 00:22] tobyplowy commented on #108
There that's the to-do list for v1 https://github.com/D00Med/farlands/projects/2

[2017-08-06 00:22] tobyplowy commented on #108
@D00Med I think that's all

[2017-08-06 00:23] tobyplowy commented on #108
@D00Med I have to go now see you later

[2017-08-06 00:26] D00Med commented on #108
@tobyplowy Ok, thanks.
Bye

[2017-08-06 18:56] LoneWolfHT commented on #107
Ok. Having problems with my computer recently. Had to re-download MT.

[2017-08-06 18:58] LoneWolfHT commented on #108
This can help me understand what poeple do in this subgame also it's a good way to talk about what you like and what not :)
I did a video but the FPS is so bad it's like watching a SLOW slideshow lol

[2017-08-06 20:48] tobyplowy commented on #108
@LoneWolfHT so where is it :)

[2017-08-06 20:48] tobyplowy commented on #108
@D00Med hi

[2017-08-06 21:14] D00Med commented on #108
Hello

[2017-08-06 21:14] D00Med commented on #108
@LoneWolfHT If it's too slow then that's ok

[2017-08-06 21:16] tobyplowy commented on #108
@D00Med I'm not sure what to Talk About XD

[2017-08-06 21:18] D00Med commented on #108
@tobyplowy Me neither

[2017-08-06 21:21] tobyplowy commented on #108
@D00Med well than XD

[2017-08-06 21:22] tobyplowy commented on #108
@D00Med Have you ever thought about helping with mindest game development?

[2017-08-06 21:24] D00Med commented on #108
@tobyplowy Yeah, but I'm a sloppy coder.
I'm not sure how I will be able to reduce the size of the crafting grid. Last time I tried it was technically shaped wrong, but visually correct.

[2017-08-06 21:28] tobyplowy commented on #108
@D00Med ha I see well you can help with textures
Didn't the Legend of minetest have a 2x2 inventory grid? (If so you may be able to copy some code)
Also I'm learning to make digital music (I'm super bad at it!) But This can be useful also Sam doesent seem to respond :/

[2017-08-06 21:29] tobyplowy commented on #108
@D00Med also is it possible to add transparency to a Skybox texture?
If so I may add mountains in the distance with use of skybox

[2017-08-06 21:30] D00Med commented on #108
@tobyplowy Yeah.
Yes, that's what I meant by last time, it didn't work properly.
Oh ok, that's cool. Yeah but you're just starting.

I don't know :P

[2017-08-06 21:32] tobyplowy commented on #108
@D00Med wow that was confusing

Also when can you voice chat

[2017-08-06 21:51] D00Med commented on #108
@tobyplowy Yeah xD
Umm idk yet.

[2017-08-06 21:52] tobyplowy commented on #108
@D00Med ok

[2017-08-06 21:53] tobyplowy commented on #108
@D00Med Have you had time to work of farlands yet?

[2017-08-06 22:03] D00Med commented on #108
@tobyplowy Not yet, I might work on it a bit this evening.
It's very unlikely I'll have time this week

[2017-08-06 22:10] tobyplowy commented on #108
@D00Med Aah ok

[2017-08-06 22:19] D00Med commented on #108
@tobyplowy Yeah. It's going to be tricky getting v1 done this month, not impossible though

[2017-08-06 22:40] tobyplowy commented on #108
@D00Med yeh I sort of already knew that XD

[2017-08-06 23:19] tobyplowy commented on #108
@D00Med well I'm going now have a good day :)

[2017-08-06 23:41] D00Med commented on #108
@tobyplowy ok, you too

[2017-08-07 11:04] DS-Minetest commented on #108
Afaik you have to set the amount of slots to the player inventory "main" (normally 8*4=32) in `player.lua` and change the inventory formspec (also in `player.lua`).

[2017-08-07 20:56] D00Med commented on #108
Hi
@DS-Minetest Ok, I'll try that and see what happens

[2017-08-07 20:58] tobyplowy commented on #108
@D00Med hi

[2017-08-07 21:00] tobyplowy commented on #108
@D00Med do you need a boat model for your vihicles mod?
(Note its not made from cubes)

[2017-08-07 21:00] D00Med commented on #108
@tobyplowy idk, do I? xD

[2017-08-07 21:01] tobyplowy commented on #108
@D00Med I dunno do you? XD

[2017-08-07 21:03] D00Med commented on #108
@tobyplowy it wouldn't hurt to have another

[2017-08-07 21:06] tobyplowy commented on #108
@D00Med hih yeh :)

[2017-08-07 21:07] tobyplowy commented on #108
[boat.zip](https://github.com/D00Med/farlands/files/1206154/boat.zip)

[2017-08-07 21:08] tobyplowy commented on #108
Dount think I diddent see that :)

[2017-08-07 21:09] tobyplowy commented on #108
Naild it XD

[2017-08-07 21:12] D00Med commented on #108
@tobyplowy Nice model!

[2017-08-07 21:12] tobyplowy commented on #108
@D00Med Thanks :)

[2017-08-07 21:13] tobyplowy commented on #108
@D00Med next time that we voice chat can you show me how to animate

[2017-08-07 21:14] D00Med commented on #108
@tobyplowy Sure

[2017-08-07 21:14] tobyplowy commented on #108
Yay

[2017-08-07 21:17] tobyplowy commented on #108
@D00Med also i baced my boat off of this
![image](https://user-images.githubusercontent.com/16853304/29046128-652af266-7bc6-11e7-9b61-d9e92b9d3f09.png)

i hope i put the sail in the correct posision XD

[2017-08-07 21:20] D00Med commented on #108
@tobyplowy Ok. idk :'D

[2017-08-07 21:22] tobyplowy commented on #108
@D00Med if it's wrong I hope no one notices XD

Also I can't get over that username Osama bin laden It's so perfectly funny

[2017-08-07 21:22] D00Med commented on #108
@tobyplowy So terribly appropriate

[2017-08-07 21:23] tobyplowy commented on #108
@D00Med bdw I think I changed firework_pop_*.ogg

Yeh XD

[2017-08-07 21:28] D00Med commented on #108
@tobyplowy How?

[2017-08-07 21:32] tobyplowy commented on #108
@D00Med I think I added a new sound or maybe it was the Firework wissle sound :/

[2017-08-07 21:34] D00Med commented on #108
@tobyplowy Ok

[2017-08-07 21:40] tobyplowy commented on #108
@D00Med also have you seen the textures I added in the bace project folder
Those are for future content if your still interested in farlands after V1

[2017-08-07 21:41] D00Med commented on #108
@tobyplowy Yeah I saw. And I'm definitely interested

[2017-08-07 21:41] D00Med commented on #108
@tobyplowy They're for dimensions right?

[2017-08-07 21:46] tobyplowy commented on #108
@D00Med Yeh for hell to be correct :)

[2017-08-07 21:53] D00Med commented on #108
@tobyplowy Have you ever seen a pineapple in the mapgen? I don't remember if I added them or not

[2017-08-07 21:54] tobyplowy commented on #108
@D00Med Nope i never have

[2017-08-07 21:56] D00Med commented on #108
@tobyplowy Me neither

[2017-08-07 21:57] tobyplowy commented on #108
@D00Med Well I guess that conferms it XD

[2017-08-07 22:00] tobyplowy commented on #108
@D00Med I forgot to add the vilage book to the V1 todo

[2017-08-07 22:02] D00Med commented on #108
@tobyplowy village book?

[2017-08-07 22:06] tobyplowy commented on #108
@D00Med the tutorial book that explains how to make a vilage house

[2017-08-07 22:07] D00Med commented on #108
@tobyplowy Ok

[2017-08-07 22:10] tobyplowy commented on #108
@D00Med This thing
https://github.com/D00Med/farlands/blob/master/mods/tools/textures/tools_village_book.png

And later if @GreenXenith can add the journal to the GUI it can be added to that

[2017-08-07 22:13] D00Med commented on #108
@tobyplowy Ok

[2017-08-07 22:19] tobyplowy commented on #108
@D00Med so what are you doing at the moment brecfest XD

[2017-08-07 22:42] tobyplowy commented on #108
@D00Med I'm going now have a nice day :)

[2017-08-07 22:46] D00Med commented on #108
@tobyplowy Nope, studying.
Ok, you too

[2017-08-08 09:48] D00Med commented on #108
@tobyplowy Hey I don't suppose you got a strange (extremely long) PM on the forums? from a user called Zachtest?

[2017-08-08 09:48] D00Med commented on #108
@GreenXenith @DS-Minetest Or either of you?

[2017-08-08 14:54] GreenXenith commented on #108
Everyone on the forum got one. I am still trying to figure out why and what it's about.

[2017-08-08 20:53] tobyplowy commented on #108
@D00Med hi

[2017-08-08 20:54] tobyplowy commented on #108
@GreenXenith so what was it about?

[2017-08-08 21:27] D00Med commented on #108
I didn't read the whole thing, just some sections, and I skim read it. It's not very well written.
I don't remember the exact examples, but there were a few things in it that were totally senseless, so I guess it's just trolling.

[2017-08-08 21:29] D00Med commented on #108
@tobyplowy Hi

[2017-08-08 21:44] tobyplowy commented on #108
@D00Med hi

[2017-08-08 21:45] D00Med commented on #108
@tobyplowy how are you?

[2017-08-08 21:45] tobyplowy commented on #108
@D00Med im fine how are you

[2017-08-08 21:46] tobyplowy commented on #108
@D00Med i just finished a new model :D

[2017-08-08 21:46] tobyplowy commented on #108
whats that mob?
![whos_that_mob_dodo](https://user-images.githubusercontent.com/16853304/29096050-910347c6-7c93-11e7-9e50-1e573f54df36.png)

[2017-08-08 21:55] tobyplowy commented on #108
@D00Med and the page is not refreshing XD

[2017-08-08 21:56] D00Med commented on #108
@tobyplowy I'm good thanks.
Nice. A dodo(I cheated :P)

[2017-08-08 21:58] tobyplowy commented on #108
How the forums?

[2017-08-08 21:58] D00Med commented on #108
@tobyplowy Yeah

[2017-08-08 22:00] tobyplowy commented on #108
@D00Med also that pm was way too long to just be a troll

[2017-08-08 22:00] tobyplowy commented on #108
![whos_that_mob_dodo](https://user-images.githubusercontent.com/16853304/29096516-8df2c122-7c95-11e7-8dd3-785f41c71e84.png)
[dodo.zip](https://github.com/D00Med/farlands/files/1209686/dodo.zip)

[2017-08-08 22:07] D00Med commented on #108
@tobyplowy Maybe. It was pretty bad writing to be serious though.

[2017-08-08 22:10] tobyplowy commented on #108
@D00Med Heh did the guy that posted the pr's get banned?

[2017-08-08 22:16] D00Med commented on #108
@tobyplowy No?

[2017-08-08 22:21] tobyplowy commented on #108
@D00Med so it can't be a troll becouse if he was he would have been banned

[2017-08-08 22:33] D00Med commented on #108
@tobyplowy I guess

[2017-08-08 22:40] tobyplowy commented on #108
@D00Med did you get the dodo model

[2017-08-08 22:55] D00Med commented on #108
@tobyplowy Yeah, it's good

[2017-08-08 22:58] tobyplowy commented on #108
@D00Med thanks I don't want to brag or Anything but everything I make is good XD jk

[2017-08-08 23:27] tobyplowy commented on #108
@D00Med do you play Any other free open source games?
I don't know alot 2 to be prisised minetest and super tux cart (i have never played super tux cart but it looks good)

[2017-08-08 23:37] D00Med commented on #108
@tobyplowy I play Sauerbraten and Assault Cube sometimes, but they're a little too fast for my liking.
Yeah super tux cart does look pretty good.

[2017-08-08 23:39] tobyplowy commented on #108
@D00Med wasent Sauerbraten dead?

[2017-08-08 23:41] D00Med commented on #108
@tobyplowy Idk? I downloaded it years ago.
My first minetest mod added nodes using textures from that game, it was the precursor to scifi nodes.

[2017-08-08 23:42] tobyplowy commented on #108
@D00Med ahh I see

[2017-08-08 23:43] tobyplowy commented on #108
@D00Med do you also make content for Assault Cube?

[2017-08-08 23:44] tobyplowy commented on #108
@D00Med also
http://cubeengine.com

[2017-08-08 23:45] D00Med commented on #108
@tobyplowy Nope. The most I've tried was a map, but I gave up.
Yeah that's it. I think Red Eclipse would probably be pretty good

[2017-08-08 23:46] tobyplowy commented on #108
@D00Med yeh Red Eclipse looks pretty good :)

[2017-08-08 23:53] D00Med commented on #108
@tobyplowy The only other game I really do modding for is Doom.
I've had a little go at editing Daggerfall and some of the Pokemon games.
Do you do anything for other games?

[2017-08-08 23:55] tobyplowy commented on #108
@D00Med at the moment no but I have helpt with a mod for Starbound

[2017-08-08 23:56] tobyplowy commented on #108
https://steamcommunity.com/sharedfiles/filedetails/?id=736336678&searchtext=

[2017-08-08 23:59] D00Med commented on #108
@tobyplowy That's cool!

[2017-08-09 00:00] tobyplowy commented on #108
@D00Med thanks :)

[2017-08-09 00:01] tobyplowy commented on #108
@D00Med Do you know any other Projects I can help?

[2017-08-09 00:03] D00Med commented on #108
@tobyplowy No sorry, not that you don't already know of.

[2017-08-09 00:05] tobyplowy commented on #108
@D00Med I see

[2017-08-09 00:06] tobyplowy commented on #108
@D00Med I'm really trying my best to find things to talk about XD

Why do you not use gimp?

[2017-08-09 00:08] D00Med commented on #108
@tobyplowy Haha I noticed xD
It loads slowly and it's dauntingly complicated...aka I'm lazy.
Why do you use gimp?
Also I'm going now, talk later.

[2017-08-09 00:10] tobyplowy commented on #108
@D00Med I use gimp because it's the closest to Photoshop you can get for free

Also see you tomorrow have a good day

[2017-08-09 04:33] GreenXenith commented on #108
About that strange PM: Ignore it. He has done similar things in the past. For the devs to deal with - not us.

[2017-08-09 10:39] tobyplowy commented on #108
@GreenXenith thanks for clarifying :)

[2017-08-09 10:44] tobyplowy commented on #108
farlandier or farlander what do you guys think of those names?
It will be used to name poeple that play our game ;)

Like for Minecraft (minecrafters)
And Starbound (Starbounders)

[2017-08-09 16:16] DS-Minetest commented on #108
I think the thing on the image is no sail pole, the boat looks like a fisher boat with an engine.

[2017-08-09 16:25] tobyplowy commented on #108
@DS-Minetest I know there is no sail on the image but Every boat has a sail right?
And yes I know it's a fishers boat in fact it's an old Fisher boat because that's what I googled to get that image XD

[2017-08-09 21:04] tobyplowy commented on #108
@D00Med hi

[2017-08-09 21:33] D00Med commented on #108
@tobyplowy Hi :) I think Farlander is good

[2017-08-09 21:38] tobyplowy commented on #108
@D00Med Ok from now on we shuld begin our farlands update posts with dear farlanders good?

[2017-08-09 21:39] D00Med commented on #108
@tobyplowy Ok then

[2017-08-09 21:41] tobyplowy commented on #108
@D00Med I just bought my new game pc in wanting for it to be delivered to the store so I can get it I can't wait to have absolute FUKING POWER!!!!!
Sorry I just had to say it XD

[2017-08-09 21:41] D00Med commented on #108
@tobyplowy It's a good feeling lol.

[2017-08-09 21:42] tobyplowy commented on #108
@D00Med yeh especially after a long time I've been waiting for it XD

[2017-08-09 21:44] tobyplowy commented on #108
@D00Med So yeh is there any models you need for the legend of mt

[2017-08-09 21:45] D00Med commented on #108
@tobyplowy Just a better horse model, but I kind of want to do that myself

[2017-08-09 21:50] tobyplowy commented on #108
@D00Med also I think we should do the update names different than normal

Instead of v1.0 i think we make it v1 and than a name something like V1 the beginning
And instead of v1.1 we do V1 the beginning fix 1
And than for the next big update we use V2 insert name here

It's easier to read the update names and understand what they are
Tell me what you think

[2017-08-09 21:54] D00Med commented on #108
@tobyplowy Ok, that's a good idea.
Haha yeah horses are awkward animals xD

[2017-08-09 22:02] tobyplowy commented on #108
Lol

[2017-08-09 22:24] D00Med commented on #108
@tobyplowy I have to go, goodnight

[2017-08-09 22:26] tobyplowy commented on #108
Ok

[2017-08-10 21:17] tobyplowy commented on #108
@D00Med hi

[2017-08-10 21:57] D00Med commented on #108
@tobyplowy Hello

[2017-08-10 22:10] tobyplowy commented on #108
@D00Med :)

[2017-08-10 22:26] D00Med commented on #108
@tobyplowy what's new?

[2017-08-10 22:34] tobyplowy commented on #108
@D00Med I made temp copper tool textures

And I'm making a log model :)

[2017-08-10 22:37] D00Med commented on #108
@tobyplowy Ok, nice 👍

[2017-08-10 22:39] tobyplowy commented on #108
@D00Med :)

[2017-08-10 22:47] D00Med commented on #108
@tobyplowy I haven't worked on anything since the last commit.

[2017-08-10 22:58] tobyplowy commented on #108
@D00Med I know XD

[2017-08-10 23:04] D00Med commented on #108
@tobyplowy should the village book use pictures rather than words?

[2017-08-10 23:12] tobyplowy commented on #108
@D00Med is worked and pictures also good

A picture of the subject in Question on Top and some text that explains what it is and how to use it

[2017-08-10 23:21] D00Med commented on #108
@tobyplowy Yeah that'd be good.
I was thinking it should looks like messy notes.

[2017-08-10 23:23] tobyplowy commented on #108
@D00Med Yeh that will look super good

You just add a background image and I will make the magic happen XD

[2017-08-10 23:23] D00Med commented on #108
@tobyplowy Ok :D

[2017-08-10 23:24] D00Med commented on #108
@tobyplowy I think I still have a blank template from when I made the potion recipe scroll

[2017-08-10 23:26] tobyplowy commented on #108
@D00Med ok :)

[2017-08-10 23:29] tobyplowy commented on #108
@D00Med maybe making it look like a messy book would look good?

[2017-08-10 23:35] D00Med commented on #108
![example](https://user-images.githubusercontent.com/19916704/29196550-6673f4ec-7e78-11e7-8ffb-15ce767da377.PNG)
Something like this?

[2017-08-10 23:38] D00Med commented on #108
@tobyplowy just deleting all the "hi"'s and "bye"'s

[2017-08-10 23:48] tobyplowy commented on #108
@D00Med  No more like a book

(Snif) aaah it's that time of year again (it's comment removeing season)

[2017-08-10 23:49] D00Med commented on #108
@tobyplowy Ok

[2017-08-10 23:51] tobyplowy commented on #108
@D00Med give me a sec I'm making a concept

[2017-08-11 00:00] tobyplowy commented on #108
![29196550-6673f4ec-7e78-11e7-8ffb-15ce767da377](https://user-images.githubusercontent.com/16853304/29197047-e85e1ef0-7e38-11e7-9f5b-3e146d22e3f8.png)

[2017-08-11 00:01] tobyplowy commented on #108
![29196550-6673f4ec-7e78-11e7-8ffb-15ce767da377](https://user-images.githubusercontent.com/16853304/29197055-f20aee2e-7e38-11e7-800d-f4d1367e9b18.png)

[2017-08-11 00:01] D00Med commented on #108
That can be done

[2017-08-11 00:02] tobyplowy commented on #108
@D00Med NOTE the book bg is just a temp texture to give you an idea just sayin XD

i will make a better one later

[2017-08-11 00:04] D00Med commented on #108
@tobyplowy ok

[2017-08-11 00:05] tobyplowy commented on #108
@D00Med also making textures like that book is so easy with blender

thanks again for lerning me how to use it :D

[2017-08-11 00:12] D00Med commented on #108
@tobyplowy Ok. You're welcome :)

[2017-08-11 00:28] tobyplowy commented on #108
@D00Med I have to go now have a good day :)

[2017-08-11 00:29] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-11 21:24] tobyplowy commented on #108
@D00Med hi

[2017-08-11 21:44] D00Med commented on #108
@tobyplowy Hello

[2017-08-11 21:45] tobyplowy commented on #108
Random text XD

[2017-08-11 21:47] D00Med commented on #108
@tobyplowy People are liking the farlands screenshot that went up on the forums

[2017-08-11 21:48] tobyplowy commented on #108
@D00Med what screenshots?
The first ones posted by you on the farlands topic?

[2017-08-11 21:49] D00Med commented on #108
@tobyplowy In the "post your screenshots" thread

[2017-08-11 21:50] tobyplowy commented on #108
I will have a look

[2017-08-11 21:53] tobyplowy commented on #108
@D00Med we need to give them more :)

[2017-08-11 22:08] tobyplowy commented on #108
@D00Med is the lava and water texture in the legend of mt made by you?

[2017-08-11 22:08] D00Med commented on #108
@tobyplowy Yes

[2017-08-11 22:09] D00Med commented on #108
@tobyplowy Unfortunately the water texture looks a bit ugly when there are areas with the animation out of sync :(

[2017-08-11 22:10] tobyplowy commented on #108
@D00Med 100% made by you or did you use a bace (like the fire?)

[2017-08-11 22:11] D00Med commented on #108
@tobyplowy 100%, unless I've forgotten (which is quite likely)

[2017-08-11 22:13] tobyplowy commented on #108
Yes I know I already have told that some textures look bad out of sinc to the Mt devs but they say it looks "more realistic and natural" (sounds to me that they are idiots!)

[2017-08-11 22:20] D00Med commented on #108
@tobyplowy It depends on the type of animation. It's better for some, but not for others.

[2017-08-11 22:27] tobyplowy commented on #108
@D00Med hey maybe

[2017-08-11 22:33] D00Med commented on #108
@tobyplowy I hope we can have textures stretched across multiple nodes someday.
I think there's a pr for it

[2017-08-11 22:37] tobyplowy commented on #108
@D00Med Yes there is and I requested it :D

[2017-08-11 22:37] tobyplowy commented on #108
And I think it was merged

[2017-08-11 22:38] D00Med commented on #108
@tobyplowy Awesome

[2017-08-11 22:39] D00Med commented on #108
@tobyplowy Fingers crossed for the directional lighting.
What features would you like to see?

[2017-08-11 22:42] tobyplowy commented on #108
@D00Med Actual dinamic lighting (Google Minecraft shader mod for an idea of what I mean) and a good mob api

[2017-08-11 22:46] D00Med commented on #108
@tobyplowy Dynamic as in lighting that isn't restricted to nodes?
I think pitch and roll for entities would be great, and custom use animations for items and tools.

[2017-08-11 22:47] D00Med commented on #108
![](https://i.ytimg.com/vi/tc0fo6iVtmU/maxresdefault.jpg)
I wonder if this is possible in MT

[2017-08-11 22:48] tobyplowy commented on #108
@D00Med well you have to tell the devs if you want specific fetures

With dynamic lighting I mean the sun actually casts rays of light that hit stuff and make realistic shading and lighting

[2017-08-11 22:52] D00Med commented on #108
@tobyplowy Yeah I know.
Oh ok, yeah that'd be cool.

[2017-08-11 23:01] D00Med commented on #108
@tobyplowy I've got to go sorry, goodnight

[2017-08-11 23:02] tobyplowy commented on #108
Yup have a good day

[2017-08-12 00:30] tobyplowy opened #112 "Throwing chicken eggs crashes to menu"
I think it happens when the egg hits the ground and trys to make a chicken (you may need the throw a copple eggs before it crashes)

[2017-08-12 02:25] D00Med commented on #112
Fixed :)

[2017-08-12 02:25] #112 closed

[2017-08-12 12:06] DS-Minetest commented on #108
With much effort it would. But it would also cause much client lag.

[2017-08-12 21:34] D00Med commented on #108
@DS-Minetest It's a shame.

[2017-08-12 21:35] D00Med commented on #108
@DS-Minetest It's a shame.

[2017-08-12 21:40] tobyplowy commented on #108
@D00Med Hi I got my new PC :)

[2017-08-12 21:51] D00Med commented on #108
@tobyplowy Hi :) Great!

[2017-08-12 21:55] tobyplowy commented on #108
@D00Med I probably won't be very active on GitHub today

Also that weard bug happend again yesterday (the one were you commit something and I aperenly did it)
Also I changed 48 files yesterday just saying XD

[2017-08-12 21:57] D00Med commented on #108
@tobyplowy Ok. Yeah I noticed that, idk how it happens :S

[2017-08-12 23:17] tobyplowy commented on #108
@D00Med Yeh it's odd

[2017-08-12 23:33] D00Med commented on #108
@tobyplowy I should go. Enjoy your evening

[2017-08-13 21:15] tobyplowy commented on #108
@D00Med hi

[2017-08-13 21:24] D00Med commented on #108
@tobyplowy Hi

[2017-08-13 21:25] tobyplowy commented on #108
@D00Med Do you have time for farlands?

[2017-08-13 21:27] D00Med commented on #108
@tobyplowy No sorry

[2017-08-13 21:28] D00Med commented on #108
@tobyplowy 'cos I'm feeling reeeeeealy guilty, I'll work on some stuff this afternoon

[2017-08-13 21:28] tobyplowy commented on #108
@D00Med Ok :/

[2017-08-13 21:29] tobyplowy commented on #108
Yeah maybe XD

[2017-08-13 21:34] D00Med commented on #108
@tobyplowy What should I work on?

[2017-08-13 21:35] tobyplowy commented on #108
@D00Med do what's on the todo list :)

[2017-08-13 21:41] tobyplowy commented on #108
@D00Med so what did you choose?

[2017-08-13 21:42] D00Med commented on #108
@tobyplowy Ok. Haven't chosen yet

[2017-08-13 21:43] tobyplowy commented on #108
@D00Med ok :D

[2017-08-13 22:21] D00Med commented on #108
@tobyplowy Do you think it would be worth making a mod that makes minetest look like 2d scroller?

[2017-08-13 22:22] tobyplowy commented on #108
@D00Med yeh but not for farlands

[2017-08-13 22:44] D00Med commented on #108
@tobyplowy Definitely not

[2017-08-13 22:45] tobyplowy commented on #108
@D00Med :) I'm making some more texture fixes

[2017-08-13 23:04] D00Med commented on #108
@tobyplowy Nice

[2017-08-13 23:06] tobyplowy commented on #108
@D00Med true XD

[2017-08-13 23:23] tobyplowy commented on #108
@D00Med I made a new commit and I also have good news I Only have to do an inventory Full of textures and than I'm done

[2017-08-13 23:27] tobyplowy commented on #108
@D00Med also I made the paper texture a reference to old operating systems

[2017-08-13 23:34] D00Med commented on #108
@tobyplowy Great :D
Oh ok, I'll have a look

[2017-08-13 23:36] tobyplowy commented on #108
@D00Med and I assure you that this commit will be in jow face XD

[2017-08-13 23:37] D00Med commented on #108
@tobyplowy Such creative commit names

[2017-08-13 23:38] D00Med commented on #108
@tobyplowy I like the new paper texture

[2017-08-13 23:38] tobyplowy commented on #108
@D00Med Yeh XD

[2017-08-13 23:39] tobyplowy commented on #108
Also thanks

[2017-08-13 23:55] tobyplowy commented on #108
@D00Med well I'm going now see you tomorrow

[2017-08-14 00:02] D00Med commented on #108
@tobyplowy Ok, see you

[2017-08-14 21:03] tobyplowy commented on #108
@D00Med Hi

[2017-08-14 21:15] D00Med commented on #108
@tobyplowy Hello

[2017-08-14 21:22] tobyplowy commented on #108
@D00Med I'm learning to use unreal engine :)

[2017-08-14 21:30] D00Med commented on #108
@tobyplowy Nice :D

[2017-08-14 21:34] tobyplowy commented on #108
@D00Med :)

I probably won't be very active today

[2017-08-14 21:38] D00Med commented on #108
@tobyplowy Ok

[2017-08-14 22:13] tobyplowy commented on #108
@D00Med it's a pretty fun program you shuld try it :)

[2017-08-14 22:15] tobyplowy commented on #108
@D00Med it used to cost above 200€ a month but now its free now those are good developers!

[2017-08-14 22:17] D00Med commented on #108
@tobyplowy Oh if it's free I'll definitely try it xD
Haha yeah they are.

[2017-08-14 22:27] tobyplowy commented on #108
@D00Med lol if it's free and works well you just need to get it

Free no virus free toolbar no virus I promise.exe XD
![635897965382559160-1001706915_old people facebook cover](https://user-images.githubusercontent.com/16853304/29294602-743de562-8150-11e7-8cf1-1949fede9664.jpg)

Sorry I just had to do it (I would have regretted it if I didn't)

[2017-08-14 22:29] tobyplowy commented on #108
@D00Med first day on the internet XD ![635897965382559160-1001706915_old people facebook cover](https://user-images.githubusercontent.com/16853304/29294602-743de562-8150-11e7-8cf1-1949fede9664.jpg)

[2017-08-14 22:33] D00Med commented on #108
@tobyplowy I'm saving a copy of that picture xD

[2017-08-14 22:34] D00Med commented on #108
![old-man-vs-technology--138841](https://user-images.githubusercontent.com/19916704/29294804-8f338e78-8194-11e7-90ca-b4533a49e26c.gif)

[2017-08-14 22:43] tobyplowy commented on #108
@D00Med that's the best gift I have ever seen XD

[2017-08-14 22:45] tobyplowy commented on #108
@D00Med I hate autocorrect I meant to say gif not gift
And now I'm to lazy to fix it!

[2017-08-14 22:45] D00Med commented on #108
@tobyplowy It is a gift

[2017-08-14 22:46] tobyplowy commented on #108
@D00Med Yeh that's true XD

[2017-08-14 22:49] tobyplowy commented on #108
@D00Med I'm making a modular house intirier

[2017-08-14 22:50] D00Med commented on #108
@tobyplowy As in lots of little bits to put together like a puzzle?

[2017-08-14 22:52] tobyplowy commented on #108
Yes

[2017-08-14 22:53] D00Med commented on #108
Nice

[2017-08-14 22:55] tobyplowy commented on #108
Yeh

[2017-08-14 23:12] tobyplowy commented on #108
@D00Med We are so professional XD

[2017-08-14 23:13] D00Med commented on #108
@tobyplowy Definitely, the most professional devs out xD

[2017-08-14 23:15] tobyplowy commented on #108
@D00Med It's funny how we get more done than the Mt devs and they are 'pro' but we are not XD

[2017-08-15 00:00] tobyplowy commented on #108
@D00Med what i made so far
[lol.zip](https://github.com/D00Med/farlands/files/1223774/lol.zip)

[2017-08-15 00:02] D00Med commented on #108
@tobyplowy :'D That mouse-shake

[2017-08-15 00:03] D00Med commented on #108
@tobyplowy It looks relatively easy to use

[2017-08-15 00:05] tobyplowy commented on #108
@D00Med Yeh it's surprisingly easy

[2017-08-15 00:07] tobyplowy commented on #108
@D00Med also it has a node coding system so you don't have to learn c++

[2017-08-15 00:08] D00Med commented on #108
@tobyplowy So it's sort of closer to using english?

[2017-08-15 00:09] tobyplowy commented on #108
@D00Med from What I've seen yes XD

[2017-08-15 00:12] tobyplowy commented on #108
@D00Med is the video I just uploded that laggy for you aswell?

[2017-08-15 00:15] tobyplowy commented on #108
@D00Med also I have to go

[2017-08-15 00:15] D00Med commented on #108
@tobyplowy A little.
Ok, goodnight

[2017-08-15 20:28] tobyplowy commented on #108
@D00Med hi

[2017-08-15 21:27] D00Med commented on #108
@tobyplowy Hello

[2017-08-15 21:35] tobyplowy commented on #108
@D00Med sorry for late answer but hi XD

[2017-08-15 21:38] tobyplowy commented on #108
@D00Med i was messing around with the regestre of my pc to get gimp as image editor in my context menu
bacicly it was a game of do one thing wrong and never boot your pc agayn XD
but it worked

[2017-08-15 21:41] D00Med commented on #108
@tobyplowy ha yeah fiddling with the registry always feels like its going to go horribly wrong

[2017-08-15 21:45] tobyplowy commented on #108
When I mess with the registry
![download 2](https://user-images.githubusercontent.com/16853304/29338024-dd07358a-8213-11e7-9def-36b6fb372c70.jpg)

[2017-08-15 21:48] tobyplowy commented on #108
@D00Med also yes I risked my PC to be able to have gimp in my context window
(Forgot to mention its my first time using the registry editor)

[2017-08-15 21:49] tobyplowy commented on #108
Definitely worth it XD

[2017-08-15 21:49] D00Med commented on #108
@tobyplowy well, as long as you make a backup first it should be fine

[2017-08-15 21:52] tobyplowy commented on #108
Backup is for n00b ¯\_(ツ)_/¯

[2017-08-15 21:53] tobyplowy commented on #108
@D00Med Also I made an anvil model :)

[2017-08-15 22:01] D00Med commented on #108
@tobyplowy Ok, great

[2017-08-15 22:12] tobyplowy commented on #108
@D00Med So how are you doing

[2017-08-15 22:16] tobyplowy commented on #108
@D00Med Also can you replace the normal waterlily with the one from the nodebox tree mod (the model and random flower)

[2017-08-15 22:20] D00Med commented on #108
@tobyplowy I'm good thanks, how are you?
Oh ok, I thought I had :S but sure.

[2017-08-15 22:24] tobyplowy commented on #108
@D00Med I'm doing good :)
I'm also making some more textures :)

[2017-08-15 22:27] D00Med commented on #108
@tobyplowy Ok, nice

[2017-08-15 23:03] tobyplowy commented on #108
Yeh

[2017-08-15 23:09] tobyplowy commented on #108
@D00Med well that's it for today :)

[2017-08-15 23:14] D00Med commented on #108
@tobyplowy Ok, see you

[2017-08-16 21:09] tobyplowy commented on #108
@D00Med hi

[2017-08-16 21:15] D00Med commented on #108
@tobyplowy Hello

[2017-08-16 21:21] tobyplowy commented on #108
@D00Med I'm working on some more textures

[2017-08-16 21:22] D00Med commented on #108
@tobyplowy Nice

[2017-08-16 21:22] D00Med commented on #108
@tobyplowy Could you make new textures for the pistons?

[2017-08-16 21:29] tobyplowy commented on #108
@D00Med can you make them look more like Minecraft pistons?

[2017-08-16 21:29] tobyplowy commented on #108
![sticky_piston](https://user-images.githubusercontent.com/16853304/29386123-ce1b906c-82da-11e7-8fe5-59b6a84f7dda.gif)

[2017-08-16 21:32] D00Med commented on #108
@tobyplowy Oh, yes I need to make some changes before you can edit the piston textures, sorry I forgot about that. I could also add another stage of movement, so it looks more like it's moving, but it wouldn't move the block and would look a little strange.

[2017-08-16 21:34] tobyplowy commented on #108
I would love 3 stages of animation but if it looks odd it's better to not do it :)

[2017-08-16 21:35] tobyplowy commented on #108
@D00Med I can tell you have time for farlands today :)

[2017-08-16 21:42] D00Med commented on #108
@tobyplowy I'll see it I can anyway. .
Can you? xD

[2017-08-16 21:53] tobyplowy commented on #108
@D00Med Yeh I'm the all seeing Toby ask me anything about your future and I will answer with my magic answer XD

[2017-08-16 21:54] tobyplowy commented on #108
@D00Med Satisfaction not granted no refunds XD

[2017-08-16 21:57] D00Med commented on #108
@tobyplowy I might have time later

[2017-08-16 21:58] tobyplowy commented on #108
@D00Med Ok don't forget to add the water Lille

[2017-08-16 22:03] tobyplowy commented on #108
@D00Med also apples need to be fruit

[2017-08-16 22:11] D00Med commented on #108
@tobyplowy Yeah I keep forgetting to change that xD

[2017-08-16 22:36] tobyplowy commented on #108
@D00Med Lol I added it to the V1 todo

[2017-08-16 22:47] D00Med commented on #108
@tobyplowy Ok, thanks

[2017-08-16 22:49] tobyplowy commented on #108
@D00Med new fresh commit :)

[2017-08-16 22:50] D00Med commented on #108
@tobyplowy Great

[2017-08-16 22:51] tobyplowy commented on #108
@D00Med im done for today also for some reason I can't get facedir to work on wheat blocks :/

[2017-08-16 23:15] D00Med commented on #108
@tobyplowy Ok. uhh you added

`paramtype` = "facedir"

right?

[2017-08-16 23:16] tobyplowy commented on #108
@D00Med yes but it didn't work so I removed it

[2017-08-16 23:20] tobyplowy commented on #108
@D00Med well I'm going now have a good day

[2017-08-16 23:31] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-17 01:04] GreenXenith commented on #108
pretty sure its `paramtype2 = facedir`

[2017-08-17 01:26] D00Med commented on #108
🤦‍♂️ Yep, that's it.

[2017-08-17 21:08] D00Med commented on #108
@tobyplowy I can't talk today, just letting you know

[2017-08-17 21:19] DS-Minetest commented on #108
Ok, then I'll greet today for you.
Hello.

[2017-08-17 21:20] tobyplowy commented on #108
@D00Med Ok

[2017-08-17 21:20] tobyplowy commented on #108
@DS-Minetest how are you doing

[2017-08-17 21:29] DS-Minetest commented on #108
@tobyplowy I'm ok, and you?

[2017-08-17 21:30] tobyplowy commented on #108
@DS-Minetest I'm doing good thanks for asking :)

[2017-08-17 21:32] DS-Minetest commented on #108
You're welcome.

[2017-08-17 21:33] tobyplowy commented on #108
@DS-Minetest farlands is nearing completion :)

[2017-08-17 21:37] DS-Minetest commented on #108
@tobyplowy And how far is the nearing farlands still away from completion?

[2017-08-17 21:37] DS-Minetest commented on #108
The readme should be changed…

[2017-08-17 21:39] tobyplowy commented on #108
@DS-Minetest  Well if d00med wuld work on it for 2 weeks everyday at least an hour that would be it
Heres the to-do https://github.com/D00Med/farlands/projects/2 if you want you can help
(I have to ask XD)

[2017-08-17 22:13] tobyplowy commented on #108
I'm going now see you guys tomorrow hopefully

[2017-08-18 07:20] D00Med commented on #108
@tobyplowy I only have one week left this month remember.
I have a question about replacing apples, should I override apples, turning them into leaves with apples, and potentially break mod compatibility, or should I make a function to replace normal apples with the leafy variant (which would make the game slower)?

[2017-08-18 09:07] DS-Minetest commented on #108
@D00Med Overriding would also replace the apples in inventory, so imo you should rather use a lbm.

[2017-08-18 22:02] tobyplowy commented on #108
@D00Med no need to waste performance and I don't give a F about compatibility so yeh

Also hi and I'm playing Starbound so I will not be very active today

[2017-08-18 22:04] tobyplowy commented on #108
@D00Med also apple food needs to be added so if you collect the leaf block you get an apple that is eateble

[2017-08-18 22:15] D00Med commented on #108
@tobyplowy Well that's clearly put xD
Hi, I'm leaving soon anyway.

Yes I will add an apple item.

[2017-08-18 22:16] tobyplowy commented on #108
Ok good :)

[2017-08-18 22:29] D00Med commented on #108
@tobyplowy I will work on Farlands this afternoon also

[2017-08-18 22:38] D00Med commented on #108
@tobyplowy I'm going now, goodnight

[2017-08-18 22:38] tobyplowy commented on #108
@D00Med I will make some more stuff for farlands in an hour or so

[2017-08-18 22:39] tobyplowy commented on #108
@D00Med Ok see you later probably tomorrow so have a good day :)

[2017-08-19 14:40] tobyplowy opened #113 "Bows"
https://forum.minetest.net/viewtopic.php?f=9&t=18310

I will expand later

[2017-08-19 21:10] tobyplowy commented on #108
Hi

[2017-08-19 21:49] D00Med commented on #108
@tobyplowy Hello, I'll be busy again today, but I'll stick around to talk.

[2017-08-19 21:50] tobyplowy commented on #108
@D00Med ok

[2017-08-19 23:02] tobyplowy commented on #108
@D00Med I'm going now have a good day

[2017-08-19 23:35] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-20 21:25] tobyplowy commented on #108
@D00Med hi

[2017-08-20 21:26] tobyplowy commented on #108
what do you think of this?
![naamloos](https://user-images.githubusercontent.com/16853304/29498534-da778786-85fe-11e7-828c-b87fa4c37c76.png)

[2017-08-20 21:27] D00Med commented on #108
@tobyplowy Hi. Looks good!

[2017-08-20 21:31] tobyplowy commented on #108
@D00Med how good does it look?

[2017-08-20 21:31] tobyplowy commented on #108
@D00Med also thanks :)

[2017-08-20 21:35] D00Med commented on #108
I wouldn't say professional, but pretty close!

[2017-08-20 21:38] tobyplowy commented on #108
@D00Med lol I don't I'm close at all (look at the blue roof it has text on it try to read it XD ) but still thanks

Also when will you be able to work on farlands again?

[2017-08-20 22:04] D00Med commented on #108
@tobyplowy Lol yeah I noticed. Aah this evening if I have time.

[2017-08-20 22:05] tobyplowy commented on #108
Ok cool

Op 21 aug. 2017 12:04 a.m. schreef D00Med <notifications@github.com>:

@tobyplowy<https://github.com/tobyplowy> Lol yeah I noticed. Aah this evening if I have time.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/D00Med/farlands/issues/108#issuecomment-323614991>, or mute the thread<https://github.com/notifications/u

[2017-08-20 22:07] tobyplowy commented on #108
@D00Med I just replied with email but I Won't Do It Again this looks terrible

[2017-08-20 22:12] D00Med commented on #108
@tobyplowy Wow yeah don't do that again xD

[2017-08-20 22:16] tobyplowy commented on #108
@D00Med yeh I won't XD

[2017-08-20 22:23] tobyplowy commented on #108
@D00Med I'm learning some more pixelart at the moment :)

[2017-08-20 22:24] D00Med commented on #108
@tobyplowy Nice

[2017-08-20 22:30] tobyplowy commented on #108
@D00Med you dount whant to mess with her XD
![make this in to a character](https://user-images.githubusercontent.com/16853304/29499015-f63b4db4-8607-11e7-9f77-e873ddf3730d.png)

[2017-08-20 22:47] D00Med commented on #108
@tobyplowy Angry feminist lol

[2017-08-20 22:48] tobyplowy commented on #108
@D00Med nice XD

[2017-08-20 22:50] tobyplowy commented on #108
@D00Med theres someting very likeble for me in this character for some reason i thik its the glases and colors and the pose

[2017-08-20 22:57] D00Med commented on #108
@tobyplowy Good character design

[2017-08-20 22:58] tobyplowy commented on #108
@D00Med thanks :D

[2017-08-20 23:00] tobyplowy commented on #108
@D00Med guess what this is
![brute](https://user-images.githubusercontent.com/16853304/29499198-10274e22-860c-11e7-9a18-4079be79cbe1.png)

[2017-08-20 23:02] D00Med commented on #108
@tobyplowy The zombie brute?

[2017-08-20 23:06] tobyplowy commented on #108
@D00Med yeh my original idea (but that was hard to do with blocks)
im still working on it

[2017-08-20 23:07] D00Med commented on #108
@tobyplowy Ok cool

[2017-08-20 23:22] tobyplowy commented on #108
@D00Med im gowig now see you later

[2017-08-20 23:50] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-20 23:55] DS-Minetest commented on #108
The game of that you showed a screenshot looks interesting, what's its name?

[2017-08-21 00:13] tobyplowy commented on #108
@DS-Minetest you mean this
![naamloos](https://user-images.githubusercontent.com/16853304/29498534-da778786-85fe-11e7-828c-b87fa4c37c76.png)
thats unreal engine it's free https://www.unrealengine.com/en-US/what-is-unreal-engine-4
It's not a game but an engine the art and models are made by me :) (the only thing I dident make was the skybox)

[2017-08-21 00:14] tobyplowy commented on #108
And now I'm really gone

[2017-08-21 10:37] D00Med commented on #108
Should fruit be dropped from leaves when the leaves are right clicked?(like the coconut used to do) or should they drop when the leaves are destroyed?(which is what currently happens)

[2017-08-21 11:46] tobyplowy commented on #108
@D00Med can you do both?

[2017-08-21 21:22] tobyplowy commented on #108
@D00Med hi

[2017-08-21 22:26] D00Med commented on #108
@tobyplowy Yeah I could. I didn't even think of that :]
Hi

[2017-08-21 22:35] tobyplowy commented on #108
@D00Med hes here ehhh XD

[2017-08-21 22:38] tobyplowy commented on #108
@D00Med we are so close to being done

[2017-08-21 22:38] D00Med commented on #108
@tobyplowy Yeah :D

[2017-08-21 22:38] tobyplowy commented on #108
@D00Med we are so close to being done for v1 im very exited :D

[2017-08-21 22:40] D00Med commented on #108
@tobyplowy I'm leaving the hard stuff till last xD

[2017-08-21 22:41] tobyplowy commented on #108
@D00Med im continuing to make and inprove more textures :D

[2017-08-21 22:42] tobyplowy commented on #108
@D00Med that is worrying XD

[2017-08-21 22:49] D00Med commented on #108
@tobyplowy Well the villages book will be easy.
Adding villages will hopefully not be too hard. Actually I forgot, how did we agree to add the ground beneath buildings? was it a stack of dirt or a stack of dirt then stone?

[2017-08-21 22:58] tobyplowy commented on #108
@D00Med a stack of dirt but a stack of dirt and than stone may be better?

Is it Possible to detect the air (if there is any) Underneath a building and fill it with dirt?

[2017-08-21 23:00] D00Med commented on #108
@tobyplowy I hope so.

I have an idea for how I'll do the villages.
There will be several positions, spaced apart so the buildings fit, as a table.
And then for each a random number is chosen for the building type.
Because the buildings are all placed individually there won't be a need for such a large flat area.
For each position, the nodes below or above will be checked until there is a solid no

[2017-08-21 23:06] tobyplowy commented on #108
@D00Med eeeh if you say that's simple I guess I will have to believe that XD

[2017-08-21 23:09] tobyplowy commented on #108
@D00Med here are my latest dev maps
[maps.zip](https://github.com/D00Med/farlands/files/1240354/maps.zip)

[2017-08-21 23:14] tobyplowy commented on #108
@D00Med also in the build map I added new trees those should replace the defoult trees

Use the 2 trees so it's a bit more random and natural

[2017-08-21 23:21] D00Med commented on #108
@tobyplowy Ok, thanks.
Nice :)

[2017-08-21 23:27] tobyplowy commented on #108
@D00Med the vilagger trades are so bad

Siriusly 4 gold ingots for 10 bread da fu XD

[2017-08-21 23:29] tobyplowy commented on #108
@D00Med 10 stone for the low low price of just 8 gold ingots those trades really need some fixing XD

[2017-08-21 23:51] D00Med commented on #108
![](https://lh6.googleusercontent.com/-D7TgqOQQGU8/TWk9w7LtEAI/AAAAAAAAAd4/B9L4b7BrNXE/s1600/businessman-counting-money.jpg)

[2017-08-21 23:53] tobyplowy commented on #108
![counting-money-3](https://user-images.githubusercontent.com/16853304/29542790-b8522682-86dc-11e7-9149-505a7e5ab48f.gif)

[2017-08-21 23:57] tobyplowy commented on #108
@D00Med that moment when he realizes that he's dropping that money on the wet ground XD

[2017-08-21 23:58] D00Med commented on #108
@tobyplowy It's ok, he has plenty more xD

[2017-08-21 23:58] tobyplowy commented on #108
Nice one

[2017-08-22 00:06] tobyplowy commented on #108
[xdddddddddddddd.zip](https://github.com/D00Med/farlands/files/1240424/xdddddddddddddd.zip)

[2017-08-22 00:08] tobyplowy commented on #108
@D00Med im going now see you tomorrow

[2017-08-22 00:09] tobyplowy commented on #108
@D00Med have a good day

[2017-08-22 00:10] D00Med commented on #108
@tobyplowy Are you going to keep the money in the game?

[2017-08-22 00:26] D00Med commented on #108
@tobyplowy Aaah didn't see what you said.
Goodnight :)

[2017-08-22 00:39] DS-Minetest commented on #108
Heh, what about making such a money stack (for creative mode) that has an on_drop which returns the full itemstack as leftover?

[2017-08-22 00:43] D00Med commented on #108
@DS-Minetest So it can drop stacks infinitely without running out?

[2017-08-22 01:02] DS-Minetest commented on #108
Yes.
![like this](https://user-images.githubusercontent.com/16853304/29542790-b8522682-86dc-11e7-9149-505a7e5ab48f.gif)

[2017-08-22 08:34] D00Med commented on #108
![screenshot_20170822_182836](https://user-images.githubusercontent.com/19916704/29556210-728159ac-8768-11e7-94b9-e12704df1325.png)
![screenshot_20170822_182851](https://user-images.githubusercontent.com/19916704/29556208-7220ad82-8768-11e7-86ae-e2521c9e81fc.png)
👌😏

[2017-08-22 09:38] D00Med commented on #108
![screenshot_20170822_193044](https://user-images.githubusercontent.com/19916704/29559048-525e7f16-8771-11e7-814b-8070c9ef3db1.png)
![screenshot_20170822_193049](https://user-images.githubusercontent.com/19916704/29559050-526a8fa4-8771-11e7-992f-63d1fb3e336e.png)
It's working! :D
![screenshot_20170822_193347](https://user-images.githubusercontent.com/19916704/29559049-52611186-8771-11e7-83c3-f587d

[2017-08-22 14:30] tobyplowy commented on #108
![screenshot_20170822_182836](https://user-images.githubusercontent.com/19916704/29556210-728159ac-8768-11e7-94b9-e12704df1325.png)

Thats becouse War...

war never changes

[2017-08-22 14:32] tobyplowy commented on #108
@D00Med also that distroyed house is supposed to be a structure and not a village house XD

[2017-08-22 21:26] tobyplowy commented on #108
@D00Med hi

[2017-08-22 21:27] D00Med commented on #108
@tobyplowy I was wondering about that. I thought I'd add it anyway to make them more interesting.
What do you think of the villages so far though? Hi :)

[2017-08-22 21:29] tobyplowy commented on #108
@D00Med Looking good but as you say there should be a copple fixes

The building placement seems good but I think spawning needs some work (so it doesn't go in the ground)

Do you know what that is from?

[2017-08-22 21:32] D00Med commented on #108
@tobyplowy Yeah I forgot to make it check for air. They also spawn underwater sometimes.
I was thinking of adding another row of houses.
Fallout?

[2017-08-22 21:45] tobyplowy commented on #108
Good idea

Yeh :)

[2017-08-22 21:56] tobyplowy commented on #108
@D00Med Also the farm seems to genarate one block too high I added 2 layers of dirt so the water wuldent flow out but it should be 1

[2017-08-22 21:59] D00Med commented on #108
@tobyplowy Ohh ok, well I'll make a new schematic then

[2017-08-22 22:06] tobyplowy commented on #108
@D00Med Sorry :/

[2017-08-22 22:07] D00Med commented on #108
@tobyplowy It's ok, it's just one xD

[2017-08-22 22:14] tobyplowy commented on #108
@D00Med yeh XD

[2017-08-22 22:21] tobyplowy commented on #108
@D00Med Is it Possible to make the buildings Randomly rotate when they genarate?

[2017-08-22 22:24] D00Med commented on #108
@tobyplowy They already do, but the arrangement of the village is the same each time

[2017-08-22 22:36] tobyplowy commented on #108
@D00Med Ah I see

[2017-08-22 22:37] D00Med commented on #108
@tobyplowy I thought it wouldn't matter so much.
I've also been thinking, it'd be neat if I could get them all to be aligned like a grid so that roads could be generated in-between.

[2017-08-22 22:38] tobyplowy commented on #108
Yeh that would be amazing!

[2017-08-22 22:40] D00Med commented on #108
@tobyplowy The only problem is getting that to happen infinitely as the world generates.

[2017-08-22 22:43] tobyplowy commented on #108
@D00Med I knew that sounded suspiciously not completed to understand I should have seen it coming XD

[2017-08-22 22:45] D00Med commented on #108
@tobyplowy Yeah, the only way I can think of to do that would be to use a function that results in a grid.
And I'm not that good at maths :'D

[2017-08-22 22:47] tobyplowy commented on #108
@D00Med oh boy :)

[2017-08-22 22:54] tobyplowy commented on #108
@D00Med askildiablo asked me to make a tank model I think that's more someting for you no?

[2017-08-22 22:56] D00Med commented on #108
@tobyplowy uuh depends xD I'm veeery busy, although I would like to do that.

[2017-08-22 22:57] tobyplowy commented on #108
@D00Med I think it's best if you send him a pm

[2017-08-22 22:58] D00Med commented on #108
@tobyplowy Ok, well thanks for letting me know :)

[2017-08-22 23:00] tobyplowy commented on #108
@D00Med No prob :)

[2017-08-22 23:05] tobyplowy commented on #108
@D00Med well I'm going now see you later

[2017-08-22 23:32] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-23 21:24] tobyplowy commented on #108
@D00Med hi

[2017-08-23 21:34] D00Med commented on #108
@tobyplowy Hello

[2017-08-23 21:39] tobyplowy commented on #108
@D00Med soooow how you doing?

[2017-08-23 21:44] D00Med commented on #108
@tobyplowy I'm alright. How are you?

[2017-08-23 21:54] tobyplowy commented on #108
@D00Med I'm good

How is progress on the vilagges

[2017-08-23 21:55] D00Med commented on #108
@tobyplowy I've messed something up :'D

[2017-08-23 21:58] tobyplowy commented on #108
@D00Med yeh I sayd it ones and I will say it again war never changes XD

[2017-08-23 22:01] tobyplowy commented on #108
@D00Med So what was wrong?

[2017-08-23 22:03] D00Med commented on #108
@tobyplowy Some buildings aren't spawning. The most I've seen since last night is 3 buildings

[2017-08-23 22:05] tobyplowy commented on #108
@D00Med Aah ok jeh that's a problem

[2017-08-23 22:06] tobyplowy commented on #108
@D00Med also the traveling merchants are way to commen they should appear less

[2017-08-23 22:34] tobyplowy commented on #108
@D00Med you still there?

[2017-08-23 22:38] D00Med commented on #108
@tobyplowy Sorry, page wasn't refreshing.
Ok I will improve that

[2017-08-23 22:46] tobyplowy commented on #108
@D00Med I'm going now see you tomorrow have a good day :)

[2017-08-23 22:49] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-24 20:55] D00Med commented on #108
@tobyplowy Hello

[2017-08-24 21:04] tobyplowy commented on #108
@D00Med Hi

[2017-08-24 21:04] D00Med commented on #108
@tobyplowy How are you?

[2017-08-24 21:05] tobyplowy commented on #108
@D00Med I'm good and you

[2017-08-24 21:24] tobyplowy commented on #108
@D00Med reload your page XD

(You will probably not see this but whatever)

[2017-08-24 21:30] D00Med commented on #108
@tobyplowy I'm good thanks. Also a bit busy sorry

[2017-08-24 21:31] tobyplowy commented on #108
@D00Med Good and it's ok :)

[2017-08-24 21:59] D00Med commented on #108
@tobyplowy I might have time to work on Farlands next week

[2017-08-24 21:59] tobyplowy commented on #108
@D00Med ok :)

[2017-08-24 22:31] tobyplowy commented on #108
@D00Med I'm going now

[2017-08-24 22:33] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-08-25 00:18] GreenXenith commented on #87
I have given up on using the open chest model for the large chest because there is the MT bug that prevents me from doing it easily, and I don't want to figure it out the other way, and it's not that necessary. I will likely end up submitting a PR soon to add the large chest.

[2017-08-25 12:52] tobyplowy commented on #87
@GreenXenith ok good

You have given up on the chests but you are still interested in helping with the inventory GUI right?

[2017-08-25 16:09] GreenXenith commented on #87
Of course.

[2017-08-25 19:41] tobyplowy commented on #87
@GreenXenith ok thanks :)

[2017-08-25 21:19] tobyplowy commented on #108
@D00Med I can't talk today so have a nice day :)

[2017-08-25 21:20] tobyplowy commented on #108
@D00Med see you tomorrow (more like text you tomorrow XD)

[2017-08-25 22:18] D00Med commented on #108
@tobyplowy Ok, you too

[2017-08-26 21:01] tobyplowy commented on #108
@D00Med hi

[2017-08-26 21:23] D00Med commented on #108
@tobyplowy Hello

[2017-08-26 21:25] tobyplowy commented on #108
@D00Med Yay!!

[2017-08-26 21:28] D00Med commented on #108
@tobyplowy xD Yeah I get up late

[2017-08-26 21:30] tobyplowy commented on #108
@D00Med I just tried mineclone2 again (it's been a while) and I must say it's really good but the reason why I'm talking about this is because they have sounds (as far as I know they are free to use and open source) so we may use them yes?

[2017-08-26 21:35] D00Med commented on #108
@tobyplowy Yes we can

[2017-08-26 21:37] tobyplowy commented on #108
@D00Med I don't know how to add sounds soooow :)

[2017-08-26 21:39] D00Med commented on #108
@tobyplowy I will have a look then

[2017-08-26 21:39] tobyplowy commented on #108
@D00Med thanks shuld I add it to the V1 Todo?

[2017-08-26 21:43] D00Med commented on #108
@tobyplowy Yeah

[2017-08-26 21:51] tobyplowy commented on #108
@D00Med done

[2017-08-26 21:53] tobyplowy commented on #108
@D00Med most sounds seem to be from Minecraft so Watch Out

[2017-08-26 21:57] tobyplowy commented on #108
@D00Med do villages already genarate in mapgen?

[2017-08-26 22:15] D00Med commented on #108
@tobyplowy Ok I will.
Yeah they do, they need fixing though

[2017-08-26 22:16] tobyplowy commented on #108
@D00Med ok :)

[2017-08-26 22:17] D00Med commented on #108
@tobyplowy I'm now fairly certain I won't be away this week.

[2017-08-26 22:20] tobyplowy commented on #108
@D00Med So that means farlands development yes?

[2017-08-26 22:21] D00Med commented on #108
@tobyplowy Yes

[2017-08-26 22:28] tobyplowy commented on #108
# The whole week?
ᴾᶫᵉᵃˢᵉ ˢᵃʸ ʸᵉˢ

[2017-08-26 22:29] D00Med commented on #108
@tobyplowy No I still have study,, but I have some time for farlands compared to no time for farlands

[2017-08-26 22:31] tobyplowy commented on #108
@D00Med Ah I see some time is better than nothing at all right :)

[2017-08-26 22:36] D00Med commented on #108
@tobyplowy Yeah

[2017-08-26 22:59] tobyplowy commented on #108
@D00Med I'm not sure what to say now XD

[2017-08-26 23:00] D00Med commented on #108
@tobyplowy xD
Should the dodo lay eggs?

[2017-08-26 23:17] tobyplowy commented on #108
@D00Med I don't know I think so

[2017-08-26 23:26] D00Med commented on #108
@tobyplowy I was thinking of making them place a nest

[2017-08-26 23:46] tobyplowy commented on #108
@D00Med yeh that's a nice idea I am thinking to randomly change the nest model to a nest with an egg and you can Right click It or break the nest to get the egg (same can be done for chickens)

[2017-08-26 23:48] D00Med commented on #108
@tobyplowy Yeah :)
With chickens I didn't think it would be as good, because the eggs are smaller and less appropriate for a model,and also because they'd still have to lay them everywhere so that they can be farmed.