[2017-04-12 21:06] DS-Minetest commented on #77
The pipes could be connected nodeboxes.

[2017-04-12 21:07] GreenXenith commented on #77
@DS-Minetest I think they are...

[2017-04-12 21:07] DS-Minetest commented on #77
@GreenXenith Last time I saw them, they were facedirected.

[2017-04-12 21:08] GreenXenith commented on #77
*Getting latest pull...*

[2017-04-12 21:08] D00Med commented on #77
@GreenXenith They aren't because the texture would be strange if the shape changed. Last time it was brought up I think Toby and I decided it would get a different texture.

[2017-04-12 21:09] GreenXenith commented on #77
Hrm..
I think that can be fixed though... just use the pipeworks code...

[2017-04-12 21:10] D00Med commented on #77
@GreenXenith  Does the texture change with the nodebox shape?

[2017-04-12 21:10] DS-Minetest commented on #77
@D00Med Nope.

[2017-04-12 21:11] GreenXenith commented on #77
I don't remember. I can ch-- well, there's your answer :D

[2017-04-12 21:12] D00Med commented on #77
@GreenXenith If I remove the stripes from the texture, and just make it one colour with random detail, then it should look ok with any shape of pipe.

[2017-04-12 21:13] GreenXenith commented on #77
You shouldn't need to remove the stripes.

[2017-04-12 21:13] DS-Minetest commented on #77
Would be connected glasslike an option?

[2017-04-12 21:14] DS-Minetest commented on #77
I leave for today, bye! :cat2::rainbow_flag:

[2017-04-12 21:15] D00Med commented on #77
![test](https://cloud.githubusercontent.com/assets/19916704/24979796/eec25866-2018-11e7-9e4f-d8bab152e239.png)
This texture would work, but it would look odd.
@DS-Minetest  ok, bye

[2017-04-12 21:15] D00Med commented on #77
Actually, I should be going too, bye

[2017-04-12 21:16] GreenXenith commented on #77
@D00Med K cya. I will show you a concept of the pipes when I am done with it.

[2017-04-12 21:31] GreenXenith commented on #77
@D00Med Here is a basic concept of nodebox pipes:
![screenshot_20170412_142929](https://cloud.githubusercontent.com/assets/24834740/24980312/8f383668-1f8c-11e7-8b7a-ba8656f807b1.png)
Closeup:
![screenshot_20170412_142938](https://cloud.githubusercontent.com/assets/24834740/24980317/93805610-1f8c-11e7-8d41-efc34a4fa643.png)
Needs some improvement but that is the concept.

[2017-04-12 22:10] tobyplowy commented on #79
@D00Med is this fixed?

[2017-04-12 22:14] tobyplowy commented on #77
@GreenXenith looks good

[2017-04-12 22:15] tobyplowy commented on #77
@GreenXenith can you make the texture 16x instead of 32x

[2017-04-13 08:27] D00Med commented on #79
I think so yes

[2017-04-13 08:27] #79 closed

[2017-04-13 08:48] DS-Minetest commented on #77
@GreenXenith You used the pipeworks tube autoplace code, right? You could also use the pipe autoplace code. Also I don't think, this is needed for steam pipes, connected nodeboxes would be better IMO. Pipeworks has so many tubes because in the past were no connected nodeboxes and it makes it easier for the items to know, where they can go to (I think).

[2017-04-13 14:58] GreenXenith commented on #77
I just changed the plain pneumatic tube texture :P

[2017-04-13 20:04] tobyplowy commented on #77
hi

[2017-04-13 20:08] DS-Minetest commented on #77
<details>
<summary>some correction of what @GreenXenith wrote</summary>

But not connected ones.
http://dev.minetest.net/Node_boxes

<details>
<summary>_wanna know how to do this?_</summary>
<p>here could be written more info</p>

**blabla** bli blup
[code]
</details></details>

[2017-04-13 20:33] D00Med commented on #77
Hello

[2017-04-13 20:51] tobyplowy commented on #77
@D00Med your late XD

[2017-04-13 20:54] D00Med commented on #77
I am? It's 6:54 in the morning

[2017-04-13 20:55] D00Med commented on #77
I'm finally making some progress with the cables

[2017-04-13 21:00] tobyplowy commented on #77
That's good news!

[2017-04-13 21:06] D00Med commented on #77
@tobyplowy  Maybe not, I just managed to crash the minetest client xD

[2017-04-13 21:07] tobyplowy commented on #77
XD

[2017-04-13 21:15] D00Med commented on #77
@tobyplowy  I've got to go, bye

[2017-04-13 21:38] tobyplowy commented on #77
@D00Med Ok im also going :)

[2017-04-14 20:43] tobyplowy commented on #77
Hey guys

[2017-04-14 21:31] D00Med commented on #77
@tobyplowy  hello. I haven't really got time today, so I'll talk later

[2017-04-14 21:32] tobyplowy commented on #77
Ok

[2017-04-14 21:32] D00Med commented on #77
bye

[2017-04-15 20:01] tobyplowy commented on #77
@D00Med hey

[2017-04-15 21:45] tobyplowy commented on #77
@D00Med do you have time for farlands today?

[2017-04-15 21:46] tobyplowy commented on #77
@GreenXenith
@DS-Minetest

How are you guys doing :)

[2017-04-15 21:49] D00Med commented on #77
@tobyplowy Sorry but I don't. Hopefully, I will have some time tomorrow.

[2017-04-15 21:50] tobyplowy commented on #77
@D00Med ok :/

[2017-04-15 21:50] GreenXenith commented on #77
@tobyplowy I am fine. Doing other things rn.

[2017-04-15 21:51] tobyplowy commented on #77
@GreenXenith ok

[2017-04-16 06:14] DS-Minetest commented on #77
@tobyplowy I am fine, too.
We need to make other issues to be sure about the problems that are still there, so that we can fix them.

[2017-04-16 10:15] tobyplowy commented on #77
@DS-Minetest can you please open a example issue?

[2017-04-16 19:50] tobyplowy commented on #77
Hi

[2017-04-16 20:58] D00Med commented on #77
Hello

[2017-04-16 21:05] tobyplowy commented on #77
@D00Med do you have time for farlands today?

[2017-04-16 21:07] D00Med commented on #77
@tobyplowy maybe later. I should have a lot of time next weekend.

[2017-04-16 21:08] tobyplowy commented on #77
@D00Med I hope so to XD

Well if you start work let me know :)

[2017-04-16 21:09] D00Med commented on #77
@tobyplowy lol yeah me too

[2017-04-16 22:37] tobyplowy commented on #77
@D00Med how is it going

[2017-04-16 22:39] D00Med commented on #77
@tobyplowy  how is what going?

[2017-04-16 22:42] tobyplowy commented on #77
@D00Med sorry posted in the wrong place XD

[2017-04-16 22:44] D00Med commented on #77
@tobyplowy lol ok

[2017-04-17 10:32] tacotexmex opened #80 "Crashes"
I experience random crashes not only of the game but the whole Minetest client as well. This has only happened in Farlands. Is it due to Farlands being developed towards 0.4.16, or perhaps a memory issue?

I'm on a MacBook Pro with 8 GB RAM and Intel HD Graphics 3000 512 MB.

The only error message I get before crash is

[2017-04-17 14:24] tobyplowy commented on #77
i did a grass recolor (i also recolord the dirt) what do you guys think

left is old color riht is new
![recolor](https://cloud.githubusercontent.com/assets/16853304/25091565/28aac40e-238a-11e7-8d7a-f5c01f66aa34.png)

[2017-04-17 16:21] DS-Minetest commented on #77
@tobyplowy It looks really nice!
We could use param2 to color dirt and other generated nodes accordingly to the biom.

[2017-04-17 18:13] tobyplowy commented on #77
@DS-Minetest is that the thing that makes it look like Minecraft
Where theres a smooth gradient between biome colors [like this](http://orig10.deviantart.net/a30e/f/2011/230/6/5/minecraft___colored_biomes_by_ludolik-d46zd1r.png)

[2017-04-17 19:09] GreenXenith commented on #77
@tobyplowy Em... kind of. It's more like each biome has default:dirt_with_grass, but a different shade.

![](https://i.stack.imgur.com/hcejG.jpg)
^that's the same block, different biome.
Here is a biome grass color list from MC:
![](https://s-media-cache-ak0.pinimg.com/originals/25/3d/6f/253d6ffed3549bdb81a8806271671dde.png)

[2017-04-17 20:08] tobyplowy commented on #77
@GreenXenith ow I see

[2017-04-17 20:16] D00Med commented on #77
Hello
@tobyplowy the grass looks better
@DS-Minetest How can param2 change the colour?

[2017-04-17 20:18] tobyplowy commented on #77
@D00Med param2 is for rotating blocks riht?

[2017-04-17 20:19] D00Med commented on #77
@tobyplowy No it can do other things too

[2017-04-17 20:20] tobyplowy commented on #77
@D00Med Oh ok

[2017-04-17 20:21] D00Med commented on #80
Are there no other related errors in the debug file?

[2017-04-17 20:21] tobyplowy commented on #77
I don't think using code is a good Idea i Rather have control over de textures as images instead

[2017-04-17 20:23] D00Med commented on #77
@tobyplowy It would make things a lot easier if just one node could be used.

[2017-04-17 20:23] tobyplowy commented on #77
@D00Med are the color codes easy so edit?

[2017-04-17 20:25] D00Med commented on #77
@tobyplowy I don't even know if it's possible, that's why I asked. But if it is possible, I guess it would be easier than all the adjustments for the mapgen to work with different grass nodes.

[2017-04-17 20:26] tobyplowy commented on #77
@D00Med if it's easy to edit than it's ok for me

[2017-04-17 20:27] tobyplowy commented on #77
@GreenXenith  @DS-Minetest is it easy to edit?

[2017-04-17 20:28] D00Med commented on #77
@tobyplowy Found it
`paramtype2 == "color"`

[2017-04-17 20:28] D00Med commented on #77
Now I realise what the hard part is going to be; setting param2 with the mapgen

[2017-04-17 20:32] tobyplowy commented on #77
@D00Med well it's your choice :)

[2017-04-17 20:36] D00Med commented on #77
Ok, I'll think about it, might be able to come up with some way of doing it.
I have some time for farlands today.

[2017-04-17 20:39] tobyplowy commented on #77
@D00Med ok great :)

[2017-04-17 20:45] tobyplowy commented on #77
So you will work on the colord grass today or did I understand wrong

[2017-04-17 20:56] D00Med commented on #77
Ok, new idea for how cables will work. Generators can/will turn all inactive cables into active cables within a certain radius, but only if they have another two cables connected to them, and only if there are two cables beside the generator. For the 'current' to move further, extra nodes must be added to the chain, I haven't thought of what they could be yet. After that I don't know how to do thi

[2017-04-17 20:56] D00Med commented on #77
@tobyplowy oh no, not today. I'll finish the cables

[2017-04-17 21:00] tobyplowy commented on #77
@D00Med ok I was a little confused there :)

Also about the new idea for cables no idea what's best that's something for @GreenXenith and @DS-Minetest

[2017-04-17 21:03] D00Med commented on #77
Ok.
@GreenXenith
@DS-Minetest
Any idea why this is crashing minetest?
`minetest.register_abm({
	nodenames = {"stm_nodes:generator_active"},
	interval = 1,
	chance = 1,
	action = function(pos, node)
		local meta = minetest.get_meta(pos)

		local power = minetest.find_node_near(pos, 1, {"stm_nodes:cable", "stm_nodes:cable_ceiling"})
		if power then
			table.insert(meta.cables, power)
		end

		for _,

[2017-04-17 21:03] GreenXenith commented on #77
Any error message?

[2017-04-17 21:04] D00Med commented on #77
No, it crashes the client

[2017-04-17 21:05] GreenXenith commented on #77
No idea. @DS-Minetest might know.

[2017-04-17 21:15] D00Med commented on #77
@GreenXenith  Ok

[2017-04-17 21:34] tobyplowy commented on #77
@D00Med is it working the new cable plan?

[2017-04-17 21:35] D00Med commented on #77
@tobyplowy I kind of want to test the method that's crashing the game first

[2017-04-17 21:36] tobyplowy commented on #77
@D00Med XD

[2017-04-17 21:37] D00Med commented on #77
I'm not very good at this :'D

[2017-04-17 21:45] tobyplowy commented on #77
@D00Med well see it from the bright side I wouldn't even be able to add a mob so yeh XD

[2017-04-17 22:01] D00Med commented on #77
@tobyplowy yeah.  I've got to go, enjoy the rest of your day

[2017-04-17 22:03] tobyplowy commented on #77
Ok see you later I'm also going

[2017-04-17 22:07] D00Med commented on #77
bye

[2017-04-18 10:46] DS-Minetest commented on #77
@D00Med First thing I see: `table.insert(meta.cables, power)`. It makes no sense, the type of meta is userdata, not table.

[2017-04-18 17:11] tacotexmex commented on #80
I ran it again and this time, right before the segfault, it says
[code]

[2017-04-18 17:13] tacotexmex commented on #80
Ran it one more time and yes, it seems like it is the mines causing trouble:
[code]

[2017-04-18 17:34] DS-Minetest commented on #80
Let's see if it's still there with #81. But that won't be because global variables normally don't cause crashes.

[2017-04-18 18:56] tacotexmex commented on #80
I'm not that versed in coding and debugging, should I add it after each line within the `if cnt == 0 then` statement?

[2017-04-19 11:07] DS-Minetest commented on #80
@tacotexmex Just edit line 231-216 to something like
[code]

[2017-04-19 20:01] tobyplowy commented on #77
hi

[2017-04-19 20:02] DS-Minetest commented on #77
Hey @tobyplowy!

[2017-04-19 20:03] tobyplowy commented on #77
@DS-Minetest :)

[2017-04-19 20:03] tobyplowy commented on #77
I'm working on a Pterodactylus

[2017-04-19 20:04] DS-Minetest commented on #77
Cool. :)

[2017-04-19 20:05] DS-Minetest commented on #77
A flying dino!

[2017-04-19 20:05] tobyplowy commented on #77
@DS-Minetest I forgot to say this but thank you for your contribution and interest to this project I really appreciate it :)
Same for @GreenXenith

[2017-04-19 20:07] tobyplowy commented on #77
This May be stupid thinking but Everytime I Think of Flying Dinos I think Dragons for Some reason :/

[2017-04-19 20:08] DS-Minetest commented on #77
Actually I didn't really help yet because of laziness and co.

Make it eat fish. And think of pelicans.

[2017-04-19 20:08] tobyplowy commented on #77
Lol

[2017-04-19 20:10] tobyplowy commented on #77
@DS-Minetest well You Say You didn't help the project but You are Here And that is helping the project
Also you did this https://github.com/D00Med/farlands/pull/81 right?

[2017-04-19 20:12] DS-Minetest commented on #77
I'll finally pull this subgame now and test to find issues.

[2017-04-19 20:15] DS-Minetest commented on #77
Ah, already found one that's still there.
But I'll fix it now with a PR.

[2017-04-19 20:17] tobyplowy commented on #77
@DS-Minetest cool :)

[2017-04-19 20:21] DS-Minetest commented on #77
#82
Geany already deletes some unneeded spaces and co., what code editing software do you use, @tobyplowy, @D00Med and @GreenXenith?

[2017-04-19 20:22] DS-Minetest commented on #77
IMO fixing code style should be good even if it's not the point of the PR, so, I'll do that now.

[2017-04-19 20:24] tobyplowy commented on #77
@DS-Minetest I don't really program and if I do I use notepad (windows standard)

[2017-04-19 20:33] tobyplowy commented on #77
Well I have to go now see you guys later :)

[2017-04-19 20:37] DS-Minetest commented on #77
Bye @tobyplowy. :)

[2017-04-19 21:12] DS-Minetest opened #83 "Player model on wrong place in boat."
(It's the vehicle boat.)
![screenshot_20170419_230541](https://cloud.githubusercontent.com/assets/7613443/25202362/671a25be-2555-11e7-99f8-b3458ee99d8b.png)
(Also the selection box is on wrong place and has wrong size.)

[2017-04-19 21:14] DS-Minetest opened #84 "vehicles are lost in creative on place"
Boat and ballon stack shouldn't loose count if creative is enabled. Also the vehicles shouldn't drop in creative to avoid item overflow.

[2017-04-20 01:19] GreenXenith commented on #77
@DS-Minetest I use Geany. Notepad++ when on Windows, but that is rare :)

[2017-04-20 19:04] tobyplowy commented on #77
the pterodactyl is done
[pterodactyl.zip](https://github.com/D00Med/farlands/files/945205/pterodactyl.zip)

[2017-04-20 19:44] tobyplowy commented on #77
hi

[2017-04-20 20:06] tobyplowy commented on #83
@DS-Minetest What do you mean this is a problem it's completely normal to put your head in the bottom of the boat and sit in the water lol jk

[2017-04-20 20:07] tobyplowy commented on #77
@D00Med hallo

[2017-04-20 20:09] tobyplowy commented on #77
@DS-Minetest thanks for bug testing

[2017-04-20 20:31] tobyplowy commented on #77
I'm going now

[2017-04-21 08:58] D00Med commented on #77
Hey I'm back :D
@DS-Minetest  yeah you're probably right, I thought I could just add variables like normal.
Also, I use notepad++
@tobyplowy That's a cool idea, I'll have a look at it in the morning.
Talk later

[2017-04-21 10:32] DS-Minetest commented on #77
[pterodactyl.zip](https://github.com/D00Med/farlands/files/945205/pterodactyl.zip)

![pterodactyl blend](https://cloud.githubusercontent.com/assets/7613443/25273915/30402ee6-268e-11e7-9273-a46b8f025575.png)
It doesn't look bad.

[2017-04-21 10:33] tobyplowy commented on #77
@DS-Minetest I will make a better texture later :)

[2017-04-21 11:11] DS-Minetest commented on #77
@tobyplowy The texture is good, there's no need to change it.
Instead you could make it animated.

[2017-04-21 12:40] tobyplowy commented on #77
@DS-Minetest

no it's not it's too flat and boring

That's d00meds job (but if you wanna try you are more than welcome) I can't do bones :/

[2017-04-21 20:41] tobyplowy commented on #77
Hi

[2017-04-21 20:47] D00Med commented on #77
Hi
@tobyplowy I think the texture is good, it just needs a bit more contrast, and maybe more colour so it stands out against the sky.

[2017-04-21 20:49] tobyplowy commented on #77
@D00Med yeh

I have a question is it possible to make him walk and fly?

[2017-04-21 20:50] D00Med commented on #77
@tobyplowy  Supposedly it is possible, but I haven't got it to work. I cannot imagine how it would walk :'D

[2017-04-21 20:51] tobyplowy commented on #77
I have trouble understanding that

What I read is you give him fish and he thinks of pelicans if you do :/

[2017-04-21 20:52] tobyplowy commented on #77
@D00Med they wure able to walk

[2017-04-21 20:53] tobyplowy commented on #77
http://www.genesispark.com/wp-content/uploads/2013/07/Pterodactyl-walking.jpg

[2017-04-21 20:54] D00Med commented on #77
@tobyplowy  I think what DS-Minetest means is that the pterodactyl should behave somewhat like a pelican when it is eating. Lol that picture xD Ok

[2017-04-21 20:55] D00Med commented on #77
I could make flying and non-flying types, and switch the two when the ground is close. That would be at the cost of some speed I think.

[2017-04-21 20:56] tobyplowy commented on #77
@D00Med oh I see

It's funny but I wasn't able to find Anything better than that in Five Seconds ;)

[2017-04-21 20:58] tobyplowy commented on #77
As in performance or as in speed of movement

[2017-04-21 20:58] D00Med commented on #77
@tobyplowy  performance

[2017-04-21 20:58] tobyplowy commented on #77
@D00Med yeh that's bad

[2017-04-21 20:59] tobyplowy commented on #77
@D00Med maybe GreenXenith or DS-Minetest know

[2017-04-21 20:59] GreenXenith commented on #77
Have a walk/stand and fly animations, and switch to fly when above ground, stand when on ground, and walk when walking. Kinda like the player. One model, 3 different animations.

[2017-04-21 21:01] D00Med commented on #77
@GreenXenith  I could do that, but I think the animations set by the mob api would be messed up. I could probably get something to work though

[2017-04-21 21:01] GreenXenith commented on #77
@D00Med Do what you gotta do :P

[2017-04-21 21:02] tobyplowy commented on #77
@D00Med ok cool

[2017-04-21 21:02] tobyplowy commented on #77
@GreenXenith :P

[2017-04-21 21:10] tobyplowy commented on #77
I'm watching a movie so I probably won't be able to comment much :)

[2017-04-21 21:10] D00Med commented on #77
@tobyplowy  Ok

[2017-04-21 21:39] D00Med commented on #77
I've made the generator check for a cable beside it, make that cable active, then check for a cable beside the first, and so on until there are 7 cables. What sort of machine(doesn't have to be real), could be used at the end to make cables further away become active?

[2017-04-21 21:39] GreenXenith commented on #77
For testing?

[2017-04-21 21:41] D00Med commented on #77
No, I'm going to make something like a redstone repeater.

[2017-04-21 21:41] GreenXenith commented on #77
Oh I see what you meant. I suggest a transformer (that's what's used irl).

[2017-04-21 21:42] D00Med commented on #77
Ok, thanks.

[2017-04-21 21:44] GreenXenith commented on #77
Actually, you don't need anything. irl, you power does not deplete like redstone does. Transformers are for distribution.

[2017-04-21 21:46] D00Med commented on #77
:] ok, how about a random machine-like node, and I'll call it an "extender"?

[2017-04-21 21:49] GreenXenith commented on #77
Sounds good... maybe "Power Sustainer".

[2017-04-22 20:29] D00Med commented on #77
@GreenXenith  Sorry, page wasn't refreshing yesterday.
Anyway, hi everyone.

[2017-04-22 22:08] tobyplowy commented on #77
@D00Med sorry I'm late :/

[2017-04-23 03:06] D00Med commented on #77
@tobyplowy no problem, I was out anyway

[2017-04-23 19:57] tobyplowy commented on #77
Hi

[2017-04-23 21:03] D00Med commented on #77
@tobyplowy  hi

[2017-04-23 21:05] tobyplowy commented on #77
@D00Med do you have time for farlands today?

[2017-04-23 21:05] D00Med commented on #77
@tobyplowy in an hour, just reading some tedious stuff whilst my brain is working.

[2017-04-23 21:06] tobyplowy commented on #77
Ok XD

[2017-04-23 21:09] tobyplowy commented on #77
@D00Med what will you work on cables?

[2017-04-23 21:10] D00Med commented on #77
@tobyplowy  yeah probably, I really want to get that out of the way

[2017-04-23 21:11] tobyplowy commented on #77
@D00Med what will you do after the cables?

[2017-04-23 21:12] D00Med commented on #77
@tobyplowy probably finish some of the mobs, and the villager code

[2017-04-23 21:14] tobyplowy commented on #77
@D00Med ok nice

[2017-04-23 21:30] tobyplowy commented on #77
@D00Med I'm wondering what are you reading?

[2017-04-23 21:33] D00Med commented on #77
@tobyplowy A textbook about how people change as they get older

[2017-04-23 21:34] tobyplowy commented on #77
@D00Med ah sounds interesting

[2017-04-23 21:35] tobyplowy commented on #77
Are you sure it's not fifty shades of Gray XD

[2017-04-23 21:38] D00Med commented on #77
@tobyplowy yeah, it's just got too many words for too little information.
Lol no I wouldn't read that xD

[2017-04-23 21:43] tobyplowy commented on #77
I know what you're talking about that's horrible (I used to go to Photoshop lesons) I hated it there was too much time wasted and not enough learnt :/

I also haven't but from the things i heard I think it's better that way XD

[2017-04-23 21:47] D00Med commented on #77
@tobyplowy  yeah it is, but I don't have a choice if I want my degree :|
lol, yeah

[2017-04-23 21:49] tobyplowy commented on #77
@D00Med what are you studying for?

[2017-04-23 21:49] D00Med commented on #77
a bachelor of education.

[2017-04-23 21:52] tobyplowy commented on #77
@D00Med Nice

[2017-04-23 21:53] D00Med commented on #77
I hope so xD

[2017-04-23 21:58] tobyplowy commented on #77
@D00Med how is the progress on reading

[2017-04-23 22:00] D00Med commented on #77
@tobyplowy nearly done

[2017-04-23 22:01] D00Med commented on #77
@tobyplowy  ok

[2017-04-23 22:01] tobyplowy commented on #77
Ok take your time lernig is important :)

[2017-04-23 22:03] D00Med commented on #77
Yep.
Any idea what's causing the cables to crash the game?

[2017-04-23 22:06] tobyplowy commented on #77
@D00Med I'm not a programmer the most advanced thing I can do is add blocks and items XD

[2017-04-23 22:12] D00Med commented on #77
nvm, found it

[2017-04-23 22:23] tobyplowy commented on #77
@D00Med hey do you think the artstile of farlands is good?

[2017-04-23 22:33] D00Med commented on #77
@tobyplowy  Yeah it's good. At first I didn't like it, but it's growing on me.
The cables are working :)

[2017-04-23 22:36] D00Med commented on #77
![screenshot_20170424_083530](https://cloud.githubusercontent.com/assets/19916704/25318025/077c9e8a-28c9-11e7-9227-de7b237a6c1e.png)
A lot of stuff to power one lightbulb

[2017-04-23 22:39] tobyplowy commented on #77
@D00Med XD

[2017-04-23 22:39] tobyplowy commented on #77
Thanks :)

[2017-04-23 22:43] D00Med commented on #77
Well I've made my commit for today. Talk later

[2017-04-23 22:44] tobyplowy commented on #77
@D00Med Ok see you later :)

[2017-04-24 20:06] tobyplowy commented on #77
@D00Med I'm already going to bed I'm really tired :)

[2017-04-25 20:01] tobyplowy commented on #77
@D00Med hi

[2017-04-25 20:20] tobyplowy commented on #77
@D00Med well bye I guess

[2017-04-25 20:22] GreenXenith commented on #77
lol

[2017-04-25 20:50] D00Med commented on #77
Hi :)

[2017-04-25 20:50] D00Med commented on #77
@tobyplowy  sorry I keep missing you. It's winter here, the days are shorter

[2017-04-26 20:02] tobyplowy commented on #77
@D00Med This timezone difference is terrible :(

[2017-04-26 20:02] tobyplowy commented on #77
@D00Med this makes working on this game pretty much impossible :/

[2017-04-26 20:03] GreenXenith commented on #77
Somehow I don't miss either of you xD My timezone is right in the middle I guess :P

[2017-04-26 20:04] tobyplowy commented on #77
@GreenXenith lol

[2017-04-26 20:04] tobyplowy commented on #77
@GreenXenith how is the inventory GUI going any progress?

[2017-04-26 20:05] GreenXenith commented on #77
I am attempting to get my mods done that I have been putting off so I can work more on it. So no, not yet :/

[2017-04-26 20:06] tobyplowy commented on #77
@GreenXenith what mods are made by you can you give me some links?

[2017-04-26 20:08] GreenXenith commented on #77
just click my name and there are 5 repositories (3 are mods).

[2017-04-26 20:09] tobyplowy commented on #77
@GreenXenith oh I see thanks :)

[2017-04-26 20:10] tobyplowy commented on #77
😂👌 That discretion

[2017-04-26 20:11] GreenXenith commented on #77
lol :)

[2017-04-26 20:14] tobyplowy commented on #77
@GreenXenith It's really annoying how slow progress gos on farlands :/

[2017-04-26 20:15] GreenXenith commented on #77
Subgames take time an patience. But at least it's been developed enough to be a subgame. Some people take forever to make the thing so it is never released.

[2017-04-26 20:18] tobyplowy commented on #77
@GreenXenith I guess you are a little right.

But there's a difference between slow progress and no progress
And I would say we make no progress at least not Enough :/

[2017-04-26 20:22] GreenXenith commented on #77
"Enough" is relative. Besides, "**no** progress" means **none** at all. If you look at the commits, many have been made, and recently. Things *could* go faster, but things occupy some of us (D00Med and I for sure, and most likely you too).

[2017-04-26 20:23] tobyplowy commented on #77
@GreenXenith what does occupy mean?

[2017-04-26 20:24] tobyplowy commented on #77
@GreenXenith yeh ok it's not no progress but it's also not alot

[2017-04-26 20:25] GreenXenith commented on #77
**oc·cu·py**
verb
    fill or preoccupy (the mind or thoughts).
    "her mind was occupied with alarming questions"
    synonyms:	engage, busy, employ, distract, absorb, engross, preoccupy, hold, interest, involve, entertain, amuse, divert
    "I need something to occupy my mind"

[2017-04-26 20:25] GreenXenith commented on #77
Correct, it's not much progress. But once D00Med and I get more spare time, things might go a little faster :)

[2017-04-26 20:25] tobyplowy commented on #77
@GreenXenith I see :)

[2017-04-26 20:26] GreenXenith commented on #77
Unless I am missing something, my waffles update should be ready.

[2017-04-26 20:27] tobyplowy commented on #77
@GreenXenith true but I'm trying to think of ways to be more efficient how can we work faster with the same amount of work?

[2017-04-26 20:28] tobyplowy commented on #77
Good What did you add to the waffles mod?

[2017-04-26 20:29] GreenXenith commented on #77
Ah. I am missing something. Completely forgot to update the README and screenshot :P
@tobyplowy Be more efficient? I'll leave that up to you :)
What am I adding? Toaster waffles. OMG I forgot the french toast D:

[2017-04-26 20:29] GreenXenith commented on #77
Well... I can leave the french toast for later.

[2017-04-26 20:30] D00Med commented on #77
Hey, I'm up early today.
Going to work on some stuff.

[2017-04-26 20:30] GreenXenith commented on #77
He lives!!!!

[2017-04-26 20:30] D00Med commented on #77
@GreenXenith  what country are you in?

[2017-04-26 20:31] GreenXenith commented on #77
@D00Med US of A :)
(Pacific Standard Time, it's 1:30pm rn)

[2017-04-26 20:31] tobyplowy commented on #77
@D00Med you just arrived and I have to go now fuuuuuuu

See you guys later XD

[2017-04-26 20:31] GreenXenith commented on #77
Cya @tobyplowy

[2017-04-26 20:32] D00Med commented on #77
@Ok
@tobyplowy oh shame, ok bye :'D

[2017-04-26 20:32] GreenXenith commented on #77
LOL

[2017-04-26 20:34] D00Med commented on #77
Whoops

[2017-04-26 20:34] D00Med commented on #77
@GreenXenith  ok

[2017-04-26 20:49] D00Med commented on #77
I added some glowing crystals, but they don't spawn underground yet.

[2017-04-26 21:01] GreenXenith commented on #77
@D00Med nice
Okay, *now* I think my mod update is ready. Then another mod to update. And then I will have more time to work on farlands :D

[2017-04-26 21:05] D00Med commented on #77
@GreenXenith  great :D

[2017-04-26 21:39] GreenXenith commented on #77
Update released :D

[2017-04-26 21:42] D00Med commented on #77
cool, which mod?

[2017-04-26 21:44] GreenXenith commented on #77
waffles :3

[2017-04-27 19:56] tobyplowy commented on #77
@GreenXenith hallo :)

[2017-04-27 20:27] tobyplowy commented on #77
Well untill later

[2017-04-27 20:33] D00Med commented on #77
Aaah too late again

[2017-04-27 21:28] D00Med commented on #77
![screenshot_20170428_072736](https://cloud.githubusercontent.com/assets/19916704/25505246/4f502f60-2be4-11e7-833f-2d69e8f83c09.png)
Feeling pretty pleased with this

[2017-04-27 22:33] GreenXenith commented on #77
@D00Med Yep. That looks pretty good.

[2017-04-27 22:37] D00Med commented on #77
@GreenXenith thanks. Particle glow and animation is a pretty cool change :)

[2017-04-28 10:08] tobyplowy commented on #77
@D00Med that looks nice :)

[2017-04-28 19:52] tobyplowy commented on #77
@D00Med hallo this time I won't miss you :)

[2017-04-28 20:05] DS-Minetest commented on #77
The lightning of the crystals looks strange. Isn't it updated?

[2017-04-28 20:10] tobyplowy commented on #77
@DS-Minetest You mean it's to short?

[2017-04-28 20:11] GreenXenith commented on #77
It should look blended. This is slightly blended, but too angular.

[2017-04-28 20:12] tobyplowy commented on #77
@DS-Minetest +1 I agree

[2017-04-28 20:12] DS-Minetest commented on #77
@tobyplowy Yes.
Mapgen uses voxlemanipulation, right, I thought, there was a update lightning function.

[2017-04-28 20:13] tobyplowy commented on #77
@DS-Minetest Eeeehhh i dunno

[2017-04-28 20:15] DS-Minetest commented on #77
http://dev.minetest.net/voxel_manipulation Hm, a set_lightning but no update lightning.

[2017-04-28 20:16] tobyplowy commented on #77
@GreenXenith agree

[2017-04-28 20:17] tobyplowy commented on #77
This is something for @D00Med to fix

[2017-04-28 20:26] tobyplowy commented on #77
How are you guys doing bdw

[2017-04-28 20:40] GreenXenith commented on #77
@tobyplowy Fine. Finishing my other mod update so I can have more time for this.

[2017-04-28 20:42] tobyplowy commented on #77
@GreenXenith cool you effort is appreciated :)

[2017-04-28 20:48] D00Med commented on #77
Hi :)
@DS-Minetest  yeah it does look strange! I don't know what was going on, it seemed like I could place them a few times with the correct lighting, but then it went strange. Maybe a bug with some of the engine changes?

[2017-04-28 20:48] tobyplowy commented on #77
@D00Med yay for weekend XD

[2017-04-28 20:51] tobyplowy commented on #77
@D00Med do you have time to farlands today?

[2017-04-28 20:52] D00Med commented on #77
@tobyplowy  Yes

[2017-04-28 20:53] tobyplowy commented on #77
@D00Med yay

[2017-04-28 20:53] D00Med commented on #77
XD

[2017-04-28 20:55] tobyplowy commented on #77
@D00Med can you fix https://github.com/D00Med/farlands/issues/84 And https://github.com/D00Med/farlands/issues/83

[2017-04-28 20:57] D00Med commented on #77
@tobyplowy lol, yes

[2017-04-28 20:58] tobyplowy commented on #77
@D00Med what do you think of farlands darkstar.wav?

[2017-04-28 21:00] D00Med commented on #77
@tobyplowy  haven't had a look yet

[2017-04-28 21:01] tobyplowy commented on #77
@D00Med ok :)

[2017-04-28 21:01] tobyplowy commented on #77
@D00Med bdw we are doing a really great job with the mapgen :)

[2017-04-28 21:05] D00Med commented on #77
@tobyplowy  yeah it's looking good.
I still have to improve that other forest I made

[2017-04-28 21:05] tobyplowy commented on #77
@D00Med also can you remove the collision on the Stalactites and stalacmites?

[2017-04-28 21:06] tobyplowy commented on #77
Yeh XD those trees

[2017-04-28 21:09] tobyplowy commented on #77
@D00Med I can't wait to see the villages and vilaggers in them :)

[2017-04-28 21:12] D00Med commented on #77
@tobyplowy  yeah. Hopefully I will get the pathfinding working

[2017-04-28 21:13] D00Med commented on #84
I think it's fixed now, certainly I didn't notice those problems

[2017-04-28 21:13] tobyplowy commented on #77
@D00Med that's going to be fun

[2017-04-28 21:13] D00Med commented on #83
What is wrong with the selection box? I thought it was good.
I made it a bit bigger, and fixed the player. I did the same for the air balloon.

[2017-04-28 21:14] D00Med commented on #77
@tobyplowy 😖

[2017-04-28 21:15] tobyplowy commented on #77
😈

[2017-04-28 21:18] tobyplowy commented on #77
@D00Med the whole colony building thing probably isent going to work :/

[2017-04-28 21:23] tobyplowy commented on #77
@D00Med I'm building some stuff to see how good the color palette is for building

[2017-04-28 21:24] D00Med commented on #77
@tobyplowy  I think it can, it just needs a lot of work.
Ok that's a good idea.

[2017-04-28 21:26] tobyplowy commented on #77
That's good maybe the upcoming mob api will help

[2017-04-28 21:26] D00Med commented on #77
@tobyplowy  maybe

[2017-04-28 21:28] tobyplowy commented on #77
@D00Med also it seems thy will start working on a propper game in the next update #HIPE!

[2017-04-28 21:28] GreenXenith commented on #77
It would be nice to have a proper game for 0.5.0.

[2017-04-28 21:30] tobyplowy commented on #77
@GreenXenith oh hallo I thought you were gone XD

Also true

[2017-04-28 21:33] GreenXenith commented on #77
Nah man I am here for another 8 hours xD
@tobyplowy What did you mean by 'propper game in next update'?

[2017-04-28 21:34] tobyplowy commented on #77
@GreenXenith sofar is interested in start making a propper game in the next update

[2017-04-28 21:35] tobyplowy commented on #77
Next update is 0.4.17

[2017-04-28 21:35] GreenXenith commented on #77
Ok that is what I was agreeing about "**_Also_** true" threw me off :P
Um, no. Next update (June) is 0.4.16, and then next is 0.5.0.

[2017-04-28 21:36] D00Med commented on #77
@tobyplowy  sounds cool.

[2017-04-28 21:37] tobyplowy commented on #77
Yes it's 0.5.0 I'm confused because of the unstable

[2017-04-28 21:37] tobyplowy commented on #77
@D00Med @GreenXenith  hows progress

[2017-04-28 21:39] GreenXenith commented on #77
@tobyplowy Fine. Still working on this mod :P

[2017-04-28 21:39] tobyplowy commented on #77
@GreenXenith waffles with ice cream?

[2017-04-28 21:40] D00Med commented on #77
@tobyplowy  just working on villagers

[2017-04-28 21:42] tobyplowy commented on #77
@D00Med what exactly the go to bed thing?

Also can you make them run away from zombies

[2017-04-28 21:43] D00Med commented on #77
@tobyplowy  yes that. I'm not sure how to make them run from zombies, I'll give it a go though

[2017-04-28 21:43] tobyplowy commented on #77
@D00Med :D

[2017-04-28 21:45] tobyplowy commented on #77
@D00Med Also can you add the Torch particles from the legend of minetest?

[2017-04-28 21:47] D00Med commented on #77
@tobyplowy  torch particles?

[2017-04-28 21:49] D00Med commented on #77
@tobyplowy  can you fix the door names?

[2017-04-28 21:49] tobyplowy commented on #77
@D00Med yes

[2017-04-28 21:50] D00Med commented on #77
@tobyplowy  thanks. There aren't any particles on the torches in legend of minetest.

[2017-04-28 21:50] tobyplowy commented on #77
Nevermind can you make smoke come out of the torch

[2017-04-28 21:51] D00Med commented on #77
@tobyplowy  sure

[2017-04-28 21:52] tobyplowy commented on #77
There used to be (they looked like orange pixels goin in the air

[2017-04-28 21:54] tobyplowy commented on #77
@D00Med also in the legend of minetest where did you get that fire animation did you make it?

[2017-04-28 21:58] D00Med commented on #77
@tobyplowy  oh that's part of the texture.
I made the fire animation, but I traced the outline from a certain other game...

[2017-04-28 21:59] D00Med commented on #77
I got the npc pathfinding to work :D

[2017-04-28 22:03] D00Med commented on #77
![screenshot_20170428_185002](https://cloud.githubusercontent.com/assets/19916704/25548941/4c01ac84-2cb2-11e7-8688-f30d5287364f.png)
Is this ok?

[2017-04-28 22:04] GreenXenith commented on #77
Holy crap that looks amazing! What is it?

[2017-04-28 22:05] tobyplowy commented on #77
@D00Med oh waw that looks good

Are you sure that's not Photoshop or anything?

[2017-04-28 22:05] D00Med commented on #77
glowing & animated particles

[2017-04-28 22:05] GreenXenith commented on #77
Wait is that a torch?

[2017-04-28 22:06] D00Med commented on #77
No, paper lanterns

[2017-04-28 22:06] tobyplowy commented on #77
@D00Med I like it!

[2017-04-28 22:06] GreenXenith commented on #77
Oh good xD

[2017-04-28 22:06] D00Med commented on #77
Great :D

[2017-04-28 22:06] tobyplowy commented on #77
Fantastic!

[2017-04-28 22:12] D00Med commented on #77
@tobyplowy I suck at making trees, could you make some trees for a forest like this? http://cdn.thinglink.me/api/image/463000649638871041/1024/10/scaletowidth

[2017-04-28 22:13] tobyplowy commented on #77
@D00Med yes I will try but first I will finish the doors

[2017-04-28 22:13] D00Med commented on #77
@tobyplowy  ok, thanks.

[2017-04-28 22:15] GreenXenith commented on #77
ooo purty trees

[2017-04-28 22:16] GreenXenith commented on #77
is there a biome like that? with plants and grass like that?

[2017-04-28 22:16] D00Med commented on #77
@GreenXenith  irl or in farlands?

[2017-04-28 22:17] GreenXenith commented on #77
farlands

[2017-04-28 22:17] D00Med commented on #77
@GreenXenith There will be.

[2017-04-28 22:17] GreenXenith commented on #77
obviously there is irl cuz where did the pic come from? xD

[2017-04-28 22:17] GreenXenith commented on #77
Oh boy! :D

[2017-04-28 22:18] D00Med commented on #77
Lol yeah, could be planted trees though.
At the moment the biome looks pretty bad, it's the one with little purple flowers and weird trees

[2017-04-28 22:19] tobyplowy commented on #77
@D00Med I like the little purple flowers

[2017-04-28 22:20] D00Med commented on #77
@tobyplowy yeah they're nice. Where I live they cover up peoples lawns so that they are entirely purple

[2017-04-28 22:21] tobyplowy commented on #77
@D00Med is it a good idea to add the glow particle to the torch? (May make alot of lag)

[2017-04-28 22:21] tobyplowy commented on #77
@D00Med sounds cool

[2017-04-28 22:21] GreenXenith commented on #77
Psh. With all the lag we have now, it won't be noticeable.

[2017-04-28 22:22] D00Med commented on #77
@tobyplowy it should be ok. Is it laggy? seems pretty fast to me, a lot better than legend of minetest.

[2017-04-28 22:23] GreenXenith commented on #77
Mainly it's just the birds. Once too many spawn, the game performance goes downhill. If you stay in one area, few spawn. Once you start exploring, you get a bunch.

[2017-04-28 22:25] D00Med commented on #77
@GreenXenith Yeah I thought so, they're pretty annoying. I just changed the spawn chance from 1/100000 to 1/500000

[2017-04-28 22:26] GreenXenith commented on #77
That should work.

[2017-04-28 22:26] D00Med commented on #77
That's what I thought when I changed it from 7000 to 100000

[2017-04-28 22:29] tobyplowy commented on #77
Well you only yolo one's

[2017-04-28 22:30] D00Med commented on #77
@tobyplowy ????

[2017-04-28 22:31] tobyplowy commented on #77
@D00Med it's a meme

I'm joking about the performance

[2017-04-28 22:32] D00Med commented on #77
@tobyplowy  oh

[2017-04-28 22:38] tobyplowy commented on #77
@D00Med I'm done with the doors

[2017-04-28 22:38] tobyplowy commented on #77
@D00Med what are you working on at the moment?

[2017-04-28 22:39] tobyplowy commented on #77
@GreenXenith hows the Waffle's going

[2017-04-28 22:49] D00Med commented on #77
@tobyplowy  ok, great. glow for the torches

[2017-04-28 22:50] tobyplowy commented on #77
cool

[2017-04-28 22:50] tobyplowy commented on #77
@D00Med we are making alot of progress today :)

[2017-04-28 22:54] D00Med commented on #77
@tobyplowy  yeah :)

[2017-04-28 22:56] tobyplowy commented on #77
@D00Med I'm now making the trees

[2017-04-28 22:58] tobyplowy commented on #77
Why is the Ceiling cable a different node (isent that possible with facedir)

[2017-04-28 22:59] D00Med commented on #77
@tobyplowy  ok. It's because of how connected nodeboxes work.

[2017-04-28 23:00] tobyplowy commented on #77
Ah

[2017-04-28 23:07] tobyplowy commented on #77
@D00Med i made a tree is that good (i can make more if you need more)
[buildmap.zip](https://github.com/D00Med/farlands/files/965718/buildmap.zip)

[2017-04-28 23:08] GreenXenith commented on #77
@tobyplowy This is what I have been working on. And another thing, but this is the one I plan on releasing.
![screenshot_20170428_160716](https://cloud.githubusercontent.com/assets/24834740/25550291/c817930a-2c2c-11e7-86b8-7bfa4f9c3a4b.png)
It's a mix of the quartz pillars and buildingblocks marble + some more stuff.

[2017-04-28 23:10] tobyplowy commented on #77
XD

[2017-04-28 23:10] tobyplowy commented on #77
@GreenXenith can it be added to farlands?

[2017-04-28 23:13] D00Med commented on #77
@GreenXenith  looks really good

[2017-04-28 23:13] D00Med commented on #77
@tobyplowy  thanks

[2017-04-28 23:16] tobyplowy commented on #77
@D00Med i want to add a moth trap to the game so theres more ways you can farm string
[like this from starbound](https://giant.gfycat.com/ExhaustedWastefulGemsbok.gif)

[2017-04-28 23:16] tobyplowy commented on #77
@D00Med also can you make farmebles take longer to rot?

[2017-04-28 23:17] D00Med commented on #77
@tobyplowy  good idea!
![screenshot_20170429_091625](https://cloud.githubusercontent.com/assets/19916704/25550468/97d0ee68-2cbc-11e7-9793-b24b3c0fb2ff.png)
How is this?

[2017-04-28 23:17] D00Med commented on #77
@tobyplowy not sure, I'll have a look

[2017-04-28 23:17] tobyplowy commented on #77
@D00Med looks good

[2017-04-28 23:17] GreenXenith commented on #77
My window wasn't auto-updating >:/
@tobyplowy You can use it if you want to, but only once I release it.

[2017-04-28 23:18] D00Med commented on #77
@tobyplowy  great, I'll add it in.

[2017-04-28 23:18] tobyplowy commented on #77
fuuuuuuuuuuuuuuuu

[2017-04-28 23:19] GreenXenith commented on #77
:) That will be tonight (hopefully. If not, tomorrow).

[2017-04-28 23:19] tobyplowy commented on #77
@GreenXenith ok thats better XD

[2017-04-28 23:19] GreenXenith commented on #77
lol

[2017-04-28 23:19] GreenXenith commented on #77
@D00Med has to agree too though :)

[2017-04-28 23:20] tobyplowy commented on #77
@D00Med jup

[2017-04-28 23:20] D00Med commented on #77
@GreenXenith I agree, it'd be good

[2017-04-28 23:21] GreenXenith commented on #77
Sounds good.

[2017-04-28 23:22] D00Med commented on #77
Well I'm going now, have a nice day

[2017-04-28 23:22] GreenXenith commented on #77
Cya @D00Med.

[2017-04-28 23:22] tobyplowy commented on #77
@D00Med see you later

[2017-04-28 23:24] tobyplowy commented on #77
@GreenXenith now its just you and me >:)

[2017-04-28 23:24] GreenXenith commented on #77
Wonderful.

[2017-04-28 23:24] tobyplowy commented on #77
spectacular

[2017-04-28 23:26] tobyplowy commented on #77
@GreenXenith in your mod you have pillars (do they outo connect?)

[2017-04-28 23:26] GreenXenith commented on #77
They are blocks.

[2017-04-28 23:28] tobyplowy commented on #77
@D00Med yes i know but does the top texture outomaticly cange or do you hve to place 2 blocks (one for the middle texture and one for the top texture)

[2017-04-28 23:28] GreenXenith commented on #77
The top textures are separate blocks.

[2017-04-28 23:30] tobyplowy commented on #77
can you make it go outomaticly like
[minecraft ctm textures
](https://www.google.be/search?q=minecraft+ctm&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjow7-Ep8jTAhXFXBQKHfkqDZEQ_AUICigB&biw=1062&bih=534#tbm=isch&q=minecraft+ctm+texture&imgrc=_)

[2017-04-28 23:31] GreenXenith commented on #77
I'll let you or D00Med do that when you add it.

[2017-04-28 23:32] tobyplowy commented on #77
ok

[2017-04-28 23:34] tobyplowy commented on #77
@GreenXenith well im going now see you later

and sucsess with your mod

[2017-04-28 23:35] GreenXenith commented on #77
Alrighty @tobyplowy cya
and thanks

[2017-04-29 18:41] GreenXenith commented on #77
I am working on the large chest right now. I have the nodes working. Just trying to get them to share a formspec.

[2017-04-29 19:01] GreenXenith commented on #77
@tobyplowy and @D00Med How big are we wanting large chests? If I do double a normal chest, that is 72 slots. That seems a bit excessive to me. Normal chest is 36 slots, so maybe this one could be 45 or 54 slots (multiple of 9)? What do you guys want?

[2017-04-29 19:22] tobyplowy commented on #77
@GreenXenith 54 seems good for dubble chest

Can you make the small one (single chest) 27 slots?

Also thanks for your time :)

[2017-04-29 19:52] GreenXenith commented on #77
Me:

Toby:

Me:

Toby:

**_The next month..._**
Toby:

Me:
**Wth.**

[2017-04-29 19:54] tobyplowy commented on #77
@GreenXenith sorry nevermind

[2017-04-29 19:55] GreenXenith commented on #77
@tobyplowy I don't want to hurt your feelings, but that is a lot of work D:

[2017-04-29 19:58] tobyplowy commented on #77
No no your not it's fine just keep it how it is (that's best I was just thinking out loud)

[2017-04-29 19:59] GreenXenith commented on #77
@tobyplowy Alrighty. I shall make the large chest 54 slots.

[2017-04-29 20:10] tobyplowy commented on #77
@GreenXenith :)

I have a question can you add a loot all and deposit all button to the chest (it's pretty obvious what they shuld do)

[2017-04-29 20:18] GreenXenith commented on #77
@tobyplowy I probably could, but that is last priority. I might add it once I get the tabs done.

[2017-04-29 20:21] tobyplowy commented on #77
@GreenXenith thanks :)

Do you think the journal will work?

Also should we add achievements?

[2017-04-29 20:29] GreenXenith commented on #77
Journal might work. Haven't got that far yet.
I don't think achievements are necessary.

[2017-04-29 20:35] D00Med commented on #77
Hello

[2017-04-29 20:35] tobyplowy commented on #77
I feel they motivate me to do stuff

And what do you think of bosses?

[2017-04-29 20:35] tobyplowy commented on #77
@D00Med hi

[2017-04-29 20:36] tobyplowy commented on #77
@D00Med will tonight be as productive as yesterday?

[2017-04-29 20:36] GreenXenith commented on #77
Bosses might be nice.

[2017-04-29 20:37] tobyplowy commented on #77
@GreenXenith yes they add a meaning to the game (I like how terraria does it alot of bosses)

[2017-04-29 20:40] D00Med commented on #77
@tobyplowy no because I have some other work to do, but I will try to do quite a lot today.

[2017-04-29 20:40] tobyplowy commented on #77
@D00Med ok

[2017-04-29 20:41] tobyplowy commented on #77
@D00Med and what will you work on?

[2017-04-29 20:41] D00Med commented on #77
@tobyplowy  the new forest

[2017-04-29 20:42] tobyplowy commented on #77
@GreenXenith also can I have a test version of the new gui? (Download)

[2017-04-29 20:43] GreenXenith commented on #77
@tobyplowy It is highly experimental...

[2017-04-29 20:43] tobyplowy commented on #77
ok cool

[2017-04-29 20:43] tobyplowy commented on #77
@GreenXenith I know I'm ok with that :)

[2017-04-29 20:44] GreenXenith commented on #77
@tobyplowy Oki... lemme get ready...

[2017-04-29 20:46] tobyplowy commented on #77
@D00Med can you also add the rock schematics to mapgen

(Add them in plain bimes and the big pine tree forest)

[2017-04-29 20:47] tobyplowy commented on #77
@D00Med can you also add more coarse dirt to the big pine tree biome

[2017-04-29 20:48] D00Med commented on #77
@tobyplowy rock schematics?

[2017-04-29 20:48] tobyplowy commented on #77
@D00Med I also can't find jungles anymore :/

[2017-04-29 20:49] D00Med commented on #77
@tobyplowy I think they're still there

[2017-04-29 20:49] tobyplowy commented on #77
A while Back I askd you to add rocks to the mapgen and I gave you the world save

[2017-04-29 20:52] D00Med commented on #77
@tobyplowy  ok I probably still have it

[2017-04-29 20:54] tobyplowy commented on #77
@D00Med It seems everytime you are you add a new biome another biome become uncomment

Like the desert it's so rare I've only come across one in the hole development of farlands so far (and I have made around a 100 world's)

[2017-04-29 20:55] D00Med commented on #77
@tobyplowy Aren't deserts rare anyway?
You are right though, I'll change around some of the heat values, that works sometimes

[2017-04-29 20:56] D00Med commented on #77
I can't get that last world you sent to work, it doesn't show up

[2017-04-29 20:57] tobyplowy commented on #77
@D00Med I want all biomes to be equally rare and commen

[2017-04-29 21:01] tobyplowy commented on #77
It's called build map you should find it

[2017-04-29 21:01] GreenXenith commented on #77
Make sure gameid = farlands in the world.mt

[2017-04-29 21:03] D00Med commented on #77
Still the same

[2017-04-29 21:04] D00Med commented on #77
@GreenXenith thanks, It actually just needed a capital "F"

[2017-04-29 21:05] tobyplowy commented on #77
@D00Med what is your farlands folder called​ in the games folder?

[2017-04-29 21:05] D00Med commented on #77
Farlands

[2017-04-29 21:06] tobyplowy commented on #77
Ok well I see you got it to work anyway

[2017-04-29 21:09] tobyplowy commented on #77
@D00Med is the tree good?

[2017-04-29 21:09] D00Med commented on #77
@tobyplowy  yep

[2017-04-29 21:09] tobyplowy commented on #77
@D00Med also sorry for the flying boat and flying house XD

[2017-04-29 21:10] D00Med commented on #77
No problem, they look good

[2017-04-29 21:11] tobyplowy commented on #77
@D00Med I'm really happy with the house :)

[2017-04-29 21:12] D00Med commented on #77
@tobyplowy yeah it's nice. Do you mind if I use it in a village?

[2017-04-29 21:13] tobyplowy commented on #77
@D00Med is it possible to remove the glow effect on torches in the daytime (but still keep it in caves and in Buildings?)

[2017-04-29 21:14] GreenXenith commented on #77
Should be. Just detect the light level of surrounding area.

[2017-04-29 21:14] D00Med commented on #77
@tobyplowy  yes. It doesn't look too good during the day

[2017-04-29 21:15] D00Med commented on #77
@tobyplowy  I'm still going to add smoke, I just have to make a texture for it

[2017-04-29 21:16] tobyplowy commented on #77
Well that's why I made it for the villages but it's not finished yet but if you want to use it sure (is it for farlands or another mod?)

[2017-04-29 21:18] tobyplowy commented on #77
Why not use the tnt smoke texture?

[2017-04-29 21:18] GreenXenith commented on #77
Ew no.

[2017-04-29 21:19] tobyplowy commented on #77
Why not?

[2017-04-29 21:19] GreenXenith commented on #77
The smoke texture looks horrible.

[2017-04-29 21:20] GreenXenith commented on #77
Doesn't even look like smoke.

[2017-04-29 21:20] D00Med commented on #77
@tobyplowy  ok. it was for farlands.
@GreenXenith  are you talking about the original one or the one Toby made?

[2017-04-29 21:20] GreenXenith commented on #77
Talking about default tnt smoke texture.

[2017-04-29 21:20] tobyplowy commented on #77
@D00Med also maybe we should make the particles a separate mod

[2017-04-29 21:21] D00Med commented on #77
@GreenXenith ok.
@tobyplowy  why? seems like too small a detail for a separate mod

[2017-04-29 21:21] GreenXenith commented on #77
Yeah. I think we need a different smoke texture that looks more smoke-like.

[2017-04-29 21:22] D00Med commented on #77
@GreenXenith like the one in the mapgen mod?

[2017-04-29 21:23] GreenXenith commented on #77
Ehm...

[2017-04-29 21:24] GreenXenith commented on #77
More like the homedecor chimney smoke puff texture.

[2017-04-29 21:24] tobyplowy commented on #77
it may be more efficient I dunno it's just an idea :)

[2017-04-29 21:25] tobyplowy commented on #77
@D00Med where did you put the TNT smoke texture (in what mod)

[2017-04-29 21:25] D00Med commented on #77
@GreenXenith haven't seen it.
@tobyplowy why would that make it more efficient? I'm not saying it's a bad idea, it just seems a bit pointless. I put the tnt smoke texture in the mapgen mod

[2017-04-29 21:25] GreenXenith commented on #77
![smoke_particle](https://cloud.githubusercontent.com/assets/24834740/25559016/baf212b6-2ce7-11e7-909c-13182f9b6771.png)

[2017-04-29 21:26] GreenXenith commented on #77
^that

[2017-04-29 21:26] D00Med commented on #77
@GreenXenith  similar to the steam texture then?

[2017-04-29 21:26] GreenXenith commented on #77
Most likely, but a bit darker.

[2017-04-29 21:27] GreenXenith commented on #77
They *are* similar irl anyway.

[2017-04-29 21:27] tobyplowy commented on #77
@GreenXenith what's wrong with this?
https://github.com/D00Med/farlands/blob/master/mods/mapgen/textures/farlands_smoke.png

[2017-04-29 21:28] tobyplowy commented on #77
@D00Med yeh it maybe a bad idea

[2017-04-29 21:29] D00Med commented on #77
![screenshot_20170430_072851](https://cloud.githubusercontent.com/assets/19916704/25559040/af80cea6-2d76-11e7-843c-75f1ae76f37c.png)
A definite improvement from before

[2017-04-29 21:30] tobyplowy commented on #77
@D00Med that looks nice

[2017-04-29 21:31] GreenXenith commented on #77
@tobyplowy I see now. I was 1) using my fork not the new one xD and 2) Using stable MT not dev :P
@D00Med 1) That forest looks great! 2) Keep the smoke toby made for the TNT, but dont use that for the torch. I still think you should use one more like the steam (but darker) for the torch, since animated particles for smoke torch doesn't make much sense, and smoke torch is more blacker than whiter.

[2017-04-29 21:32] tobyplowy commented on #77
@D00Med what do you think about bosses?

[2017-04-29 21:37] GreenXenith commented on #77
@tobyplowy Here are the mods.
[Formspec Mods.zip](https://github.com/D00Med/farlands/files/966422/Formspec.Mods.zip)
The farlands_inventory you just put with the mods and the nodes.lua goes in default (**_save a backup of the original nodes.lua because this one is from an older version of farlands_**).

[2017-04-29 21:38] tobyplowy commented on #77
Also how is you guys view on different dimensions like hell and heaven
(Only important if minetest gets propper support for dimensions)

[2017-04-29 21:40] D00Med commented on #77
@GreenXenith I agree.
@tobyplowy I'd love to add them :) If minetest gets proper support for dimensions then that would be really cool!

[2017-04-29 21:40] GreenXenith commented on #77
@tobyplowy Um, dimensions might be nice, but I wouldn't call it those. Maybe 'The Darklands' and 'The Aura' or something.

So far, the survival inventory is done ( minus the tabs), the chest/lockedchest formspecs are done, and the large chest functions are done (still need to make formspec).

[2017-04-29 21:46] tobyplowy commented on #77
@GreenXenith oh crap nodes.lua is completely scrambled (not organized anymore)

[2017-04-29 21:46] GreenXenith commented on #77
What is that supposed to mean?

[2017-04-29 21:51] tobyplowy commented on #77
@GreenXenith i hope this explanes

![rfrrrr](https://cloud.githubusercontent.com/assets/16853304/25559187/ad8abfca-2d36-11e7-91da-6a24563145bb.png)

[2017-04-29 21:51] GreenXenith commented on #77
That would be your fault not mine :)
You are using 'notes' (very bad for coding)

[2017-04-29 21:53] GreenXenith commented on #77
That program's code formatting is all wrong

[2017-04-29 21:53] tobyplowy commented on #77
touche

[2017-04-29 21:54] tobyplowy commented on #77
@GreenXenith the survival inventory seems to work nicely so far

[2017-04-29 21:54] D00Med commented on #77
Yeah, could you use some other program? it would be helpful

[2017-04-29 21:54] tobyplowy commented on #77
@D00Med me?

[2017-04-29 21:55] GreenXenith commented on #77
I use Geany (I have linux) but since it looks like you are using windows I suggest notepad++

[2017-04-29 21:55] D00Med commented on #77
@tobyplowy  yes, sorry

[2017-04-29 21:56] tobyplowy commented on #77
well i tryd notepad++ but i diddent like it

[2017-04-29 21:56] GreenXenith commented on #77
Then see if you can get Geany for windows

[2017-04-29 21:57] GreenXenith commented on #77
https://www.geany.org/Download/Releases

[2017-04-29 21:57] tobyplowy commented on #77
@GreenXenith i will do that later thanks

[2017-04-29 21:59] tobyplowy commented on #77
@GreenXenith i realy like how the gui looks so far :D

cant wait to see the tabs working (that sounds weard)

[2017-04-29 22:01] GreenXenith commented on #77
@tobyplowy Try the chests :D

[2017-04-29 22:01] tobyplowy commented on #77
@GreenXenith was just goig to place it

[2017-04-29 22:03] tobyplowy commented on #77
@GreenXenith oh man this is great thanks your doing an amazing job!

[2017-04-29 22:05] GreenXenith commented on #77
Thanks :)

[2017-04-29 22:06] tobyplowy commented on #77
@GreenXenith what will the next thing be you add (the tabs?)

[2017-04-29 22:07] GreenXenith commented on #77
The large chest formspec. After that, the creative formspec. *Then* the tabs.

[2017-04-29 22:08] tobyplowy commented on #77
@GreenXenith ok you cant emagine how happy this makes me

[2017-04-29 22:10] tobyplowy commented on #77
@D00Med are you still thre?

[2017-04-29 22:13] D00Med commented on #77
@tobyplowy  yeah I just added the rocks

[2017-04-29 22:15] tobyplowy commented on #77
@GreenXenith can you change the trash feald

So if you put an item in it it doesn't get removed instantly it will only be removed if you put another item in it
(This allows you to get it back out of the trash so you don't lose stuff accidentally)

[2017-04-29 22:16] tobyplowy commented on #77
@D00Med nice

[2017-04-29 22:16] GreenXenith commented on #77
Um, I don't think that is possible @tobyplowy.

[2017-04-29 22:17] D00Med commented on #77
I'm going now, bye. enjoy your day/night

[2017-04-29 22:17] GreenXenith commented on #77
Cya @D00Med

[2017-04-29 22:18] tobyplowy commented on #77
@D00Med See you later :)

[2017-04-29 22:19] tobyplowy commented on #77
@GreenXenith is it Possible to add a timer (5 sec) so you can Still Get your item Out Of the trash Before It Gets removed?

[2017-04-29 22:20] GreenXenith commented on #77
The whole point of the trash is to remove stuff. You would have to define the trash slot, which is not supported.

[2017-04-29 22:23] tobyplowy commented on #77
I know but if you do it by accident that's not fun

Oh well not then

[2017-04-29 22:27] tobyplowy commented on #77
@GreenXenith it's funny how you say it's highly experimental but it seems to work fine XD

[2017-04-29 22:27] GreenXenith commented on #77
I removed the experimental parts :P

[2017-04-29 22:28] tobyplowy commented on #77
@GreenXenith Ah I see

[2017-04-29 22:32] tobyplowy commented on #77
@GreenXenith what are you working on at the moment

[2017-04-29 22:32] GreenXenith commented on #77
Moderating a server.

[2017-04-29 22:33] tobyplowy commented on #77
@GreenXenith what server may I ask?

[2017-04-29 22:33] GreenXenith commented on #77
HOMETOWN.

[2017-04-29 22:35] tobyplowy commented on #77
@GreenXenith never herd of it what type of server is it creative?

[2017-04-29 22:35] GreenXenith commented on #77
https://forum.minetest.net/viewtopic.php?f=10&t=16699

[2017-04-29 22:37] tobyplowy commented on #77
@GreenXenith thanks

[2017-04-29 22:40] tobyplowy commented on #77
@GreenXenith can I ask What Makes You interested In farlands?
(This is usefull to know because it allows me to improve that aspect you like)

Also I have to go have a nice day/night and have fun moderating :)

[2017-04-29 22:49] GreenXenith commented on #77
Nice textures, I like steampunk, I like the features.

[2017-04-30 20:17] tobyplowy commented on #77
Hi

[2017-04-30 20:36] tobyplowy commented on #77
@D00Med I'm not a fan of the new mapgen :/

[2017-04-30 21:10] D00Med commented on #77
Hi
@tobyplowy The new mapgen?

[2017-04-30 21:13] tobyplowy commented on #77
@D00Med you changed the values of the Mapgen (heatlevels)

[2017-04-30 21:14] D00Med commented on #77
@tobyplowy Lol, no I didn't xD I forgot to mention, I found jungles twice yesterday

[2017-04-30 21:16] tobyplowy commented on #77
@D00Med sins your last commit theres Almost no normal Forest and almost no tall pine Forest (and there's alot of jungles)

[2017-04-30 21:17] D00Med commented on #77
@tobyplowy Are you sure you're not just imagining this? Have you changed any mapgen related settings in your config file?

[2017-04-30 21:17] tobyplowy commented on #77
@D00Med no

[2017-04-30 21:19] D00Med commented on #77
@tobyplowy ok, what mapgen are you using, as in v7, valleys, etc.?

[2017-04-30 21:24] tobyplowy commented on #77
V7

[2017-04-30 21:29] D00Med commented on #77
@tobyplowy  ok. I don't know why it's doing that for you, I can still find different biomes.
It has been a while since I've seen a desert, but they're rare even in minetest game.

[2017-04-30 21:34] tobyplowy commented on #77
@D00Med well I guess its just me can you try to make plains and normal Forest most commen also I add a lantern do you like it?

[2017-04-30 21:41] D00Med commented on #77
@tobyplowy yep I will do that. looks nice!

[2017-04-30 21:42] tobyplowy commented on #77
@D00Med thanks and thanks

[2017-04-30 22:01] D00Med commented on #77
@tobyplowy I'm going now, have a nice day

[2017-04-30 22:05] tobyplowy commented on #77
@D00Med yes you too

[2017-05-01 19:56] tobyplowy commented on #77
@D00Med hi

[2017-05-01 20:41] D00Med commented on #77
hi

[2017-05-01 20:42] tobyplowy commented on #77
@D00Med do You have time for farlands today?

[2017-05-01 20:45] D00Med commented on #77
@tobyplowy  yes, a bit. what should I work on?

[2017-05-01 20:47] tobyplowy commented on #77
@D00Med can you add the flying dino XD

also improve mapgen a bit

[2017-05-01 20:49] tobyplowy commented on #77
@D00Med also i wount be able to comment alot after this comment (I'm watching a movie)

[2017-05-01 20:53] D00Med commented on #77
@tobyplowy  hmm I can work on it. Ok

[2017-05-01 20:56] tobyplowy commented on #77
@D00Med thanks

[2017-05-01 21:27] tobyplowy commented on #77
@D00Med hows progress going :)

[2017-05-01 21:31] D00Med commented on #77
@tobyplowy  I'm adding bones, but I should study now.
Have a nice day

[2017-05-01 21:33] tobyplowy commented on #77
@D00Med yes you too :)

[2017-05-03 20:20] tobyplowy commented on #77
@D00Med i finished the house and i made a second one
[buildmap.zip](https://github.com/D00Med/farlands/files/974591/buildmap.zip)

[2017-05-03 20:21] tobyplowy commented on #77
@D00Med can you add
melon and pumpkin to farming

[2017-05-03 20:22] tobyplowy commented on #77
@GreenXenith hows progress going with the gui?

[2017-05-03 20:25] tobyplowy commented on #77
i have to go @D00Med i hope you have time for the above things

[2017-05-03 20:38] D00Med commented on #77
Hi
@tobyplowy  I will add those things. I made some progress with the conveyor belts last night, they're a bit buggy but they work.

[2017-05-03 20:45] D00Med commented on #77
Which boats should we use? the boat from vehicles, or the default boat?
Either could use key controls.

[2017-05-03 20:48] #84 closed

[2017-05-04 10:07] tobyplowy commented on #77
@D00Med the default one I don't like the mouse controls (I want to be able to look around in the boat without moving in that derection)

[2017-05-04 14:13] DS-Minetest commented on #77
You could leave both and only make the default available in survival and change the description of the vehicles boat to something like "alternative boat".

[2017-05-04 15:19] tobyplowy commented on #77
@DS-Minetest wuld it be possible to make it a setting?

[2017-05-04 16:44] DS-Minetest commented on #77
@tobyplowy Sure.

[2017-05-04 20:25] tobyplowy commented on #77
@D00Med can you add stairs and slabes for all types of wood

[2017-05-04 20:27] tobyplowy commented on #77
@D00Med also dount forget to add the pumpkins and melons

[2017-05-04 20:28] tobyplowy commented on #77
@DS-Minetest how do you add settings

[2017-05-04 20:32] tobyplowy commented on #77
What do you guys think of pets (small mobs that follow you on your adventures They can be Found in tresure chests or both from npcs that won't do anything they are just for astetics)

[2017-05-04 20:32] GreenXenith commented on #77
^Yes.

[2017-05-04 20:55] D00Med commented on #77
Hi
@tobyplowy  Yep. I've improved the machines a lot, but there are still problems.
That's a good idea about the mobs. Mob following isn't too good though, they tend to stop or get stuck easily

[2017-05-04 20:57] D00Med commented on #77
The mobf animals modpack had a strange looking dog that was seemingly impossible to get rid of :'D
I even trapped it in a box made of tnt, but it escaped before the tnt blew up.

[2017-05-04 22:10] D00Med commented on #77
![screenshot_20170505_080958](https://cloud.githubusercontent.com/assets/19916704/25727032/56c25f9e-316a-11e7-8a32-9fef35c8f3d6.png)

[2017-05-05 01:37] GreenXenith commented on #77
Looks like a cactus IMO.

[2017-05-05 02:16] D00Med commented on #77
@GreenXenith  😂 I was quite proud of those textures

[2017-05-05 02:27] GreenXenith commented on #77
@D00Med Don't get me wrong, they look great! They just look like cactus :P Tho they don't have thorns so they are definitely watermelon. So they are fine :D

[2017-05-05 02:33] D00Med commented on #77
@GreenXenith  would it help if I made the texture less detailed?

[2017-05-05 04:15] GreenXenith commented on #77
@D00Med Nah. Just make sure the cactus look distinctly different :)

[2017-05-05 19:51] tobyplowy commented on #77
@D00Med nice Mellon (is the last stage the rotten Mellon?)

[2017-05-05 19:52] tobyplowy commented on #77
Also hi

[2017-05-05 20:23] D00Med commented on #77
Hi
@GreenXenith  ok.
@tobyplowy  Thanks. Yes it is, should it be more yellow/pale?

[2017-05-05 20:24] GreenXenith commented on #77
Methinks the ripe melon should be a tad more yellow and the rotten melon more brown.

[2017-05-05 20:26] tobyplowy commented on #77
@D00Med also make sure the normal Mellon doesent rott if you have already harvested it and placed it as a building block

[2017-05-05 20:27] tobyplowy commented on #77
What GreenXenith said

[2017-05-05 20:27] D00Med commented on #77
@tobyplowy oh that might be difficult

[2017-05-05 20:29] GreenXenith commented on #77
@D00Med I was under the assumption that if you break a melon it gives you 9 melon slices. Craft those together to get a block. Make 2 melons. melon_plant (can rot, is final stage) and melon_block (does not rot). Both give 9 slices, but only the block is craftable.

[2017-05-05 20:29] tobyplowy commented on #77
@D00Med you can add another mellon block (Mellon no rot) so if you brake the Mellon you have grown (it will drop Mellon no rot) that should work right?

[2017-05-05 20:30] GreenXenith commented on #77
^that works too

[2017-05-05 20:31] tobyplowy commented on #77
@GreenXenith that sounds better than my fix

[2017-05-05 20:31] D00Med commented on #77
@tobyplowy  I was thinking that would be a little strange - break a melon to get a melon. Especially since they can be eaten off the ground by right clicking. But that does seem like an ok idea.

[2017-05-05 20:32] D00Med commented on #77
@GreenXenith That's a good idea. It does seem strange to break a melon and then build it again, but if you guys are fine with that I will use your method

[2017-05-05 20:32] tobyplowy commented on #77
@D00Med  that's why I think reenXeniths idea is better

[2017-05-05 20:33] tobyplowy commented on #77
@D00Med yup I'm fine with that

[2017-05-05 20:34] D00Med commented on #77
@tobyplowy  Ok

[2017-05-05 20:35] tobyplowy commented on #77
About those pets (followers or companions) what types of pets do you guys whant?

[2017-05-05 20:37] GreenXenith commented on #77
Cats (or ocelot)
Dogs
Lizards
Slime cube

[2017-05-05 20:39] tobyplowy commented on #77
@GreenXenith good ideas!
Also Is it possible to put the Lizards on your shoulder?

[2017-05-05 20:40] GreenXenith commented on #77
Probably. If so, a small monkey! And lemurs!

[2017-05-05 20:40] tobyplowy commented on #77
@D00Med and you d00med what do you wanna see?

[2017-05-05 20:41] tobyplowy commented on #77
@GreenXenith can you add a pet slot to the armor tab

(It's used to put a pet item in it)

[2017-05-05 20:42] GreenXenith commented on #77
I will see what I can do. That is not priority right now though :)

[2017-05-05 20:43] D00Med commented on #77
@tobyplowy GreenXenith suggested everything I would like to see :)
Trying to attach anything to the player is a pain, it could be done though.

[2017-05-05 20:44] tobyplowy commented on #77
@GreenXenith I know :)

How is progress have any screenshots of new stuff?

[2017-05-05 20:44] tobyplowy commented on #77
How bad?

[2017-05-05 20:45] GreenXenith commented on #77
@tobyplowy Nope. Last thing I worked on was the large chest. I will probably work on the creative inventory today.

[2017-05-05 20:48] tobyplowy commented on #77
@GreenXenith is the dubble chest complete?
Can it be meged

[2017-05-05 20:49] GreenXenith commented on #77
@tobyplowy I don't know. I think it can be. I will look and see.

[2017-05-05 20:51] D00Med commented on #77
@tobyplowy Think facehuggers and the deku mask.

[2017-05-05 20:52] tobyplowy commented on #77
@D00Med it sucks XD

[2017-05-05 20:54] D00Med commented on #77
@tobyplowy well I think it'd probably be a lot easier for someone who understands what they are doing

[2017-05-05 20:57] tobyplowy commented on #77
@D00Med I was thinking the steampunk mechanics maybe a bit complicated we can add an alternative to Redstone for simple tasks like turning on a lamp and opening a door

And steam machines can be used for powering other machines and conveyor belt

Just me thinking out loud (I'm ok with the way it is now but others may not)

[2017-05-05 21:01] D00Med commented on #77
@tobyplowy  Isn't that sort of the point?
Ok, I think there is now a good use for the crystals. They can be used for small standalone machines(ie: door levers). Maybe not lamps though, since there is already paper lanterns

[2017-05-05 21:02] D00Med commented on #77
I'm not sure, but it looks like melons don't rot if they are on anything but wet soil anyway

[2017-05-05 21:03] tobyplowy commented on #77
Ok good

[2017-05-05 21:04] tobyplowy commented on #77
Not sure eventually all plants rot right?

[2017-05-05 21:06] D00Med commented on #77
@tobyplowy  irl yes, I meant in minetest.

[2017-05-05 21:09] D00Med commented on #77
@tobyplowy  mind if I add brighter needles to the cactus?

[2017-05-05 21:09] tobyplowy commented on #77
@D00Med I see if it's on wet soil it can rot (you need the soil to grow the plant) and if you brake it and place it will very likely not be on wet soil so it won't rot

[2017-05-05 21:09] D00Med commented on #77
@tobyplowy I'm testing it now

[2017-05-05 21:10] tobyplowy commented on #77
@D00Med no I don't you can redo the cactus texture completely if you want (it Was placeholder anyway)

[2017-05-05 21:10] tobyplowy commented on #77
@GreenXenith hows the chest going

[2017-05-05 21:10] D00Med commented on #77
@tobyplowy  oh that explains the top texture then

[2017-05-05 21:11] GreenXenith commented on #77
Somehow the chest formspec aint lining up |:|

[2017-05-05 21:12] tobyplowy commented on #77
@D00Med the Mellon is a full block so it will turn the wet soil in to dirt

[2017-05-05 21:13] D00Med commented on #77
@tobyplowy  I don't think it works like that

[2017-05-05 21:14] tobyplowy commented on #77
That sucks can you maybe use some code from mineclone2

[2017-05-05 21:14] tobyplowy commented on #77
@D00Med ah ok XD

[2017-05-05 21:14] GreenXenith commented on #77
Dude. That is what I based the whole chest off of :)

[2017-05-05 21:19] tobyplowy commented on #77
@GreenXenith oh XD

Also the inventory?

[2017-05-05 21:21] GreenXenith commented on #77
Yep. Heavily modified, I assure you. Respects the license entirely.

[2017-05-05 21:23] tobyplowy commented on #77
@GreenXenith cool :)

[2017-05-05 21:25] tobyplowy commented on #77
@GreenXenith if you have any screenshots to show please do :)

I like seein in development stuff

[2017-05-05 21:28] GreenXenith commented on #77
Hm. I wont be merging the chest until I am done with the inventory. Something elsewhere messes with the chest.

[2017-05-05 21:31] tobyplowy commented on #77
@GreenXenith ok

[2017-05-05 21:35] tobyplowy commented on #77
@D00Med lol

Hey I wanna know the pumpkins are just copy paste code of the Mellon a right?

[2017-05-05 21:40] D00Med commented on #77
@tobyplowy @GreenXenith  I meant to ask, do either of you want to see any of the mobs from dmobs in farlands? Since I'm remaking them anyway(I haven't forgotten about the panda) I figure I might as well add some to farlands

[2017-05-05 21:41] D00Med commented on #77
@tobyplowy  yeah they are

[2017-05-05 21:46] D00Med commented on #77
Which is more important, rotting melons or the steps leading up to a full melon?
I think the problem with rotting is happening because there are too many steps, so I'm thinking of removing an earlier growth stage to make room for the rotten stage

[2017-05-05 21:48] tobyplowy commented on #77
@D00Med yes you can add dmobs (but only is they meet my standards)

All pixels on the model are the same size (or almost) and only cubes and panels also low-res texture

[2017-05-05 21:49] tobyplowy commented on #77
@D00Med that's your decision

[2017-05-05 21:52] D00Med commented on #77
@tobyplowy  Ok, thanks. Yep, that's what I'm going for anyway.

[2017-05-05 21:53] tobyplowy commented on #77
@D00Med can you add my elephant and sloth to dmobs

[2017-05-05 21:54] D00Med commented on #77
@tobyplowy  Yes :)
Still haven't figured out how I'm going to make the sloth move, it will be interesting

[2017-05-05 21:59] tobyplowy commented on #77
@D00Med as long as you dount do [this](https://s-media-cache-ak0.pinimg.com/736x/a7/65/2f/a7652fa077b7682f18668d702c45b349.jpg) with the sloth it's going to be just fine XD

[2017-05-05 21:59] GreenXenith commented on #77
Do what you want with the mobs.
As for melons, I think steps might be better. Other foods don't rot, why should melons? :P

[2017-05-05 22:00] tobyplowy commented on #77
[This is a gold mine of bad jokes](https://www.google.be/search?q=sloth+meme&client=tablet-android-google&prmd=ivsn&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi-8Kyu39nTAhXOKVAKHaeYBxQQ_AUICSgB&biw=960&bih=600)

[2017-05-05 22:01] D00Med commented on #77
@GreenXenith they don't? 😮
@tobyplowy  lol yeah

[2017-05-05 22:01] tobyplowy commented on #77
Wayt that should

[2017-05-05 22:02] GreenXenith commented on #77
Maybe they do. I haven't checked :P

[2017-05-05 22:04] D00Med commented on #77
I'm going to have to check :'D

[2017-05-05 22:13] tobyplowy commented on #77
@GreenXenith and?

[2017-05-05 22:24] D00Med commented on #77
The plants do rot

[2017-05-05 22:24] D00Med commented on #77
*crops

[2017-05-05 22:35] tobyplowy commented on #77
@D00Med ok good :)

I have to go see you later

[2017-05-05 22:37] D00Med commented on #77
ok, enjoy the rest of your day! :)

[2017-05-06 20:05] tobyplowy commented on #77
hi

[2017-05-06 20:40] tobyplowy commented on #77
Hi

[2017-05-06 21:02] D00Med commented on #77
Hi

[2017-05-06 21:04] tobyplowy commented on #77
@D00Med Do you have time for farlands today?

[2017-05-06 21:05] D00Med commented on #77
@tobyplowy  yep

[2017-05-06 21:05] tobyplowy commented on #77
@D00Med Cool what will you work on today?

[2017-05-06 21:06] D00Med commented on #77
@tobyplowy  mobs I think. what about you?

[2017-05-06 21:07] tobyplowy commented on #77
I will work on some pet models and maybe a boss model on Monday

[2017-05-06 21:08] tobyplowy commented on #77
My PC is out for repares

[2017-05-06 21:13] D00Med commented on #77
Oh ok

[2017-05-06 21:13] tobyplowy commented on #77
@D00Med ?

[2017-05-06 21:14] tobyplowy commented on #77
Pumpkins and melons look interesting

[2017-05-06 21:16] D00Med commented on #77
@tobyplowy  meaning?

[2017-05-06 21:17] tobyplowy commented on #77
The melon/pumpkin_cut looks interesting

Will you be able to eat the block?

[2017-05-06 21:27] D00Med commented on #77
oh ok.
by right-clicking yes, otherwise no because it drops slices

[2017-05-06 21:28] tobyplowy commented on #77
@D00Med that's a nice idea!

[2017-05-06 21:29] D00Med commented on #77
glad you like it

[2017-05-06 21:29] tobyplowy commented on #77
XD

[2017-05-06 21:30] tobyplowy commented on #77
@D00Med in the last commit you made you added a piston sticky and normal? Or only normal?

[2017-05-06 21:31] tobyplowy commented on #77
@D00Med I can't see it for myself because I don't have my PC at the moment :/

[2017-05-06 21:35] D00Med commented on #77
@tobyplowy both. They don't have textures at the moment, but they do work.

[2017-05-06 21:36] tobyplowy commented on #77
@D00Med I wanna have a try at making those textures :)

[2017-05-06 21:37] D00Med commented on #77
@tobyplowy Feel free to :)

[2017-05-06 21:38] tobyplowy commented on #77
@D00Med thx :D

[2017-05-06 21:38] tobyplowy commented on #77
@D00Med What mobs are you working on?

[2017-05-06 21:39] D00Med commented on #77
A whale

[2017-05-06 21:42] tobyplowy commented on #77
@D00Med oh That wuld have been the last thing I thought of

[2017-05-06 21:46] D00Med commented on #77
The dearcmhara needs more to eat :P

[2017-05-06 21:47] tobyplowy commented on #77
Lol

[2017-05-06 21:48] tobyplowy commented on #77
Maybe the dearcmhara is the whale dam dam daaaaaaaa

[2017-05-06 21:54] tobyplowy commented on #77
@D00Med Let's add a whale as pet XD

[2017-05-06 21:55] D00Med commented on #77
Imagine the size of tank you'd need for that.

[2017-05-06 21:56] D00Med commented on #77
![](http://new4.fjcdn.com/thumbnails/comments/So+_eaad3298dd598ec27d7c098bd89d96dd.jpg)

[2017-05-06 21:57] tobyplowy commented on #77
@D00Med lol that's amazing!

[2017-05-06 21:57] D00Med commented on #77
xD
I've got to go, be back later

[2017-05-06 21:58] tobyplowy commented on #77
Ok

[2017-05-06 23:21] D00Med commented on #77
ok, I'm back

[2017-05-06 23:28] tobyplowy commented on #77
@D00Med cool

[2017-05-06 23:29] tobyplowy commented on #77
@D00Med will it be possible to make villages randomized?

[2017-05-06 23:33] D00Med commented on #77
Possibly, I'm thinking of making villages spawn in a different way to how they did in legend of minetest.
Instead of one schematic, I think it would be better to place random building schematics at certain positions(but with the height set to the ground height)

[2017-05-06 23:36] tobyplowy commented on #77
@D00Med that sounds better also isent that the way minecraft does it?

(I will have to make more Buildings like a Church and blacksmith

[2017-05-06 23:37] tobyplowy commented on #77
@D00Med I May Not answer for a couple minutes but I'm coming back

I'm fihting a boss in a game and I need to concentrate myself

[2017-05-06 23:37] tobyplowy commented on #77
I will be back in 5 min max

[2017-05-06 23:39] D00Med commented on #77
@tobyplowy  idk maybe.
Ok then, good luck xD

[2017-05-06 23:40] tobyplowy commented on #77
@D00Med well I guess it will take longer but I'm still here XD

[2017-05-06 23:44] tobyplowy commented on #77
@D00Med any other buildings I should make a apart from a church and a blacksmith

Also what do you think of my building Style?

[2017-05-06 23:47] D00Med commented on #77
@tobyplowy  a shop?
It's good :)

[2017-05-06 23:48] tobyplowy commented on #77
@D00Med shop is a good idea

[2017-05-06 23:49] D00Med commented on #77
what would the church be for?

[2017-05-06 23:55] tobyplowy commented on #77
@D00Med I dunno for decoration (Every Medieval Village had a Church right?)

[2017-05-06 23:56] D00Med commented on #77
Ok.

[2017-05-06 23:57] GreenXenith commented on #77
Collecting figurative dust.

[2017-05-06 23:59] D00Med commented on #77
@GreenXenith  lol, hello xD
I was thinking they could have some purpose, like if zombies are lured inside they turn into normal npcs

[2017-05-07 00:00] D00Med commented on #77
![whale](https://cloud.githubusercontent.com/assets/19916704/25776784/f2843522-330b-11e7-970a-0987ae896e40.PNG)
How's this looking?

[2017-05-07 00:00] GreenXenith commented on #77
Looks nice. Should be a bit longer tho. Also the eye should be more curved.

[2017-05-07 00:03] D00Med commented on #77
![whale](https://cloud.githubusercontent.com/assets/19916704/25776802/686a1e8c-330c-11e7-81e3-10be9e49ca6e.PNG)
like that?

[2017-05-07 00:04] tobyplowy commented on #77
That's a good idea!

Also the whale is too short

[2017-05-07 00:09] GreenXenith commented on #77
See [here](http://www.wdcs.co.uk/media/flash/whalebanner/content_pub_en.html) for what a whale looks like.

[2017-05-07 00:11] GreenXenith commented on #77
And I was thinking make the eye look more like this .:. (dots are pixels)

[2017-05-07 00:13] tobyplowy commented on #77
This boss battle is Makin me go insane

Just emagine this you have only 2 hearts of health if he attacks you you die because he goes 2 hearts of damage your controls are reversed and if you die you have to redo 5 fucking minutes of fihting! (You can die here also!)

[2017-05-07 00:15] tobyplowy commented on #77
Also welcome back @GreenXenith

[2017-05-07 00:16] GreenXenith commented on #77
Hi.

[2017-05-07 00:16] tobyplowy commented on #77
@GreenXenith :)

[2017-05-07 00:17] D00Med commented on #77
Thanks, I know what a whale looks like though 😅
I was kind of going for this look
![](http://images.clipartpanda.com/whale-clip-art-whale_a06.png)
Which is what I did for the first whale I made, but this one is slightly more realistic. It makes it easier to add to minetest, since a long model needs a collisionbox that seems quite wide. I'm also not going to make it properly to scale. It'd be nice

[2017-05-07 00:17] D00Med commented on #77
idk what happened there's meant to be 2 pictures

[2017-05-07 00:19] GreenXenith commented on #77
Make sure it's swimming animation is extremely slow :P

[2017-05-07 00:19] tobyplowy commented on #77
@D00Med did you Add the weard teeth to eat plankton?

[2017-05-07 00:20] tobyplowy commented on #77
@GreenXenith are you working on the GUI today?

[2017-05-07 00:20] D00Med commented on #77
@tobyplowy Thanks for the reminder

[2017-05-07 00:21] GreenXenith commented on #77
Not right now. Working on other things.

[2017-05-07 00:28] tobyplowy commented on #77
@D00Med It's odd that such a Big Animal eats such small animals

[2017-05-07 00:30] D00Med commented on #77
@tobyplowy  yeah it is...
![whale](https://cloud.githubusercontent.com/assets/19916704/25776936/254873fc-3310-11e7-8f13-ff3b96ca9a57.gif)

[2017-05-07 00:41] tobyplowy commented on #77
@D00Med nice

[2017-05-07 00:43] tobyplowy commented on #77
@D00Med can you add coins to the game (they will be used to buy from the npcs)

[2017-05-07 00:46] tobyplowy commented on #77
Also how will the shop work?

My idea is with a new block called item shelf it holds items you can buy with the coins

[2017-05-07 00:55] tobyplowy commented on #77
I'm going to bed now see you guys later :)

[2017-05-07 00:55] GreenXenith commented on #77
cya

[2017-05-07 01:53] D00Med commented on #77
@tobyplowy  yep. That's a good idea, or we could use an npc.

[2017-05-07 02:15] D00Med commented on #77
@GreenXenith  I'm going now, bye

[2017-05-07 02:45] GreenXenith commented on #77
cya

[2017-05-07 08:49] DS-Minetest commented on #77
What about special a giant flying whale (magic/boss)? Minetest has much air. Hm, if it doesn't collide, it could perhaps swim in ignore. But then it could end in solid nodes. >_< Ah, just don't let it fly that far down.

[2017-05-07 08:55] tobyplowy commented on #77
@DS-Minetest giant flying whale boss that's ridiculous XD

I like it! Maybe for when heaven is added

[2017-05-07 12:40] DS-Minetest commented on #77
You mean nyancat heaven?
Some landscape in heaven would suit very good to farlands IMO.

The nyancat mod could perhaps be added to farlands. If not because of the trademark, maybe the pbj&pub mod.

[2017-05-07 20:20] tobyplowy commented on #77
No I mean like a bed demension (but first minetest needs to support that)

I'm trying to make this subgame unique and different from the rest so I removed nyancat and mese they will not get back in sorry

[2017-05-07 20:22] tobyplowy commented on #77
In the previous comment I said bad demension

(That's outo correct it was supposed to be new demension

[2017-05-07 20:22] tobyplowy commented on #77
Also hi

[2017-05-07 20:39] D00Med commented on #77
Hello
@DS-Minetest nice idea xD

[2017-05-07 20:43] tobyplowy commented on #77
@D00Med hey how are you

[2017-05-07 20:44] D00Med commented on #77
@tobyplowy  I'm good, yourself?

[2017-05-07 20:45] tobyplowy commented on #77
@D00Med I'm doing terrible you know how it feels like when you're Only Friend steals your money well that's want happend

[2017-05-07 20:47] D00Med commented on #77
@tobyplowy I feel for you, that sucks.

[2017-05-07 20:47] tobyplowy commented on #77
@D00Med Jup it does

But let's not get depressed XD

[2017-05-07 20:49] tobyplowy commented on #77
@D00Med So how's the whale going

[2017-05-07 20:49] D00Med commented on #77
@tobyplowy Done
@GreenXenith @DS-Minetest  Toby's a friend right?

[2017-05-07 20:52] tobyplowy commented on #77
Good my dearcmhara is getting hungry XD

Now no one shos up XD

[2017-05-07 20:52] tobyplowy commented on #77
@D00Med am I?

[2017-05-07 20:53] D00Med commented on #77
@tobyplowy  yes of course

[2017-05-07 20:59] tobyplowy commented on #77
@D00Med thanks that means alot :)

[2017-05-07 21:00] D00Med commented on #77
:)

[2017-05-07 21:01] tobyplowy commented on #77
@D00Med my PC is back so I will make that piston texture

[2017-05-07 21:01] D00Med commented on #77
@tobyplowy ok cool. I'm finishing the panda

[2017-05-07 21:08] tobyplowy commented on #77
@D00Med I really like your new model style you can see that you put a lot of effort in it

[2017-05-07 21:10] D00Med commented on #77
@tobyplowy  Thanks, I'm glad you do. I've been trying to imitate your style a bit

[2017-05-07 21:11] tobyplowy commented on #77
@D00Med yeh I noticed that :)

But why?

[2017-05-07 21:12] D00Med commented on #77
@tobyplowy So that the mobs fit into farlands. Also I thought it would suit the whale

[2017-05-07 21:13] tobyplowy commented on #77
@D00Med ah ok :)

[2017-05-07 21:16] tobyplowy commented on #77
@D00Med I see you are numbering the comits you make like 6.5.17 why?

[2017-05-07 21:17] tobyplowy commented on #77
@D00Med also shuld fishing be added?

[2017-05-07 21:17] D00Med commented on #77
@tobyplowy  The date, I shouldn't really. Hmm yeah, if you like, it'd be cool to have a fishing mod that worked with mobs

[2017-05-07 21:20] tobyplowy commented on #77
@D00Med ah

Yeh that sounds cool but there is not enough fish mobs to fish (and if you increase the spawning we will get performance problems)

[2017-05-07 21:22] tobyplowy commented on #77
@D00Med can you add temp textures to the piston?

I wanna work on the npc buildings

[2017-05-07 21:23] D00Med commented on #77
@tobyplowy  good point.  Yeah I can

[2017-05-07 21:26] tobyplowy commented on #77
@D00Med can't the fish be some kind of effect?

Like if you lure one in it will make a fish mob go to that thing that's in the water I think it's called a bobber as an effect?

[2017-05-07 21:27] tobyplowy commented on #77
Fake real fish XD

[2017-05-07 21:31] D00Med commented on #77
@tobyplowy  That's a good idea!

[2017-05-07 21:34] tobyplowy commented on #77
@D00Med but I also want to be able to fish up junk like a boot (it can be used for someting like making lether or something)

[2017-05-07 21:37] D00Med commented on #77
@tobyplowy that's a good idea. I wonder if it would be possible to make minecraft style fishing line.

[2017-05-07 21:38] tobyplowy commented on #77
@D00Med I don't think so but I would like that alot

[2017-05-07 21:39] D00Med commented on #77
@tobyplowy  yeah. The closest thing I can think of is particles or entities placed one in front of the other, but that doesn't look very good.

[2017-05-07 21:40] tobyplowy commented on #77
@D00Med true also it may make alot of lag

[2017-05-07 21:42] D00Med commented on #77
@tobyplowy yeah

[2017-05-07 21:42] tobyplowy commented on #77
@D00Med can you make an issue on that on the minetest github

[2017-05-07 21:44] D00Med commented on #77
@tobyplowy idk, is it really an issue? something like: can minetest have minecraft-like ropes?

[2017-05-07 21:47] tobyplowy commented on #77
Yes it is

Yes someting like that but keep the Minecraft part a bit more suttle

[2017-05-07 21:49] tobyplowy commented on #77
@D00Med also the ropes will be needed for mineclone2

[2017-05-07 21:54] D00Med commented on #77
@tobyplowy  Ok then

[2017-05-07 21:56] tobyplowy commented on #77
@D00Med thanks

[2017-05-07 21:58] D00Med commented on #77
@tobyplowy  I need to get my head around exactly what to ask for, so bear with me for a bit because I want to be _absolutely sure_.
The 'ropes' would be an effect, that goes between point A and point B?
or maybe between object A and object B?

[2017-05-07 22:02] tobyplowy commented on #77
@D00Med yes exactly like that

[2017-05-07 22:03] D00Med commented on #77
Ok

[2017-05-07 22:09] tobyplowy commented on #77
@D00Med I want to tell you something

It's always ben a dream of me to make my own game as sins I was a small kid
When I became a teen the game Minecraft has just come out needless to say I loved it from that point I know I wanted to make a Minecraft game but still wasn't able to program
Fast forward I met you (d00med) and I saw the legend of minetest and I liked it I wanted to help and sortof rea

[2017-05-07 22:10] tobyplowy commented on #77
@D00Med but especially you I can't thank you Enough for all the work and Time You put into this!

[2017-05-07 22:11] D00Med commented on #77
@tobyplowy  You're welcome :) It's great to work on the game.

[2017-05-07 22:12] tobyplowy commented on #77
It sure is :)

[2017-05-07 22:13] tobyplowy commented on #77
@D00Med bdw The church is in progress

[2017-05-07 22:14] D00Med commented on #77
@tobyplowy  Great :D

[2017-05-07 22:16] D00Med commented on #77
https://github.com/minetest/minetest/issues/5722

[2017-05-07 22:16] tobyplowy commented on #77
@D00Med Hey do you know what this is for https://forum.minetest.net/viewforum.php?f=53

What's the difference between a normal mod and a Client side mod?

[2017-05-07 22:17] tobyplowy commented on #77
@D00Med cool thanks

[2017-05-07 22:18] D00Med commented on #77
@tobyplowy  I think it basically means that those mods work just for one person. If you joined a server with one of those mods installed it would work, but only for you.

[2017-05-07 22:22] tobyplowy commented on #77
@D00Med ah so having the nodebox tree mod can be done on servers with this

[2017-05-07 22:24] D00Med commented on #77
@tobyplowy Yes maybe

[2017-05-07 22:26] tobyplowy commented on #77
@D00Med interesting

[2017-05-07 22:27] tobyplowy commented on #77
@D00Med I can't wait to see you redo the dragon in dmobs

[2017-05-07 22:28] D00Med commented on #77
@tobyplowy  I'm really looking forward to that :D I'm going to wait until I have a lot of time though, it took me a long time to make the others.

[2017-05-07 22:29] tobyplowy commented on #77
@D00Med yeh the models look good but thay take time

It helps if you texture the beginning Cube and just duplicate it

[2017-05-07 22:30] D00Med commented on #77
@tobyplowy Yes that is useful

[2017-05-07 22:34] tobyplowy commented on #77
@D00Med also it helps if you preplan

make the mob you wanna make in 2d first like the trex i made (i really need to finish it)
![trex concept](https://cloud.githubusercontent.com/assets/16853304/25785634/13fa7750-3386-11e7-8416-5629c8d118c3.png)

[2017-05-07 22:36] D00Med commented on #77
@tobyplowy  yep :) I've been making the texture from black and white shapes first too.

[2017-05-07 22:38] tobyplowy commented on #77
@D00Med i have the first pet (companion/follower)

clay minion
you shuld get it with use of witchcraft (dunno how yet
[witchcraft.zip](https://github.com/D00Med/farlands/files/981995/witchcraft.zip)
)

[2017-05-07 22:39] tobyplowy commented on #77
im happy that i can lern you somting

[2017-05-07 22:41] tobyplowy commented on #77
@D00Med note you can copy the black and white shapes and put them on the texture map

i mostly make my texture first and than the model XD

[2017-05-07 22:42] tobyplowy commented on #77
@D00Med also what do you think of this model
[big beetle.zip](https://github.com/D00Med/farlands/files/981999/big.beetle.zip)

[2017-05-07 22:43] D00Med commented on #77
Cool :D
idk why, I immediately thought of this guy

![](http://escapepod.org/wp-content/uploads/2013/04/ea_gp_pump.jpg)
Thanks for teaching me :D

[2017-05-07 22:43] tobyplowy commented on #77
@D00Med lol

[2017-05-07 22:43] D00Med commented on #77
Nice beetle!

[2017-05-07 22:44] tobyplowy commented on #77
@D00Med yeh XD

[2017-05-07 22:44] D00Med commented on #77
@tobyplowy  I just looked at the clay minion, he looks awesome

[2017-05-07 22:44] tobyplowy commented on #77
@D00Med does he?

[2017-05-07 22:46] D00Med commented on #77
@tobyplowy  *it

[2017-05-07 22:46] tobyplowy commented on #77
sorry it XD

[2017-05-07 22:47] D00Med commented on #77
my mistake. but yeah, lots of character

[2017-05-07 22:49] tobyplowy commented on #77
i wanted it to look like a helper like a good minion XD

[2017-05-07 22:56] tobyplowy commented on #77
@D00Med the church isent looking too good :/

[2017-05-07 22:57] D00Med commented on #77
@tobyplowy  in what way?

[2017-05-07 22:57] tobyplowy commented on #77
@D00Med it looks too boring

[2017-05-07 22:58] D00Med commented on #77
@tobyplowy  screenshot?

[2017-05-07 22:58] tobyplowy commented on #77
![v](https://cloud.githubusercontent.com/assets/16853304/25785805/6f2f6e66-3389-11e7-8729-0d7007cdbbf9.png)

NOTE the towwer is not tall enoth

[2017-05-07 22:59] D00Med commented on #77
maybe use sandstone or desertstone variants for the edges or inside.
Hey do you know which mod adds 'default:wood_microslab"?

[2017-05-07 23:01] tobyplowy commented on #77
as in default:wood_microslab.png

no

[2017-05-07 23:02] D00Med commented on #77
No, it's a node.
I've noticed it both in Farlands and in minetest_game(using mods)

[2017-05-07 23:03] tobyplowy commented on #77
@D00Med no i dount know

maybe its for dubble slabs?

[2017-05-07 23:06] D00Med commented on #77
@tobyplowy yeah

[2017-05-07 23:08] tobyplowy commented on #77
@D00Med was i correct?

[2017-05-07 23:09] D00Med commented on #77
@tobyplowy No I don't think so, I just tested with minetest_game and the nodes weren't there. It might be part of the workbench mod

[2017-05-07 23:10] tobyplowy commented on #77
@D00Med yeh maybe

[2017-05-07 23:18] tobyplowy commented on #77
![n](https://cloud.githubusercontent.com/assets/16853304/25785940/3f4f01fe-338c-11e7-87ab-6d168a4a45f3.png)

[2017-05-07 23:19] tobyplowy commented on #77
@D00Med i added a altar that uses the skeleton model XD (temp)

[2017-05-07 23:20] D00Med commented on #77
@tobyplowy  That looks good. oh I was wondering what the white thing was

[2017-05-07 23:21] tobyplowy commented on #77
@D00Med yeh well actualy its the preest XD

[2017-05-07 23:23] D00Med commented on #77
So...what's the altar for?
![screenshot_20170508_092259](https://cloud.githubusercontent.com/assets/19916704/25785972/f65764f2-33cf-11e7-9a1a-64ad6c70cc13.png)

[2017-05-07 23:29] tobyplowy commented on #77
@D00Med oh shit what is that

horror mod?

[2017-05-07 23:29] D00Med commented on #77
@tobyplowy yes that's the horror mod, with the horror texture pack

[2017-05-07 23:35] tobyplowy commented on #77
cool

[2017-05-07 23:36] tobyplowy commented on #77
the skeletons nose i know that from somwhere

[2017-05-07 23:37] D00Med commented on #77
You do?

![](https://upload.wikimedia.org/wikipedia/en/f/f1/LuigiNSMBW.png)

[2017-05-07 23:38] tobyplowy commented on #77
perfect match
![image](https://cloud.githubusercontent.com/assets/16853304/25786084/01808d36-338f-11e7-8e3a-02fcd7552699.png)

[2017-05-07 23:39] tobyplowy commented on #77
@D00Med can i ask wat audio files does minetest use?

[2017-05-07 23:42] D00Med commented on #77
ogg files

[2017-05-07 23:42] tobyplowy commented on #77
thx

[2017-05-07 23:44] tobyplowy commented on #77
@D00Med im trying to make a eating sound

[2017-05-07 23:44] tobyplowy commented on #77
[eat.zip](https://github.com/D00Med/farlands/files/982031/eat.zip)

[2017-05-07 23:44] D00Med commented on #77
@tobyplowy  nice idea

[2017-05-07 23:45] tobyplowy commented on #77
@D00Med it doest sound perfect but its the best i can do XD

[2017-05-07 23:46] D00Med commented on #77
@tobyplowy  it's good

[2017-05-07 23:46] tobyplowy commented on #77
@D00Med thanks

i had to mess with it alot to get rid of the noise

[2017-05-07 23:49] D00Med commented on #77
@tobyplowy  I can imagine. I can't record sounds, too many birds where I live :'D

[2017-05-07 23:50] tobyplowy commented on #77
lol for me its midniht its 4 more hours to hear birds

[2017-05-07 23:51] D00Med commented on #77
O.o that's later than I thought

[2017-05-07 23:52] tobyplowy commented on #77
yeh XD

[2017-05-07 23:53] tobyplowy commented on #77
@D00Med can you add glow to the lantarn

[2017-05-07 23:53] D00Med commented on #77
yep

[2017-05-07 23:53] tobyplowy commented on #77
@D00Med thanks

[2017-05-07 23:57] tobyplowy commented on #77
@D00Med i realy like that its posible to eat the melon and pumkin blocks :D

[2017-05-07 23:58] D00Med commented on #77
@tobyplowy lol yeah it's fun. I'm going now, goodnight :)

[2017-05-07 23:58] tobyplowy commented on #77
how do i plant melon and pumpkin?

[2017-05-07 23:59] D00Med commented on #77
with a melon/pumpkin slice

[2017-05-07 23:59] tobyplowy commented on #77
@D00Med yes goodnight :)

have a fun afternoon

[2017-05-07 23:59] D00Med commented on #77
@tobyplowy  thanks, I will. bye

[2017-05-08 00:00] tobyplowy commented on #77
yup

[2017-05-08 13:33] DS-Minetest commented on #77
Make more than one sound, call them eg. "eating.1.ogg", "eating.2.ogg", …
Minetest will take a random one from them.

I've seen minions from mc sometime. They could be nice.

[2017-05-08 20:28] tobyplowy commented on #77
@D00Med can you add the minion
![image](https://cloud.githubusercontent.com/assets/16853304/25823855/a280e2ea-343d-11e7-8280-00ac301ed819.png)

[2017-05-08 20:29] tobyplowy commented on #77
@DS-Minetest thats going to be better with more sounds (i agree)

[2017-05-08 20:51] D00Med commented on #77
@tobyplowy yep I will add it. I don't have time for farlands today, so I'm going already :P

[2017-05-10 19:56] tobyplowy commented on #77
@D00Med what do you think of square shaped melon and pumpkin?
i think it looks a bit better also it makes sence becouse the melon and pumkin are cubes
so why did the items have rounded corners
![farming_pumpkin](https://cloud.githubusercontent.com/assets/16853304/25918229/00b92046-35cb-11e7-9ee5-0d46bd96f1e0.png)
![farming_melon](https://cloud.githubusercontent.com/assets/16853304/25918230/00d0ed0

[2017-05-10 20:31] tobyplowy commented on #77
@D00Med i also made a new tresure chest texture do you like it?

[2017-05-11 20:03] tobyplowy commented on #77
@D00Med hi

[2017-05-11 21:04] D00Med commented on #77
Hi

[2017-05-11 21:06] D00Med commented on #77
I made a wasp
![wasp](https://cloud.githubusercontent.com/assets/19916704/25971973/7e7e9d6e-36e1-11e7-8be2-38834108d2e2.PNG)

[2017-05-11 21:08] tobyplowy commented on #77
@D00Med I think the yellow is a bit too saturated

[2017-05-11 21:09] tobyplowy commented on #77
Can you add bee and wasp nests in the trees to the mapgen of farlands

[2017-05-11 21:11] D00Med commented on #77
@tobyplowy Yeah it certainly is for use in farlands. If I add it, it will be about half a node high, unless you want the pixels to be smaller than those on nodes. Yep I can. Should the bee model just be a block with legs and wings?

[2017-05-11 21:15] tobyplowy commented on #77
Yes the pixels shuld be the same as the blocks

 Thats going​ to be funny and weard but it may work so yes

[2017-05-11 21:16] D00Med commented on #77
@tobyplowy  ok. Haha yeah, I think it'd kind of be overkill to add more detail though.

[2017-05-11 21:17] tobyplowy commented on #77
@D00Med true and it's going to be cute

[2017-05-11 21:26] tobyplowy commented on #77
@D00Med so the bee hives shuld they drop honey?

[2017-05-11 21:27] D00Med commented on #77
@tobyplowy I think so yes

[2017-05-11 21:29] tobyplowy commented on #77
@D00Med shuld I add some deco blocks?

[2017-05-11 21:29] tobyplowy commented on #77
@D00Med Like honey block and liquid

[2017-05-11 21:30] D00Med commented on #77
@tobyplowy  maybe not liquid, but a block would be cool

[2017-05-11 21:32] tobyplowy commented on #77
Ok

[2017-05-11 21:32] tobyplowy commented on #77
@D00Med why not liquid honey?

[2017-05-11 21:32] D00Med commented on #77
@tobyplowy What would it be for?

[2017-05-11 21:35] tobyplowy commented on #77
@D00Med for lolz it's a deco block

[2017-05-11 21:36] D00Med commented on #77
@tobyplowy  Ok. How far should it flow from the source? 1 node? none?

[2017-05-11 21:38] tobyplowy commented on #77
@D00Med if you think it shouldn't be added than it shouldn't, this is our game not mine only remember :)

[2017-05-11 21:39] D00Med commented on #77
@tobyplowy nah it's ok, I just thought it was a bit odd

[2017-05-11 21:41] tobyplowy commented on #77
@D00Med well yes it is odd but it's also unique and interesting XD

[2017-05-11 21:41] tobyplowy commented on #77
@D00Med also I was thinking to add a firework gun for the tools mod what are your thoughts on this

[2017-05-11 21:49] D00Med commented on #77
@tobyplowy  That sounds great. I'm sure we could come up with much better fireworks than the other mods I've seen for minetest.

[2017-05-11 21:54] tobyplowy commented on #77
There's not much competition so probably yeah

[2017-05-11 21:57] D00Med commented on #77
Lol yeah

[2017-05-11 21:58] tobyplowy commented on #77
@D00Med Also your a talented guy so that will help too XD

[2017-05-11 21:58] D00Med commented on #77
@tobyplowy why so modest? xD

[2017-05-11 21:59] tobyplowy commented on #77
@D00Med Any more wacky ideas (noting is a bad idea there are only better ideas)

[2017-05-11 21:59] D00Med commented on #77
@tobyplowy  not right now, what about you?

[2017-05-11 22:01] tobyplowy commented on #77
Am I XD

Firework gun and normal fireworks XD

[2017-05-11 22:01] D00Med commented on #77
@tobyplowy  ok

[2017-05-11 22:04] tobyplowy commented on #77
@D00Med So are you working on a bee now?

Don't Forget to give Every Face Of your mob models a Unique texture on the uv map (So texturepack makers can do some nice customization)

[2017-05-11 22:09] D00Med commented on #77
@tobyplowy No, I'm doing something else at the moment.
![dmobs_wasp](https://cloud.githubusercontent.com/assets/19916704/25974054/3e21c742-36ea-11e7-9f64-816f24f5ed13.png)
how's that?

[2017-05-11 22:16] tobyplowy commented on #77
There only seems to be 5 sides on the mapping there should be 6 for a cube

[2017-05-11 22:19] D00Med commented on #77
I usually use one texture for both sides of a cube. Should I not be doing that?

[2017-05-11 22:20] tobyplowy commented on #77
@D00Med no I don't think you should do that

[2017-05-11 22:20] D00Med commented on #77
Ok

[2017-05-11 22:22] tobyplowy commented on #77
@D00Med thanks for listening to my advise

[2017-05-11 22:23] D00Med commented on #77
@tobyplowy  you're welcome, thanks for the advice

[2017-05-11 22:25] tobyplowy commented on #77
@D00Med :)

[2017-05-11 22:46] tobyplowy commented on #77
@D00Med well I'm going to bed now see you tomorrow

[2017-05-11 22:55] D00Med commented on #77
@tobyplowy  ok, goodnight

[2017-05-12 13:08] DS-Minetest commented on #77
It would be nice if the bees and wasps would have a giant, generated nest. Inside of the nest could be a giant wasp/bee as boss. Ants could also be nice.

[2017-05-12 13:25] tobyplowy commented on #77
@DS-Minetest yes I'm already planning this kind of stuff for when dimension support is added to minetest
I wanna have a copple dimensions hell, heaven, and maybe someting like the minecraft erebus mod :)

[2017-05-12 15:27] DS-Minetest commented on #77
@tobyplowy You mean a bee or a wasp dimension?! Where will they find flowers if it's only one giant(~30000³nodes) nest?

[2017-05-12 15:57] tobyplowy commented on #77
@DS-Minetest No I mean a giant insect dimension

As in a dimension full of big insects

[2017-05-12 20:32] tobyplowy commented on #77
@D00Med hi

[2017-05-12 21:53] D00Med commented on #77
Hi

[2017-05-12 22:08] tobyplowy commented on #77
@D00Med do yo have Time for farlands today?

[2017-05-12 22:09] D00Med commented on #77
@tobyplowy yep :)

[2017-05-12 22:10] D00Med commented on #77
![kingofsting](https://cloud.githubusercontent.com/assets/19916704/26018674/a53d4590-37b3-11e7-8a10-f43a2e3b182b.PNG)
Been working on boss wasp

[2017-05-12 22:16] tobyplowy commented on #77
@D00Med Looks interesting

[2017-05-12 22:17] D00Med commented on #77
What have you been working on?

[2017-05-12 22:19] tobyplowy commented on #77
@D00Med On some textures and some ideas
Next will be the first boss

I have a question can you put a boss health bar on the hud?

[2017-05-12 22:20] D00Med commented on #77
@tobyplowy  Ok cool. I'm really not sure how I could do that. It might be possible

[2017-05-12 22:24] tobyplowy commented on #77
I hope so :)

[2017-05-12 22:25] tobyplowy commented on #77
@D00Med so let's brainstorm about a cool first boss

[2017-05-12 22:26] D00Med commented on #77
@tobyplowy a prehistoric creature maybe?

[2017-05-12 22:28] tobyplowy commented on #77
@D00Med I see were your going but I think we should keep the dinosaurs and prehistoric creatures as side quest no?

[2017-05-12 22:32] D00Med commented on #77
@tobyplowy  ok, good idea. Maybe a dragon then?

[2017-05-12 22:32] D00Med commented on #77
or maybe not for the first boss

[2017-05-12 22:39] tobyplowy commented on #77
@D00Med yeh A dragon is good but not as first boss

[2017-05-12 22:40] tobyplowy commented on #77
@D00Med Maybe a mutant zombie that summons normal zombies as minions as first boss?

[2017-05-12 22:41] D00Med commented on #77
@tobyplowy yeah that could work! I was thinking maybe a huge bear

[2017-05-12 22:46] tobyplowy commented on #77
@D00Med huge bear sounds cool

Maybe It can be like a bear God?

[2017-05-12 22:47] tobyplowy commented on #77
@D00Med [like this guy XD](http://img10.deviantart.net/772e/i/2013/001/8/a/bear_by_andyfil-d5q1li5.png)

[2017-05-12 22:47] D00Med commented on #77
@tobyplowy http://www.freakingnews.com/pictures/29500/Monster-Polar-Bear-Breathing-Fire-29541.jpg

[2017-05-12 22:48] tobyplowy commented on #77
@D00Med Thats Just nice

[2017-05-12 22:49] D00Med commented on #77
@tobyplowy  I like the god-bear idea

[2017-05-12 23:23] tobyplowy commented on #77
@D00Med sorry that I'm not answering but that guy that stole my money is at it again with my steam this time :(

[2017-05-12 23:50] D00Med commented on #77
@tobyplowy That's ok. I hope you can sort everything out

[2017-05-12 23:53] tobyplowy commented on #77
@D00Med Well I hope so to

[This is frustrating](http://rs711.pbsrc.com/albums/ww120/AnnMarieAssang/TPullingHerHairOut01BGIF.gif?w=480&h=480&fit=clip)

[2017-05-12 23:55] D00Med commented on #77
I can imagine

[2017-05-13 00:04] tobyplowy commented on #77
Again sorry for my absence I just have to do this fast and alot

[2017-05-13 00:08] D00Med commented on #77
That's ok

[2017-05-13 00:10] D00Med commented on #77
I'm going to go now anyway, good luck

[2017-05-13 06:32] DS-Minetest commented on #77
IMO the wasp boss should be more fat.

The hud is easy.

[2017-05-13 08:03] D00Med commented on #77
More fat? I feel like a monster wasp would be thin rather than thick.
Or maybe the perspective is making it look too thin?

[2017-05-13 09:42] DS-Minetest commented on #77
The giant wasp boss is so giant because it lays eggs => it needs to be fat.
It wouldn't make any sense if fighter bees would be rare or only one per nest.

[2017-05-13 14:08] tobyplowy commented on #77
[zombie brute.zip](https://github.com/D00Med/farlands/files/998702/zombie.brute.zip)

[2017-05-13 20:09] tobyplowy commented on #77
@D00Med hi

[2017-05-13 21:45] D00Med commented on #77
Hi

[2017-05-13 21:46] tobyplowy commented on #77
Hey

[2017-05-13 21:48] D00Med commented on #77
@tobyplowy I don't have time for farlands at the moment, but I can talk here

[2017-05-13 21:48] tobyplowy commented on #77
@D00Med How is the wasp going

[2017-05-13 21:49] tobyplowy commented on #77
@D00Med also I worked A bit more on my trex model

[2017-05-13 21:50] D00Med commented on #77
@tobyplowy I haven't really worked on it since I sent the screenshot.
Ok cool :D I'm really looking forward to seeing it finished

[2017-05-13 21:51] tobyplowy commented on #77
@D00Med also did you see the zombie boss model I made

[2017-05-13 21:51] D00Med commented on #77
@tobyplowy  Looking at it now

[2017-05-13 21:52] tobyplowy commented on #77
Ok

[2017-05-13 21:57] tobyplowy commented on #77
@D00Med is it good?

[2017-05-13 21:59] D00Med commented on #77
Perfect!

[2017-05-13 22:00] tobyplowy commented on #77
Ok XD

[2017-05-13 22:02] tobyplowy commented on #77
@D00Med so can we add some kind of progression sistem (if so maybe we should make one)

[2017-05-13 22:06] D00Med commented on #77
@tobyplowy  progression? like levelling/xp?

[2017-05-13 22:10] tobyplowy commented on #77
@D00Med no some kind of sistem so players can't get to the last boss in the first 5 minutes of playing

(For example It can work with crafting everytime​ you defeat a boss it will drop a unique item to craft the spawner for the next boss )

[2017-05-13 22:11] tobyplowy commented on #77
@D00Med basically forcing players to do things before they can do other things

[2017-05-13 22:12] D00Med commented on #77
Oh ok, that could work. I was also thinking, bosses could spawn on singleplayer worlds after a certain number of days.

[2017-05-13 22:15] tobyplowy commented on #77
Yes that is a good idea but the bosses that do shuld not be to hard

[2017-05-13 22:16] GreenXenith commented on #77
You could just have them spawn in certain structures that must be unlocked from boss drops. Players making spawners to get to the bosses seems strange IMO.

[2017-05-13 22:17] D00Med commented on #77
@tobyplowy  Yeah, and on day 1000...
http://img09.deviantart.net/de6e/i/2017/018/c/7/chaos_demon_by_fesbraa-davv6oi.jpg

[2017-05-13 22:18] D00Med commented on #77
@GreenXenith  why not? could be like summoning them from another dimension to fight them

[2017-05-13 22:20] tobyplowy commented on #77
@D00Med also people in de minetest Community seem to obuse there bed (they skip every night) and I don't like that what can we do against this (I whant than to Still Be able to use the Bad and sleep and Skip the night but there should be some bad things that can happen (like a Nightmare mob can be spawnd) so they think 2 times before Skiping the night)

[2017-05-13 22:21] tobyplowy commented on #77
@D00Med I diddent mean to close thanks d00med for responding (I diddent even notice i closed it XD)

[2017-05-13 22:22] D00Med commented on #77
@tobyplowy  Do they? That's interesting. I keep forgetting beds exist :'D
That's a cool idea. Can we wait until the next stable of minetest is released before doing anything major to mods like beds or fire?

[2017-05-13 22:22] GreenXenith commented on #77
@D00Med Hrm... well, 'spawners' might be the wrong word. Something that the player can use (tool) or build to summon something, sure. But I don't think *all* the bosses should be like that.
@tobyplowy Maybe remove the skip buttons on the bed and make it just timed (30 seconds to skip night) but have a chance for nightmares?

[2017-05-13 22:22] D00Med commented on #77
@GreenXenith  I agree, not all bosses should work like that.

[2017-05-13 22:23] tobyplowy commented on #77
@D00Med and on day 100

https://upload.wikimedia.org/wikipedia/en/d/d8/Stay-puft-marshmallow-man.jpg

[2017-05-13 22:24] D00Med commented on #77
@tobyplowy  I guess no-one will survive to see day 101

[2017-05-13 22:25] tobyplowy commented on #77
I don't know why but I guess yes it probably is better for you otherwise you wouldn't ask XD

[2017-05-13 22:26] D00Med commented on #77
@tobyplowy  It's awkward when something changes in minetest_game, and I have to update it, whilst keeping the changes from the subgame.

[2017-05-13 22:27] tobyplowy commented on #77
@GreenXenith that's perfect (exactly as I whant it!)

[2017-05-13 22:29] tobyplowy commented on #77
@D00Med ah I see

[2017-05-13 22:30] tobyplowy commented on #77
@GreenXenith still no updates on the GUI?

[2017-05-13 22:34] GreenXenith commented on #77
Nope. I won't be working on anything until next Friday(ish). Working on finals :confused:

[2017-05-13 22:34] tobyplowy commented on #77
@GreenXenith ok

[2017-05-13 22:37] tobyplowy commented on #77
We can add a reference to fred krueger as nightmare

[2017-05-13 22:38] D00Med commented on #77
@GreenXenith  good luck

[2017-05-13 22:39] GreenXenith commented on #77
ty

[2017-05-13 22:42] tobyplowy commented on #77
@GreenXenith yeh good luck :)

[2017-05-13 22:43] tobyplowy commented on #77
@D00Med that wasn't a joke

[2017-05-13 22:45] D00Med commented on #77
@tobyplowy  I know

[2017-05-13 22:45] D00Med commented on #77
I've got to go, bye :)

[2017-05-13 22:46] GreenXenith commented on #77
cya @D00Med

[2017-05-13 22:49] tobyplowy commented on #77
@D00Med see you later :)

[2017-05-13 22:50] tobyplowy commented on #77
@GreenXenith I'm also going good luck

[2017-05-13 22:51] GreenXenith commented on #77
Alrighty, cya @tobyplowy :)

[2017-05-14 19:45] tobyplowy commented on #77
Hi

[2017-05-14 21:08] D00Med commented on #77
Hi

[2017-05-14 21:12] tobyplowy commented on #77
@D00Med How are you doin

[2017-05-14 21:13] D00Med commented on #77
@tobyplowy good thanks, and you?

[2017-05-14 21:23] tobyplowy commented on #77
I'm ok

[2017-05-14 21:23] tobyplowy commented on #77
So what should I work on?

[2017-05-14 21:24] D00Med commented on #77
Ok. Idk, firework particles?

[2017-05-14 21:25] tobyplowy commented on #77
Ok

[2017-05-14 21:27] tobyplowy commented on #77
@D00Med so how will the firework explosion be done will it be alot of small particles or will it be one big particle or a combination?

[2017-05-14 21:28] D00Med commented on #77
@tobyplowy A combination will be best I think.

[2017-05-14 21:29] tobyplowy commented on #77
@D00Med Yeh I think so too

[2017-05-14 21:31] tobyplowy commented on #77
@D00Med I think one big particle for a Flash effect before the small particles fly around would be good
And before the small particles have color they should first be white

[2017-05-14 21:34] tobyplowy commented on #77
@D00Med i will call the small particles firework dust and the big particle explosion

[2017-05-14 21:42] tobyplowy commented on #77
@D00Med now working on that

[2017-05-14 21:43] D00Med commented on #77
@tobyplowy Ok, great

[2017-05-14 21:44] tobyplowy commented on #77
:D

[2017-05-14 21:52] tobyplowy commented on #77
@D00Med explosion
![explosion](https://cloud.githubusercontent.com/assets/16853304/26038069/484c6976-3900-11e7-95b4-155fcbd51ce9.png)
and dust
![dust](https://cloud.githubusercontent.com/assets/16853304/26038074/517774dc-3900-11e7-9f3e-12cecb6616f4.png)

[2017-05-14 21:53] tobyplowy commented on #77
@D00Med NOTE explosion may be inviseble becouse of the github packground

[2017-05-14 21:55] tobyplowy commented on #77
@D00Med i will now make the texture for the firework gun (if propper suport is added for 3d items i will make a model for this but for now its just a texture)

also im gonnne make the firework rocket texture

[2017-05-14 21:56] D00Med commented on #77
@tobyplowy  Ok then, that will be cool. Can you make a model for firework rockets?(or did you do that already?)

[2017-05-14 21:59] tobyplowy commented on #77
yes i can and no i diddent XD

[2017-05-14 21:59] tobyplowy commented on #77
i will make a firework rocket model

[2017-05-14 21:59] D00Med commented on #77
@tobyplowy  lol ok

[2017-05-14 22:00] tobyplowy commented on #77
@D00Med can you alredy program it with temp textures?

[2017-05-14 22:08] tobyplowy commented on #77
how will we get firework sounds?

[2017-05-14 22:13] D00Med commented on #77
@tobyplowy  I'd rather not, it would be a bit tricky.
Hmm I could make a whistling sound. There might be some online

[2017-05-14 22:14] tobyplowy commented on #77
yeh do that

[2017-05-14 22:23] tobyplowy commented on #77
[firework rocket.zip](https://github.com/D00Med/farlands/files/999762/firework.rocket.zip)

[2017-05-14 22:24] tobyplowy commented on #77
@D00Med the texture is still temp

[2017-05-14 22:29] D00Med commented on #77
Ok

[2017-05-14 22:32] tobyplowy commented on #77
@D00Med
![firework rocket](https://cloud.githubusercontent.com/assets/16853304/26038313/ea6f6564-3905-11e7-8679-d15d46c6fa0f.png)

[2017-05-14 22:33] tobyplowy commented on #77
@D00Med now what?

[2017-05-14 22:34] tobyplowy commented on #77
XD

[2017-05-14 22:35] D00Med commented on #77
hmm, any simple machines you can think of? (cube shaped ones)

[2017-05-14 22:36] tobyplowy commented on #77
@D00Med a item burner (trash can but with fire)

[2017-05-14 22:40] D00Med commented on #77
@tobyplowy Nice! You could make textures for machines? just an idea.
I just thought of something, maybe some machines could produce waste, that would have to be collected in barrels...

![](http://classicdoom.com/maps/d2fpvs/23.gif)

[2017-05-14 22:42] tobyplowy commented on #77
@D00Med what can that be used for?

[2017-05-14 22:51] tobyplowy commented on #77
i guss what shuld i do?

[2017-05-14 22:55] D00Med commented on #77
@tobyplowy blowing stuff up, maybe as fuel.
idk, up to you

[2017-05-14 23:00] tobyplowy commented on #77
@D00Med how can you use it as fuel if you blow it up?
i dount understand

[2017-05-14 23:01] D00Med commented on #77
@tobyplowy  not both at once. Anyway, fuel is probably a bad idea. But it would be cool to have something make an explosion that only harms mobs and players

[2017-05-14 23:13] tobyplowy commented on #77
sounds interesting that maybe good

[2017-05-14 23:13] tobyplowy commented on #77
@D00Med i have to go now

[2017-05-14 23:19] D00Med commented on #77
@tobyplowy  ok, bye :)

[2017-05-16 19:46] tobyplowy commented on #77
@D00Med Just like yesterday I won't be able to be online today

But if you would have time to work on the fireworks that would be wonderful :)

[2017-05-16 20:54] D00Med commented on #77
Hi
@tobyplowy Ok then

[2017-05-17 13:50] tobyplowy commented on #77
@D00Med firework gun
![firework gun](https://cloud.githubusercontent.com/assets/16853304/26157100/938f2ee0-3b18-11e7-9077-a19e81cddd22.png)

[2017-05-17 21:17] D00Med commented on #77
@tobyplowy Looks good :)

[2017-05-18 19:38] tobyplowy commented on #77
@D00Med i made a fire particle this shuld spawn in big amounts if a player or mob is on fire also the texture of the player or mob shuld be red orange collord
![fire particle](https://cloud.githubusercontent.com/assets/16853304/26220203/fe3bd9c4-3c11-11e7-9e86-77e57654e9bb.png)

[2017-05-18 20:28] tobyplowy commented on #77
@D00Med bdw its been 8 days sins your last commit :/

[2017-05-18 20:31] tobyplowy commented on #77
@D00Med also im going, see you

 toumorrow i will be able to stay up late yay

[2017-05-18 21:38] D00Med commented on #77
@tobyplowy aah missed you again, sorry.
Yeah I'm hoping to work on some stuff tomorrow afternoon or on sunday.

[2017-05-19 13:16] DS-Minetest commented on #77
@tobyplowy The fire particles look good but I think, making the texture orange would look bad, like it was an orange.

[2017-05-19 14:10] tobyplowy commented on #77
@DS-Minetest yes I'm still experimenting with that but thank you for reminding me :)

Also Would you be able to bug test some more?

[2017-05-19 20:02] tobyplowy commented on #77
@D00Med hi

[2017-05-19 21:48] D00Med commented on #77
hi

[2017-05-19 21:58] tobyplowy commented on #77
@D00Med jay

[2017-05-19 21:59] tobyplowy commented on #77
@D00Med Do you have any time for farlands today?

[2017-05-19 22:01] D00Med commented on #77
@tobyplowy  maybe later

[2017-05-19 22:05] tobyplowy commented on #77
@D00Med ok can you say if you do

[2017-05-19 22:15] D00Med commented on #77
@tobyplowy  Yep I will

[2017-05-19 23:47] tobyplowy commented on #77
Well I have to go :/

[2017-05-20 02:27] D00Med commented on #77
@tobyplowy  oh ok, sorry about that.
I'll try and work on the fireworks this afternoon

[2017-05-20 20:14] tobyplowy commented on #77
@D00Med Hi

[2017-05-20 21:28] DS-Minetest commented on #77
The settings should use the new setting object.

Btw. I'm trying to redo the clawshot.

[2017-05-20 21:32] D00Med commented on #77
Hello
@DS-Minetest  How are you trying to improve it?

[2017-05-20 21:35] tobyplowy commented on #77
@DS-Minetest hallo Nice to see you

No idea what you're talking about

@D00Med whatever it's is an improvement is always good :)

[2017-05-20 21:38] D00Med commented on #77
@tobyplowy Yeah, I'm interested to know though :P

[2017-05-20 21:39] GreenXenith commented on #77
Still haven't worked on anything yet. I won't have time until around next week to work on stuff :/

[2017-05-20 21:40] tobyplowy commented on #77
@GreenXenith yay we are all here XD

[2017-05-20 21:40] tobyplowy commented on #77
@D00Med off topic but I'm playing little Nightmares it's a pretty cool game :)

[2017-05-20 21:42] D00Med commented on #77
@tobyplowy  oh ok, I've never heard of it.

[2017-05-20 21:46] tobyplowy commented on #77
@D00Med that's Because it's a new game XD
http://store.steampowered.com/app/424840/Little_Nightmares/

Also hows the fireworks going and will it's be possible to have difrent colors and shapes?

[2017-05-20 21:49] D00Med commented on #77
@tobyplowy It looks interesting.
I haven't worked on them yet. Different colours are definitely possible, and hopefully so are different shapes.

[2017-05-20 21:56] tobyplowy commented on #77
It is :)

I hope shapes are going to work :)

[2017-05-20 22:02] D00Med commented on #77
@tobyplowy I might make two different styles of effect, multiple particles, and single particles.
Complex shapes could be single particles.

[2017-05-20 22:12] tobyplowy commented on #77
I'm ok with that as long as it looks good

[2017-05-20 22:29] tobyplowy commented on #77
@D00Med Well I need to go see you tomorrow

Also the last few days are so unproductive :/

[2017-05-20 22:30] D00Med commented on #77
@tobyplowy Ok, enjoy the rest of your evening.
Yeah I know, I'll add some stuff this afternoon for sure.

[2017-05-20 23:01] D00Med commented on #77
Any ideas for firework patterns?

[2017-05-21 06:58] DS-Minetest commented on #77
@D00Med The clawshot mod has many deprecated functions and co.. Look into my hook_redo fork to see all changes I made yet. I'll make a PR when it's finished.

Add particles in a fractal form?

Btw is farlands developed for 0.4.15 or 0.4.15-dev?

[2017-05-21 07:03] D00Med commented on #77
@DS-Minetest  Ok then. That'd be cool. It's for 0.4.15-dev

[2017-05-21 19:55] tobyplowy commented on #77
Hi

[2017-05-21 21:13] tobyplowy commented on #77
A star?
A creeper face (that may be not possible because of copyright)
Maybe a way to make words (this probably isn't possible because of engine limitations)
A happy face and sad face And my favorite ( ͡° ͜ʖ ͡°) lol jk about the Last one

[2017-05-21 21:17] D00Med commented on #77
Hi
@tobyplowy hmmm maybe not a creeper face, maybe the face of the swamp lurker or something.
Those are all good suggestions :)

[2017-05-21 21:21] tobyplowy commented on #77
@D00Med well jeh the creeper face was a bad idea maybe we can add the faces of the top contributers?
The face of there skin it can be a cool way to show ower thanks

[2017-05-21 21:22] tobyplowy commented on #77
@D00Med Also the swamp lurker is not a important mob I rather use the zombie :)

[2017-05-21 21:25] D00Med commented on #77
@tobyplowy  that's a good idea.
Ok

[2017-05-21 21:28] tobyplowy commented on #77
@D00Med thx I will ask the other guys for there skin
Do You still have my skin?

[2017-05-21 21:28] D00Med commented on #77
@tobyplowy Yeah I do

[2017-05-21 21:29] D00Med commented on #77
@tobyplowy the faces on skins might looks a bit odd as fireworks.

[2017-05-21 21:29] tobyplowy commented on #77
@GreenXenith @DS-Minetest are you interested in getting your skin in the game?
If so please let us Know also give us a way to get the png file of your skin :)

[2017-05-21 21:30] tobyplowy commented on #77
@D00Med maybe we can add the skins in another way

[2017-05-21 21:35] tobyplowy commented on #77
@D00Med maybe statues?

[2017-05-21 21:35] D00Med commented on #77
@tobyplowy Yeah that might be a better idea :)

[2017-05-21 21:36] tobyplowy commented on #77
@D00Med yeh it is

[2017-05-21 21:36] D00Med commented on #77
@tobyplowy  lol or maybe there could be a boss...
https://avatars0.githubusercontent.com/u/16853304?v=3&s=460

[2017-05-21 21:37] tobyplowy commented on #77
@D00Med will it be possible to make words with the fireworks?

[2017-05-21 21:37] D00Med commented on #77
@tobyplowy  I think so

[2017-05-21 21:39] tobyplowy commented on #77
@D00Med what is that ugly blue thing...

.....

....

..

.

Wait a second thats me XD

[2017-05-21 21:40] tobyplowy commented on #77
@D00Med I can make up a boss battle with my own character what about he shoots laser beams with his eyes (orange ones) while he sucks your soul XD

[2017-05-21 21:41] D00Med commented on #77
@tobyplowy Haha sounds scary

[2017-05-21 21:44] tobyplowy commented on #77
God damn that close buten is the only thing that's scary :)

Also he needs to sing this [song](https://m.youtube.com/watch?v=68ugkg9RePc) while he eats your soul XD

[2017-05-21 21:49] D00Med commented on #77
Be afraid, be very afraid

[2017-05-21 21:53] tobyplowy commented on #77
Let's get on the topic again because this is getting awfully off Topic
Bdw shuld my avatar be a boss?

[2017-05-21 21:55] D00Med commented on #77
@tobyplowy  Ok. If you like, I think it would be good

[2017-05-21 21:57] tobyplowy commented on #77
@D00Med it's your call to make

For me I'm not against it but I'm also not for it so you say it :)

[2017-05-21 21:58] D00Med commented on #77
@tobyplowy  Ok, well nevermind then xD

[2017-05-21 22:03] tobyplowy commented on #77
@D00Med ok XD

I was thinking we can actually start working on release of version 1
All what i wanna see done for that is fireworks at least 3 bosses some more special weapons/tools some strictures (buildings dungoens and vilages) some fixes/improvements

And you what do you think?

[2017-05-21 22:04] tobyplowy commented on #77
@D00Med I think if we make an "official" release more people will be willing to help with the next version

[2017-05-21 22:06] D00Med commented on #77
@tobyplowy That's a good idea. Also I should finish some of the things I've started and forgotten about.

[2017-05-21 22:10] tobyplowy commented on #77
Your mods and texturepacks?

[2017-05-21 22:14] D00Med commented on #77
@tobyplowy  stuff I've done for farlands

[2017-05-21 22:19] tobyplowy commented on #77
@D00Med I see :)

[2017-05-21 22:21] tobyplowy commented on #77
@D00Med Also I have to go have a good day
I don't have to go to school this week so that means I can stay up late the whole week (I will be able to get some work done!)

[2017-05-21 22:22] D00Med commented on #77
@tobyplowy  Ok, you too :)
Oh ok cool. Unfortunately I'm going to be quite busy this week, but I'll try shuffling things around.

[2017-05-22 14:17] DS-Minetest commented on #77
@tobyplowy I think, your avatar isn't too difficult to make as model. And it's texture would be simple.

@D00Med What about you as boss, too? In your avatar, you have a skin. Maybe use that skin and the player model for a boss mob? And spawn you by writing `DOOMED` with nodes and make a special ritual?

[2017-05-22 15:07] tobyplowy commented on #77
@DS-Minetest making my avatar as boss is a bad idea I think I let d00med make the decision and he said no

Also DS can I have your skin I wanna add statues of the skins of the top contributers

[2017-05-22 16:44] GreenXenith commented on #77
I guess I am not a "top contributer" until I get the formspecs done :)

[2017-05-22 18:22] DS-Minetest commented on #77
(A green crystal monster boss would also be cool.)

@tobyplowy I don't have any skin yet. >_< But I should make one.

[2017-05-22 18:45] 22i commented on #77
i like the whale very much but i have spotted some flickering on its body https://youtu.be/7WagxjqPHSc and tail https://youtu.be/rxNDGDBp59o this flickering can get fixed by making one box a bit smaller

[2017-05-22 19:04] GreenXenith commented on #77
That would be Z-fighting.
@D00Med should make them slightly smaller than overlapping pieces.

[2017-05-22 19:25] tobyplowy commented on #77
True maybe some kind of golem?

That's a job for @D00Med also welcome to farlands @22i

[2017-05-22 19:30] tobyplowy commented on #77
True but I will still add you because you show interest in helping the project (after all you have working but unfinished gui so it seems you care about this)

If you wanna be added you have to give me a skin :)

[2017-05-22 19:31] tobyplowy commented on #77
Yes you should :D

[2017-05-22 19:32] GreenXenith commented on #77
![greendimond](https://cloud.githubusercontent.com/assets/24834740/26325162/a69a0a16-3eea-11e7-9ecb-fa882ac79828.png)

[2017-05-22 19:34] tobyplowy commented on #77
@GreenXenith Thanks is it made by you? Or did you get it from the internet​ (just wondering)

[2017-05-22 19:41] GreenXenith commented on #77
Base from web, edited (a lot) by me.

[2017-05-22 19:41] tobyplowy commented on #77
@GreenXenith Ok cool :)

[2017-05-22 20:22] tobyplowy commented on #77
I'm now working on the statues

[2017-05-22 20:39] tobyplowy commented on #77
![statues](https://cloud.githubusercontent.com/assets/16853304/26327396/937dd228-3f3f-11e7-90f8-cb99b37bdf60.png)

[2017-05-22 20:51] tobyplowy commented on #77
@DS-Minetest the game seems to crash if you use the clawshot

[2017-05-22 20:53] GreenXenith commented on #77
*applause*

[2017-05-22 20:54] tobyplowy commented on #77
@GreenXenith what?

[2017-05-22 21:01] D00Med commented on #77
Hi
@tobyplowy The game will crash if you're still using that same build I use.
DS-Minetest seems to be using a newer build. Also the statues look good.
@22i Thankyou for pointing this out :)

[2017-05-22 21:03] tobyplowy commented on #77
thanks

well im going to have to wait for the newt mt release XD

[2017-05-22 21:06] D00Med commented on #77
@tobyplowy It should be ok to use the newer builds.

[2017-05-22 21:10] tobyplowy commented on #77
@D00Med yeh maybe

[2017-05-22 21:17] tobyplowy commented on #77
@D00Med im trying to inprove some textures

[2017-05-22 21:18] D00Med commented on #77
@tobyplowy Ok, nice :) could you send the firework sparks again please?

[2017-05-22 21:19] tobyplowy commented on #77
@D00Med yes give me a sec to find them

[2017-05-22 21:22] tobyplowy commented on #77
spark
![dust](https://cloud.githubusercontent.com/assets/16853304/26328978/6dbd05e4-3f45-11e7-8edb-47f6e7513812.png)
explosion
![explosion](https://cloud.githubusercontent.com/assets/16853304/26328980/6f38f07c-3f45-11e7-8649-d1c4720463e0.png)

[2017-05-22 21:22] D00Med commented on #77
@tobyplowy  Thanks

[2017-05-22 21:24] tobyplowy commented on #77
@D00Med can you also add thyse particles for when a mob or player is on fire ontent.com/assets/16853304/26329018/9ed404ca-3f45-11e7-82c2-8700b7a8baee.png)

[2017-05-22 21:25] tobyplowy commented on #77
also the torch still needs smoke
![fire particle](https://cloud.githubuserc

[2017-05-22 21:32] D00Med commented on #77
@tobyplowy yep I will, I just have to figure out how to do it.

[2017-05-22 21:38] tobyplowy commented on #77
@D00Med can you make Randomized dungoens (I know you didn't back in the time of the legend of minetest but can you now?)

[2017-05-22 21:43] D00Med commented on #77
@tobyplowy I can try, I have a new idea for them. If each "room" in a dungeon is the same size, then a random room could be placed at a certain position relative to the center. Sort of like a matrix with different numbers. Does that sound good?

[2017-05-22 21:45] tobyplowy commented on #77
@D00Med if that means all the rooms are in different positions every time you find a dungeon than yeh

[2017-05-22 21:46] tobyplowy commented on #77
@D00Med also where do you see farlands go in the future?

[2017-05-22 21:48] D00Med commented on #77
@tobyplowy Ok. I don't know how to answer that. What about you?

[2017-05-22 21:53] tobyplowy commented on #77
@D00Med well after update 1 do we keep working on farlands or do we take a break (I can't do it without you so you have to say)

I just can't wait to see demention support in mt so we can add a wonderful adventure to the subgame

[2017-05-22 21:56] D00Med commented on #77
@tobyplowy  Oh ok, well I think keep working on it :)
Yeah that'd be awesome

[2017-05-22 21:57] tobyplowy commented on #77
@D00Med ok

[2017-05-22 22:00] tobyplowy commented on #77
@D00Med I think we should start planning out what needs to be done with issues so we can close them one by one I think it will make things easier and better to keep track of than the to-do list do you agree?

[2017-05-22 22:05] D00Med commented on #77
@tobyplowy Yes good idea

[2017-05-22 22:06] tobyplowy commented on #77
@D00Med are you working on the fireworks at the moment?

[2017-05-22 22:08] tobyplowy opened #86 "Vilages"
Add vilages that naturally genarate so you can find NPCs in the world

[2017-05-22 22:12] tobyplowy opened #87 "Gui"
@GreenXenith this is your responsibility

What needs to be done

Top prioritie
Survival inventory
Creative inventory

Low priority
Furnace
Crafting table
Anvil if it gets added (most likely yes)
Npc (villager) trading gui

[2017-05-22 22:13] tobyplowy commented on #77
@D00Med also any issues you wanna open or want me to open?

[2017-05-22 22:14] D00Med commented on #77
@tobyplowy No I'm working on something else.
Aah maybe something about fireworks? and furniture

[2017-05-22 22:15] tobyplowy commented on #77
@D00Med Ok and yes :)

[2017-05-22 22:18] tobyplowy opened #88 "Fireworks"
Fireworks shuld be available in a couple colors (if possible all dye colors)
Also some shapes like a star and fractal (how crafting will work needs to be talked about)

[2017-05-22 22:20] tobyplowy opened #89 "Furniture"
Like chairs and other decorative blocks @D00Med have some ideas?

[2017-05-22 22:23] tobyplowy opened #90 "Fishing"
Fishing should be interesting and not boring so there should be some stuff happening sometimes instead of catching a fish you can catch junk like a slick or a boot Maybe sheap armor and demaged tools

For Best resolt https://github.com/minetest/minetest/issues/5722 this will need to be added

[2017-05-22 22:24] tobyplowy opened #91 "Bosses"
I will expand later

[2017-05-22 22:25] tobyplowy commented on #77
@D00Med can you comment on some of the issues and give your opinion :)

[2017-05-22 22:27] tobyplowy opened #92 "Demensions"
Will expand later

[2017-05-22 22:28] D00Med commented on #77
@tobyplowy  Yeah, I'm a bit busy at the moment sorry

[2017-05-22 22:28] tobyplowy commented on #77
@D00Med Ok no problem :)

[2017-05-22 22:29] D00Med commented on #89
@tobyplowy I was also thinking of adding different storage nodes, like cupboards or barrels.

[2017-05-22 22:29] tobyplowy opened #93 "Farming"
Farming with animals and more farmebles

I will expand later

[2017-05-22 22:33] tobyplowy commented on #89
@D00Med I updated the post if you get Ideas you can also update the top comment :)

[2017-05-22 22:38] tobyplowy commented on #77
I'm going now see you later

[2017-05-22 22:38] D00Med commented on #88
@tobyplowy  maybe mobs could drop items related to firework crafting

[2017-05-22 22:38] tobyplowy commented on #77
@D00Med enjoy the rest of your day :)

[2017-05-22 22:40] tobyplowy commented on #88
@D00Med agree but it should be rare

[2017-05-22 22:48] D00Med commented on #77
@tobyplowy  Ok, you too!

[2017-05-22 22:50] GreenXenith commented on #87
**Player Menus**
- [x] Survival Slots
- [ ] Survival Tabs
  - [ ] Armor
  - [ ] Craft Guide
  - [ ] Journal
  - [ ] I think I am forgetting something
- [ ] Creative Slots
- [ ] Creative Tabs
  - [ ] Creative Menu
  - [ ] Armor
  - [ ] Craft Guide
  - [ ] Journal
  - [ ] I think I am forgetting something

**Nodes**
- [x] Chest Formspec
- [x] Large Chest
  - [x] Large Chest Node
  - [x] Large Chest

[2017-05-22 22:52] GreenXenith commented on #77
2 things.
IIRC @D00Med was going to add the crafting table. If not, I will.
The NPC formspec is not something I know how to do right now. If you *really* need me to, I can.

[2017-05-22 22:52] GreenXenith commented on #77
Also added a checklist to the GUI section.

[2017-05-22 22:56] D00Med commented on #77
@GreenXenith  Didn't I already add a crafting table?(workbench).

[2017-05-22 22:59] GreenXenith commented on #77
I think you did... so I don't know why @tobyplowy put "Crafting table" in the [list of things that are my responsibility](https://github.com/D00Med/farlands/issues/87).
And what about the NPC thing @D00Med?

[2017-05-22 23:01] D00Med commented on #77
@GreenXenith  idk. I'm wondering why tobyplowy put that in your list too, there is already an npc trader formspec.

[2017-05-22 23:02] tobyplowy commented on #77
I said I was gone and it still like that I can't stick around but I want to comment because there's some confusion going on

The crafting table needs a nice GUI (like the inventory your working on) same for the npc it needs a nice GUI with textures

[2017-05-22 23:05] GreenXenith commented on #77
Ah he wants me to make the NPC/Craft Table purty... does it not look good right now or something?

[2017-05-22 23:06] D00Med commented on #77
It just looks like a normal minetest formspec

[2017-05-22 23:07] tobyplowy commented on #77
Well I guess I can stay up another hour XD

I'm back

[2017-05-22 23:07] tobyplowy commented on #77
Exactly!

[2017-05-22 23:09] GreenXenith commented on #77
Um, there is no crafting table...

[2017-05-22 23:09] tobyplowy commented on #77
@GreenXenith It's called workbench

[2017-05-22 23:16] GreenXenith commented on #77
@tobyplowy @D00Med That's not a crafting table...

[2017-05-22 23:17] tobyplowy commented on #77
@GreenXenith go to the top left of the formspec and click crafting

[2017-05-22 23:18] tobyplowy commented on #77
I think the block cutting shuld not be in the crafting table (the crafting table shuld be simple)

[2017-05-22 23:19] D00Med commented on #77
@tobyplowy  good idea, it could be moved to a machine

[2017-05-22 23:19] GreenXenith commented on #77
Alright. I will work with it.
@D00Med What about the NPC?

[2017-05-22 23:20] tobyplowy commented on #77
Yes good idea I agree with that!

[2017-05-22 23:21] GreenXenith commented on #77
Methinks I can work on that.

[2017-05-22 23:21] D00Med commented on #77
@GreenXenith  That might have to wait, since I haven't made the traders yet. When they are finished their formspec can be changed. @tobyplowy  Is that ok?

[2017-05-22 23:23] tobyplowy opened #94 "machines"
Like shape cutter (the thing that is in the crafting table at the moment) and item burner (like a trash can but with fire) can give a barrel that's explosive :/

[2017-05-22 23:24] tobyplowy commented on #77
Yeh that's ok

[2017-05-22 23:25] tobyplowy commented on #94
@D00Med I assigned you to this

[2017-05-22 23:26] D00Med commented on #94
@tobyplowy yep. I should be able to do this fairly soon.

[2017-05-22 23:26] tobyplowy commented on #77
I will make a trader (texture)

[2017-05-22 23:27] tobyplowy commented on #94
@D00Med cool

[2017-05-22 23:32] tobyplowy commented on #77
What do you guys think of a travelling merchant (it's an NPC that rarely spawns in the world and he can trade) he will look like an NPC and he will have a big bag on his pack (like the mask sails man man in Loz)

[2017-05-22 23:33] GreenXenith commented on #77
I guess? Sure?

[2017-05-22 23:34] D00Med commented on #77
@tobyplowy  sounds good

[2017-05-22 23:36] tobyplowy commented on #87
@GreenXenith thanks for updating ;D

[2017-05-22 23:38] tobyplowy commented on #77
@D00Med ok I'm working on that now

[2017-05-22 23:40] D00Med commented on #77
@tobyplowy  ok

[2017-05-22 23:43] tobyplowy opened #95 "Sleeping and nightmares"
What needs to be done

If you sleep you seem to sink in the bed (that is probably a bug XD)
If you lay in your bed the night shouldn't be skipped instantly it should take a couple seconds
You also shouldn't be able to sleep if there are monsters nearby (like Minecraft)
And nightmares should trigger rarely (we need to talk about what nightmares we add)

[2017-05-22 23:43] tobyplowy commented on #77
https://github.com/D00Med/farlands/issues/95

[2017-05-22 23:47] D00Med commented on #95
@tobyplowy How should nightmares be done?
I was thinking, whilst waiting for day, a black hud overlay could be added, then dreams could be images added over that. Also I was thinking, maybe sometimes stuff should disappear from the player's inventory when they use a bed.

[2017-05-22 23:54] tobyplowy commented on #95
Maybe instead of skipping the night to Day you wake up and it's still night and you can't sleep anymore
That's the good case in the bad case it will spawn a mob next to your bed (this can be a monster or something of boeggyman maybe)

Not sure if that will be good but I'm interested to on

That sounds like a bad idea that will Make Some People Really mad and upset including me ;)

[2017-05-22 23:55] D00Med commented on #95
Haha ok then

[2017-05-22 23:56] tobyplowy commented on #95
@D00Med XD

[2017-05-22 23:57] tobyplowy commented on #95
I know it all sounds ridiculous but there's no such thing as a bad idea only better ideas

[2017-05-22 23:59] tobyplowy commented on #77
@D00Med shuld I put masks on the traveling merchants bag?

As a reference to loz

[2017-05-23 00:09] tobyplowy commented on #77
@D00Med This is hard I don't wanna overdo the size of his bag but on the other hand I wanna overdo it XD

[2017-05-23 00:22] tobyplowy commented on #77
I'm going now see you guys tommorow :)

[2017-05-23 00:23] GreenXenith commented on #77
Alright cya toby.

[2017-05-23 00:54] D00Med commented on #77
@tobyplowy idk up to you. bye

[2017-05-23 07:15] D00Med commented on #94
@tobyplowy  I made the item burner and barrel. What do you think?
The barrel needs work I think

[2017-05-23 10:26] tobyplowy opened #96 "edit textures"
whats nees to be beter

lava
all the rest of default

[2017-05-23 10:30] tobyplowy commented on #77
![ddd](https://cloud.githubusercontent.com/assets/16853304/26350485/a53e9f46-3fb3-11e7-98f3-478589a57f71.png)
[travelling merchant.zip](https://github.com/D00Med/farlands/files/1021813/travelling.merchant.zip)

[2017-05-23 10:32] tobyplowy commented on #77
@D00Med NOTE dount move his arms

[2017-05-23 13:03] tobyplowy opened #97 "Misc/vanety tools items and weapons"
This is for fun and waky dungoen (and maybe fishing) loot like the Gameboy in the legend of minetest and a keyboard sword And a bucket to put on your head XD (the stupider it is the better)

Anyone have any ideas?

[2017-05-23 13:07] DS-Minetest commented on #77
That merchant is nice!

The statues also look good.
Could you add me with this skin until I made an own: http://minetest.fensta.bplaced.net/#name=steel%20man It's the one with that I play mostly.

@tobyplowy Most likely that crash is caused by the missing settings object. But anyway, there are no feel able changes with clawshot, so you don't miss anything.

Seems like there are many issues now. :+

[2017-05-23 13:21] DS-Minetest commented on #95
What about special drinks that can be drunk to have a nice dream (eg. nc heaven) or a nightmare.

[2017-05-23 14:44] tobyplowy commented on #95
@DS-Minetest that sounds like a nice idea

[2017-05-23 16:00] tobyplowy commented on #87
Maybe Achievements?
Apart from that I don't think you did

[2017-05-23 16:13] tobyplowy commented on #77
Done ;D

[2017-05-23 20:24] tobyplowy commented on #77
Hi

[2017-05-23 20:52] tobyplowy opened #98 "Sounds and music"
We need some (I'm trying but I can't I'm not good at this

[2017-05-23 20:52] tobyplowy commented on #77
Hi

[2017-05-23 21:06] D00Med commented on #77
Hi

[2017-05-23 21:07] D00Med commented on #77
@tobyplowy The merchant looks good

[2017-05-23 21:07] tobyplowy commented on #77
@D00Med hey thanks

[2017-05-23 21:08] tobyplowy commented on #77
@D00Med the berrel looks nice

[2017-05-23 21:09] tobyplowy commented on #77
@D00Med im working on firework sounds

[2017-05-23 21:10] D00Med commented on #77
@tobyplowy thanks

[2017-05-23 21:10] tobyplowy commented on #77
"trying"

[2017-05-23 21:10] D00Med commented on #77
@tobyplowy ok, cool. I can't work on Farlands today

[2017-05-23 21:14] tobyplowy commented on #77
@D00Med how is this also thats ok
[firework.zip](https://github.com/D00Med/farlands/files/1023795/firework.zip)

[2017-05-23 21:15] tobyplowy commented on #77
my audio driver on my pc is fucked so its hard to make these sounds :/

[2017-05-23 21:15] D00Med commented on #77
The 'boom' is nice, but the rocket sound is odd.

[2017-05-23 21:16] tobyplowy commented on #77
@D00Med yeh for me its sounds good (i need to get my audio driver fixed)

[2017-05-23 21:17] tobyplowy commented on #77
@D00Med you shuld try to fix it with Audacity

[2017-05-23 21:18] tobyplowy commented on #77
![a53e9f46-3fb3-11e7-98f3-478589a57f71](https://cloud.githubusercontent.com/assets/16853304/26376821/2ad00280-400e-11e7-8885-2004fd630ed1.png)

[2017-05-23 21:19] D00Med commented on #77
@tobyplowy Ok, I will try. That face is kind of creepy xD

[2017-05-23 21:22] tobyplowy commented on #77
@D00Med you know who that is riht

[2017-05-23 21:23] D00Med commented on #77
@tobyplowy Yes
It'd be cool if there was some way to tame mimics
![img_4373](https://cloud.githubusercontent.com/assets/19916704/26376954/bdbb1ef2-4051-11e7-96ea-6038bd9fd7bd.jpg)

[2017-05-23 21:24] tobyplowy commented on #77
@D00Med wtf is that picture XD

but yes that wuld be cool

[2017-05-23 21:24] tobyplowy commented on #77
@D00Med also it seems all the offtopic posts are gone on the forum

[2017-05-23 21:25] tobyplowy commented on #77
i wanted to show my model

[2017-05-23 21:26] tobyplowy commented on #77
It'd be cool if you can use them as storage

[2017-05-23 21:28] tobyplowy commented on #77
@D00Med also will you add the npc and travelling merchant to dmobs?

[2017-05-23 21:36] D00Med commented on #77
@tobyplowy It's a character in a book. It'd be good security if a chest would bite anyone apart from its owner xD

I wonder why that happened.
I don't think so, maybe though.

[2017-05-23 21:44] tobyplowy commented on #77
I think it cost too much money to maintain

I'm in XD

[2017-05-23 21:44] D00Med commented on #77
@tobyplowy Ok, makes sense.

[2017-05-23 21:46] tobyplowy commented on #77
A chest with a sign above it saying take whatever you want free stuff
Free indeed

https://media.giphy.com/media/FrajBDPikVqBG/giphy.gif

[2017-05-23 23:24] D00Med commented on #77
@tobyplowy  I should go, enjoy your day

[2017-05-23 23:26] tobyplowy commented on #77
@D00Med Ok you too :)

[2017-05-24 12:51] DS-Minetest commented on #98
Look here: http://www.freesound.org/

Sounds and music are more important than is thought.

[2017-05-24 12:57] DS-Minetest commented on #77
IMO the boom sound isn't clear enough. It's fireworks, no nuke. What about just using the tnt sounds?

[2017-05-24 15:40] GreenXenith commented on #77
I don't know if the mask looks good :/

[2017-05-24 15:48] tobyplowy commented on #89
@D00Med maybe also add carpet?

[2017-05-24 15:50] tobyplowy commented on #77
@GreenXenith yes it doesent look good but i whant it for the refence

[2017-05-24 15:51] GreenXenith commented on #77
What's the reference? I'm clueless :P

[2017-05-24 15:55] tobyplowy commented on #77
look at his face and at the mask also this guy is wearing a big backpack
https://www.google.be/search?q=happy+mask+salesman&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiJxuH-8YjUAhVNIVAKHWWRAmoQ_AUICigB&biw=1777&bih=882

[2017-05-24 15:56] GreenXenith commented on #77
Hm. Alright. Do whatevs xD

[2017-05-24 15:58] tobyplowy commented on #77
@GreenXenith shuld i keep it?

[2017-05-24 15:59] GreenXenith commented on #77
Looks out-of-place IMO. Maybe add another mask and some other misc. items (like pots/pans, cups, bags, provisional stuff, trade stuff) and make the mask a little darker. Then it will fit in :P

[2017-05-24 16:00] tobyplowy commented on #77
@GreenXenith i will try

[2017-05-24 16:01] tobyplowy commented on #77
@GreenXenith can you give your opinion on the other issues

[2017-05-24 16:03] GreenXenith commented on #98
Background music might be nice.

[2017-05-24 16:04] GreenXenith commented on #97
Wacky and random items? Hm....

[2017-05-24 16:05] GreenXenith commented on #94
When I get to it, I am separating the workbench into 3 nodes.
- Craft Bench
- Anvil
- Cutter
@D00Med have you already added a cutting node? I can't remember...

[2017-05-24 16:08] tobyplowy commented on #77
@D00Med use this instead for the travelling merchant
[travelling merchant.zip](https://github.com/D00Med/farlands/files/1026213/travelling.merchant.zip)

[2017-05-24 16:10] tobyplowy opened #99 "pets"
i will expand later

[2017-05-24 16:12] GreenXenith commented on #86
I suggest you look at [this](https://forum.minetest.net/viewtopic.php?id=3223) and [this](https://forum.minetest.net/viewtopic.php?id=6953).

[2017-05-24 16:13] GreenXenith commented on #88
Gunpowder with paper surrounding it makes 'firework_base'. Use that with some combo of dyes to get desired firework.

[2017-05-24 16:17] GreenXenith commented on #95
Or a potion that can be drunk to reduce change of nightmares (this does have potions, right?)

As for nightmares, I have an idea on that. I played with the HUD concept a bit ago with something I deemed "mysterious gloop" as a random experiment for a caverealms_plus mod. Through some fungi and other things to get gloop, and when you eat it, you basically have a seizure. Bright colors and stuff flas

[2017-05-24 16:19] GreenXenith commented on #77
I have now given my 2 cents on most of them.

[2017-05-24 16:20] GreenXenith commented on #97
A broken Wii remote (first random thing that came to mind).

[2017-05-24 16:24] GreenXenith commented on #77
Does one have to be marked as 'collaborator" to be able to assign stuff and add labels?

[2017-05-24 16:24] GreenXenith commented on #99
Flying banana.

[2017-05-24 16:26] tobyplowy commented on #99
@GreenXenith ok thats weard but it can be somting for
https://github.com/D00Med/farlands/issues/97

[2017-05-24 16:27] tobyplowy commented on #97
@GreenXenith broken Wii remote that sounds rediculus but it can be fun loot XD

[2017-05-24 16:28] tobyplowy commented on #77
@GreenXenith yes i think so why you wanna be one?

[2017-05-24 16:28] GreenXenith commented on #97
:O :bulb:
I am totally gonna add a broken Wii that you can repair and use the Wii remote with to play stuff on.

[2017-05-24 16:29] GreenXenith commented on #77
If you are OK with it, sure.

[2017-05-24 16:30] GreenXenith commented on #99
I was half-joking :P

[2017-05-24 16:31] tobyplowy commented on #99
![evil](https://cloud.githubusercontent.com/assets/16853304/26414339/2cf1e456-40af-11e7-9ba4-78a27384c5a5.png)
[cubelet.zip](https://github.com/D00Med/farlands/files/1026276/cubelet.zip)

[2017-05-24 16:31] GreenXenith commented on #99
Yes. Just yes.

[2017-05-24 16:32] tobyplowy commented on #99
that doesent matter i need weard stuff for loot

[2017-05-24 16:34] tobyplowy commented on #77
@GreenXenith i will need to ask @D00Med first im not the only owner of this project

[2017-05-24 16:34] GreenXenith commented on #77
Sounds good.

[2017-05-24 16:35] tobyplowy commented on #99
cubelet is inspierd by the Blocklings mod for mc

[2017-05-24 16:35] tobyplowy commented on #99
i dout take credit for the idea

[2017-05-24 16:37] tobyplowy commented on #97
@GreenXenith aaaaahhhhhh no XD

[2017-05-24 16:37] tobyplowy commented on #97
@GreenXenith Wii remote lihtsaber?

[2017-05-24 16:38] tobyplowy commented on #97
WHY!!!!!
![image](https://cloud.githubusercontent.com/assets/16853304/26414654/25e7b84c-40b0-11e7-8632-f560359d40f6.png)

[2017-05-24 16:39] tobyplowy commented on #77
@GreenXenith d00med will probably be ok with it

[2017-05-24 16:42] tobyplowy commented on #87
@GreenXenith can you also make the repair tool function on the crafting table a separate block? (an anvile)

you dount have too im just asking

[2017-05-24 16:54] tobyplowy commented on #98
@GreenXenith yeh but we first need some XD

[2017-05-24 16:56] tobyplowy commented on #94
As far as I know, no

[2017-05-24 16:58] tobyplowy commented on #88
@GreenXenith the Minecraft way and also the best way XD

[2017-05-24 17:01] tobyplowy commented on #95
@GreenXenith I can't tell if that's a good idea I have to see it in game to know

[2017-05-24 17:19] GreenXenith commented on #97
...
No lightsabers man xD
So you don't want me to do the Wii idea?

[2017-05-24 17:32] tobyplowy commented on #97
wait thats possible can you make it an arcade instead? (i wanne make the arcade)

[2017-05-24 17:34] tobyplowy commented on #87
@GreenXenith crafting table concept
![crafting](https://cloud.githubusercontent.com/assets/16853304/26416966/ff3e8dda-40b7-11e7-8a4c-bac04bc18c45.png)

[2017-05-24 17:49] GreenXenith commented on #87
@tobyplowy So I am putting a craft guide on the table, not the inventory?

[2017-05-24 17:58] GreenXenith commented on #97
@tobyplowy Maybe both?

[2017-05-24 19:10] tobyplowy commented on #97
@GreenXenith not sure about the Wii @D00Med what do you think

[2017-05-24 19:10] tobyplowy commented on #97
@GreenXenith bdw arcade machine model is almost done

[2017-05-24 19:12] tobyplowy commented on #87
@GreenXenith No both Because of you use the crafting table gui you won't be able to access your own inventory unless You Go Out Of The Crafting gui and Open Your inventory (same for the other way around)

[2017-05-24 19:15] tobyplowy commented on #87
@GreenXenith On The Other hand in the players Crafting gui you won't really Need a recipe book because the only recipe that's important there is a 2 by 2 wood craft recipe to make a crafting table (and some other basic stuff)

It can also be an item (crafting recipe book item) that maybe better but you can choose

[2017-05-24 19:17] GreenXenith commented on #87
I think I might just do the book.

[2017-05-24 19:17] tobyplowy commented on #87
Ok

[2017-05-24 19:19] tobyplowy commented on #87
@GreenXenith I will make a recipe book texture (I'm working on a book texture at the moment anyway )

[2017-05-24 20:04] tobyplowy commented on #77
hi

[2017-05-24 20:41] tobyplowy commented on #97
@GreenXenith
![naamloos](https://cloud.githubusercontent.com/assets/16853304/26424587/0d058724-40d2-11e7-8969-331e2a216f10.png)
[arcade.zip](https://github.com/D00Med/farlands/files/1027200/arcade.zip)

[2017-05-24 20:50] GreenXenith commented on #97
Amazing. I will work on this once the inventories are done xD

[2017-05-24 20:53] tobyplowy commented on #97
@GreenXenith yup im happy with how the model turned out
(i expected wurse XD)

[2017-05-24 20:53] GreenXenith commented on #97
Hm. How do I disable the texture blur? I open this in blender and everything is blurred.

[2017-05-24 21:01] tobyplowy commented on #97
@GreenXenith in left top corner klic file

[2017-05-24 21:02] tobyplowy commented on #97
than user prefences

go to the last tab (sistem)

and disable mipmaps

[2017-05-24 21:02] D00Med commented on #99
@tobyplowy too bad, nice idea :P

[2017-05-24 21:03] GreenXenith commented on #97
Ah thankyou.

[2017-05-24 21:03] DS-Minetest commented on #99
Use banana as boomerang!

@tobyplowy I like that minion.
I think, we need a pet API.
Make the pets follow the player, maybe teleport them near player if they are too far away.
Don't make a way to make the pet stop at a position.
Use items to spawn pets.
Perhaps only one pet active once.
Give the player advantages of the pet.

[2017-05-24 21:04] D00Med commented on #97
@tobyplowy @GreenXenith  Nice ideas xD

[2017-05-24 21:04] D00Med commented on #97
also hi :)

[2017-05-24 21:04] GreenXenith commented on #97
Hello

[2017-05-24 21:05] D00Med commented on #99
@DS-Minetest That's a good idea, mobs_redo isn't very good for pets

[2017-05-24 21:06] D00Med commented on #94
@GreenXenith I was going to, but I haven't started so it's all good :)

[2017-05-24 21:06] GreenXenith commented on #77
@D00Med Could you mark me as collaborator or contributer?

[2017-05-24 21:07] tobyplowy commented on #97
to talk please go here https://github.com/D00Med/farlands/issues/77

[2017-05-24 21:07] tobyplowy commented on #77
@D00Med hi

[2017-05-24 21:08] D00Med commented on #77
@GreenXenith  Sure :)
@tobyplowy good idea, it's getting hard to keep track of all the comments xD

[2017-05-24 21:09] DS-Minetest commented on #77
@GreenXenith AFAIK you are marked as contributor when you contribute, so, make a commit, so, get a PR merged.

[2017-05-24 21:10] GreenXenith commented on #77
@DS-Minetest Already am contributing. Maybe you missed that part of the discussion? xD

[2017-05-24 21:10] DS-Minetest commented on #97
**Don't call ite wii, call it wee!**

[2017-05-24 21:11] D00Med commented on #77
@GreenXenith Ok, you should get an email or something about being a collaborator.

[2017-05-24 21:12] DS-Minetest commented on #77
@GreenXenith Github somehow didn't recognize you yet: https://github.com/D00Med/farlands/graphs/contributors

[2017-05-24 21:12] tobyplowy commented on #97
@DS-Minetest wee mootleg XD

[2017-05-24 21:13] D00Med commented on #77
@DS-Minetest I think what you said is right, and collaborators can make commits and pull requests without having to wait for the 'owner' to merge them.

[2017-05-24 21:14] tobyplowy commented on #97
@DS-Minetest i guss its a thing XD
![image](https://cloud.githubusercontent.com/assets/16853304/26425856/a09b2efe-40d6-11e7-9090-63a323cef270.png)

[2017-05-24 21:14] GreenXenith commented on #77
@DS-Minetest I haven't merged anything yet. The stuff I am working on will be merged when I am done, but the progress has been posted, so I have proof that I have "contributed".

[2017-05-24 21:15] DS-Minetest commented on #77
Github has it's own definition of contributing, it didn't know, you contributed and we were writing about the label. :P

[2017-05-24 21:17] tobyplowy commented on #99
@D00Med minetests new mob api maybe good hopfully they will work on it in the next unstable

[2017-05-24 21:18] DS-Minetest commented on #88
For firework use a stick, a string, gunpowder, paper and something that makes the explosion colored.

[2017-05-24 21:19] tobyplowy commented on #77
im a Collaborator and not a Contributor thefuu

[2017-05-24 21:19] DS-Minetest commented on #77
Huh, @tobyplowy are upper case letters allowed in node names?

[2017-05-24 21:20] GreenXenith commented on #77
They are but should not be. All names should be lowercase.

[2017-05-24 21:20] tobyplowy commented on #87
craft book
![craft book](https://cloud.githubusercontent.com/assets/16853304/26426110/83631698-40d7-11e7-9f44-125313f312ee.png)

[2017-05-24 21:20] D00Med commented on #99
@tobyplowy yeah hopefully

[2017-05-24 21:20] tobyplowy commented on #77
@DS-Minetest yes i think so

[2017-05-24 21:21] tobyplowy commented on #77
realy now, why

[2017-05-24 21:21] DS-Minetest commented on #77
https://github.com/D00Med/farlands/commit/def4e8be28bc366e92aed9a09dce796682dd96c8#diff-8c3bfb8b45b767904a353c0b4291e726R804

[2017-05-24 21:22] D00Med commented on #77
@DS-Minetest @tobyplowy  I think it is possible, but please don't use them, it makes things confusing

[2017-05-24 21:22] DS-Minetest commented on #77
Only text for humans should be stylistic.

[2017-05-24 21:23] DS-Minetest commented on #77
Anyway, this could also be changed later with aliases.

[2017-05-24 21:23] DS-Minetest commented on #77
AFAIK, texture names are normally also only with abc + _.

[2017-05-24 21:24] GreenXenith commented on #87
@tobyplowy That is 16x17. Is it possible to make it 16x16?

[2017-05-24 21:25] tobyplowy commented on #77
@D00Med will you be working on farlands today?

[2017-05-24 21:26] tobyplowy commented on #87
@GreenXenith oh how did that happen :/

[2017-05-24 21:28] DS-Minetest commented on #97
Huh, I just meant because minetest always used wee instead of wii, also PonySlayStation.

[2017-05-24 21:29] tobyplowy commented on #87
![craft book](https://cloud.githubusercontent.com/assets/16853304/26426423/cc3c1e54-40d8-11e7-9a8c-c53970d5af4e.png)

[2017-05-24 21:30] GreenXenith commented on #87
ty :)

[2017-05-24 21:30] tobyplowy commented on #87
the one in minetest game is 16x17 st thats why that happend
https://github.com/minetest/minetest_game/blob/master/mods/default/textures/default_book.png

[2017-05-24 21:31] D00Med commented on #77
@tobyplowy No sorry, I have an assignment due tomorrow😅

[2017-05-24 21:31] tobyplowy commented on #77
@D00Med ok XD

[2017-05-24 21:41] DS-Minetest commented on #87
Hm, many people would like a new sort of crafting system, something like this: https://forum.minetest.net/viewtopic.php?t=15405
If farlands would have something like that, it would differ more from the other subgames.

[2017-05-24 21:49] tobyplowy commented on #87
I don't like that I prefer it the good ol way XD

[2017-05-24 21:57] GreenXenith commented on #77
@tobyplowy Do I remember you mentioning you changed the chest texture?

[2017-05-24 21:57] GreenXenith commented on #87
Agreed.

[2017-05-24 22:01] tobyplowy commented on #77
@GreenXenith yes the treasure shest (it was pink or red before)

[2017-05-24 22:02] DS-Minetest commented on #87
It's just the normal way of minetest. Other games do it like this, eg. terraria.

IMO the style of the textures of the gui are too gray and sterile.

[2017-05-24 22:04] tobyplowy commented on #87
@DS-Minetest yes I will improve the color but first I wanna see the GUI finished

[2017-05-24 22:06] GreenXenith commented on #87
If you plan on modifying any texture, do **NOT** change image sizes or slot positions.

[2017-05-24 22:10] GreenXenith commented on #77
Ok that's fine. Didn't have to do with the normal chests so I am fine :)

[2017-05-24 22:12] tobyplowy commented on #87
@GreenXenith no just the colors (I have been making textures and texturepacks for almost 10 years I know how it works XD)

[2017-05-24 22:30] GreenXenith commented on #87
Finished chests (for real this time). Working on creative inventory right now.

[2017-05-24 22:33] tobyplowy commented on #87
That's great news also the Creative Slots or tabs?

[2017-05-24 22:35] GreenXenith commented on #87
Slots.

[2017-05-24 22:45] tobyplowy commented on #87
Ok cool

[2017-05-24 22:51] GreenXenith commented on #87
On second thought, I'm done for today :P
Got the bg image done.

[2017-05-24 22:54] tobyplowy commented on #87
@GreenXenith Ok see you later thanks for your time and have a good day :)

[2017-05-24 22:56] D00Med commented on #87
@GreenXenith  bye :)

[2017-05-24 23:45] D00Med commented on #87
@tobyplowy  I'm going now, enjoy your day :)

[2017-05-25 06:49] DS-Minetest commented on #87
Normally you don't set the slot positions in background image. https://github.com/minetest/minetest/blob/master/doc/lua_api.txt#L1582 (You could also add one texture per slot if it's so important to be an image. https://github.com/minetest/minetest/blob/master/doc/lua_api.txt#L1594)

[2017-05-25 14:41] GreenXenith commented on #87
The background image slots are aligned with the defined slots.

[2017-05-25 14:42] GreenXenith commented on #87
If I do change it to image slots, I will do so later.

[2017-05-25 21:07] tobyplowy commented on #77
Hi I will not be online alot today but I may :)

[2017-05-25 21:20] D00Med commented on #77
Hello :)
@tobyplowy Ok

[2017-05-26 20:24] tobyplowy commented on #77
@D00Med hi

[2017-05-26 20:50] D00Med commented on #77
Hi :)

[2017-05-26 20:51] tobyplowy commented on #77
@D00Med so do you have time for farlands today :)

[2017-05-26 20:52] D00Med commented on #77
@tobyplowy Yep :D

[2017-05-26 21:01] tobyplowy commented on #77
@D00Med ok cool :)

[2017-05-26 21:04] tobyplowy commented on #77
@D00Med Why am I even typing these :) I'm not even happy I'm sad :/
But I'm Happy your here

[2017-05-26 21:10] D00Med commented on #77
@tobyplowy Oh :S
I'm working on the beetle

[2017-05-26 21:14] tobyplowy commented on #77
Sorry I'm not having a good time

That's good but I planed that for future content

[2017-05-26 21:16] D00Med commented on #77
@tobyplowy Don't apologise to me. If you don't want to talk today that's fine :)
Oh ok, well I'm nearly done anyway xD

[2017-05-26 21:25] tobyplowy commented on #77
@D00Med oh yes I wanna talk but not about why I'm sad now let's Just move on and forget about it

[2017-05-26 21:26] D00Med commented on #77
@tobyplowy should I work on the zombie brute next?

[2017-05-26 21:27] tobyplowy commented on #77
@D00Med Yeh

[2017-05-26 21:27] tobyplowy commented on #77
@D00Med what do you think about the new spawn egg textures (I'm not sure about them)

I do like the new book texture I made thow :)

[2017-05-26 21:32] D00Med commented on #77
@tobyplowy  I haven't seen them yet, I will have a look

[2017-05-26 21:35] D00Med commented on #77
@tobyplowy  They look good! Not sure about the corners though

[2017-05-26 21:39] tobyplowy commented on #77
@D00Med you mean the red things yeh that's temp

[2017-05-26 21:40] tobyplowy commented on #77
Fuuuuuuuu

[2017-05-26 21:41] D00Med commented on #77
@tobyplowy  ok

[2017-05-26 21:42] tobyplowy commented on #77
@D00Med I just hate that close button so hard!

[2017-05-26 21:48] tobyplowy commented on #77
@D00Med so how will we do bosses With crafting items or maybe something else?

[2017-05-26 21:55] D00Med commented on #77
@tobyplowy  Not sure, I think maybe each boss should have its own unique way of spawning.

[2017-05-26 21:56] tobyplowy commented on #77
@D00Med that sounds interesting

[2017-05-26 22:04] D00Med commented on #77
@tobyplowy  The big zombie looks like he's going to steal someone's lunch xD

[2017-05-26 22:05] tobyplowy commented on #77
@D00Med yeh what if he already did XD

[2017-05-26 22:06] tobyplowy commented on #77
@D00Med is it Possible to make him grab and throw Blocks at the player?

[2017-05-26 22:08] D00Med commented on #77
@tobyplowy idk about grabbing them, but I could make him throw rocks that don't really come from the ground but seem to

[2017-05-26 22:08] D00Med commented on #77
@tobyplowy  his head is the size of a node right?

[2017-05-26 22:08] D00Med commented on #77
@tobyplowy  or half?

[2017-05-26 22:10] tobyplowy commented on #77
@D00Med I made him to be 2 blocks tall and around 2 almost 3 wide but you can make him 4 tall (I will fix the texture) also the rocks are good

[2017-05-26 22:11] D00Med commented on #77
@tobyplowy  two blocks tall is good :)

[2017-05-26 22:12] tobyplowy commented on #77
His whole body should be 4 bocks right not only his head Just so You Don't get confused

But 2 is fine

[2017-05-26 22:23] tobyplowy commented on #77
@D00Med It really sucks that they removed the offtopic section n the forum

[2017-05-26 22:31] tobyplowy commented on #77
@D00Med I have to go have a good day :)

[2017-05-26 22:37] D00Med commented on #77
@tobyplowy two works well so far, because if he was bigger the rocks he would throw would seem small.
Idk, I can understand why they did it, but removing the whole thing was overkill

[2017-05-26 22:46] D00Med commented on #77
@tobyplowy  I've managed to make the zombie drop rocks on himself :'D

[2017-05-26 22:47] D00Med commented on #77
@tobyplowy  oh damn, missed what you said. have a nice day :)

[2017-05-27 07:54] DS-Minetest commented on #77
Making a mob grabbing a node and making it to an entity and then throwing it wouldn't be that difficult. The only problem I can see is how to move the entity while the mob has it in its hands.

[2017-05-27 08:04] D00Med commented on #77
@DS-Minetest Already done ;) The rock is part of the model, but when it's not needed it is hidden and scaled down inside the body of the zombie. The separate rock entity is scaled so that its not visible until the right moment(or thereabouts) when the rock in the model is hidden again.

[2017-05-27 08:12] D00Med commented on #77
@DS-Minetest sorry, misunderstanding. I didn't make it grab real nodes because changing the texture of the nodes moving entity is not something I know how to do. And it would mean that the trick I mentioned before would not work.

[2017-05-27 08:30] DS-Minetest commented on #77
@D00Med Ah, your trick is really good.
- Add to the mob model some cubic faces. (Use materials!)
- Those faces normally have `blank.png` as texture.
- The mob makes the faces down at a position of a node (per animation).
- The node is removed, in luaentity is saved which node it has and the faces get the textures of the node. (All at once!)
- The mob makes it throw animation.
- At the moment when

[2017-05-27 08:37] D00Med commented on #77
@DS-Minetest  Thankyou.
That should work, however there is a problem. Changing the texture of the cubic faces of the model would reset the animation. As it is the animation doesn't really have enough time to work(it gets cut off).

[2017-05-27 08:47] DS-Minetest commented on #77
@D00Med Uuh, I didn't know, that `set_properties` resets the animation.
What about using `get_animation`, would that work?

[2017-05-27 08:52] D00Med commented on #77
@DS-Minetest  It might work, but I think it has something to do with mobs_redo

[2017-05-27 09:01] DS-Minetest commented on #77
@D00Med Oh, I forgot that a mob api is used. _Actually I don't like the current available mob apis. They aren't flexible enough IMO. They only allow a specific behavior._
Making a boss with an api will make the boss boring and unspecial. I suggest adding bosses without the use of mob apis. The cube throwing zombie brute could be seen as a boss.

[2017-05-27 09:10] D00Med commented on #77
@DS-Minetest I can understand that. Feel free to write that boss api :P

[2017-05-27 09:14] DS-Minetest commented on #77
@D00Med Hm, an api for bosses wouldn't be that better, every boss would do the same. IMO every boss should be made extra.
Perhaps I will make a boss when I've got time. Could the .blend files be included somewhere?

[2017-05-27 09:19] D00Med commented on #77
@DS-Minetest I'd be interested to see that. Yes I could add them

[2017-05-27 12:26] tobyplowy opened #100 "dinos"
im still working on this

todo

add fossels to mapgen

[2017-05-27 12:29] tobyplowy commented on #77
lol

[2017-05-27 12:30] tobyplowy commented on #77
@DS-Minetest
[zombie brute.zip](https://github.com/D00Med/farlands/files/1033539/zombie.brute.zip)

[2017-05-27 12:45] DS-Minetest commented on #77
@tobyplowy Thanks.
But I think, somewhere should be the models in .blend format for all easily accessible. Would a zipped folder of all models take much space?
Generally we should think about disk space. Currently farlands takes about 25MiB. Most of this is `farlands darkstar.wav`. On exporting media it should be the most small possible and good, eg. make the colors of textures indicated instead o

[2017-05-27 12:49] tobyplowy commented on #77
nope i hate that (its not easy for texturepack making)

[2017-05-27 12:51] tobyplowy commented on #77
@DS-Minetest i dout think the file size of farlands is inportant
and we shuldent worry about it not now atleast

[2017-05-27 12:53] tobyplowy commented on #77
also these are all the models i made so far
[entety.zip](https://github.com/D00Med/farlands/files/1033551/entety.zip)

[2017-05-27 18:24] tobyplowy commented on #97
@DS-Minetest PonySlayStation XD

[2017-05-27 18:26] tobyplowy commented on #97
also it shuld be possible to put a bucket on your head

[2017-05-27 20:07] tobyplowy commented on #77
Hi

[2017-05-27 20:59] D00Med commented on #77
Hi

[2017-05-27 21:11] tobyplowy commented on #77
@D00Med do you have any time for farlands today?

[2017-05-27 21:12] D00Med commented on #77
@tobyplowy yeah, I'm just trying to figure out how to make a pull request on someone else's project

[2017-05-27 21:12] tobyplowy commented on #77
@D00Med also will you add the NPCs to d00med mobs?

Also what project?

[2017-05-27 21:13] D00Med commented on #77
@tobyplowy I don't know yet.
mobs_redo.

[2017-05-27 21:14] tobyplowy commented on #77
Ok and ok

What about the horse and zebra and elephant?

[2017-05-27 21:17] D00Med commented on #77
@tobyplowy The elephant yes :) The horse and zebra no sorry, I don't like the shape very much.

[2017-05-27 21:18] tobyplowy commented on #77
@D00Med what are you doing for mobs redo?

Also ok

[2017-05-27 21:19] D00Med commented on #77
@tobyplowy just some changes I made for farlands. 'on_activate' couldn't be used for arrows.

[2017-05-27 21:20] tobyplowy commented on #77
@D00Med Ok no idea what that means XD

[2017-05-27 21:22] D00Med commented on #77
I'm going to work on mob burning now :)

[2017-05-27 21:22] tobyplowy commented on #77
@D00Med how about my chicken and the sheep we made are those going to be in dmobs?

[2017-05-27 21:23] tobyplowy commented on #77
Ok cool :)

[2017-05-27 21:24] D00Med commented on #77
@tobyplowy I don't really want to add stuff that's already in mobs_animal, since dmobs is intended as an addon.

[2017-05-27 21:25] tobyplowy commented on #77
Ok what about a dmobs xl or standalone?

[2017-05-27 21:28] D00Med commented on #77
@tobyplowy like...mobs_farlands ;)

[2017-05-27 21:29] tobyplowy commented on #77
@D00Med Also the zombie brute should not get hurt by sunlight

[2017-05-27 21:29] tobyplowy commented on #77
@D00Med Can we make mobs_farlands standalone?

[2017-05-27 21:31] D00Med commented on #77
@tobyplowy Ok, and yes we can.

[2017-05-27 21:33] tobyplowy commented on #77
@D00Med Thanks :)

[2017-05-27 21:35] tobyplowy commented on #77
@D00Med also wuld it be possible to use a bukkit as armor?

[2017-05-27 21:38] D00Med commented on #77
bukkit?

[2017-05-27 21:39] tobyplowy commented on #77
@D00Med Those tings you put water and lava in

[2017-05-27 21:41] tobyplowy commented on #77
@D00Med Like this https://s-media-cache-ak0.pinimg.com/originals/a1/66/06/a166064b290b061beb1a048c15b9a180.jpg
To use it as armor

[2017-05-27 21:47] tobyplowy commented on #77
@D00Med You still there XD

[2017-05-27 21:50] D00Med commented on #77
Ohh bucket armour lol

[2017-05-27 21:50] D00Med commented on #77
@tobyplowy  yeah still here, just concentrating

[2017-05-27 21:52] tobyplowy commented on #77
Yeh XD

[2017-05-27 21:59] tobyplowy commented on #77
@D00Med well I will be going now I may come back

[2017-05-27 22:28] D00Med commented on #77
@tobyplowy oh ok, bye :)

[2017-05-27 22:29] D00Med commented on #77
@tobyplowy I finished mob-burning

[2017-05-27 22:38] tobyplowy commented on #77
@D00Med the zombie butes left elbow is inviseble

[2017-05-27 22:39] D00Med commented on #77
@tobyplowy I will fix it. Also I'm going now, enjoy your day

[2017-05-27 22:40] tobyplowy commented on #77
also thanks the zombies that burn by dayliht shuld also do this
can you make the orange overlay stay aslong as the mob is on fire?
is it also posible to add smoke particles if a mob is on fire

[2017-05-27 22:43] tobyplowy opened #101 "small BUGS and problems"
report your small bugs and problems here

[2017-05-27 22:44] tobyplowy commented on #101
@D00Med items dount burn when they hit lava or fire

[2017-05-28 07:24] DS-Minetest commented on #101
That's rather a missing feature than a bug.

[2017-05-28 07:33] DS-Minetest commented on #77
Is it normal that the first thing, you do on animating, is making the mob dance?
[zombie brute_dance.blend.zip](https://github.com/D00Med/farlands/files/1034008/zombie.brute_dance.blend.zip)

[2017-05-28 07:47] D00Med commented on #77
@tobyplowy yep I can do that.
@DS-Minetest Nice xD

[2017-05-28 07:47] D00Med commented on #77
@DS-Minetest If you want the models with animation and any fixes I've made, let me know.

[2017-05-28 10:46] DS-Minetest commented on #77
@D00Med The rather raw model, @tobyplowy gave me is enough.
If anyone wants to see my progress, see to https://github.com/DS-Minetest/farlands/tree/zombie_brute
Very nice is that I don't have to make materials, they are so difficult. I can attach the thrown rock to a bone.
Btw to fix the problem with the invisible faces there are 2 ways, fix the normals in model (easy) or make backface_culling fal

[2017-05-28 10:48] tobyplowy commented on #101
@DS-Minetest ok yeh but it needs to be fixed @D00Med ping

[2017-05-28 10:53] tobyplowy commented on #77
@DS-Minetest I hope my folder organisation isn't too complicated and hard to use XD

Also thanks for the effort :)

How is progress going on your skin?

[2017-05-28 12:55] tobyplowy commented on #101
fences and cobblestone walls shuld connect to evryting

fences only connect to wood and cobblestone walls only connect to stone (i hate this it ruins my buildings XD)

[2017-05-28 13:31] DS-Minetest commented on #77
I didn't start yet. >_<

[2017-05-28 13:33] DS-Minetest commented on #101
@tobyplowy Fences and walls are connected_nodeboxes, they can only connect to specific nodes or node groups.

[2017-05-28 13:34] tobyplowy commented on #77
@DS-Minetest this is getting under my skin XD

No but really take your time :)

[2017-05-28 13:35] tobyplowy commented on #101
@DS-Minetest is it possible to add more node groups?

[2017-05-28 13:43] tobyplowy commented on #77
@DS-Minetest that zombie brute dance is wonderfull XD

[2017-05-28 16:15] DS-Minetest commented on #101
@tobyplowy Sure.

[2017-05-28 17:19] tobyplowy commented on #101
@DS-Minetest Ok I found it and it works (on wood and stone) but why can't I make it work with dirt?

[2017-05-28 17:39] DS-Minetest commented on #101
@tobyplowy You could add all dig groups (cracky, choppy, oddy_diggable_by_hand, …), that would include nearly everything.

[2017-05-28 17:41] tobyplowy commented on #101
@DS-Minetest I did that but it doesn't seem to work

[2017-05-28 17:45] DS-Minetest commented on #101
@tobyplowy Have you added it here: https://github.com/D00Med/farlands/blob/master/mods/default/functions.lua#L286 ?

[2017-05-28 17:46] tobyplowy commented on #101
@DS-Minetest Yes

[2017-05-28 17:47] DS-Minetest commented on #101
You are sure, you haven't forgotten a `,` or the `group:` prefix?

[2017-05-28 17:49] tobyplowy commented on #101
@DS-Minetest Yes I'm sure I just added stone and that works :/

[2017-05-28 17:53] DS-Minetest commented on #101
Hm, I don't know what the problem is. :confused:

[2017-05-28 17:56] tobyplowy commented on #101
@DS-Minetest well if you don't know I'm definitely not gonna know it :/

[2017-05-28 20:09] tobyplowy commented on #77
@D00Med I won't be able to help a lot today I have to go to bed early because its school tomorrow and I can't wake up like crap XD the 5 last week's yay

[2017-05-28 20:39] D00Med commented on #77
Hello
@GreenXenith Yep mesh>normals>recalculate outside often does the trick.
@tobyplowy Ok then, that's ok.

[2017-05-28 20:46] D00Med commented on #101
"group:fence", "group:wood", "group:tree", "group:wall", "group:stone"
You should add "group:cracky", "group:crumbly", "group:snappy", "group:fleshy"
Maybe not snappy and fleshy though, since they are used for plants

[2017-05-29 17:30] DS-Minetest commented on #77
I already made some progress with my zombie_brute fork.
Perhaps it could already make some fun to test. :3 @tobyplowy If you want to test you have to make line 25 to `local gravity = tonumber(minetest.setting_get("movement_gravity"))`.

[2017-05-29 18:15] tobyplowy commented on #77
@DS-Minetest can you give me the link again I can't find it anymore

[2017-05-29 18:44] tobyplowy commented on #77
@DS-Minetest i wuld throw a rock now but i cant XD

[2017-05-29 20:02] tobyplowy commented on #77
@DS-Minetest what about this as spauwn sound for the boss
[spauwn.zip](https://github.com/D00Med/farlands/files/1036563/spauwn.zip)

[2017-05-29 20:10] tobyplowy commented on #77
@DS-Minetest mayby the zombie brute shuld spauwn normal zombies around him to protect him self

[2017-05-29 20:11] tobyplowy commented on #77
also im goin now @D00Med @GreenXenith @DS-Minetest  have fun and have a good day/night ;D

[2017-05-29 20:31] D00Med commented on #77
Aah missed him.
@DS-Minetest @GreenXenith  Hi

[2017-05-30 11:18] tobyplowy commented on #101
Jungle wood needs a name maybe Rosewood

[2017-05-30 11:19] tobyplowy commented on #101
@D00Med can you add them for me?

[2017-05-30 12:00] tobyplowy commented on #77
Shuld weather be added?

Rain​, storms, snow, maybe some other things

[2017-05-30 13:20] DS-Minetest commented on #101
MTG's jungle wood is rosewood.

[2017-05-30 13:21] DS-Minetest commented on #101
MTG's jungle wood is rosewood.
The description could be changed.

[2017-05-30 13:29] DS-Minetest commented on #77
Don't add weather now, add it later. Now it would lag too much. When the PR about the paricles shown to every player is merged, then. (The clouds can be changed now for the one who really wants to do a weather mod.)

@tobyplowy Using such a sound is an interesting idea. (Rightclick it for simple rock-throwing.) I thought about spawning zombies around him, but that would be better for a necromancer

[2017-05-30 18:44] tobyplowy commented on #77
@DS-Minetest it's good to have music When You're Fighting a boss It really sets the mood but I don't think the music that is used now is what I'm looking for (I want to have a fast rithem and it needs to be scaryish) but sam is interested in helping with music (he made music for the legend of minetest) he's pretty good

When someone is dead they do a ceremonie in the church and you always hear clo

[2017-05-30 18:48] tobyplowy commented on #77
@DS-Minetest also why is the zombie brutes health in the chat? Is that preparation for a health bar?

Also I think he needs more health

[2017-05-30 21:18] D00Med commented on #77
Hi

[2017-05-31 13:01] DS-Minetest commented on #77
@tobyplowy
I thought the choice of the music was good.
The health is only very simple and far away from being finished yet.

[2017-05-31 20:04] tobyplowy commented on #77
I think it should be more dramatic

I know but I'm just telling you :)

[2017-05-31 20:05] tobyplowy commented on #77
@D00Med I Won't be able to be online today

[2017-05-31 21:53] D00Med commented on #77
@tobyplowy  ok

[2017-06-01 20:26] tobyplowy commented on #77
@D00Med I won't be able to help today but tomorrow I will be (sorry for my un productivity of this week)

Can you work on the Firework if you have Time

Also have a good day everyone

[2017-06-01 20:31] tobyplowy commented on #80
Is this fixed already can this be closed?

[2017-06-01 20:31] tobyplowy commented on #83
Is this fixed already can this be closed?

[2017-06-01 20:31] D00Med commented on #77
@tobyplowy That's ok, I don't have time either. you too

[2017-06-01 20:32] tobyplowy commented on #77
@D00Med Oh I just have to go how about tomorrow?

[2017-06-01 20:34] D00Med commented on #77
@tobyplowy I will probably be able to work on Farlands on Tuesday.

[2017-06-01 20:37] tacotexmex commented on #80
I need to check with 0.4.16 client

[2017-06-02 11:36] DS-Minetest commented on #80
The issue pointed out in this issue is actually not a bug. `segmentation fault` (in german `Speicherzugriffsfehler`) is normal and not the fault of farlands.

[2017-06-02 11:44] tobyplowy commented on #80
@DS-Minetest so it's invalid?

[2017-06-02 12:41] tacotexmex commented on #80
I've only had segfault with Farlands, and I've tried a lot of subgames. Let's see if it resolves with .4.16.

[2017-06-02 19:52] tobyplowy commented on #77
@D00Med is it possible to have some kind of engine cart that puls carts?

[2017-06-02 20:49] tobyplowy commented on #77
@D00Med it can make minecrats better i think

[2017-06-02 21:08] D00Med commented on #77
@tobyplowy  That's a good idea. I was thinking maybe we should add the trains mod, but with model changes.

[2017-06-02 21:10] tobyplowy commented on #77
@D00Med maybe I would like it to stay simple

[2017-06-02 21:13] D00Med commented on #77
@tobyplowy In that case maybe not. I don't really know how an engine cart could be added, I guess it would just be a copy of the player's cart.

[2017-06-02 21:14] tobyplowy commented on #77
@D00Med well it can be added but I don't want it to be to advanced

[2017-06-02 21:15] D00Med commented on #77
@tobyplowy Ok

[2017-06-02 21:18] tobyplowy commented on #77
@D00Med I already made a model for it XD

[2017-06-02 21:19] tobyplowy commented on #77
@D00Med i also made a new cart texture

[2017-06-02 21:20] tobyplowy commented on #77
![train](https://cloud.githubusercontent.com/assets/16853304/26745272/144c2776-47ea-11e7-89ba-a82fb486e4a5.png)

[2017-06-02 21:24] tobyplowy commented on #77
@D00Med is gold and fossels alredy added to mapgen?

[2017-06-02 21:28] tobyplowy commented on #77
@D00Med well i guess i will go than see you later ;D

[2017-06-02 21:30] D00Med commented on #77
@tobyplowy looks good. I don't think I added fossils yet.
Also I have to go, I've got a lot to do today. Enjoy the rest of your day

[2017-06-04 20:28] tobyplowy commented on #77
@D00Med hi

[2017-06-04 20:54] D00Med commented on #77
@tobyplowy Hi, I'm sorry but today I'm also going to be quite busy. So I can't stick around and talk.

[2017-06-04 20:57] tobyplowy commented on #77
@D00Med ok

[2017-06-04 21:05] D00Med commented on #77
@tobyplowy Tomorrow I should have a lot more time :) anyway, enjoy your evening!

[2017-06-04 21:08] tobyplowy commented on #77
@D00Med yes you too :)

[2017-06-05 20:12] tobyplowy commented on #77
@D00Med hey

[2017-06-05 20:54] D00Med commented on #77
Hello ^^

[2017-06-05 20:56] tobyplowy commented on #77
@D00Med how are you doin

[2017-06-05 21:08] D00Med commented on #77
@tobyplowy Great, what about you?

[2017-06-05 21:09] D00Med commented on #77
@tobyplowy  Did you see, minetest 0.4.16 is finished :)

[2017-06-05 21:12] tobyplowy commented on #77
im good

yes i did yesterday XD

[2017-06-05 21:13] tobyplowy commented on #77
@D00Med also yesterday i made this https://sketchfab.com/models/732bd85a98554f95b6f99b9764a2a395

[2017-06-05 21:15] D00Med commented on #77
@tobyplowy That looks really good!

[2017-06-05 21:16] D00Med commented on #77
@tobyplowy did you use photos for the texture?

[2017-06-05 21:17] tobyplowy commented on #77
@D00Med thx its my first atempt at making a gun model XD

yes this https://www.google.be/search?q=revolver+side+view&tbm=isch&imgil=PKIJMLzkpZ0t6M%253A%253BodfSsAZiry_bKM%253Bhttps%25253A%25252F%25252Fwww.123rf.com%25252Fphoto_15387457_side-view-of-revolver-isolated-on-white.html&source=iu&pf=m&fir=PKIJMLzkpZ0t6M%253A%252CodfSsAZiry_bKM%252C_&usg=__tPUP74U2gjQuHHQBReAAQCmoDAc%3D&biw=1513&bih=518&v

[2017-06-05 21:17] tobyplowy commented on #77
@D00Med but its heavoly modefied

[2017-06-05 21:18] D00Med commented on #77
@tobyplowy It's really good. looks professional

[2017-06-05 21:18] tobyplowy commented on #77
thx ;D

[2017-06-05 21:19] D00Med commented on #77
@tobyplowy I'm going to work on the fireworks

[2017-06-05 21:19] tobyplowy commented on #77
im making a cleaver and the texture will be from scratch

[2017-06-05 21:21] tobyplowy commented on #77
ok good (i found the firework gun in the farlands code but theres no firework gun in game ?)

[2017-06-05 21:21] D00Med commented on #77
@tobyplowy  Is it in the code??

[2017-06-05 21:25] tobyplowy commented on #77
no i mean the textures

[2017-06-05 21:26] tobyplowy commented on #77
in the fireworks mod

[2017-06-05 21:31] D00Med commented on #77
@tobyplowy Oh yeah I added the textures.

[2017-06-05 21:32] tobyplowy commented on #77
@D00Med ah i see

[2017-06-05 21:40] tobyplowy commented on #77
@D00Med im making the texture for the cleaver this will be hard
i wish i ahde substance painter :S

[2017-06-05 21:41] tobyplowy commented on #77
@D00Med i cant wait to see the fireworks in game :D

[2017-06-05 21:43] D00Med commented on #77
@tobyplowy Yeah I imagine it would be.
Me too :D

[2017-06-05 21:47] tobyplowy commented on #77
the end resolt will be worth it (i hope)

[2017-06-05 21:55] tobyplowy commented on #77
@D00Med also i finaly understand how to use matirials yay

[2017-06-05 21:56] D00Med commented on #77
Hehe

[2017-06-05 22:00] tobyplowy commented on #77
but i still cant handle the close and comment button XD

[2017-06-05 22:17] tobyplowy commented on #77
@GreenXenith hey have any progress updates?

[2017-06-05 22:22] D00Med commented on #77
@tobyplowy the fireworks are working nicely so far

[2017-06-05 22:24] tobyplowy commented on #77
@D00Med HIPE

[2017-06-05 22:34] GreenXenith commented on #77
I made the creative bg image. Last time I worked on it I was trying to align stuff.

[2017-06-05 22:34] tobyplowy commented on #77
@GreenXenith i see

[2017-06-05 22:35] tobyplowy commented on #77
@GreenXenith i wanna see the tabs so bad :D

[2017-06-05 22:36] GreenXenith commented on #77
Heh. I have to get the bare inventories done first. *Then* I can start work on tabs.

[2017-06-05 22:37] tobyplowy commented on #77
@GreenXenith ok

[2017-06-05 22:38] tobyplowy commented on #77
@GreenXenith @D00Med also in the newest build of mt they added chest open "animations" can we do this aswell?

[2017-06-05 22:43] D00Med commented on #77
@tobyplowy idk, I'll see. I just accidentally found a cool way of making different firework patterns, but it comes at a cost. The way I've made the firework gun work at the moment, is to search the users inventory for fireworks and launch them, but it will take ALL the fireworks in the inventory at once. It means that they get combined, but they are used up all at once

[2017-06-05 22:49] tobyplowy commented on #77
@D00Med that dosent sound good

[2017-06-05 22:50] D00Med commented on #77
@tobyplowy  Ok

[2017-06-05 23:10] tobyplowy commented on #77
![naamloos](https://cloud.githubusercontent.com/assets/16853304/26807146/fa9e8df6-4a54-11e7-8740-056fe70a1a5e.png)

[2017-06-05 23:14] D00Med commented on #77
Very noice

[2017-06-05 23:20] tobyplowy commented on #77
@D00Med im still not done ;D

i need to add rust and i also need to make a normal map

[2017-06-05 23:25] D00Med commented on #77
@tobyplowy oh ok, looking forward to seeing that.

[2017-06-05 23:26] D00Med commented on #77
@tobyplowy I just finished the first fireworks :)

[2017-06-05 23:29] D00Med commented on #77
@tobyplowy I'm going to go now, but I'll work on more stuff later today :)

[2017-06-05 23:32] tobyplowy commented on #77
@D00Med ok see you later have a good day

[2017-06-06 01:19] tobyplowy commented on #77
cleaver is done ;D
https://sketchfab.com/models/fe845ede64c04849a073c6e5f5b859cb

also im going to bed now see you tomorrow

[2017-06-06 21:12] D00Med commented on #77
Hello :D

[2017-06-07 20:32] tobyplowy commented on #77
@D00Med I won't be able to help today but I will be in the weekend :)

[2017-06-07 22:29] D00Med commented on #77
@tobyplowy Ok, in that case I'm going to do some work on other stuff today so I'll be free then.

[2017-06-09 19:59] tobyplowy commented on #77
@D00Med hi

[2017-06-09 21:27] D00Med commented on #77
Hi

[2017-06-09 21:28] DS-Minetest commented on #77
Hello!

[2017-06-09 21:29] tobyplowy commented on #77
@DS-Minetest ey how are you doing

[2017-06-09 21:30] tobyplowy commented on #77
@D00Med and how are you

[2017-06-09 21:34] tobyplowy commented on #77
@DS-Minetest how is progress on the boss?

[2017-06-09 21:36] D00Med commented on #77
@tobyplowy I'm good thanks. I've been updating Legend of Minetest.
How are you?

[2017-06-09 21:38] tobyplowy commented on #77
@D00Med I'm doing fine thanks for asking so what do we work on

[2017-06-09 21:39] D00Med commented on #77
idk, I was thinking of working on the villagers and villages

[2017-06-09 21:40] tobyplowy commented on #77
@D00Med Ok can you please add the traveling merchant

[2017-06-09 21:44] D00Med commented on #77
@tobyplowy sure

[2017-06-09 21:56] DS-Minetest commented on #77
I haven't worked on it for some time because I was busy with csm.

[2017-06-09 21:56] tobyplowy commented on #77
@D00Med thanks

@DS-Minetest ok

[2017-06-09 21:57] D00Med commented on #77
@tobyplowy  could you send me the model again please?
My copy doesn't have the face on the backpack

[2017-06-09 21:57] DS-Minetest commented on #77
Perhaps I will continue tomorrow. : )

[2017-06-09 21:58] tobyplowy commented on #77
@D00Med yes I removed the face people didn't seem to like it

[2017-06-09 21:58] DS-Minetest commented on #77
Some people wrote, the face is scary.

[2017-06-09 21:59] D00Med commented on #77
@tobyplowy Ok

[2017-06-09 22:29] D00Med commented on #77
Any name suggestions for travelling merchants?

[2017-06-09 22:37] D00Med commented on #77
![screenshot_20170610_083639](https://user-images.githubusercontent.com/19916704/26996772-fb3bc948-4db7-11e7-8b84-e3f0e411c04a.png)
😂

[2017-06-09 22:37] tobyplowy commented on #77
@D00Med use the same names as the traiders I already added a couple more than default

[2017-06-09 22:38] tobyplowy commented on #77
@D00Med I guess he has met with a Terrible Fate XD

[2017-06-09 22:39] D00Med commented on #77
@tobyplowy Ok.
xD
![screenshot_20170610_083846](https://user-images.githubusercontent.com/19916704/26996798-508b1dfe-4db8-11e7-950b-10818bdcd65f.png)

[2017-06-09 22:56] tobyplowy commented on #77
@D00Med why XD

[2017-06-09 22:57] tobyplowy commented on #77
@D00Med is it Possible to change the Color of the sky and fog?

[2017-06-09 23:45] tobyplowy commented on #77
I'm going see you guys tomorrow

[2017-06-09 23:53] D00Med commented on #77
@tobyplowy Sorry, had to go for a bit.
Sky colour and fog are not very easy to change, I could do it, but it might be a bit odd.
Enjoy the rest of your evening

[2017-06-09 23:58] GreenXenith commented on #77
@D00Med There are new ways to change cloud/sky/fog color in 0.4.16.
You can take a look at [this](https://forum.minetest.net/viewtopic.php?f=9&t=17392) as an example.

[2017-06-10 01:03] D00Med commented on #77
@GreenXenith Oh ok, thanks! Also, I don't think I will have to change the trader gui much, so you can modify it however you want now.

[2017-06-10 01:05] D00Med commented on #77
I tried to make 'fog' weather once by reducing player's viewing range, but I couldn't get it to go back to normal. Any suggestions?

[2017-06-10 01:06] GreenXenith commented on #77
decrease the fog distance so it is near the player? I dunno...

[2017-06-10 01:07] D00Med commented on #77
@GreenXenith yeah that's what I did. I tried to get each player's viewing range setting first, so I could revert it back to normal afterward.

[2017-06-10 17:24] tobyplowy opened #102 "make the backpack work"
make the backpack work

[2017-06-10 19:20] DS-Minetest commented on #102
The new mod [inventorybags](https://github.com/cx384/inventorybags) could be included. It seems to be good.

[2017-06-10 20:02] tobyplowy commented on #77
@D00Med hi

[2017-06-10 20:37] D00Med commented on #77
Hello :)

[2017-06-10 20:38] tobyplowy commented on #77
@D00Med hi nice work with the Firework bdw :)

[2017-06-10 20:39] tobyplowy commented on #77
@D00Med can you add a dispenser to the game to replace the dart trap it should work the same as in Minecraft (whatever you put in should be shot out)

[2017-06-10 20:41] D00Med commented on #77
@tobyplowy Thanks, I've still got to add more firework types.
And yes I can :)

[2017-06-10 20:41] tobyplowy commented on #77
Also maybe a simple electricity system should be added (like redstone but not Minecraft XD)

And the steampunk stuff shuld be used for More Advanced machines like a compressor

@D00Med What do you think about this

[2017-06-10 20:42] D00Med commented on #77
@tobyplowy So the cables don't count?
Maybe I should just make a more simple power source just for cables?

[2017-06-10 20:42] tobyplowy commented on #77
That also means fireworks :)

[2017-06-10 20:43] tobyplowy commented on #77
Yes the cables shuld be the Redstone

[2017-06-10 20:44] D00Med commented on #77
Ok. I still need to improve they way they detect power sources(which, if it's meant to be like redstone, could include switches)

[2017-06-10 20:49] tobyplowy commented on #77
Yes

[2017-06-10 20:50] D00Med commented on #77
@tobyplowy Ok

[2017-06-10 20:51] tobyplowy commented on #77
@D00Med bdw I tried to improve the lava texture but let's just say it isn't what I wanted it to be :)

[2017-06-10 20:55] D00Med commented on #77
@tobyplowy Ok, I saw that

[2017-06-10 20:56] tobyplowy commented on #77
@D00Med lol

[2017-06-10 20:59] tobyplowy commented on #77
@D00Med for the Traveling merchant and other trading NPCs should we use money or should we make trading a thing I think money is better

[2017-06-10 21:01] tobyplowy commented on #77
@GreenXenith how are the dubble chests going?

[2017-06-10 21:10] D00Med commented on #77
@tobyplowy I think money is a good idea, maybe gold coins? or gems?

[2017-06-10 21:12] DS-Minetest commented on #77
Gold coins would be my choice.
(Vote with :+1: and :-1: reactions to this comment.)

[2017-06-10 21:13] DS-Minetest commented on #77
Imo the trap node shouldn't be like a mc dispenser, since that would consume items.

[2017-06-10 21:14] D00Med commented on #77
I think there should be both

[2017-06-10 21:17] DS-Minetest commented on #77
Rings could be nice.

[2017-06-10 21:18] DS-Minetest commented on #77
Make monsters drop coins.

[2017-06-10 21:26] tobyplowy commented on #77
Yes enemies should drop coins

[2017-06-10 21:40] tobyplowy commented on #77
@D00Med we can probably also add The Happy Mask salesman To The Legend of minetest (he works the same as the traveling merchant) all we need is a new model and a bit of code

[2017-06-10 21:44] D00Med commented on #77
Ok, that's a good idea

[2017-06-10 21:55] tobyplowy commented on #77
@D00Med  can you make the explosion particle of the Firework bigger?

Also the explosion sound is really quiet when the firework rocket explodes far away can that be fixed?

[2017-06-10 22:05] D00Med commented on #77
@tobyplowy Ok. Yeah it can.

[2017-06-10 22:15] tobyplowy commented on #77
@D00Med how do I change the sky color?

[2017-06-10 22:28] D00Med commented on #77
player:set_sky(bgcolor, "simple", nil, true)
bgcolor is a table of red green and blue I think.
And you have to find a player.