[2017-10-30 12:09] tobyplowy commented on #140
Yes that one

Yes that's a better idea

NOTE we whant to make farlands complicated but a kid shuld still be abel to understand it :)

I dount like the flowering idea

[2017-10-30 12:11] DS-Minetest commented on #108
The cow model with its texture is cute but not very realistic. Cows have thin legs, big bodies and somehow different looking heads and necks.
(It would be nice if they had different textures and bequest them to their children.)

[2017-10-30 12:15] tobyplowy commented on #108
I don't aim for a 100% realistic I whant to add a bit of stylization to make it more interesting :)
And yes I will make more textures for the cows (but they will most likely be simple recolors)

[2017-10-30 13:10] MarkuBu commented on #140
Ok, I agree with that too. Just want to clarify.

The thing is: default MTG farming simplifies everything to a common ground. All crops are handled identical. farming redo is a bit messy because you have to define each state for each crop. But both have the problem, that they define a common growing routine. Too many if's and then's to decide what should happen.

Let's define farming:
- Each crop

[2017-10-30 13:18] tobyplowy commented on #140
Yes

Yes

I'm repeating myself but yes

Maybe rotten crops can be used as compost?

Correct

Maybe slices need to be crafted in to seeds first?

Yes

Why not?

[2017-10-30 13:28] tobyplowy opened #154 "random mob colors/textures"
add some random textures for mobs
(NOTE) the original shuld still be used alongside the new ones

[2017-10-30 13:28] tobyplowy commented on #154
[random.zip](https://github.com/D00Med/farlands/files/1427335/random.zip)

[2017-10-30 13:28] tobyplowy commented on #154
[random chiken.zip](https://github.com/D00Med/farlands/files/1427340/random.chiken.zip)

[2017-10-30 13:44] MarkuBu commented on #140
Of course, but mostly anything from plants can be used to make compost

Maybe, but not necessarily.

You already have fruit trees and berry bushes. You add fruits to the default trees and bushes. I would extend this as I mentioned in #153. You can make fruit trees from sapling + fruit and maybe berry bushes from bush sapling + berry. But they are different kind of plants. Everything that grows on

[2017-10-30 13:49] tobyplowy commented on #154
[cow random.zip](https://github.com/D00Med/farlands/files/1427412/cow.random.zip)

[2017-10-30 13:54] tobyplowy commented on #140
@markubu ok

[2017-10-30 14:09] tobyplowy commented on #154
zombie1
![zombie1](https://user-images.githubusercontent.com/16853304/32175162-59041c88-bd84-11e7-8e67-bcedef9750cc.png)

[2017-10-30 18:08] MarkuBu opened #155 "Loaded mesh bug"
I found a bug in MTG 0.5.0 (current version), that also effects farlands.

https://github.com/minetest/minetest/issues/6572

paramat assumes, that player:set_properties is the problem. I removed all mods with this command from farlands except mobs redo and the default mod. I made an update of mobs redo to the latest version

It seems to be mobs redo, but the problem is much bigger than in a vanill

[2017-10-30 18:30] MarkuBu commented on #108
@D00Med I'll make you an offer. I want to rewrite Farlands from scratch, based on MTG 0.5.0

Probably you have to do it anyway one day because some things will break with Minetest 0.5.0 and I found some strange issues in Farlands. And MTG 0.5.0 has some nice new features

I don't want to rewrite each line by myself. I want to use your code. But I need a bit help because I don't know where you made

[2017-10-30 18:45] tobyplowy commented on #108
@MarkuBu that wuld be great but also alot of work D:

[2017-10-30 19:14] MarkuBu commented on #108
Not as much as you think. And I guess it's a good point to clean up.

And as I said: It will probably be necessary one day if you want to stay up to date.

To be honest: I already started this project ;-). Look at the version number in the top left corner

![screenshot_20171030_201251](https://user-images.githubusercontent.com/16163058/32190654-c44c2cea-bdae-11e7-8478-644219c357fd.png)

[2017-10-30 19:24] MarkuBu commented on #108
Btw: this is a good point to use the new underground decoration and replace the incredibly slow mapgen functions to add stalactites, stalagmites and cavefern

https://github.com/minetest/minetest/pull/6519

[2017-10-30 19:57] D00Med commented on #108
@MarkuBu It should be a piece of cake to do, the changes just need to be cut out and moved to a mod, and then any new mapgen changes from MTG need to be added to the mapgen mod. The hardest bit would be updating mods like fire or vessels.
How about we work on this over the weekend?

[2017-10-30 20:00] D00Med commented on #108
@MarkuBu There is one problem though, updating with a dev-minetest version will be a pain.
I tried doing it with my other subgame, and it was very hard to keep up with the changes to MTG.

[2017-10-30 20:15] MarkuBu commented on #108
It's true that it could be difficult to keep up with the changes in MTG, but it's doable if you keep an eye on what is merged.

I wouldn't suggest this for an upgrade from 0.4.16 to 0.4.17., but with 0.5.0 a lot of things can change

Did you make changes to fire and vessels?

[2017-10-30 20:20] D00Med commented on #108
@MarkuBu Actually I don't think I did, I did make changes to tnt though.

[2017-10-30 21:36] tobyplowy commented on #108
I think cave ferns need to only generate on surface (not too deep like it is now)

V1.1 is indev at the moment so yes we go to 0.5.0 if it's ok

[2017-10-30 21:40] tobyplowy commented on #108
@MarkuBu you can't Imagine How Happy I am that You're part of the team
I'm so hyped for the future of farlands even more than usual thanks

@D00Med @MarkuBu it's been a hard time for me, but because of you guys I'm getting thuh it thanks :D
I can't thank you enough both of you :)

[2017-10-30 21:48] D00Med commented on #108
@tobyplowy Great, I'm looking forward to working on farlands again.
You're welcome :)
@MarkuBu I'm glad too that we've got another coder here :'D even if it does mean I have to clean up my messy coding.

[2017-10-30 21:48] tobyplowy commented on #108
@MarkuBu can we use this https://github.com/minetest/minetest/pull/6105
Does it have a big impact on performance?

[2017-10-30 21:50] tobyplowy commented on #108
Slightly dyes on the inside XD

[2017-10-30 22:38] D00Med commented on #108
@tobyplowy you did _know_ things were done hackily xD

[2017-10-30 23:24] tobyplowy commented on #108
@D00Med no I don't ;)

[2017-10-31 11:01] MarkuBu commented on #108
@D00Med you just replaced some default biomes with some new, right? Is it ok if I add your new biomes to the default instead of replacing them?

I made a voronoi diagram and I can easily add new biomes

![mtg-voronoi](https://user-images.githubusercontent.com/16163058/32220684-f01a16f0-be32-11e7-8518-77385952676c.png)

I also want to rename some stuff from "default" to "farlands", because everythi

[2017-10-31 11:37] tobyplowy commented on #108
For me that's ok as long as you remove the silver sand biome (I don't know the name)

Can you also customize the shape of the generation for specific biomes?
To get something like this http://media.moddb.com/images/mods/1/24/23242
For a mesa biome

[2017-10-31 11:48] DS-Minetest commented on #108
@tobyplowy Your links says `403 Forbidden`.
Why don't you like the silver sand biome? (I think, it's called "Cold Desert".)

[2017-10-31 12:07] tobyplowy commented on #108
@DS-Minetest i fixed the link

Becouse it's extremely uniteresting and boring

[2017-10-31 13:39] tobyplowy commented on #108
@MarkuBu can you change the rarity and how common a biome is

[2017-10-31 13:53] MarkuBu commented on #108
I wouldn't remove the cold desert biome, but add some more interesting like dead trees. Simply removing creates an imbalance because Sandstone Desert and Snowy Grassland gets much bigger.

And no, sadly it is not possible to control the terrain to guarantee that you have mountains in a mesa biome.

I also would suggest to split grassland into similar, but slightly different biomes.

Yes, by changi

[2017-10-31 14:27] MarkuBu commented on #108
But noises are not predictable. Even with this setting I found a huge swamp

![screenshot_20171031_151852](https://user-images.githubusercontent.com/16163058/32228910-da147bc6-be4f-11e7-8ecb-b24258c30522.png)

[2017-10-31 14:28] tobyplowy commented on #108
@MarkuBu Can you make grassland and normal forest very common

Also I don't really understand what those images mean :/
Is the size of the square (not really square at all) the commonness
Are the numbers at the left hand side for indicating the height of the biome?

[2017-10-31 14:29] tobyplowy commented on #108
@MarkuBu woh that swamp is huge :)

[2017-10-31 14:38] MarkuBu commented on #108
The X axis is the temperature, the Y axis (on the left side) is the humidity.

That means, it is very hot and wet in a swamp, hot but dry in a desert and cold and dry in a cold desert.

To be honest the snowy grassland is a bit missplaced because it should be the coldest and dryest biome

[2017-10-31 14:40] tobyplowy commented on #108
Agree

[2017-10-31 14:41] tobyplowy commented on #108
@MarkuBu also thank you for explaining

[2017-10-31 15:35] DS-Minetest commented on #108
@MarkuBu What does the turquoise `Vor` mean?

@tobyplowy

Do you mean polygon?

[2017-10-31 15:39] tobyplowy commented on #108
Yeh I guess so

[2017-10-31 15:52] MarkuBu commented on #108
It's just short for Voronoi

[2017-10-31 18:10] tobyplowy commented on #140
@MarkuBu @D00Med crow is done
[crow.zip](https://github.com/D00Med/farlands/files/1431804/crow.zip)
![crow pic](https://user-images.githubusercontent.com/16853304/32240980-2452fe00-be6f-11e7-807f-67e4d5f1576e.png)

[2017-10-31 19:37] D00Med commented on #108
@MarkuBu I don't think the biomes should be move to the default mod, aren't we supposed to be separating the farlands stuff from it?
Farlands mapgen should stay in the mapgen mod, it makes things less complicated.
And I don't understand what you mean about naming things.

[2017-10-31 19:39] D00Med commented on #140
@tobyplowy Awesome, it looks great!

[2017-10-31 20:08] MarkuBu commented on #108
Did I said that I want to move the mapgen to default? Of course not. I left everything in the mapgen mod

[2017-10-31 20:09] MarkuBu commented on #140
Nice job

[2017-10-31 20:15] D00Med commented on #108
@MarkuBu oh sorry, I misunderstood this:

This is fine, as long as you check with @tobyplowy  before you add back the missing default biomes.

[2017-10-31 20:26] MarkuBu commented on #108
Until now I didn't touch MTG, except the farming mod.

As far as I could see the only removed default biome was the cold desert. I put it back for now as placeholder. It should be no problem to change the decoration to make something more interesting. Currenly I have all default biomes plus swamp, deciduous forest2, coniferous forest tall and bamboo. Thats a total of 16.

I have the feeling that t

[2017-10-31 21:31] tobyplowy commented on #108
Yeh it's no problem

[2017-10-31 21:33] tobyplowy commented on #140
@MarkuBu @D00Med thanks :)

[2017-10-31 21:34] tobyplowy commented on #140
@MarkuBu @D00Med shuld we add slimes aswell (they should also eat crops)

[2017-11-01 07:14] MarkuBu commented on #140
Hmm, no. Not now

[2017-11-01 07:48] MarkuBu commented on #108
With MTG0.5.0 comes some nice new features. Dungeon loot, under water plants and underground decoration and a few more

I added the kelp plants from MTG, but we can add more, for example like this

![underwater](https://user-images.githubusercontent.com/16163058/32264167-a90879a4-bedd-11e7-8956-1f45613c6bbe.png)

I don't know if it is possible to add plants to the rivers in v7, but oceans would be

[2017-11-01 08:41] MarkuBu commented on #108
@D00Med I want to split mapgen.lua into multiple files, like biomes.lua, decoration.lua and so on. Is that ok for you?

[2017-11-01 10:31] D00Med commented on #108
@MarkuBu We already made quite a few underwater plants, but removed them, so we'll be able to add them back again. Those plants in the screenshot look good.

Yes definitely, the cave ferns and stalagtites/stalagmites slow the mapgen down a lot.

That is fine :)

[2017-11-01 11:32] tobyplowy commented on #108
Can we add more dungoens?
That have there own unique loot

Also like D00Med said we already added coral and sea plants but we had to disable it because of the air bubbles

Also that screenshot is not a minetest screenshot is it (please say it is)

[2017-11-01 11:48] MarkuBu commented on #108
No, that screenshot is from Minecraft, sorry.

I will try to add the seaplants. Can you make a list of the plants? I only found the seagrass

I don't know if it is possible now to change the noise parameters of the dungeons without hacking the C++ code. As far as I know dungeon density is hard coded in the Minetest core and it was not possible to change it from Lua

[2017-11-01 12:07] tobyplowy commented on #108
Yeh sure

Also Is it possible to Randomly replace loot chests with a mimic?

[2017-11-01 12:16] tobyplowy commented on #108
mapgen:big_coral
mapgen:red_coral
mapgen:orange_coral
mapgen:blue_coral
mapgen:anemone
mapgen:kelp1
mapgen:kelp2
mapgen:seagrass_1
mapgen:seagrass_2
mapgen:seagrass_3

and mapgen:stone_with_sea_grass its not a plant but it shuld still genarate (sea grass shuld grow on this)

[2017-11-01 12:38] MarkuBu commented on #108
Yes, stone with seagrass is an ore. I have to take a look if I can still use it as ore

MTG has corals included. I don't know if yours are different.

[2017-11-01 12:46] tobyplowy commented on #108
@MarkuBu my corals are plants not blocks they should used together
(coral blocks from default and my coral)

[2017-11-01 13:36] MarkuBu commented on #108
Seagrass, default kelp and your kelp2. Currently I only use the tallest seagrass texture and I can't place it on the stone_with_sea_grass ore

![screenshot_20171101_142451](https://user-images.githubusercontent.com/16163058/32276776-82bc2588-bf10-11e7-86b6-7d354d1820e9.png)

[2017-11-01 14:24] tobyplowy commented on #108
That looks really good can you decrease the amount of sea grass to like 70% so not all stone with sea grass is covered by the seagrass plant

Also stone with sea grass may be needs to be changed to sand with sea grass?
I think it would be better if it's sand instead of stone

What's happening in the screenshot than?

[2017-11-01 14:27] tobyplowy commented on #108
@MarkuBu is it possible to increase the fog if your head is underwater like in that Minecraft screenshot

Maybe also have an overlay if you're underwater

[2017-11-01 14:47] MarkuBu commented on #108
I can't decrease because the stone with sea grass node and the plant itself are one node

![screenshot_20171101_154507](https://user-images.githubusercontent.com/16163058/32280322-c1191b6e-bf1b-11e7-94b4-88c3af16a2b7.png)

[2017-11-01 17:53] MarkuBu commented on #108
@tobyplowy if you need inspiration watch this Minecraft Let's Play, even if you don't understand german

https://www.youtube.com/watch?v=ZqrXclgsAk4&list=PLGWGc5dfbzn_oXKrMl9P1jasL-PgulxNH

[2017-11-01 19:17] tobyplowy commented on #108
@MarkuBu oh man I wish minetest hard those advanced shaders :/

Oh well Maybe one day (probably not)

[2017-11-01 19:20] tobyplowy commented on #108
@MarkuBu shuld we add cat tails http://www.bio.brandeis.edu/fieldbio/medicinal_plants/images/cattail_many_full.jpg
They should only appear in 1 block deep water

[2017-11-01 19:22] tobyplowy commented on #108
@MarkuBu Also where can I see your progress of porting farlands to 0.5?

[2017-11-01 19:37] MarkuBu commented on #108
Yeah, the shader are nice, but Minetest sadly has no such shader. But there is one thing I don't like in Farlands. The grass textures are too bright and the leaves from the oak tree and from the default bush are too yellowish. I like it darker and more saturated.

I didn't pushed the 0.5.0 port to github until now. Maybe tomorrow or at the weekend

[2017-11-01 19:44] tobyplowy commented on #108
Got it I will put it on my to do list :)

Well whenever you put it on GitHub just let me know eh :)

[2017-11-01 19:51] MarkuBu commented on #108
Just to compare

![bildschirmfoto vom 2017-11-01 20-46-28](https://user-images.githubusercontent.com/16163058/32294224-d245491a-bf45-11e7-87cf-797d87036eaf.png)

What we also should do is to add more grass, flowers and other plants. This plain, flat surface is boring

Like in an older video. But the grass color is toooo saturated

https://www.youtube.com/watch?v=sSgepdL9a4A&list=PL1u8LyxJPrwCVeAb1

[2017-11-01 19:58] tobyplowy commented on #108
@MarkuBu more grass variation I added it to my to-do list

[2017-11-01 21:03] D00Med commented on #108
@tobyplowy @MarkuBu I doubt this will really work in minetest, but I was thinking, it might be worth trying to make grass decorations that appear around the player as they move around.
It could be similar to the old weather mod I used in Legend of Minetest, where a particle spawner follows the player. But instead of rain etc., it could be stationary grass particles. It probably won't work well, bu

[2017-11-01 21:09] tobyplowy commented on #108
@D00Med I don't think that's a good idea I whant the grass to be physically there (so I can brake it and place it) particles will not work for that (I don't think it will) also using particles will make alot of lag and it probably won't look good :/

[2017-11-01 21:12] D00Med commented on #108
@tobyplowy I was thinking there could be both. But yes you are right, it'd probably cause a lot of lag.
And the other problem is that the grass would twist depending on how you look at it.

[2017-11-01 21:14] tobyplowy commented on #108
@D00Med yeh it will look odd

[2017-11-01 21:15] tobyplowy commented on #108
@D00Med @MarkuBu so this weekend we will start porting farlands to 0.5 yes?

[2017-11-01 21:16] D00Med commented on #108
@tobyplowy Yep

[2017-11-01 21:18] tobyplowy commented on #108
@D00Med amazing on what branch do we do that the v1.1 branch?

[2017-11-01 21:23] D00Med commented on #108
@tobyplowy yes I think so

[2017-11-01 21:36] tobyplowy commented on #108
@D00Med ok well we will have to see what @MarkuBu thinks

[2017-11-02 07:44] MarkuBu commented on #108
I would recommend to make a new branch, because the port is not complete and I don't want to lose the new stuff in 1.1. and you can still work on 1.1

Apart from that I have some problems I need to fix first, for example I can not register the new chests from an external mod.

Probably I will push the port to my account temporarily to have a backup and give you the opportunity to take a look what

[2017-11-02 07:54] MarkuBu commented on #108
https://github.com/MarkuBu/farlands050

It seems to work with Minetest 0.4.16, so maybe you don't need to download or compile the current dev version, but I can not guarantee for that

[2017-11-02 09:14] MarkuBu commented on #108
Things I wanna see in Farlands one day

https://youtu.be/_GttxWhQ51A?list=PLGWGc5dfbzn_oXKrMl9P1jasL-PgulxNH&t=262

[2017-11-02 12:15] tobyplowy commented on #108
showing me a video with a 1000 things that are not in farlands and saying I want this makes it really hard to pinpoint what you are referring to XD

What exactly is it that you want?

[2017-11-02 12:21] DS-Minetest commented on #153
Heh, grafting a sapling with a fruit…

What about an arboretum instead? Eg. use an apple as seed, place it into soil, and a sapling will grow (not really a sapling, but something that looks like a sapling and drops a sapling; also multiple stages as always in farming).

[2017-11-02 12:24] DS-Minetest commented on #154
You could ship with staticdata the name of the texture, not that some mob suddenly has another texture when you come back.

[2017-11-02 12:37] MarkuBu commented on #108
Just the thing where the video starts. The Ice palace in the first link and the windmill in the second

[2017-11-02 12:41] tobyplowy commented on #108
You mean the giant building right?

Also don't you say that you can't add specific loot tables for specific dungoens (I don't think the loot will be very interesting if we add a ice temple of some sort)

[2017-11-02 12:50] MarkuBu commented on #108
Dungeons will always be interesting. They are more common than those buildings. Here is another one by the way

https://youtu.be/X6NRY3ggfgg?list=PLGWGc5dfbzn_oXKrMl9P1jasL-PgulxNH&t=846

I think, a game needs a lot of such buildings to make traveling more interesting, but they should be rare and only spawn once or twice on a map, at least not very often.

But these are just suggestions. First we

[2017-11-02 12:56] tobyplowy commented on #108
@MarkuBu yeh we should focus on the port first but I definitely want to see more dungoens in farlands

I have a question is it possible to generate structures with randomly arranged rooms like the woodland mansion in Minecraft?

[2017-11-02 13:33] MarkuBu commented on #108
Difficult and a lot of work, but should be possible, because it is nothing else than a puzzle of schematics. Biggest problem would be to find a place for such a huge thing cause we have no control and no information about the map

[2017-11-02 20:17] D00Med commented on #108
o.o this is what I tried to do with the villages.

[2017-11-02 20:19] tobyplowy commented on #108
@D00Med hahaha XD

[2017-11-02 20:19] tobyplowy commented on #108
@D00Med it's weekend for you right?

[2017-11-02 20:23] D00Med commented on #108
@tobyplowy Not yet, still got a bit of work to do.

[2017-11-02 20:26] tobyplowy commented on #108
@D00Med ok :)

[2017-11-02 20:58] D00Med commented on #108
@tobyplowy How are you?

[2017-11-02 21:02] tobyplowy commented on #108
@D00Med I'm good you?

[2017-11-02 21:04] D00Med commented on #108
@tobyplowy I'm good too thanks

[2017-11-02 21:07] tobyplowy commented on #108
@D00Med yyyaaaayyyy :)

[2017-11-03 06:41] MarkuBu commented on #108
Did you take a look to the 0.5.0 port? What do you think? Currently there are only two mods additional to the MTG mods, mapgen and farlands.

mapgen is nearly the same as before, except that I  split the one huge file into multiple files

farlands is the mod where everything else should happen. I copied the textures to the textures folder, I override the unwanted default stuff, there is a file for

[2017-11-03 08:01] MarkuBu commented on #108
I removed most of the warnings

and I reduced the size of the textures without loosing quality

[2017-11-03 08:39] D00Med commented on #108
@MarkuBu I don't understand what you have done with the textures in farlands and default. Why have two copies of the textures? It's not too hard to update default but skip textures.

[2017-11-03 09:17] MarkuBu commented on #108
I don't have two copies. In 'default/textures' are the original MTG textures, in 'farlands/textures' are the textures from you.

Everything that is related to farlands should be in the farlands mod, not in MTG.

Any change you make in MTG is a source of mistakes. If you have your textures in default and skip copying the textures if you update MTG you may miss some new textures in MTG.

I recommend

[2017-11-03 09:30] MarkuBu commented on #108
If you are still confused: this is the official/recommended way to replace textures. It is not my idea

[2017-11-03 09:32] D00Med commented on #108
@MarkuBu That's a complete waste of space though. It's not good for people to have to download useless textures.
That's true about new textures, but it's still quite easy to just copy everything apart from the textures folder, and then copy the texture folder, skipping files that already exist.

[2017-11-03 10:01] MarkuBu commented on #108
99.9% of the people won't notice the difference. They have plenty of disk space and fast internet connections.

And if you play online on a server only one of the texture files will be downloaded

You make life unnecessarily difficult for yourself just for one or two people who may be upset for downloading a few extra Bytes, if at all

[2017-11-03 10:07] D00Med commented on #108
@MarkuBu I'm trying to say, it's really not difficult, maybe an extra 10 seconds of work.
Keeping extra files to save a tiny bit of work is not very efficient.

[2017-11-03 10:10] D00Med commented on #108
Every time someone says this, someone using satellite connection dies inside xD (and yes I am one of them)

[2017-11-03 10:50] MarkuBu commented on #108
Farlands has a size of 22MByte, 8MByte only for menu backgrounds, 1.5MB for Boss music..., and we discuss about 107kByte?

You won't notice a difference even with a 64kBit ISDN modem

Even if it's only 10 seconds of work, it's still a possible source of error. Apart from that it is not a good coding style.

[2017-11-03 10:56] D00Med commented on #108
@MarkuBu yes but that other stuff serves a purpose, having a copy of the default textures is useless.

[2017-11-03 11:11] MarkuBu commented on #108
That's the price for using MTG as base instead of developing everything from scratch.

Just between us, if Farland is well-programmed it might have a chance to become a standard game in Minetest at some point.

[2017-11-03 12:08] tobyplowy commented on #108
I doubt that is true but we can Still try :)

Personally I don't really care about a little bit of extra download but it should be removed when the final release to the public is out

[2017-11-03 12:09] tobyplowy commented on #108
@MarkuBu also no I have not tried It Can you link Me To The unstable build I should use?

[2017-11-03 12:43] MarkuBu commented on #108
Ok, let me explain it this way:

There are two ways to go
1. Use MTG as base. If you want to keep track of all changes and Bugfixes it is highly recommended not to change MTG at all (except it is absolutely necessary)
2. You can use MTG as base and modify it for your needs. But then it will be impossible or at least extremely difficult to keep up to date.

And I want to remember that it is not onl

[2017-11-03 12:48] tobyplowy commented on #108
@MarkuBu I don't really agree (it's not hard to update the textures)
So for the final release the unneeded assets need to be gone

But for dev builds we can keep it like this
From Here on I Don't Really Care a lot About This So It Doesn't Matter To Me you will have to Fight It Out With D00med :)

[2017-11-03 13:00] MarkuBu commented on #108
Well, I think we agree that we disagree in this point ;-)

Let's see what happens.

[2017-11-03 20:58] bewlay opened #156 "Dead Grass drops unknown node"
After digging dead grass, I get an unknown node in my inventory and the following error message:
`Item "drop:dead_grass_5" not defined`

[2017-11-03 20:59] D00Med commented on #108
Oh please no xD
@MarkuBu  I think what Toby said is a good compromise. It means we only have to move the textures around once each time we make a dev branch.

[2017-11-03 20:59] D00Med commented on #108
putting all the textures back would be a lot of work though...

[2017-11-03 21:01] tobyplowy commented on #156
@bewlay Thanks for the report

[2017-11-03 21:03] tobyplowy commented on #108
Something tells Me You have never heard about ctrl c  and ctrl V XD

[2017-11-03 21:07] D00Med commented on #108
@tobyplowy *more work, not a lot

[2017-11-03 21:09] tobyplowy commented on #108
@D00Med haha So jeh when were you going to start development on farlands again?

[2017-11-03 22:16] D00Med commented on #108
@tobyplowy today :)

[2017-11-03 22:17] tobyplowy commented on #108
@D00Med yay

[2017-11-03 22:17] tobyplowy commented on #108
Can you add the cow?

[2017-11-03 22:18] D00Med commented on #108
@tobyplowy Yes.
@MarkuBu What would be a good time to work on separating farlands stuff from default? I could just go ahead and do it, but I figure it would be best if we work on this bit together.

[2017-11-03 22:19] tobyplowy commented on #108
@D00Med thanks :)

[2017-11-03 22:24] D00Med commented on #108
@tobyplowy I might also add some of the other mobs, or at least finish their animations

[2017-11-03 22:27] tobyplowy commented on #108
@D00Med do you have the cow model?

Maybe you can also add this
https://github.com/D00Med/farlands/issues/154

[2017-11-03 22:27] D00Med commented on #108
@tobyplowy Yes.
Maybe

[2017-11-03 22:28] tobyplowy commented on #108
@D00Med ok :)

[2017-11-03 22:30] D00Med commented on #108
@tobyplowy The cow model seems to be made really small O.o

[2017-11-03 22:32] tobyplowy commented on #108
@D00Med that's probably because of techne ;)

Did you get the newest cow.zip with finished texture?

[2017-11-03 22:32] D00Med commented on #108
@tobyplowy Ah ok. Yes I did

[2017-11-03 22:33] tobyplowy commented on #108
@D00Med Ok good

[2017-11-03 22:33] D00Med commented on #108
![minicow](https://user-images.githubusercontent.com/19916704/32398401-d46ce4f4-c13a-11e7-99ec-870dab16bc4d.PNG)

[2017-11-03 22:34] D00Med commented on #108
@tobyplowy Kind of awkward that it's small, but thanks to techne, I should be able to use the same scale factor each time to fix things

[2017-11-03 22:36] tobyplowy commented on #108
@D00Med Hahaha compered to that cube the cow looks super cute :)

That's not the only thing techne is good for ;)

[2017-11-03 22:38] tobyplowy commented on #108
@D00Med also are you interested in slimes?
(Slime Mobs)

[2017-11-03 22:39] D00Med commented on #108
@tobyplowy Haha yeah xD
Yes, maybe using that outline trick

[2017-11-03 22:39] MarkuBu commented on #108
I don't know where you live. I live in Germany and now it is time to go to bed.

I think, most of the separation is already done. We need to look at some mods like beds and tnt and some parts of the default_farlanda.lua file have to be moved to the farlands mod, but most of the default mod should be finished.

Get familiar with the changes I made and let me know if you want something to be done in

[2017-11-03 22:41] D00Med commented on #108
@MarkuBu In that case, could you make a PR for your changes? I should check them over more carefully first though.
Sorry about that. It's a big mod, but I think it should stay like that. Some things will be moved though.
Like all the new flowers, which will be moved into flowers plus (or whatever it was I called the new one).

[2017-11-03 22:45] tobyplowy commented on #108
\/ Read with Italian voce \/

It's Italian farlands XD (sorry I couldn't resist that was to funny to just let go)

@D00Med No but siriusly I already have a slime model

[2017-11-03 22:48] D00Med commented on #108
@tobyplowy You do?

[2017-11-03 22:48] tobyplowy commented on #108
I'm from Belgium and d00med is from Australia

[2017-11-03 22:49] tobyplowy commented on #108
@D00Med yes I do :)

Give me a sec to upload

[2017-11-03 22:52] tobyplowy commented on #108
![slime pic](https://user-images.githubusercontent.com/16853304/32398834-f6780fc2-c0f1-11e7-83a5-18f4ccf538eb.png)
[slime.zip](https://github.com/D00Med/farlands/files/1442684/slime.zip)

[2017-11-03 22:52] tobyplowy commented on #108
@D00Med hahah men im so good XD

[2017-11-03 22:54] tobyplowy commented on #116
[slime.zip](https://github.com/D00Med/farlands/files/1442684/slime.zip)

[2017-11-03 22:56] D00Med commented on #108
@tobyplowy Nicely done, that really works

[2017-11-03 23:06] tobyplowy commented on #108
@D00Med thanks :)

[2017-11-04 00:20] D00Med commented on #108
@tobyplowy I forgot how long it takes to animate a model :'D
I finished the cow

[2017-11-04 00:23] tobyplowy commented on #108
XD

yaaay is it in game?

[2017-11-04 00:24] D00Med commented on #108
@tobyplowy Yes

[2017-11-04 00:26] tobyplowy commented on #108
@D00Med amazing!

[2017-11-04 00:36] D00Med commented on #108
I forgot to say, I started work on stained glass. I'm just trying to figure out how to use the palette colouring.

[2017-11-04 01:05] tobyplowy commented on #108
@D00Med you have to use the gimp file (I can export them for you if you want)

[2017-11-04 01:15] tobyplowy commented on #108
@D00Med I have to go now

[2017-11-04 01:15] tobyplowy commented on #108
@D00Med Have a good day

[2017-11-04 01:19] D00Med commented on #108
@tobyplowy Ok, I'm not sure how to explain what I'm referring to, we can talk about it later.
Goodnight

[2017-11-04 02:48] D00Med commented on #108
[grass demo.zip](https://github.com/D00Med/farlands/files/1442861/grass.demo.zip)
I had a quick attempt at making grass spawn around the player, just to see if it could work.
Firstly with a particle spawner for all of the grass, and secondly with one particle spawned for each plant.
Seems pretty promising, but I doubt I could get it working nicely for Farlands :'D

[2017-11-04 08:25] MarkuBu commented on #108
@D00Med I can't make a PR because I didn't make a fork. I made this repo from scratch with a fresh MTG0.5 copy.

[2017-11-04 09:04] D00Med commented on #108
@MarkuBu Oh ok, in that case, shall I just go ahead with the changes?

[2017-11-04 10:48] tobyplowy commented on #108
Yeh it looks interesting but I don't think it fits farlands

[2017-11-04 11:37] MarkuBu commented on #108
@D00Med  You can take a look here

https://github.com/MarkuBu/farlands050

I try to explain what I did. I created the farlands mod where I put everything that changes the default mod or adds new content

https://github.com/MarkuBu/farlands050/tree/master/mods/farlands

In the init.lua I removed unwanted nodes like mese stuff. Anything from default that should be overridden should be placed here. I

[2017-11-04 11:58] MarkuBu commented on #108
How about using Gitter to chat instead of endless github issues?

[2017-11-04 11:59] MarkuBu commented on #108
@tobyplowy you said you would like to have more dungeons, right?

[2017-11-04 12:05] tobyplowy commented on #108
Yes I did

[2017-11-04 13:41] tobyplowy commented on #108
@D00Med the color chart

![colors](https://user-images.githubusercontent.com/16853304/32405878-2e371c06-c16e-11e7-96e6-d3aafb4dc361.png)

[2017-11-04 13:44] tobyplowy opened #157 "cant fill bucket and also it desapears if you drink the milk"
@D00Med ping

[2017-11-04 15:42] MarkuBu commented on #108
@tobyplowy I'll put dungeons to my todo list. I have some ideas

![screenshot_20171104_162456](https://user-images.githubusercontent.com/16163058/32406668-c9fbdc7c-c17c-11e7-92db-38db022539dc.png)

![screenshot_20171104_163919](https://user-images.githubusercontent.com/16163058/32406759-be024a80-c17e-11e7-8bde-9018f3630224.png)

[2017-11-04 16:18] tobyplowy commented on #108
@MarkuBu amazing :)

[2017-11-04 18:32] MarkuBu commented on #108
I made the stairs with stair nodes instead of blocks and one node higher than the regular dungeon stairs, because I really hate them. You always bump your head against the ceiling. I get dizzy if I walk these stairs up and down

The 45 degree hallway is also made with stairs, but laying on the side

[2017-11-04 20:04] tobyplowy commented on #108
@MarkuBu good :)

Can you also add the mimics?

[2017-11-04 20:13] MarkuBu commented on #108
I think about how I can place some kind of command block as placeholder, that will be replaced by an LBM and executes a script.

The problem is, that I can't store any kind of metadata in a node that is placed by a schematic.

But I have time to find a way cause first I want to finish the 0.5 port and the farming mod. Probably I will open an issue to collect ideas for dungeons

[2017-11-04 20:17] D00Med commented on #108
@MarkuBu Thanks for the explanation :)
I think using gitter might be a good idea.
Also nice work with the dungeons

[2017-11-04 20:18] D00Med commented on #157
@tobyplowy thanks

[2017-11-04 20:24] tobyplowy commented on #108
@D00Med sinds When do buckets filed with milk look like fried eggs XD

Also I think the cow animation needs some more work
And with More work I mean completely redone
using the horse animation was a bad idea :/

[2017-11-04 20:25] tobyplowy commented on #108
@D00Med I also put the color chart above so you can use it for the colored glass :)

[2017-11-04 20:27] D00Med commented on #108
@tobyplowy About 9 am yesterday xD I will make a texture for them.
I didn't use the horse animation :'D
But ok, I will do it again. What is the problem?

Also thanks for the colour chart

[2017-11-04 20:27] tobyplowy commented on #108
@MarkuBu maybe a new dungoen brick shuld be used?

We can make it use the new world aligned textures :)

[2017-11-04 20:28] tobyplowy commented on #108
@D00Med I did the milk bucket already

[2017-11-04 20:28] D00Med commented on #108
@tobyplowy Oh ok, thanks.

[2017-11-04 20:32] tobyplowy commented on #108
Really huh :/
It moves exactly like the house (with exactly I mean exactly)

the back legs seem to be broken (top cube doesn't move)
And there's Something very off about the animation not sure what

[2017-11-04 20:34] D00Med commented on #108
@tobyplowy Yeah I know because I spent most of the morning making it move :'D
Also I tried to make it move like a cow does.
Oh ok :/ Well I'll try it again.

[2017-11-04 20:38] tobyplowy commented on #108
Haha XD

I feel so bad now :/
I think it's about time you learn me how to animate (that will take a big load of your shoulders)

[2017-11-04 20:46] D00Med commented on #108
@tobyplowy Don't feel bad, it is pretty crappy.
Yes I will show you, maybe sometime this week?

[2017-11-04 20:47] tobyplowy commented on #108
Yeh sure faster is better :)

[2017-11-04 20:49] D00Med commented on #108
@tobyplowy I already agreed to talk to one of my friends this morning, so I can't teach you today

[2017-11-04 20:51] tobyplowy commented on #108
@D00Med that's fine :)

[2017-11-05 13:28] MarkuBu commented on #108
@D00Med do you make a Gitter chat? After all, Farlands it's your project

[2017-11-05 14:15] tobyplowy commented on #108
@MarkuBu ehem me and d00med are both the owners
I may have a collaborator tag but I'm co owner of farlands (d00med doesent know how to give me a owner tag perhaps you know Markus (I think that's your name)
I did all the art (except for 10 or so textures that are made by d00med) and concept of farlands and d00med did all the programming :)

[2017-11-05 14:17] tobyplowy commented on #108
@D00Med @MarkuBu maybe we can use discord?
I prefer discord over gitter

[2017-11-05 14:45] MarkuBu commented on #108
I never used discord. And to be honest I don't want a voice chat. I want a text chat that allows to chat in realtime and be able to read offline messages

[2017-11-05 14:50] tobyplowy commented on #108
@MarkuBu discord has a realtime text schat

Gitter is fine for me but it has prittie bad mobile support (ui is annoying And flips Out evry now and then it also sometimes forgets to update the conversation

[2017-11-05 15:31] MarkuBu commented on #108
I never had issues with Gitter on mobile. However, I registered "burli" on discord

[2017-11-05 16:51] MarkuBu commented on #108
It seems that the beds mod is not compatible with the default mod, so I replaced the default with the farlands version

[2017-11-05 17:34] tobyplowy commented on #108
@MarkuBu so is that good or is that bed (see what I did there)

[2017-11-05 17:37] MarkuBu commented on #108
Well, the only problem might be, that we need to fix bugs in the beds mod manually.

[2017-11-05 19:16] tobyplowy commented on #108
@MarkuBu can you have a look at the grass recolors I did in the 1.1 branch
(the normal grass looks a bit darker the other grasses alot more)

[2017-11-05 20:09] D00Med commented on #108
So are we using gitter or discord?

[2017-11-05 20:20] MarkuBu commented on #108
Finally I messed up my local git repo. I can't test the new textures right now. Will fix that tomorrow

@D00Med I don't care. We can try both.

[2017-11-05 20:23] tobyplowy commented on #108
@D00Med @MarkuBu so we try both first discord?

[2017-11-05 20:25] MarkuBu commented on #108
My discord name is burli. But I don't have much time

[2017-11-05 20:28] D00Med commented on #108
@tobyplowy @MarkuBu Ok...well I will go and sign up for discord xD

[2017-11-05 20:37] D00Med commented on #108
Alright, my discord name is the same as here

[2017-11-05 20:39] tobyplowy commented on #108
@D00Med @MarkuBu what are your tags

[2017-11-05 20:40] D00Med commented on #108
#4926 <--is this a tag?

[2017-11-05 20:40] tobyplowy commented on #108
Next to your name you shuld find a # and than a number

In the bottom left corner

[2017-11-05 20:40] tobyplowy commented on #108
Yes

[2017-11-05 20:41] MarkuBu commented on #108
#1321

[2017-11-05 20:41] D00Med commented on #108
Let me know when you've got it

[2017-11-05 20:41] tobyplowy commented on #108
https://discord.gg/mjEh4c go here

[2017-11-06 00:14] tobyplowy commented on #108
@D00Med the team may get bigger
another amazing modder is interested to help :D
(hes a pritty good one eswell )

[2017-11-06 00:18] tobyplowy commented on #108
@tacigar is interested in joining im so hyped ;D

i have to go i cant wait untill tomorrow :D

[2017-11-06 00:33] tacigar commented on #108
@D00Med
(First, I am poor at English, so please forgive me.)

Hello, I'm tacigar.
I am a modder making mod maidroid(https://github.com/tacigar/maidroid).
I heard from @tobyplowy that Pet API is needed.
I made something like that when I made maidroid, so I think I can make it.
May I join this great project?
Recently I am busy with school, maybe I will not spend much time developing, but I will do m

[2017-11-06 01:10] D00Med commented on #108
@tobyplowy Thanks :)
@tacigar Thanks for your interest in the project :)
You certainly may join, help is really needed on the pet API.
That's ok, I myself am often busy with study.

[2017-11-06 04:20] tacigar commented on #108
Thanks!
Could you tell me what to do?

[2017-11-06 04:58] D00Med commented on #108
@tacigar Ask @tobyplowy , he will know exactly what you can do

[2017-11-06 05:04] tacigar commented on #108
OK.

[2017-11-06 06:57] tacigar commented on #99
@tobyplowy Should we discuss pet API here?

[2017-11-06 11:25] tobyplowy commented on #99
@tacigar yes

[2017-11-06 11:29] tobyplowy commented on #140
@MarkuBu shuld we add moth traps someting like this
https://starbounder.org/Moth_Trap

They give silk and that can be used for stuff like making string and so on

[2017-11-06 11:35] MarkuBu commented on #140
Interesting idea, but shouldn't added to farming.

I still have no good idea how to implement farming in a nice way.

[2017-11-06 11:37] tobyplowy commented on #140
@MarkuBu this was actually in my original plan for farming when me and d00med started farlands
Can you add it please?

[2017-11-06 11:38] tobyplowy commented on #140
@MarkuBu I already have a model

[2017-11-06 11:41] MarkuBu commented on #147
I had the idea that you can't craft coins yourself, what is some kind of logical.

There are two ways to get coins. Find them in loot chests or trade by a dealer. You get 10 coins for one ingot

[2017-11-06 12:13] tobyplowy commented on #99
@tacigar I updated the top comment to show you my idea (keep in mind that it is just an idea)
I'm interested to hear what you think about it

[2017-11-06 12:22] tobyplowy commented on #147
@MarkuBu maybe that can only count for gold coins

but maybe silver and copper coins can be gained if you kill agresive mobs you need a 100 copper coins for one silver coin and a 100 silver coins for one gold coin

Maybe we should also call coins bits it sounds nicer :)

Is that a good idea?

[2017-11-06 12:31] tacigar commented on #99
@tobyplowy
Accessories and changeable skin are nice idea.
But, what should pets do?
Do you need functions such as farming, cutting trees, etc.?

[2017-11-06 12:40] tobyplowy commented on #99
They can do all kinds of stuff like there can be a glow worm pet that gives light (usefull for if you're in caves)

Some pets can attack enemies

Maybe we can add a mimic chest pet that follows the player and you change use it as mobile storage
(Basically it's a walking chest)

And many more we have to come up with some  so if you have more ideas please let me know :)

Not really but we do need th

[2017-11-06 12:51] tacigar commented on #99
Sorry, I cannot interpret it.
Does It meen that pets don't have collision box?

Sorry, I can not imagine...

I will update villagers next time.
Now I just want to do a pet API :)

[2017-11-06 13:02] tobyplowy commented on #99
Yes You should be able to walk through them as if they are ghosts (as if they are not there)

It's a block and you can put the pet capsule (pet spaun item) in it,
the pet will stay close to the block so that the pet can walk around in the house

I hope I'm not using to many complicated words (also don't feel bad for not understanding)
I can emagine English to Japanese is hard to translate :)

[2017-11-06 13:04] tobyplowy commented on #99
@tacigar maybe you should translate the inportant points in to Japanese so that you don't have to read my big comment Everytime :)

[2017-11-06 13:13] tacigar commented on #99
@tobyplowy
Thanks, I almost understood.

Yes, thanks.
I can understand words, but I'm confused when I try to understand the meaning of long sentences :(
I will do my best to get to the meaning of the sentence quickly.

[2017-11-06 13:14] MarkuBu commented on #147
Don't make it too complicated

[2017-11-06 13:14] tacigar commented on #99
Thanks for your advice :)

[2017-11-06 14:01] tobyplowy commented on #147
@MarkuBu ok :)

[2017-11-06 14:04] tobyplowy commented on #99
Almost so that's not all, what do you not understand yet?
(I can explain it)

Haha no problem :)
I need to thank you

[2017-11-06 14:05] tobyplowy commented on #99
@MarkuBu what bransh shuld tacigar work on is the 1.1 bransh good?

[2017-11-06 17:55] DS-Minetest commented on #99
Better set an infinitely small selectionbox, a normal collitionbox, physical to `true` and collide_with_objects to `false`, else the pet will fall through floor.

[2017-11-06 19:21] MarkuBu commented on #99
@tobyplowy I assume it is a mod and nothing is changed at MTG, so go ahead and add it to 1.1

[2017-11-06 21:44] tobyplowy commented on #99
@tacigar I guess you have all the information you need any other questions?

[2017-11-06 23:01] tacigar commented on #99
I see :)

@tobyplowy
Thanks, I will begin to make API.
I will ask if something I do not understand comes out :)

[2017-11-06 23:09] tobyplowy commented on #99
@tacigar can you make it for the 1.1 branch
https://github.com/D00Med/farlands/tree/1.1

[2017-11-07 00:10] tacigar commented on #99
@tacigar OK

[2017-11-07 00:13] tacigar commented on #99
Is directory name `mods/pets_farlands`, OK?

[2017-11-07 03:48] tacigar commented on #99
or customize "mobs_redo" mod?

[2017-11-07 11:23] tobyplowy commented on #99
Yes that's perfect :)
Sorry for the late reply (we have different time zones)

[2017-11-07 11:24] tobyplowy commented on #99
No that's probably not a good idea :)

[2017-11-07 11:25] tobyplowy commented on #99
Yes that's perfect :)
Sorry for the late reply (we have different time zones)

No that's probably not a good idea :)

[2017-11-07 21:08] #157 closed

[2017-11-07 21:27] #128 closed

[2017-11-07 21:45] #156 closed

[2017-11-07 21:51] D00Med commented on #121
@Reedych snow works, it just doesn't work when there is not snow nearby

[2017-11-07 21:51] #121 closed

[2017-11-07 21:55] D00Med commented on #102
@DS-Minetest @MarkuBu Could either of you add this?

[2017-11-07 21:56] tobyplowy commented on #99
@tacigar we use discord to talk so if you are interested https://discord.gg/wEGywb

[2017-11-07 21:56] tacigar commented on #99
Sorry, I have been late replying :(

OK I'll make a new directory.

[2017-11-07 21:57] D00Med commented on #119
Can anyone figure out what's causing this?

[2017-11-07 21:59] tobyplowy commented on #108
@D00Med
![moth trap pic](https://user-images.githubusercontent.com/16853304/32520161-54ff19d0-c40f-11e7-9d26-5c4e0da91b69.png)

[2017-11-07 21:59] D00Med commented on #155
I had huge problems with this in the past. Opening the inventory would produce all these messages and slow down the game. Unfortunately I can't remember how I fixed it(or if I really did). But I think it is possible

[2017-11-07 21:59] tobyplowy commented on #140
@MarkuBu
![moth trap pic](https://user-images.githubusercontent.com/16853304/32520172-5e1db49a-c40f-11e7-9693-94ca70c54c0d.png)

[2017-11-07 22:00] tacigar commented on #99
@tobyplowy
Oh... is discord VoIP?
Sorry, I cannot speak English :(

[2017-11-07 22:02] tobyplowy commented on #99
dount worry :D

wat is VoIP?

what you are typing seems good to me

[2017-11-07 22:04] tobyplowy commented on #155
@D00Med aperenly it will be fixed in 0.5.0

@MarkuBu made an issue in the minetest github page

[2017-11-07 22:07] tobyplowy commented on #140
^ moth trap ^

[2017-11-07 22:16] tacigar commented on #99
VoIP stands for "Voice over IP".
It is a service that you can talk on the Internet like Skype.

I am getting a lot of help of Google translation :(

[2017-11-07 22:21] D00Med commented on #155
@tobyplowy  Ok, thanks :)

[2017-11-08 00:22] tobyplowy commented on #99
@tacigar ah you can also talk with text on discord :)

Japanese to English must be very good than
(I can't say the same for other languages especially Russian XD )

So what will be the first thing you add for the pet api

And do you have any suggestions for pets (so I can make the models for you)

[2017-11-08 00:23] tobyplowy commented on #99
@D00Med @22i we need animation for the above models

[2017-11-09 01:58] tacigar commented on #99
@tobyplowy
Sorry, for the late reply.
OK, I join.

I will write it when my idea is settled :)

[2017-11-09 02:00] tacigar commented on #99
Sorry, discode invitation is expired 😭

[2017-11-09 02:15] #135 closed

[2017-11-09 12:58] tobyplowy commented on #99
@tacigar there you go a new one https://discord.gg/Sju8qS

[2017-11-09 13:04] tacigar commented on #99
@tobyplowy
Thanks!

[2017-11-09 13:07] tobyplowy commented on #99
@tacigar can you please go in the general tab and say hi so your name shows up on discord?

[2017-11-09 13:57] gorkoda1 commented on #121
its crashing for me. running Lubuntu 16.04 minetest 0.4.16 release.

[2017-11-09 14:37] tobyplowy commented on #116
[crabspider.zip](https://github.com/D00Med/farlands/files/1457926/crabspider.zip)

[2017-11-09 14:46] MarkuBu opened #160 "Ideas and suggestions for Farlands map generation"
**Make Mapgen v7 default**
Farlands is made for mg v7, but it is still possible to select a different mapgen. This should be set to mg v7 in farlands.

**Performance:**
A sandbox game looks better if there is something you can see. Bare ground nodes are boring. Most of the ground nodes should be covered by a plant. But add more plants means more faces. Players with low end PCs can't play the game

[2017-11-09 19:21] MarkuBu commented on #160
This is what I mean with "flat"

![screenshot_20171109_201903](https://user-images.githubusercontent.com/16163058/32625023-62ac645c-c58b-11e7-8aa5-598e502f0509.png)

![screenshot_20171109_201914](https://user-images.githubusercontent.com/16163058/32625029-6522a804-c58b-11e7-85ca-9f72da600db4.png)

[2017-11-09 20:26] D00Med commented on #160
I don't think v7 should be forced, but it should be automatically selected when players create new worlds though (if that's possible?).

This is why I think my grass idea (with improvement) would be good. The problem with having many plants is that it won't look very good without much variation, and if there is a plant on every node, it will make building a little bit painful (that's just my opini

[2017-11-09 20:26] D00Med commented on #160
@MarkuBu Also that looks too flat and boring, but it'd be nice to have it like that just for swamp biomes

[2017-11-09 20:32] tobyplowy commented on #160
This is why I think my grass idea (with improvement) would be good.

Did someone say Toby make the concept for this
Becouse I will do it! 👌😂🔫

[2017-11-09 20:34] tobyplowy commented on #160
I really don't like the particle grass even if the performance is inproved

Did someone say Toby make the concept for this
Becouse I will do it! 👌😂🔫

[2017-11-09 20:35] tobyplowy commented on #160
@MarkuBu can you make the swamp flat?

[2017-11-09 20:46] D00Med commented on #160
Would that be because it looked like crap? xD

;)

[2017-11-09 21:51] MarkuBu commented on #160
If we want to use Flatlands we must force v7, cause this is the only mapgen with Flatlands

And grass, even a lot of grass, has not sooo much impact to the performance. Only really low end PC's may have a problem. And then also particles won't help

The flat land on the screenshot is extremely big. Normally they are smaller. And it looks great if you walk on. The only problem: the ocean are not ve

[2017-11-09 22:15] tobyplowy commented on #160
@D00Med yes I can!

[2017-11-09 22:16] tobyplowy commented on #160
@MarkuBu force V7 but flat must still be available

[2017-11-09 22:27] MarkuBu commented on #160
Why flat?

[2017-11-09 22:31] tobyplowy commented on #160
@MarkuBu Because I like to use it for Creative Building

[2017-11-09 22:49] MarkuBu commented on #160
Ah, misunderstanding. If you start a new MTG game you can select whatever you want from the menu, but if you create and start a farlands game the selected mapgen in the menu will be ignored. It can be coded in the script that a specific mapgen hast to be used for this subgame, but it has no effect to other subgames

[2017-11-09 22:59] MarkuBu commented on #160
Oh, and as I mentioned before some time ago it is impossible to say for example, I want swamps only in flat biomes. The landscape and biomes are completely independent from each other

All you can do it to say, I want swamp water and trees between 0 and 20, between 21 and 40 only trees, but no water and above 40 just swamp grass and very rare trees. That would be possible. That's what I mean with

[2017-11-09 23:23] tobyplowy commented on #160
@MarkuBu swamps should always generate next to oceans
And the water in the swamp shuld always be at the same level as the ocean

I whant the swamp to look like this
http://hydra-media.cursecdn.com/minecraft.gamepedia.com/1/1e/1.7swamp.png
I whant the grass to do that thing it does in the picture but only close to water
And the trees shuld be the ones we have in the current swamps in farlands

Can

[2017-11-10 05:50] MarkuBu commented on #160
Short answer: no.

I have no control where a biome is generated. Could also be somewhere in the middle of a mountain

[2017-11-10 07:58] MarkuBu commented on #160
maybe it does work, but it's difficult. I have an idea, but I have to try

[2017-11-10 09:05] MarkuBu commented on #160
I modified the noise a bit and now the landscape is less flat and we have some lakes at sea level. I think, it looks amazing and even if you don't like it I want to preserve it as option.

For the swamp: I think it is possible, but it is a bit of work and I have to modify a few biome things. It's difficult to explain if you don't know how biomes work.

But I can't guarantee that it finally works o

[2017-11-10 11:30] tobyplowy commented on #160
How small will they be?

[2017-11-10 11:45] MarkuBu commented on #160
Theoretically a biome can be 1 node small, already now in default MTG. And I already had tini tiny biomes, or a very small cold desert, 20 nodes long and 5 nodes wide, between grassland and snow. The lava burned the grass xD. Just an hour ago I had an situation where I had 4 biomes in the minimap at the same time. A snowy grassland, a cold desert, a sandstone desert and a desert at the same time.

[2017-11-10 11:49] tobyplowy commented on #160
@MarkuBu can you make an issue For That on the minetest github page?
Having more control over the mapgen is a must
(I dount know how to ask it also the devs dount really like me)

[2017-11-10 11:52] MarkuBu commented on #160
I've already reported an issue, but if something happens, it's with a new map generator. It won't happen in v7. And the next mapgen will take a while, so we have to make the best out of what we have

[2017-11-10 11:59] tobyplowy commented on #160
@MarkuBu I see I don't like the sound of micro biomes so leave the swamp as is

How is your progress on the 0.5.0 port

[2017-11-10 12:05] MarkuBu commented on #160
Right now I found a nice example what can happen. This hill has 5 different biomes, from left to right cold desert, sandstone desert, desert, savanna and grassland and there is nothing I can do

![screenshot_20171110_125918](https://user-images.githubusercontent.com/16163058/32657768-35380fc6-c617-11e7-8534-5281ed9288c4.png)

Also micro biomes can happen just now in MTG or in Farlands. I can't sto

[2017-11-10 12:09] tobyplowy commented on #160
@MarkuBu The terrain seems to generate less smooth I like that what I don't like is the size of the biomes they need to be bigger 5 times the size they are in the screenshot if possible :)

[2017-11-10 12:10] tobyplowy commented on #160
@MarkuBu nice work so far :)

[2017-11-10 12:14] tobyplowy commented on #160
@MarkuBu this looks nice https://youtu.be/Isrz_Oqe9V8
Can we make a new mapgen?

With this included https://youtu.be/DoHbO0RN8AU

[2017-11-10 12:38] MarkuBu commented on #160
A new mapgen is really complex and written in Lua not really fast

I can increase the biome size, but that doesn't eliminate small biomes. Just reduce the chance. On the other hand large biomes will be more common, and I mean really large.

[2017-11-10 12:42] tobyplowy commented on #160
@MarkuBu I don't whant them to be big but I also don't want them to be small :/

Also I'm testing your 0.5.0 port
On the latest unStable

[2017-11-10 12:44] tobyplowy commented on #160
@MarkuBu sand with sea grass is still called stone with sea grass XD

[2017-11-10 12:56] MarkuBu commented on #160
Let's not complain about what we don't have, let's make the best of what we have.

And I know that it is still called stone with sea grass xD

But you don't have the noise changes I made to my map. Create a new world and before you open the world the first time, open the world folder and replace the map_meta.txt file with this file

[map_meta.txt](https://github.com/D00Med/farlands/files/1461364/m

[2017-11-10 14:50] tobyplowy commented on #160
@MarkuBu i get this
[debug.txt](https://github.com/D00Med/farlands/files/1461689/debug.txt)

[2017-11-10 16:32] gorkoda1 commented on #121
just tested the dev version. that is affected aswell

[2017-11-11 11:49] gorkoda1 commented on #119
@D00Med it doesn't happen on 0.4.16 stable but happens on 0.4.16-dev afaik.

[2017-11-11 14:35] kingoscargames commented on #119
`Could not load image heart.png`  that image is missing
`HUD element armor does not exist` i have no idea

[2017-11-15 19:11] MarkuBu opened #162 "Thoughts about gameplay and game progress"
I assume that Farlands should be more a survival and adventure game than just building. But to make fun for more than two hours it needs a lot of content.

- it must be necessary to explore the map, but it shouldn't be boring.
- it must be necessary to dig, even deep, but it shouldn't be boring
- it must be necessary to kill mobs
- the game needs a lot of items and blocks.

These are only a few th

[2017-11-15 23:58] tobyplowy commented on #162
Yes correct

Yes I agree with that but there should still be a reasonable amount of (insert ore name here) in every biome
So if people can't or don't want to explore they don't have to but it will take more time

Yes YES and again YES I love this stuff Unique loot is amazing especially weapons
Ice sword in cold biomes and someting like a horn of the ocean that kills enemies if you blow on it (beca

[2017-11-15 23:59] tobyplowy commented on #162
# Less effort Less reward, more effort more reward

Effort shuld be rewarded and laziness shuld not be rewarded but also not be punished!
(we have to keep it fun for everyone but people hoe put in more effort shuld be rewarded more)

This will make gameplay addictive in a good way :)

(I hope that makes sense)

[2017-11-16 12:17] tobyplowy opened #163 "Ideas for floatlands"
Will expand later

[2017-11-17 04:47] Reedych commented on #121
@gorkoda1 could you send us the debug information? It's hard to read from video.

[2017-11-17 09:11] MarkuBu opened #164 "Ambient sounds"
I added my ambiance sounds mod, but currently it only supports sounds for ocean, forests, jungle, some underground ambiance and a simple wind sound for deserts.

Need suggestions for grassland, swamp, bamboo, tundra, icesheet, savanna and snowy grassland

Grassland could be some birds and humming bees. Swamp maybe frogs and buzzing mosquitoes. In the tundra you may hear a howling wolve.

And I thi

[2017-11-17 09:59] MarkuBu commented on #162
To make exploring the map not boring two major things are necessary: more biomes and more structures

More biomes also means more plants and more nodes. First we should decorate the existing biomes

We can add for example an igloo to the icesheet, also something like the ice spikes with a unique node or something similar or totally different. It must not exist in the real world.

Structures can be

[2017-11-17 10:47] MarkuBu opened #165 "Mobs, animals and NPCs"
Minetest really needs a new system for mobs. There is absolutely no mod that really works well.

Here are some prerequisites I would have:
- Mobs should rotate smooth, not like they do now
- Animals shouldn't spawn and despawn continuously on a random event. They should spawn like in MC on map generation time in groups from 1-4 and stay there until they are killed or die.
- Traders should also spa

[2017-11-17 11:55] tobyplowy commented on #162
yes im actually thinking about ideas

yep but they need to make sense

[2017-11-17 11:56] tobyplowy commented on #162
what about crapy little houses for swamp npcs

maybe thay can be frog poeple

[2017-11-17 12:11] tobyplowy commented on #164
yes but the bees shuld not bee anoying (see what i did there not bee anoying)

i like the frog sounds at the day but can you make them more intence at dawn (the moment when the sun is almost gone and the night begins) for the mosquitoes they shuld not be to anoying XD

yes that will be better

[2017-11-17 12:17] tobyplowy commented on #165
@MarkuBu i wish that was a thin but the mt core devs dount give a crap about mobs so we probably wount see them untill 1.0.0 :/

well makeing a new mob api will be good but its too much work :/

[2017-11-17 13:55] MarkuBu commented on #164
Two bee or not two bee, that's the question xD

The problem is to find good (and free) ambient sounds. Suggestions are welcome

[2017-11-17 14:07] tobyplowy commented on #164
Well there's enough free sounds and there's enough good sounds
but there's not enough good free sounds :/

I don't really have any :/

I Rather have zero bee XD

[2017-11-17 14:39] MarkuBu commented on #165
The core devs want to have a mob engine, but there is no engine that is nearly good enough to be added. Also it is necessary to implement some functions to the engine. And as long as nobody knows what is really needed they can't add anything.

mobs redo is the best mob engine we currently have, but from my point of view it is still horrible. Sofars entity_ai has some good ideas, but it is far away

[2017-11-17 20:32] D00Med commented on #162
@tobyplowy I like the idea of frog people.
I have some ideas for structures.
We could have windmills, different types of villages, and tower dungeons.
I think dungeons as towers is better than what I used in the past, where you can break into anywhere at ground level. Tower dungeons would mean you have to stack dirt and then break in xD

[2017-11-17 21:00] MarkuBu commented on #162
Tower dungeons? Hmm, interesting. Could be made of some segments they are stacked.

Can we make an ice tower for the icesheet?

[2017-11-17 21:13] D00Med commented on #162
@MarkuBu Sure. I have several ideas for nodes that could be used for building them.

[2017-11-17 21:14] tobyplowy commented on #162
Can we randomise the floors so all towers are unique

If so I want to built some but I will need a template

[2017-11-17 21:16] tobyplowy commented on #162
So we add frog poeple in the swamps

[2017-11-17 21:17] D00Med commented on #165
Things NPC's should do:

Things that would be nice for them to do:

[2017-11-17 21:18] D00Med commented on #162
@tobyplowy Yeah that'd be good.
I should make a drawing of what I have in mind

[2017-11-17 21:19] tobyplowy commented on #162
@D00Med yup go ahead :)

[2017-11-17 21:19] MarkuBu commented on #162
Make the tower completely random takes a long time to generate. Would be easier and faster if we build a lot of room segments and save them as schematics, similar to the woodland mansion.

[2017-11-17 21:21] tobyplowy commented on #162
@MarkuBu That's what I meant with floors (floors = segments)

So it's a good idea?

[2017-11-17 21:27] MarkuBu commented on #162
Ah, ok. I thought you want to draw them completely random like the dungeons in MT

[2017-11-17 21:34] D00Med commented on #162
![ideas](https://user-images.githubusercontent.com/19916704/32969923-9faac42c-cc32-11e7-8396-2f1cfc97bd04.png)
It's not much, but here's my ideas so far.
I think towers should have un-craftable machines in them, or machine parts, to make them worth finding.
Also I think each floor should be separated by rooves or platforms, or be of a different size to those above and below. That way they will loo

[2017-11-17 21:47] tobyplowy commented on #162
No no that wuld look so bad and strange XD

Can you please give me a room temple

[2017-11-17 21:48] tobyplowy commented on #162
I mean room template

[2017-11-17 21:50] D00Med commented on #162
What do you mean?

[2017-11-18 10:10] MarkuBu opened #166 "Use different node for the rocks"
currently rocks use default:stone, which means that it can be replaced by ores. That can be confusing.

I suggest to replace default:stone with e.g. granite.

I will also make a lua table for the rocks. This gives the ability to add rocks with new stone types without adding more an more schematics and with the random function we have more variations

[2017-11-18 11:01] D00Med commented on #166
I thought that was a cool accident :/

[2017-11-18 11:41] MarkuBu commented on #166
It confuses me when a rock consists of two type of stone or contains coal or iron and it is inconsistent if normal rocks can have such variations and desert rocks can't

[2017-11-18 13:53] MarkuBu commented on #166
just to show you what I mean. I'm experimenting with some other ore types. This ore will replace each rock with the ore. I use meselamp for debugging

![screenshot_20171118_145029](https://user-images.githubusercontent.com/16163058/32980953-f1b296cc-cc6f-11e7-8fe8-2dc31b2ff7d7.png)

[2017-11-18 14:55] tobyplowy commented on #166
@MarkuBu maybe we can use the tileble textures for the rocks?

[2017-11-18 15:48] MarkuBu commented on #166
I don't know how they are working

[2017-11-18 16:01] tobyplowy commented on #166
@MarkuBu Can you find out?

[2017-11-18 16:58] MarkuBu commented on #166
I want to focus on the projects I'm working on

[2017-11-18 17:33] tobyplowy commented on #166
@MarkuBu Alright

[2017-11-18 20:13] D00Med commented on #166
@MarkuBu isn't it more realistic if the rocks match the stone in the area?

[2017-11-18 21:01] MarkuBu commented on #166
Maybe, but then we should make a node with the same texture as stone and that drops default:stone when digged

[2017-11-18 21:08] D00Med commented on #166
That's not what I meant. Like if you look at the loose rocks in a place, they often match the stone in the ground. Although they do move around quite a bit...

[2017-11-18 21:08] D00Med commented on #166
So if you keep the ores it's kind of more realistic

[2017-11-18 21:46] NewbProgrammer101 commented on #165
@hkzorman 's advanced_npc mod does pretty much all of these things.

[2017-11-19 07:22] gorkoda1 commented on #121
@Reedych this is my debug.txt
`2017-11-19 11:19:53: [Main]: [playereffects] last_effect_id = 0
2017-11-19 11:19:53: ACTION[Main]: [playereffects] Effect type potion_speed_lv1 registered!
2017-11-19 11:19:53: ACTION[Main]: [playereffects] Effect type potion_speed_lv2 registered!
2017-11-19 11:19:53: ACTION[Main]: [playereffects] Effect type potion_jump_lvx registered!
2017-11-19 11:19:53: ACTION[Ma

[2017-11-19 14:02] Reedych commented on #121
Yeah

[2017-11-20 13:03] gorkoda1 commented on #121
[It isn't](https://ideone.com/BDJwy3)

[2017-11-21 08:33] MarkuBu commented on #165
Well, First of all, NPC's shouldn't spawn on time based events, cause they will "flood" the map. Spawners should only be used for hostile mobs e.g. in dungeons

@toby, can you make different textures for NPC's for different jobs and maybe male/female?

And is it possible to detach the head from the keyframe animation and rotate the head from a script with bone animation? I know that it is possible

[2017-11-21 10:39] MarkuBu commented on #164
A lot of sounds are from http://www.orangefreesounds.com

e.g. a frog for the swamp http://www.orangefreesounds.com/frog-sound/

[2017-11-21 13:07] tobyplowy commented on #165
I agree

Yup can do

Is this the thing you have to do to rotate the head so it looks at the player if so that would be awesome to have

[2017-11-21 14:35] MarkuBu commented on #166
This is what I mean. The rock on the right has dirt and limestone, the rock on the right has coal. I never saw a rock that is made of two or more materials. And I never saw so many coal above the ground.

I didn't say that we shouldn't have different types of rocks. What I mean was, that we should prevent that rocks can have different materials or even ores.

![screenshot_20171121_153018](https://

[2017-11-21 14:35] MarkuBu commented on #166
Accidentally closed

[2017-11-21 15:32] tobyplowy commented on #166
@MarkuBu I thought you were talking about the cliff side :/

But I agree with you it looks a bit bad

[2017-11-21 15:33] tobyplowy commented on #166
this was confusing me XD

![32980953-f1b296cc-cc6f-11e7-8fe8-2dc31b2ff7d7](https://user-images.githubusercontent.com/16853304/33081102-b6477136-ced9-11e7-898e-5eaf4040d677.png)

[2017-11-21 16:36] NewbProgrammer101 opened #167 "List of all wood types?"
I am adding a ton more wooden nodes and I would like to know the list of all current wood types. i.e. default wood, bamboo wood, etc.

I need to know this so I won't exclude any wooden types.

[2017-11-21 21:18] D00Med commented on #165
I agree also, should the "spawners" instead spawn an NPC when they are right-clicked?

It's possible I think, but I don't know how.

[2017-11-21 21:47] MarkuBu commented on #165
Why a spawner at all? Spawn one villager per building. If you need more villager, build a house and breed a new one or find a second villager

[2017-11-21 22:18] D00Med commented on #165
@MarkuBu The main purpose of the spawners is to allow players to populate villages.
By having it work as it did, there was more randomness to the population of villages, but I'll admit it didn't work very well at all.  Have you ever tried getting a mob to go where you want?  breeding NPC's (apart from being a little creepy, breeding them and kidnapping the kids xD), will make it awkward to get the

[2017-11-21 22:32] MarkuBu commented on #165
But "spawn" as many villagers as you want for free is totally overpowered and doesn't add any progress to the game.

[2017-11-21 22:39] D00Med commented on #165
Again, this is something that could be avoided with automatic spawning, if not for the fact that it doesn't stop. I don't see it as a major problem anyway, the npc's are still not particularly useful unless they have houses. Maybe players should be able to obtain a tool that spawns a limited number of npc's before it wears out? or maybe spawners, once placed by a player, are unbreakeable until aft

[2017-11-21 23:08] NewbProgrammer101 commented on #165
Maybe define the parameters of the spawners by the amount of village plots placed. This is easy to do.

[2017-11-21 23:30] D00Med commented on #165
That doesn't sound easy.
Remember the spawners are mostly for use with player-built villages and towns, not really for the villages placed by the mapgen

[2017-11-22 04:33] NewbProgrammer101 commented on #163
Maybe a steampunk style floatlands.

[2017-11-22 06:17] NewbProgrammer101 commented on #143
That has to do with the mobs_redo API. I don't know how to fix it. Ask @tenplus1

[2017-11-22 07:13] MarkuBu commented on #143
I could fix that, but I don't have time. This issue is more a reminder for me

[2017-11-22 09:05] kingoscargames commented on #144
This was really easy to fix actually. :)
https://github.com/D00Med/farlands/pull/168

[2017-11-22 09:13] MarkuBu commented on #144
Can you please make a screenshot how it looks like now?

[2017-11-22 09:16] kingoscargames commented on #144
Do you mean after i fixed it?

[2017-11-22 09:32] MarkuBu commented on #144
Yes

[2017-11-22 09:49] kingoscargames commented on #144
![screenshot_20171122_101500](https://user-images.githubusercontent.com/29333817/33120569-c118e5c4-cf72-11e7-8ee2-ff61cc6ff241.png)

[2017-11-22 16:38] NewbProgrammer101 commented on #162
The bigger the schematic, the longer computation time it takes.
The more schematics there are, the longer computation time it takes.

Try to make generated schematics simple. Leave all the complicated stuff to the player.

My 2 cents.

[2017-11-22 16:54] MarkuBu commented on #162
Oh come on, in a dens jungle forest hundreds and maybe thousands of schematics are placed. That is much more than such a tower, and it still works.

Why is everybody so concerned about performance? Do most players have only PCs from 1999?

[2017-11-22 17:05] tobyplowy commented on #162
Hahahah probably yes,

Well I Don't Care About Performance alot but the game should not change into a slide show (aka 3 fps)
But generating a tower probably won't lag the game alot
So my conclusion Performance should be considered but it should not limit creativity
Also it should not be top priority!

[2017-11-22 17:14] MarkuBu commented on #162
I have more concerns about the height. We can't make the tower as high as we want, because the chunk size is the limit. The chunk size normally is 80 nodes and the lower edge of the chunk starts at -32, so the top of a chunk is at 48 plus a shelf of 16 nodes.

So if the ground height is at +20 we can only build 44 nodes high, if at all. If we want to build higher we really have to do some magic, I

[2017-11-22 21:16] tobyplowy commented on #162
open an issue in minetest engine
Boom magic XD

But seriously now can you make an issue for it?

[2017-11-22 21:44] MarkuBu commented on #162
That's not really an issue. That's how Minetest works. Minecraft doesn't has this problem because the world is only 256 blocks high and each chunk uses the full hight.

[2017-11-23 10:06] MarkuBu opened #169 "mobs are often black"
As you can see on the screenshots mobs are often black. I'm not sure why this happens

It rarely happens overground, but underground it is very common

I think it has something to do with the origin of the model and/or the collision box

![screenshot_20171123_105935](https://user-images.githubusercontent.com/16163058/33167369-a073eafa-d03d-11e7-96d3-21cdff7354cd.png)
![screenshot_20171123_110051](

[2017-11-23 10:41] gorkoda1 commented on #121
oops. i just realized that this has already fixed in the 1.1 branch.

[2017-11-25 14:29] Amaz1 commented on #163
I don't know if you're at all interested, but I coded this floatland portal spawner a while ago, which might be useful: https://gist.github.com/Amaz1/a8543ad6f13ee417efe98df4dbb4ac37

I'm probably not going to be using it for much in the near future, so I would be very happy if it did help! I have got a little bit more code which adds some basic effects to the floatlands, if you'd be interested in

[2017-11-25 15:42] MarkuBu opened #170 "A little git guideline"
This issue should help you develop with git. I will use commandline commands. If you use a GUI you shoud execute the corresponding function.

The most important rules:
1. Don't touch the master branch
2. Create a branch for each subproject. For example: If you want to add item frames, create the branch "add_itemframes", if you want to add new biomes create the branch "new_biomes"
3. Don't edit fil

[2017-11-25 20:40] D00Med commented on #170
Thankyou for this!

[2017-11-25 22:27] NewbProgrammer101 commented on #170
All I do after I finish editing, I type:

`git add -A
git commit
git push`

inside the root directory of my fork of the non-master branch.

[2017-11-25 22:28] NewbProgrammer101 commented on #167
Eh.

[2017-11-25 22:43] tobyplowy commented on #167
@NewbProgrammer101 sorry I didn't see this We have
normal wood
jungle wood
Aspen wood
pine wood
Acacia wood
palm wood
Bamboo wood
Baobab wood
Yellow ipe wood

That shuld be it

[2017-11-25 23:09] MarkuBu commented on #170
Yeah, but please add a message to each commit

[2017-11-26 00:31] NewbProgrammer101 commented on #170
I'll do that.

[2017-12-04 01:03] NewbProgrammer101 opened #177 "Chests in generated villages"
The chests in randomly generated villages are non-functional.

The same goes with workbenches and furnaces.

[2017-12-04 01:09] NewbProgrammer101 opened #178 "decoblocks:altar needs fixing"
You can easily walk through the node.

[2017-12-04 06:27] MarkuBu commented on #177
Duplicate #137

[2017-12-04 06:27] #177 closed

[2017-12-11 10:21] kingoscargames opened #180 ""Coarse Dirt" instantly breaks."

[2018-01-26 15:48] maikerumine opened #182 "change texture name for Ice and Bamboo chest"
Swap chest_bamboo for bamboo_chest and the same for ice chest.

[2018-01-26 15:51] maikerumine commented on #119
I ended up fixing this by adding the heart texture back to default in my local copy.

[2018-01-26 15:52] maikerumine commented on #169
this can be fixed by messing with the collision box or object location.

[2018-02-01 13:34] tacotexmex opened #183 "Building placements"
There's several issues with the current mechanism for placing buildings and other large structures. Apart from #137 FL lacks a good mechanism for finding good flat spots for buildings to be placed at, resulting in floating platform with very little contact with the ground.

I think bell07's [schemlib](https://github.com/bell07/minetest-schemlib) solves #137 and that it also provides a fairly robus

[2018-02-01 13:38] tacotexmex commented on #95
Have a look at [my idea of how dreams could work](https://forum.minetest.net/viewtopic.php?f=47&t=2434&p=252805&hilit=dreams#p252805).

[2018-02-07 06:38] D00Med commented on #183
Thankyou for this, I'll have a look at these.

[2018-02-07 07:04] #182 closed

[2018-02-07 07:05] D00Med commented on #182
@maikerumine Thanks

[2018-02-07 07:07] #180 closed

[2018-02-07 07:07] D00Med commented on #180
@kingoscargames Thanks for pointing this out

[2018-02-07 07:10] #178 closed

[2018-02-07 07:11] D00Med commented on #178
Thanks :)

[2018-02-07 07:12] D00Med commented on #169
@maikerumine Sometimes this doesn't work, and I'm not sure why.

[2018-02-07 07:13] D00Med commented on #167
Does this still need to be open? @NewbProgrammer101

[2018-02-07 07:22] #141 closed

[2018-02-07 07:23] D00Med commented on #141
Fixed this

[2018-02-07 07:26] #131 closed

[2018-02-07 07:31] #134 closed

[2018-02-07 07:31] D00Med opened #184 "Flowers plus flowers have bad hitboxes"
Some of them need to be thinner or flatter.

[2018-02-07 07:31] D00Med commented on #134
see #184

[2018-03-06 14:33] flamergamer1234 commented on #77
Most commented on issue by actual people and not malfunctioning bots on GitHub!

[2018-06-01 01:31] Noodlemire opened #185 "Nil value from NPC randomly caused crash. Now the game won't load without this same error appearing within a second."
A shame for this world too, luck with food has been pretty poor up until I spawned in this world.
![image](https://user-images.githubusercontent.com/27640623/40816157-e5a95b42-6510-11e8-957f-35730ebcc050.png)

[2018-06-01 01:39] Noodlemire commented on #185
It looks like the hunger hud also broke from this. The init file is just flat-out gone.
![hudhungerbroken](https://user-images.githubusercontent.com/27640623/40816402-6059eafe-6512-11e8-9da5-5328151e32db.png)

[2018-06-01 07:11] D00Med commented on #185
I've attempted to fix it (haven't tested it yet). I didn't realise it was calling a local function from mobs_redo.
Also I do not see how hunger/hud could be broken (or deleted??)

[2018-06-01 23:28] Noodlemire commented on #185
Tried your fix, now it's calling "sin" a nil value. Also, the mod definitely isn't deleted since it still exists in my files, and hasn't been changed compared to the source code. Actually, now that I look at it some more, it seems unrelated to the hunger bar's disappearance, which happens whenever this crash does (both the nil set_velocity and the nil sin crashes), but comes back after reloading M

[2018-06-02 03:27] D00Med commented on #185
Ok, I will have to test it thoroughly.

[2018-06-04 16:10] tobyplowy commented on #108
@MarkuBu hey are you still around if so please contact me on discord I need to tell you some important stuff

[2018-06-18 16:45] Xaleth opened #186 "Add farlands as a package for Gentoo"
I've taken up the duty as a maintainer for farlands in the official Portage tree for Gentoo Linux.

https://bugs.gentoo.org/640418

[2018-06-18 22:50] D00Med commented on #186
Ok then. what's it for?

[2018-06-18 23:47] Xaleth commented on #186
An increase of popularity for this subgame as it will be in a Linux package manager's repository.

[2018-06-18 23:50] D00Med commented on #186
Oh ok. Well thankyou

[2018-06-19 10:24] tobyplowy commented on #186
I rather have that not happen
I'm trying to get my association with minetest to be gone
And seeing as my name is plasterd all over all the art in this subgame
I don't whant farlands to get more popular

[2018-06-19 10:50] Xaleth commented on #186
So you don't want to be any more famous to Minetesters?

Well, @D00Med (the original owner/founder), on the other hand, seems happy about it. Let *him* be more famous to Minetesters.

Toby, if you don't want to be any more famous, then just simply don't respond to people who just found out about you, they'll start to leave you alone.

[2018-06-19 10:59] D00Med commented on #186
@NewbProgrammer101 Toby and I started this together, he gets as much of a say in it as I do

[2018-06-19 11:23] Xaleth commented on #186
I know.

[2018-06-19 12:33] tobyplowy commented on #186
1 I don't care about being famous
And 2 I wold prefer if my name was not associated with minetest
For reasons I have already explained a 100 times

My work I did for mt related things is still openSource And I'm not going to remove farlands (even though I would prefer to do so) but I don't really whant farlands to become more famus as I whant it to slowly be silenced And put to sleep for it's big

[2018-06-19 12:47] tobyplowy commented on #186
I rather not no, there is no one there that I would whant to impress
And the people that I would like to impress just leave after 5 Days of using minetest
Look at scare for example I'm sure he would not have been around minetest for very long Because of obvious reasons (bdw scare if you read this you are the best!)

That would not be very nice
Also it Would Be More beneficial if i would respond
(E

[2018-06-19 21:56] D00Med commented on #186
@tobyplowy Well Farlands only really has a future with the new engine.
I'd like to work on that with you someday yes.