[2017-08-26 23:50] tobyplowy commented on #108
@D00Med brainstorming is fun
![giphy](https://user-images.githubusercontent.com/16853304/29745958-ec1105a6-8ac9-11e7-9c7e-fe2884b38033.gif)

[2017-08-26 23:50] tobyplowy commented on #108
@D00Med Also ok you have a point

[2017-08-26 23:50] tobyplowy commented on #108
@D00Med but we need to keep the dodo for v2

[2017-08-26 23:53] D00Med commented on #108
@tobyplowy Oh ok

[2017-08-26 23:56] tobyplowy commented on #108
@D00Med well maybe you can add it but try to add some more V1 stuff aswell

[2017-08-27 00:01] D00Med commented on #108
@tobyplowy I probably won't, the other stuff is more important

[2017-08-27 00:10] tobyplowy commented on #108
@D00Med ok :)

[2017-08-27 00:11] tobyplowy commented on #108
@D00Med we can call V2 prehistoric madness

And v1 the begging

[2017-08-27 00:27] tobyplowy commented on #108
@D00Med I'm going now have a good day :)

[2017-08-27 01:30] D00Med commented on #108
@tobyplowy Ok :)
Goodnight.
Sorry about the late reply btw

[2017-08-27 20:44] D00Med commented on #108
@tobyplowy Hello

[2017-08-27 20:45] tobyplowy commented on #108
@D00Med hallo :)

[2017-08-27 20:47] tobyplowy commented on #108
@D00Med I'm making more handpaited textures :)

[2017-08-27 20:50] D00Med commented on #108
@tobyplowy Nice

[2017-08-27 20:55] tobyplowy commented on #108
@D00Med lol

[2017-08-27 20:55] tobyplowy commented on #108
@D00Med I'm making a bush :)

[2017-08-27 20:55] D00Med commented on #108
@tobyplowy Ok.
Sorry I'm not very talkative lately.

[2017-08-27 20:57] tobyplowy commented on #108
@D00Med yeh i have noticed that XD but it's not a problem

[2017-08-27 22:14] tobyplowy commented on #108
@D00Med random comment XD

[2017-08-27 22:17] D00Med commented on #108
@tobyplowy xD

[2017-08-27 22:18] D00Med commented on #108
@tobyplowy I had an interesting idea. I wonder if it would be possible to make a rail-like node that could be used as edges for a beach

[2017-08-27 22:54] tobyplowy commented on #108
@D00Med rail like node for beach?

[2017-08-27 22:56] D00Med commented on #108
@tobyplowy Yeah, for where the water meets the sand

[2017-08-27 23:11] tobyplowy commented on #108
@D00Med Oh to get a sort of waves on the shore effect yes?

[2017-08-27 23:14] D00Med commented on #108
@tobyplowy Yeah

[2017-08-27 23:18] tobyplowy commented on #108
@D00Med Yeh that's a interesting idea and if it works it can be added to farlands but we will need a new water animation something that doesn't go in one derection

[2017-08-27 23:26] D00Med commented on #108
@tobyplowy Yeah

[2017-08-28 00:13] tobyplowy commented on #108
![naamloos](https://user-images.githubusercontent.com/16853304/29755305-6f3b5c84-8b96-11e7-971c-66ad11767ff6.png)

[2017-08-28 00:26] tobyplowy commented on #108
@D00Med I'm going now see you tomorrow

[2017-08-28 00:36] D00Med commented on #108
@tobyplowy That's looking so good!
Ok, bye

[2017-08-28 21:22] tobyplowy commented on #108
@D00Med Hi Also thanks

[2017-08-28 21:34] D00Med commented on #108
@tobyplowy Hello

[2017-08-28 21:36] tobyplowy commented on #108
@D00Med is today a farlands day?

[2017-08-28 21:46] D00Med commented on #108
@tobyplowy I still have to study, but I will work on it this evening.
Last night I made some progress

[2017-08-28 21:48] tobyplowy commented on #108
@D00Med ok

[2017-08-28 21:59] tobyplowy commented on #108
@D00Med I'm going to make some more textures for farlands

Also what have you made yesterday?

[2017-08-28 22:02] D00Med commented on #108
@tobyplowy Ok, nice. I fixed the cactus fruit and made straw rotate.
And I tried to improve the villages.

There's something funny happening with the villages, but I can't figure out what.
Currently when the villages are generated, 12 positions are created around a grass node. Then for each position, a function checks for the ground. It keeps failing to find a position and that's what's causing pr

[2017-08-28 22:02] D00Med commented on #108
![screenshot_20170828_163019](https://user-images.githubusercontent.com/19916704/29795632-62c0906e-8c90-11e7-97b3-0bdec90c39ad.png)
There's this strange kind of rail xD

[2017-08-28 22:05] tobyplowy commented on #108
@D00Med best rails ever XD

[2017-08-28 22:06] tobyplowy commented on #108
@D00Med the farm structure (the one with the corn) should have fresh corn and not rotten corn :)

[2017-08-28 22:20] D00Med commented on #108
@tobyplowy Yeah I need to fix that

[2017-08-28 22:21] tobyplowy commented on #108
@D00Med I already have added it to the todo :)

[2017-08-28 22:40] tobyplowy commented on #108
@D00Med I hate animation XD

I'm trying to make a new water animation

[2017-08-28 22:40] D00Med commented on #108
@tobyplowy Yeah it's painful :'D

[2017-08-28 23:08] tobyplowy commented on #108
![water](https://user-images.githubusercontent.com/16853304/29797307-a0632f2e-8c56-11e7-9b44-23580f1b417a.png)

[2017-08-28 23:09] tobyplowy commented on #108
@D00Med it is just one frame for now but im still working on it

[2017-08-28 23:10] D00Med commented on #108
@tobyplowy Ok, good luck

[2017-08-28 23:10] D00Med commented on #108
I think gimp can automatically do a wobble animation

[2017-08-28 23:29] tobyplowy commented on #108
@D00Med Thanks for the tip :)

I made something it's not perfect but it's an improvement

[2017-08-28 23:30] D00Med commented on #108
@tobyplowy Ok, that's good

[2017-08-28 23:36] tobyplowy commented on #108
@D00Med Have a look I just made commit

[2017-08-28 23:39] D00Med commented on #108
@tobyplowy Ok

[2017-08-28 23:43] D00Med commented on #108
@tobyplowy Did you delete the original waterlily texture?

[2017-08-28 23:48] tobyplowy commented on #108
@D00Med Yes I added a new inventory texture in the mapgen mod one works but the other doesent

[2017-08-28 23:49] D00Med commented on #108
@tobyplowy Ok

[2017-08-28 23:52] tobyplowy commented on #108
@D00Med Lol the whale atacks if you hurt it

It's a killer whale XD

[2017-08-28 23:57] tobyplowy commented on #108
@D00Med waw that is inpressive
![image](https://user-images.githubusercontent.com/16853304/29798464-5849fcf2-8c5d-11e7-85f3-4ef1fa3e0266.png)

[2017-08-29 00:03] D00Med commented on #108
@tobyplowy Yeah that looks great

[2017-08-29 00:04] tobyplowy commented on #108
@D00Med the power of farlands :)

[2017-08-29 00:05] tobyplowy commented on #108
@D00Med I'm done working for today but I'm still here to talk :)

[2017-08-29 00:05] D00Med commented on #108
@tobyplowy Ok. Any ideas on how I could fix the villages?

[2017-08-29 00:06] tobyplowy commented on #108
@D00Med no sorry :/

[2017-08-29 00:07] tobyplowy commented on #108
@D00Med maybe ask some poeple on the forums?

Paramat may know

[2017-08-29 00:08] tobyplowy commented on #108
@D00Med I also added more stuff to the to-do (those are the last fixes for v1)

[2017-08-29 00:33] tobyplowy commented on #108
@D00Med I'm going now see you tomorrow have a good day

[2017-08-29 00:34] tobyplowy commented on #108
@D00Med also if you have made any progress please make a commit :)

[2017-08-29 00:45] D00Med commented on #108
@tobyplowy Ok, goodnight :)
Yep I will

[2017-08-29 21:20] tobyplowy commented on #108
@D00Med Hi

[2017-08-29 21:33] D00Med commented on #108
@tobyplowy Hello

[2017-08-29 21:36] tobyplowy commented on #108
@D00Med how are you doing

[2017-08-29 21:38] D00Med commented on #108
@tobyplowy Freezing, it's cold here. How are you?

[2017-08-29 21:39] tobyplowy commented on #108
@D00Med I'm ok I wish it was cold out here I'm melting :(

[2017-08-29 21:43] tobyplowy commented on #108
@D00Med so let's talk about the future of farlands

[2017-08-29 21:44] D00Med commented on #108
@tobyplowy Ok

[2017-08-29 21:46] tobyplowy commented on #108
@D00Med go ahead :)

[2017-08-29 21:47] D00Med commented on #108
@tobyplowy Well, what would be the most important aspect to work on for V2?

[2017-08-29 21:47] D00Med commented on #108
@tobyplowy Also should we update a separate branch whilst we add new things beyond V1, or the main branch?

[2017-08-29 21:48] tobyplowy commented on #108
@D00Med I think the prehistoric and extinct creatures

And maybe someting extra

[2017-08-29 21:50] tobyplowy commented on #108
@D00Med A separate branch maybe better so no one gets unfinished content by accident

[2017-08-29 21:50] D00Med commented on #108
@tobyplowy Ok. I think improving the villagers would be important too.
Yep, makes sense

[2017-08-29 21:53] tobyplowy commented on #108
Maybe we can also add difrent types of vilages depending on the biome

Like Savannah can have huts
And I have to think of more examples :)

[2017-08-29 21:55] D00Med commented on #108
@tobyplowy Yeah, like that one you made in the test world.
Yeah. I was thinking that villagers could adopt a vocation based on what objects are in their home

[2017-08-29 22:00] tobyplowy commented on #108
@D00Med im not sure what vocation means

but if it means it will look for certain types of objects and change the NPCs to look and feel difrent than that would be cool

I'm happy that you had a look around on my test world :)
I think you are referring to the normal houses to test the npc deeds
But the mushroom house I made was also nice just saying XD

[2017-08-29 22:02] tobyplowy commented on #108
@D00Med Underground mushroom biome with mushroom villages and mushroom houses that have gnomes inside
And mushroom poeple and in case I haven't said it enough mushroom mushroom mushroom and mushroom XD

[2017-08-29 22:05] D00Med commented on #108
@tobyplowy Oh, just a fancy way to say job :P
Yeah, so for example, the npc living in the house with the anvil would become a blacksmith.
It was interesting xD
Yeah it is nice.

[2017-08-29 22:09] tobyplowy commented on #108
@D00Med Oh I see yeh a job system would be nice

this can also change there trades and appearance yes?

[2017-08-29 22:10] D00Med commented on #108
@tobyplowy Yes

[2017-08-29 22:10] tobyplowy commented on #108
@D00Med yay

[2017-08-29 22:12] D00Med commented on #108
@tobyplowy I forgot to say, the water animation is a good start.
It just needs to tile better

[2017-08-29 22:16] tobyplowy commented on #108
@D00Med so how will we do the Dinos?
I know we have already discussed this but it's good to revisit those types of things

I think the best way would be to have a new fernace type block that can extract DNA from the Fossil ore blocks (these will need to be added to mapgen) and another to transform the DNA in to a actual dino

[2017-08-29 22:19] tobyplowy commented on #108
@D00Med yeh the water animation I made is meh but I can't do better perhaps you can?
(I'm really bad at animation)

I just want the static water to be static the first texture to you made was actually flowing in One Direction and it was quite annoying It felt Like all Water was going in One Direction so that's why it should be static but it should still move

The waterfall texture is good

[2017-08-29 22:22] D00Med commented on #108
@tobyplowy That's a good idea, it might be a bit complex though, as in complex for the steampunk theme.
Something like an armour stand where you can put bones on would be cool. And then machines could be used on that to make it into a mob.
Ok, I will try.
Yeah it is annoying :'D
Yep.

[2017-08-29 22:25] tobyplowy commented on #108
That's a cool idea but how will you do the stand?

If you are making a dodo it's odd to have a trex stand and the other way around :)

[2017-08-29 22:26] tobyplowy commented on #108
@D00Med maybe a crafting table that can craft difrent stands?

Also how about we call them Fossil stands?

[2017-08-29 22:36] tobyplowy commented on #108
@D00Med refresh XD

You need to turn on email notifications it helps :)

[2017-08-29 22:38] D00Med commented on #108
@tobyplowy Idk :'D borrow some code from the armour stand I guess.
Maybe the models for the skeletons should include the stand. So the base is roughly the same each time, and the support parts needed get added.

[2017-08-29 22:39] D00Med commented on #108
@tobyplowy That's a good idea.
Oh the power went out

[2017-08-29 22:41] tobyplowy commented on #108
@D00Med It's so cold the power went out XD

[2017-08-29 22:44] tobyplowy commented on #108
Maybe a copple baces can be added big small and medium and you can add a skeleton build blueprint item in that bace by right clicking it and that can be used to make the skeleton

[2017-08-29 22:45] tobyplowy commented on #108
@D00Med the bace will be a block and the skeleton will be a entety

[2017-08-29 22:47] D00Med commented on #108
@tobyplowy xD Not that cold.
Yep, that sounds good

[2017-08-29 22:49] tobyplowy commented on #108
There's only one problem how do we get dino eggs?

Also Any other stuff you what to discuss

[2017-08-29 22:53] D00Med commented on #108
@tobyplowy They could be fossilised too.
Hmm not really, idk.

[2017-08-29 22:55] tobyplowy commented on #108
@D00Med I still think the DNA extractor would be best to make them come alive (we can make it look steampunky)

[2017-08-29 22:56] D00Med commented on #108
@tobyplowy Ok.

[2017-08-29 22:57] D00Med commented on #108
![](http://2.bp.blogspot.com/_cMdbfkl3Rz4/SL4-f5OSs6I/AAAAAAAADBs/ZyinaOvtjF8/s800/cgivats.jpg)
What about big glowing jars to grow them in?

[2017-08-29 22:58] tobyplowy commented on #108
@D00Med well after V1 is released we should make a good clear Todo list

[2017-08-29 23:00] tobyplowy commented on #108
I like that idea

Also that reminds me of those stupid dino toys you put in water and they grow I hate that junk I used to love them whin I was a kid XD

[2017-08-29 23:04] D00Med commented on #108
@tobyplowy Haha yeah I was thinking of that too

[2017-08-29 23:09] tobyplowy commented on #108
@D00Med start sad music,
I used to have one that was huge it was a trex (at the end it was everything but that) and it was so big it was completely bloated it looked more like a blobfish and than it cracked open and that sucked becouse it took me around 3 months to grow it like if you cry every time XD

[2017-08-29 23:11] tobyplowy commented on #108
@D00Med I called him lerry bdw
ᵀʰᵃᵗ'ˢ ᵃ ʲᵒᵏᵉ

[2017-08-29 23:13] D00Med commented on #108
ᵀʰᵃᵗ'ˢ ᵃ ʲᵒᵏᵉ

I don geddit

[2017-08-29 23:17] tobyplowy commented on #108
@D00Med it's a joke to make it sound even more sad (but I don't want you to think I was for real so so that's why I said it was a joke)

[2017-08-29 23:20] D00Med commented on #108
@tobyplowy Oh haha

[2017-08-29 23:22] tobyplowy commented on #108
@D00Med well It's that Time Of Day again I don't know what to say Anymore :/

[2017-08-29 23:24] D00Med commented on #108
@tobyplowy Hows' that thing you're making in unreal engine going?

[2017-08-29 23:25] tobyplowy commented on #108
@D00Med No progress Sims last Time you saw That screenshot

Why interested?
And if so why?

[2017-08-29 23:26] D00Med commented on #108
@tobyplowy Ok.
It's just interesting to see your progress.

[2017-08-29 23:37] tobyplowy commented on #108
@D00Med Well I will make a hub map soon that will allow me to easely set up biomes

Why are you interested in that project (I need this for feedback)

[2017-08-29 23:41] D00Med commented on #108
@tobyplowy Ok.
Because I want to see where you are going with it

[2017-08-29 23:43] tobyplowy commented on #108
Ok

[2017-08-30 00:04] tobyplowy commented on #108
@D00Med what will the next thing be you will do from the to-do list?

[2017-08-30 00:21] tobyplowy commented on #108
@D00Med ok good :)

[2017-08-30 00:21] tobyplowy commented on #108
@D00Med well I have to go now

[2017-08-30 00:42] D00Med commented on #108
@tobyplowy Ok, bye

[2017-08-30 00:43] D00Med commented on #108
@tobyplowy Will you be free tomorrow evening? I might have time to voice chat

[2017-08-30 00:47] tobyplowy commented on #108
@D00Med evening is that morning in 6 hours from now if so no but I will be there at the usual time like almost everyday :) I I

[2017-08-30 00:54] D00Med commented on #108
@tobyplowy I meant the usual time :)

[2017-08-30 00:55] D00Med commented on #108
@tobyplowy I can't promise I'll be able to talk though, my family is having a guest staying so idk

[2017-08-30 21:10] tobyplowy commented on #108
@D00Med Hi

[2017-08-30 21:16] D00Med commented on #108
@tobyplowy Hello

[2017-08-30 21:19] tobyplowy commented on #108
Voice chat?

[2017-08-30 21:19] D00Med commented on #108
@tobyplowy Give me a bit

[2017-08-30 21:20] tobyplowy commented on #108
Ok

[2017-08-30 21:23] tobyplowy commented on #108
@D00Med So how are you today?

[2017-08-30 21:24] D00Med commented on #108
@tobyplowy I'm good thanks, how are you?

[2017-08-30 21:25] tobyplowy commented on #108
@D00Med I'm good I just made a farlands let's play (it's bad)

[2017-08-30 21:29] tobyplowy commented on #108
@D00Med I found my first village :)

[2017-08-30 21:31] D00Med commented on #108
Okay, I'm ready. Just so you know there will probably be a lot of "family noises" xD

https://hangouts.google.com/call/oep7isyrt5bupbbwvub7xy3tmeu

[2017-08-30 21:32] D00Med commented on #108
@tobyplowy Oh nice :D Can I see?
Also that's good

[2017-08-30 21:33] tobyplowy commented on #108
@D00Med  I will upload it in a minute

[2017-08-30 21:38] tobyplowy commented on #108
[zombo.zip](https://github.com/D00Med/farlands/files/1265163/zombo.zip)

[2017-08-30 21:39] tobyplowy commented on #108
http://imgur.com/17A8wBe

[2017-08-30 22:11] tobyplowy commented on #108
![portal room](https://user-images.githubusercontent.com/16853304/29897373-e66e2e52-8de0-11e7-9260-01d6d365e301.png)

[2017-08-30 23:09] tobyplowy commented on #108
![ggg](https://user-images.githubusercontent.com/16853304/29898983-0501ab98-8de9-11e7-995f-f5ca3eef1506.png)

[2017-08-30 23:27] D00Med commented on #108
@tobyplowy Sorry about that, I don't know what happenned

[2017-08-30 23:40] D00Med commented on #108
![29197055-f20aee2e-7e38-11e7-800d-f4d1367e9b18](https://user-images.githubusercontent.com/19916704/29899695-4d2a7656-8e30-11e7-8ded-7b441e0cb646.png)
I made a template for the village book using that model you sent

[2017-08-30 23:45] tobyplowy commented on #108
I'm back

[2017-08-31 00:58] D00Med commented on #108
![screenshot_20170831_105819](https://user-images.githubusercontent.com/19916704/29901446-58bd952e-8e3b-11e7-9d69-4d0afa0141a3.png)

[2017-08-31 01:02] tobyplowy commented on #108
@D00Med wow that looks cool :)

[2017-08-31 01:23] D00Med commented on #108
@tobyplowy yeah, worldedit is useful xD

[2017-08-31 15:47] tobyplowy commented on #108
U N L I M I T E D   P O W E R!!!!!!!
https://youtu.be/PDAb2tQOrDY

[2017-08-31 18:13] DS-Minetest commented on #108
You mean unlimited range.
Hm, I don't understand, why this happens. [This](https://github.com/D00Med/farlands/blob/fedaab851c274ab662593c77e8c14f17dcd94611/mods/clawshot/init.lua#L113,L115) should limit it. Maybe it would help reducing the [timeou](https://github.com/D00Med/farlands/blob/fedaab851c274ab662593c77e8c14f17dcd94611/mods/clawshot/init.lua#L137)[t times](https://github.com/D00Med/farlan

[2017-08-31 18:25] tobyplowy commented on #108
@DS-Minetest it only happens when you hit a mob

No this is farlands and not minetest game we don't half ass stuff and say it's a pro feature :)

[2017-08-31 18:33] DS-Minetest commented on #108
Ok, I'll look if I can find a fix.

[2017-08-31 19:17] DS-Minetest commented on #108
#114

[2017-08-31 19:19] DS-Minetest commented on #108
Btw the some menu background images could maybe be made partly transparent.

[2017-08-31 19:21] DS-Minetest commented on #108
Oh, and why are at some places pine trees removed? It's awful.

[2017-08-31 19:24] tobyplowy commented on #108
Why wuld you whant them to be transparent?

I'm not sure what you mean by that where did I remove pine trees?

[2017-08-31 20:51] D00Med commented on #108
@tobyplowy Ok. Thanks for pointing out that pro feature ;)
@DS-Minetest And thankyou for fixing it. The pine tree thing shouldn't even happen, I don't know why it does, but personally I don't mind it.

[2017-08-31 22:31] tobyplowy commented on #108
@D00Med I probably won't be online anymore today but tomorrow I will

[2017-08-31 22:42] D00Med commented on #108
@tobyplowy Ok :) Talk then

[2017-09-01 11:16] DS-Minetest commented on #108
You can make the sky part of the image transparent and the normal moving background clouds will be seen at the transparent parts.

[2017-09-01 11:25] DS-Minetest commented on #108
<details><summary>screenshots of the removed trees</summary>

![screenshot_20170901_131724](https://user-images.githubusercontent.com/7613443/29967770-9f4d3d0e-8f18-11e7-947a-cbfa721df192.png)
![screenshot_20170901_131828](https://user-images.githubusercontent.com/7613443/29967776-a73a6b40-8f18-11e7-87ac-47d31f7d635a.png)
(mgv7)
</details>
When such a thing is generated, there's very much lag and

[2017-09-01 11:32] DS-Minetest commented on #108
Ok, I found it: https://github.com/D00Med/farlands/blob/e18cfdc90bf2d3a9db03c26194b7ea67f00ebb67/mods/villages/init.lua#L85L95

[2017-09-01 11:57] tobyplowy commented on #108
@D00Med we can finally make that mesa biome yay :)
https://github.com/minetest/minetest/pull/6352

[2017-09-01 11:58] tobyplowy commented on #108
Does it matter how much transparency I add becouse on 10% it doesn't seem to work :/

[2017-09-01 12:00] tobyplowy commented on #108
@DS-Minetest what do you mean that Flying snow is supposed to be a feture XD

But for real now that seems like a big problem

[2017-09-01 12:04] DS-Minetest commented on #108
AfaIk, you need 100% transparency. (Why would you do less?)

[2017-09-01 12:17] tobyplowy commented on #108
@DS-Minetest that also doesent work, I tried that first that's why I tryed less

[2017-09-01 12:24] DS-Minetest commented on #108
@tobyplowy Hm, you are right, somehow it doesn't work.

[2017-09-01 12:27] tobyplowy commented on #108
@DS-Minetest maybe they fixed it just like the water plants and with fixing it I mean ruining it :)

[2017-09-01 20:59] D00Med commented on #108
@DS-Minetest Ohhh I thought you mean the other patches in the forest. Oh well, nice to know the nodes are finally getting removed instead of nothing happening. I will fix it.
@tobyplowy Forget mesa biomes, let's make a cake xD
![2012_05_08_999_147 neopolitan-cake](https://user-images.githubusercontent.com/19916704/29987573-3a970bda-8fac-11e7-8059-69a111397979.jpg)

[2017-09-01 21:09] tobyplowy commented on #108
@D00Med Cake biome yes XD

[2017-09-01 21:10] tobyplowy commented on #108
@D00Med Also hi

[2017-09-01 21:13] D00Med commented on #108
@tobyplowy Hi

[2017-09-01 21:14] tobyplowy commented on #108
@D00Med do you have time for farlands?

[2017-09-01 21:15] D00Med commented on #108
@tobyplowy 🤔I suppose I could. I'll just work on fixing the empty bits in the forests

[2017-09-01 21:16] tobyplowy commented on #108
@D00Med Ok

[2017-09-01 21:17] tobyplowy commented on #108
@D00Med can you also make sheep and chickens more common? And horses less common?

[2017-09-01 21:20] tobyplowy commented on #108
@D00Med I guess that +1 is a yes XD

[2017-09-01 21:21] D00Med commented on #108
@tobyplowy Yes

[2017-09-01 21:26] tobyplowy commented on #108
@D00Med I'm learning some more stuff (not farlands related)

[2017-09-01 21:27] D00Med commented on #108
@tobyplowy Ok

[2017-09-01 21:31] tobyplowy commented on #108
@D00Med should I make a cow?

[2017-09-01 21:32] D00Med commented on #108
@tobyplowy Yeah that'd be good

[2017-09-01 21:33] tobyplowy commented on #108
@D00Med Ok

[2017-09-01 21:51] tobyplowy commented on #108
@D00Med A Cake biome that would be so odd XD

[2017-09-01 21:52] D00Med commented on #108
@tobyplowy Yeah, easy to survive in though

[2017-09-01 21:55] tobyplowy commented on #108
@D00Med Did you mean easy to survive in cake dough :)

[2017-09-01 21:56] D00Med commented on #108
@tobyplowy That's...bad xD but good

[2017-09-01 21:58] tobyplowy commented on #108
@D00Med yup also for the record I like cake dough more than the actual baked cake :)

[2017-09-01 22:00] D00Med commented on #108
@tobyplowy Same

[2017-09-01 22:04] tobyplowy commented on #108
![face your fears](https://user-images.githubusercontent.com/16853304/29989299-5720afc0-8f72-11e7-83f7-a656712b59c7.png)

[2017-09-01 22:09] tobyplowy commented on #108
@D00Med His heart maybe a rock but he still has emotions :)

[2017-09-01 22:50] D00Med commented on #108
@tobyplowy I do not understand voxelmanip :'D
idk how I'm going to clear away the trees

[2017-09-01 22:51] tobyplowy commented on #108
@DS-Minetest d00med needs your help

[2017-09-01 22:53] D00Med commented on #108
@DS-Minetest yeah

[2017-09-01 22:53] D00Med commented on #108
Help would be great

[2017-09-01 22:59] tobyplowy commented on #108
@D00Med :)

[2017-09-01 23:00] tobyplowy commented on #108
@D00Med i hate to say it but if ds doesn't whant to help we will be d00med XD

[2017-09-02 00:06] D00Med commented on #108
@tobyplowy Well I'm going now, goodnight

[2017-09-02 00:13] tobyplowy commented on #108
@D00Med Yup have a good day

[2017-09-02 12:08] DS-Minetest commented on #108
Cake biom would be great! Or maybe a cockaigne?

Actually I don't know much about mapgen. :confused:
Best you read about VoxelManip in `lua_api.txt`.
But if you eg. want to remove all pine tree nodes, maybe get the voxelmanip in the region, get the content id of pine tree, get the data of the voxelmanip object, replace in this table every entry that has the content id of pine tree with the content

[2017-09-02 21:07] tobyplowy commented on #108
@D00Med hi

[2017-09-02 21:19] D00Med commented on #108
@DS-Minetest Maybe once we can add realms.
Oh that's a shame. I tried that, can't really get my head around it quickly.
Yeah that seems to be the way to go. It's a shame I can't get content id for groups, because I'd have to do it for all the different kinds of trees and leaves.

@tobyplowy Hi

[2017-09-02 21:28] tobyplowy commented on #108
@D00Med yay

[2017-09-02 21:54] tobyplowy commented on #108
@D00Med so how are you?

[2017-09-02 21:58] D00Med commented on #108
@tobyplowy I'm good thanks, how are you?

[2017-09-02 22:21] tobyplowy commented on #108
@D00Med I'm fine

[2017-09-02 22:28] D00Med commented on #108
@tobyplowy That's good.
I'm just working on adding the new oak trees

[2017-09-02 22:44] D00Med commented on #108
![screenshot_20170903_084252](https://user-images.githubusercontent.com/19916704/29999235-0c693a8e-9084-11e7-8031-579429ecb46d.png)
I made a cannon for the pirate ship

[2017-09-02 22:44] tobyplowy commented on #108
@D00Med Ok nice

[2017-09-02 22:45] tobyplowy commented on #108
@D00Med is that a 3d model or a nodebox model?

[2017-09-02 22:47] D00Med commented on #108
@tobyplowy A nodebox model

[2017-09-02 22:47] tobyplowy commented on #108
@D00Med ok

[2017-09-02 22:47] D00Med commented on #108
@tobyplowy Hehe and you're going to love this: It's two different nodes, the cannon is actually one node above the stand.

[2017-09-02 22:48] tobyplowy commented on #108
@D00Med aaaaand I hate it XD

[2017-09-02 22:49] tobyplowy commented on #108
@D00Med I don't think that's a good idea :/

[2017-09-02 22:50] D00Med commented on #108
@tobyplowy I did that so that the textures weren't messed up.

[2017-09-02 22:51] tobyplowy commented on #108
@D00Med I can make a model in blender

[2017-09-02 22:51] tobyplowy commented on #108
@D00Med just add a temp node use the skeleton or something :)

[2017-09-02 22:52] D00Med commented on #108
@tobyplowy Why though?

[2017-09-02 22:52] D00Med commented on #108
There's an advantage

[2017-09-02 22:52] D00Med commented on #108
It means that the stand can be rotated separately to the cannon. And they have the right noises and groups.

[2017-09-02 22:53] tobyplowy commented on #108
@D00Med ok whatever just do it (ocd trigger intensefies XD)

[2017-09-02 22:55] D00Med commented on #108
@tobyplowy Fiiine xD I could export it as an .obj file, would that be helpful?

[2017-09-02 22:56] tobyplowy commented on #108
@D00Med nah it's ok

[2017-09-02 22:57] tobyplowy commented on #108
Did you change the horse chiken and sheep spawn commonnes

[2017-09-02 22:58] D00Med commented on #108
@tobyplowy Yes, but I haven't uploaded the changes yet

[2017-09-02 22:58] tobyplowy commented on #108
@D00Med Ok

[2017-09-02 23:05] tobyplowy commented on #108
@D00Med can you update the todo list after you finish adding the new oak tree schematics

[2017-09-02 23:09] DS-Minetest commented on #108
There are no content ids for groups, you have to check with the content id of each member of the group.

[2017-09-02 23:13] D00Med commented on #108
@tobyplowy Yes

[2017-09-02 23:14] D00Med commented on #108
@DS-Minetest Yeah, it's going to be messy

[2017-09-02 23:19] tobyplowy commented on #108
@D00Med ok thanks :)

[2017-09-02 23:28] tobyplowy commented on #108
@D00Med I'm going now see you guys later

[2017-09-02 23:36] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-09-03 00:32] D00Med commented on #108
@tobyplowy I was thinking, it might be better to make players work for the crafting and village guides.
I plan on adding a guide for the machines too btw.

[2017-09-03 09:43] tobyplowy commented on #108
I'm not sure if that is a good idea (I think it's best to add them to the inventory so people know what to do in a new world)
But I'm interested to see what you can come up with

Ok that's a good idea :)

[2017-09-03 20:39] D00Med commented on #108
@tobyplowy Maybe just in singleplayer, npc's should spawn nearby to the player at the beginning of certain days and ask them to do something in return for the books.

Also, hi :)

[2017-09-03 21:46] tobyplowy commented on #108
@D00Med Hi

[2017-09-03 21:48] tobyplowy commented on #108
Sounds interesting but we should keep this for v1 :)

[2017-09-03 21:50] D00Med commented on #108
@tobyplowy Definitely, there's already a lot to do for V1, considering we want it done soon.

[2017-09-03 21:55] tobyplowy commented on #108
@D00Med yeh also nice work (extremely nice work) with the book GUI there's only a couple problems I have with it (3) give me some time to type it

[2017-09-03 21:56] D00Med commented on #108
@tobyplowy Thanks, and ok

[2017-09-03 21:56] D00Med commented on #108
@tobyplowy 🤞🤞🤞🤞🤞🤞please don't say I have to re-do pages🤞🤞🤞🤞🤞🤞

[2017-09-03 21:59] tobyplowy commented on #108
@D00Med
1 the first page seems to be transparent (you can Look through It)
2 It Would Be Great If There Would Be An Arrow on the second page to go back to page 1
3 remove the text that says next from the next page arrow (hopefully that made sense)

And a bonus can you make the next page Arrow glow if You Hover Over It instead of pressing it?

[2017-09-03 22:03] D00Med commented on #108
@tobyplowy

Yes, just the texture though.

Yeah I will add that.

Ok.

No I don't think I can do that sorry

[2017-09-03 22:07] tobyplowy commented on #108
@D00Med and now Id like to say what i like About It

1 I like the writing stile
2 I like the dirty look of the book it makes it look used
3 I like the fact that the paper of the book isent the same on the first as it is in the second page :)
4 I like the way you presented the beacon crafting recipe (using text and images it makes it look more natural)
5 next arrow glows if you interact with it
6 t

[2017-09-03 22:10] D00Med commented on #108
@tobyplowy Thanks :D I had fun with it so yeah

[2017-09-03 22:12] tobyplowy commented on #108
@D00Med I can tell you had fun not like me those fuknnnnnn recolors were so boring XD

[2017-09-03 22:13] tobyplowy commented on #108
@D00Med 70 or so textures were recolord XD

[2017-09-03 22:17] D00Med commented on #108
@tobyplowy Yeah I saw xD I'm glad you're doing it and not me :P

[2017-09-03 22:18] tobyplowy commented on #108
@D00Med and I'm glad you are the programmer and not me XD

[2017-09-03 22:19] D00Med commented on #108
@tobyplowy Earlier I was trying to stop the villages spawning if there weren't enough buildings.
That wasn't fun :'D

[2017-09-03 22:22] tobyplowy commented on #108
@D00Med if you weren't here the only thing I would be able to add would be blocks :)

(Read this I'm a dramatic tailer voise) Creative mode the subgame (add dramatic Echo)

[2017-09-03 22:23] tobyplowy commented on #108
I can emagine XD

[2017-09-03 22:24] D00Med commented on #108
The idea was to get the successful positions into a table and check if it had been filled to a certain level.
I don't even know why it didn't work, it just stopped any building from spawning.

[2017-09-03 22:25] tobyplowy commented on #108
@D00Med ok

[2017-09-03 22:43] tobyplowy commented on #108
@D00Med what will you work on next?

[2017-09-03 22:45] D00Med commented on #108
@tobyplowy villages, and then food and materials for different biomes

[2017-09-03 22:47] tobyplowy commented on #108
@D00Med Ok

Just 6 things left on the to-do list and 15 already done :)

[2017-09-03 22:48] D00Med commented on #108
@tobyplowy Yeah :)

[2017-09-03 22:50] tobyplowy commented on #108
@D00Med for how long have we been working on farlands now?

Is it already a year?

[2017-09-03 22:51] D00Med commented on #108
@tobyplowy We started early into this year didn't we?

[2017-09-03 22:53] tobyplowy commented on #108
@D00Med I think we started end 2016

[2017-09-03 23:00] D00Med commented on #108
@tobyplowy Ok. So near enough 9 months

[2017-09-03 23:04] tobyplowy commented on #108
@D00Med yay :)

[2017-09-03 23:07] tobyplowy commented on #108
@D00Med the farlands leaves don't seem to wave :/

[2017-09-03 23:14] tobyplowy commented on #108
@D00Med also I have to go now have a good day :)

[2017-09-03 23:16] D00Med commented on #108
@tobyplowy Oh ok, I thought they did, I'll have to check.
Ok, goodnight

[2017-09-04 11:24] DS-Minetest commented on #108
[`waving`](https://github.com/minetest/minetest/blob/a383eb0eb98ffcc835e17ee847c459edff2b53ec/doc/lua_api.txt#L4404) shall be set to `2`.

[2017-09-04 20:43] D00Med commented on #108
@DS-Minetest Why 2 and not 1?

[2017-09-04 20:44] D00Med commented on #108
Hi btw

[2017-09-04 20:48] tobyplowy commented on #108
@D00Med eeeyyyyy

[2017-09-04 20:51] tobyplowy commented on #108
@D00Med do you have time for farlands today?

[2017-09-04 20:53] D00Med commented on #108
@tobyplowy Not this morning sorry. How are you

[2017-09-04 20:54] tobyplowy commented on #108
@D00Med Im fine how are you

[2017-09-04 20:55] D00Med commented on #108
@tobyplowy I'm good thanks

[2017-09-04 20:57] tobyplowy commented on #108
@D00Med well I will make some more textures (not for farlands)

[2017-09-04 20:58] D00Med commented on #108
@tobyplowy Ok

[2017-09-04 22:03] tobyplowy commented on #108
@D00Med do you think farlands wuld become more popular than the legend of minetest?

[2017-09-04 22:04] D00Med commented on #108
@tobyplowy I think so yes

[2017-09-04 22:11] tobyplowy commented on #108
@D00Med hu I thought you were going to say no XD

Bdw look at the stars on both github repos :)

[2017-09-04 22:35] D00Med commented on #108
@tobyplowy Nah, farlands doesn't have all the "weird animals" xD
It's more like what the minetest community likes I think.

[2017-09-04 22:48] tobyplowy commented on #108
@D00Med Yeh hopefully

[2017-09-04 23:11] D00Med commented on #108
@tobyplowy  sorry, the page wasn't refreshing.
What state would you hope the villages would be in for V1?

[2017-09-04 23:12] tobyplowy commented on #108
@D00Med A not broken and presentable way :)

Note they can be inproved in V2

[2017-09-04 23:19] D00Med commented on #108
@tobyplowy Oh darn xD

[2017-09-04 23:26] tobyplowy commented on #108
@D00Med like it is now it seems fine

[2017-09-04 23:27] D00Med commented on #108
@tobyplowy It's not too bad, but there are still problems like one house spawning in the middle of nowhere.
![screenshot_20170903_084830](https://user-images.githubusercontent.com/19916704/30040019-7102249e-921c-11e7-93ab-1beb4f3969eb.png)
...This is where swampy lives

[2017-09-04 23:34] tobyplowy commented on #108
@D00Med hermit house XD

[2017-09-04 23:42] D00Med commented on #108
![](https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png)

[2017-09-04 23:42] D00Med commented on #108
Maybe shrek lives there

[2017-09-04 23:44] tobyplowy commented on #108
@D00Med Somebody Once Told Me XD

[2017-09-04 23:47] tobyplowy commented on #108
@D00Med the internet explained in one video https://m.youtube.com/watch?v=zePphACjbjs

[2017-09-04 23:48] tobyplowy commented on #108
@D00Med hes got the moves like shreker (see what i did there)

[2017-09-04 23:48] D00Med commented on #108
@tobyplowy  *sees thumbnail* I don't think I need to see this...xD

[2017-09-04 23:49] tobyplowy commented on #108
@D00Med also my texture is done
![tiles](https://user-images.githubusercontent.com/16853304/30040205-5dbe5ae6-91dc-11e7-891e-74ca09164f00.png)

[2017-09-04 23:51] D00Med commented on #108
@tobyplowy Looks good!

[2017-09-04 23:51] tobyplowy commented on #108
@D00Med yay

[2017-09-04 23:54] tobyplowy commented on #108
@D00Med so how is the state of the villages do you think they are good?

[2017-09-04 23:54] D00Med commented on #108
@tobyplowy I still want to try and fix the number of houses, but besides that I guess they're good for now

[2017-09-04 23:55] D00Med commented on #108
@tobyplowy I don't want to start any big changes or V1 will get pushed further into the future

[2017-09-04 23:56] tobyplowy commented on #108
@D00Med I also made a V2 Todo if you want to add anything to ahead

[2017-09-04 23:57] tobyplowy commented on #108
No I would like to see it published this month

[2017-09-04 23:57] D00Med commented on #108
@tobyplowy Yeah. Hopefully I can finish everything this week

[2017-09-04 23:59] tobyplowy commented on #108
@D00Med nah we all know thats not going to happen XD

But still that's the spirit :)

[2017-09-05 00:03] tobyplowy commented on #108
This new Autocorrect system is terrible thanks Google for another usles update that only made things worse like always

Now let's fix it myself
I also made a V2 Todo if you want to add anything to it go ahead

[2017-09-05 00:05] tobyplowy commented on #108
If you would be able to do that it Would Be amazing!

[2017-09-05 00:05] D00Med commented on #108
@tobyplowy It's funny how updates seem to be so much of a pain when they're meant to be good

[2017-09-05 00:06] D00Med commented on #108
@tobyplowy Isn't the vine already one plane?

[2017-09-05 00:06] D00Med commented on #108
@tobyplowy And why does the transparency of the book texture need "fixing"?

[2017-09-05 00:06] tobyplowy commented on #108
@D00Med Yeh exactly but Google is the Worst case in this especially with YouTube

[2017-09-05 00:09] tobyplowy commented on #108
Isn't the vine already one plane?

No it seems to be a cube 6 faces but we only need 1 because blocks are rendered at both sides
(This will probably increase performance in Jungles drastically)

You can look through the middle of the book I don't think that's supposed to happen :)

[2017-09-05 00:13] D00Med commented on #108
@tobyplowy I'll remove the unnecessary textures, but if I remember right, there was a reason I didn't just use the "signlike" drawtype.
O.o I never noticed. That's a weird bug, shouldn't happen at all. At least I can fix it though.

[2017-09-05 00:16] tobyplowy commented on #108
I'm not sure what you're talking about is that about the book of the vine?

Same here book or vine?

[2017-09-05 00:17] D00Med commented on #108
The vine

The book

[2017-09-05 00:19] tobyplowy commented on #108
@D00Med ok now it makes sense :)

Ok good And I'm happy that it is fixeble XD

[2017-09-05 00:20] D00Med commented on #108
@tobyplowy Sorry about that xD

[2017-09-05 00:23] tobyplowy commented on #108
Im an idiot and I just didn't understand the most basic thing ever I should say sorry to you XD

[2017-09-05 00:30] tobyplowy commented on #108
@D00Med well I have to go to bed now see you tomorrow :)

[2017-09-05 00:30] D00Med commented on #108
@tobyplowy Lets split the difference and just say that this is farlands development xD
Ok, goodnight

[2017-09-05 00:31] tobyplowy commented on #108
I'm not sure what

Means

[2017-09-05 00:31] D00Med commented on #108
@tobyplowy Same as "meet in the middle"

[2017-09-05 00:32] tobyplowy commented on #108
@D00Med Oh I see :)

[2017-09-05 00:34] tobyplowy commented on #108
@D00Med and now I can't leave without it getting awkward for me because I've already said goodbye

So I'm gone "poef" (add reversed sound that sounds magical)

[2017-09-05 00:35] D00Med commented on #108
@tobyplowy Bye xD

[2017-09-05 10:43] DS-Minetest commented on #108
https://github.com/minetest/minetest/blob/a383eb0eb98ffcc835e17ee847c459edff2b53ec/doc/lua_api.txt#L4406

[2017-09-05 16:43] #101 closed

[2017-09-05 16:43] tobyplowy commented on #107
@LoneWolfHT i will close this issue

[2017-09-05 16:43] #107 closed

[2017-09-05 21:15] tobyplowy commented on #108
@D00Med hi

[2017-09-05 21:37] D00Med commented on #108
@tobyplowy Hello

[2017-09-05 21:44] D00Med commented on #108
@DS-Minetest Thanks

[2017-09-05 22:01] tobyplowy commented on #108
@D00Med :)

[2017-09-05 22:02] D00Med commented on #108
@tobyplowy  Should we add a mesa biome when the next version of minetest is released?

[2017-09-05 22:03] tobyplowy commented on #108
@D00Med maybe I dunno :)

[2017-09-05 22:13] tobyplowy commented on #108
@D00Med I just made 2 new vids on my YouTube yay

[2017-09-05 22:19] tobyplowy commented on #108
@D00Med for v2
[bee.zip](https://github.com/D00Med/farlands/files/1279122/bee.zip)

also theres a 30 min vid showing how i made it :D

[2017-09-05 22:23] D00Med commented on #108
@tobyplowy Oh ok, I'll have a look

[2017-09-05 22:27] tobyplowy commented on #108
yay

[2017-09-05 22:29] tobyplowy commented on #108
@D00Med so do you have time for farlands today

[2017-09-05 22:31] D00Med commented on #108
@tobyplowy Maybe later, but not this morning

[2017-09-05 22:31] tobyplowy commented on #108
@D00Med I also made 70 new textures :)

And all of it is armor XD

[2017-09-05 22:33] D00Med commented on #108
@tobyplowy Wow xD That must have been a lot of work

[2017-09-05 22:34] tobyplowy commented on #108
@D00Med yup it was boring

[2017-09-05 22:34] tobyplowy commented on #108
@D00Med I also made a new menu logo :)

[2017-09-05 22:38] D00Med commented on #108
@tobyplowy Nice :)
I watched your video with the sapling texture...
![1vcl2b](https://user-images.githubusercontent.com/19916704/30086520-c1ab78e2-92de-11e7-8f46-95276f384fa1.jpg)

[2017-09-05 22:39] tobyplowy commented on #108
@D00Med That's funny

[2017-09-05 22:40] D00Med commented on #108
@tobyplowy xD yeah, but like you said it's just a demonstration

[2017-09-05 22:42] tobyplowy commented on #108
@D00Med we all know thats not true :)

And we also all know that this texture will stay for V1 XD

[2017-09-05 22:43] D00Med commented on #108
@tobyplowy Really? xD

[2017-09-05 22:44] tobyplowy commented on #108
@D00Med nah it is a demonstration but it will stay for V1 :)

[2017-09-05 22:49] tobyplowy commented on #108
@D00Med I think V2 will take less time to make

[2017-09-05 22:54] D00Med commented on #108
@tobyplowy Ok. Maybe

[2017-09-05 22:58] tobyplowy commented on #108
@D00Med I hope it does XD

[2017-09-05 23:02] tobyplowy commented on #108
@D00Med well I'm going now see you tomorrow

[2017-09-05 23:03] D00Med commented on #108
@tobyplowy Ok, bye

[2017-09-06 21:20] tobyplowy commented on #108
@D00Med hi

[2017-09-06 22:07] D00Med commented on #108
@tobyplowy Hello

[2017-09-06 22:15] tobyplowy commented on #108
@D00Med Ey

[2017-09-06 22:17] D00Med commented on #108
@tobyplowy How are you?

[2017-09-06 22:17] tobyplowy commented on #108
@D00Med I'm alright how are you?

[2017-09-06 22:18] tobyplowy commented on #108
@D00Med also when can you do another voice chat?

[2017-09-06 22:19] D00Med commented on #108
@tobyplowy I'm good thanks.
Idk, maybe this weekend?

[2017-09-06 22:21] tobyplowy commented on #108
@D00Med I can whenever you can :)

[2017-09-06 22:21] D00Med commented on #108
@tobyplowy Ok

[2017-09-06 22:22] tobyplowy commented on #108
@D00Med So in 24 hours it's Friday for you right?

[2017-09-06 22:23] D00Med commented on #108
@tobyplowy Near enough

[2017-09-06 22:27] tobyplowy commented on #108
@D00Med Ok good so what day of the weekend are you thinking about?

[2017-09-06 22:28] D00Med commented on #108
@tobyplowy Probably saturday

[2017-09-06 22:30] tobyplowy commented on #108
@D00Med ok good :)

The question is will it be the last week of V1 development?

[2017-09-06 22:31] D00Med commented on #108
@tobyplowy Aah probably not, but we will see

[2017-09-06 22:35] tobyplowy commented on #108
@D00Med yeh :/

[2017-09-06 22:37] D00Med commented on #108
@tobyplowy fingers crossed

[2017-09-06 22:37] tobyplowy commented on #108
@D00Med sssuuuuuuuurrrrrrrrrreee XD

[2017-09-06 22:45] tobyplowy commented on #108
@D00Med also what do you think about the V2 Todo so far?

[2017-09-06 22:49] D00Med commented on #108
@tobyplowy Looks good xD btw I'm D00Med

[2017-09-06 22:55] tobyplowy commented on #108
Shut up :) thats because you may think someone else is saying I want to do this XD

[2017-09-06 23:01] tobyplowy commented on #108
@D00Med I also think that we should set a due date for V2 like 2 or 3 months good idea bad idea?

[2017-09-06 23:06] D00Med commented on #108
@tobyplowy Maybe, but I don't think we should be strict about it

[2017-09-06 23:06] D00Med commented on #108
@tobyplowy Or if we do, only fixes should be added to the to-do list before V2

[2017-09-06 23:09] tobyplowy commented on #108
No of course not but we should try and do it

I'm not sure what you mean by that do you mean we add more fixes to V1?

[2017-09-06 23:10] D00Med commented on #108
@tobyplowy Ok. When we start work on V2, we should avoid adding more things that might extend the finishing date.

[2017-09-06 23:11] tobyplowy commented on #108
@D00Med Yes correct

[2017-09-06 23:14] D00Med commented on #108
@tobyplowy Ok

[2017-09-06 23:26] tobyplowy commented on #108
@D00Med will you have some time to work on farlands today?

[2017-09-06 23:31] D00Med commented on #108
@tobyplowy Probably

[2017-09-06 23:36] tobyplowy commented on #108
@D00Med ok good

[2017-09-06 23:38] D00Med commented on #108
@tobyplowy I will probably have the leaves fixed by tomorrow evening.

[2017-09-06 23:40] tobyplowy commented on #108
@D00Med ok good

Can you also add the zombie brute spawning item?

[2017-09-06 23:44] D00Med commented on #108
@tobyplowy Ok, I will do that. Also I might have a go at improving the health bar, if you don't mind.

[2017-09-06 23:47] tobyplowy commented on #108
@D00Med of course I Don't Mind :)
 It's A Little Bit of center at the moment (jjjuuuuuuuuussst A Little Bit)

[2017-09-06 23:55] tobyplowy commented on #108
@D00Med have you seen the amazing new content that will be added to blender was :)

[2017-09-06 23:57] D00Med commented on #108
@tobyplowy No...what was it?
I don't really keep track of blender things. I haven't even updated it in something like three years xD

[2017-09-06 23:59] tobyplowy commented on #108
Just visit the website it's crazy

Wait what why not?

[2017-09-07 00:03] D00Med commented on #108
@tobyplowy It's a big download

[2017-09-07 00:09] tobyplowy commented on #108
@D00Med I recommend you to update :)

[2017-09-07 00:15] tobyplowy commented on #108
@D00Med Well I will be going now see you tomorrow

[2017-09-07 00:16] tobyplowy commented on #108
@D00Med Have a good day :)

[2017-09-07 00:32] D00Med commented on #108
@tobyplowy Ok, bye :)

[2017-09-07 03:45] GreenXenith commented on #108
I have a mod to upload to github for someone, so I will probably tidy up the large chest and submit a PR here for it. When I get to it. My time to work on things has been shortened a bunch :/

[2017-09-07 11:11] DS-Minetest commented on #108
Huh, afaik I already added an egg.

[2017-09-07 11:30] D00Med commented on #108
@GreenXenith Ok, thanks for letting us know.
@DS-Minetest Yeah, I changed the texture and added a crafting recipe for it xD

[2017-09-07 11:30] D00Med commented on #108
@DS-Minetest One less thing I have to do

[2017-09-07 21:17] tobyplowy commented on #108
@D00Med Hi

[2017-09-07 21:21] D00Med commented on #108
@tobyplowy Hello

[2017-09-07 21:23] tobyplowy commented on #108
@D00Med how are you doing today

[2017-09-07 21:26] D00Med commented on #108
@tobyplowy good, and yourself?

[2017-09-07 21:29] D00Med commented on #108
@tobyplowy Is the vine acceptable now? I could make it even thinner

[2017-09-07 21:32] tobyplowy commented on #108
@D00Med I'm good thanks for asking :)

[2017-09-07 21:35] tobyplowy commented on #108
@D00Med yup it's good

[2017-09-07 21:41] D00Med commented on #108
@tobyplowy That's good :)
I'm guessing you've seen the to-do list?

[2017-09-07 21:55] D00Med commented on #108
@tobyplowy It's very nearly done, just a couple of minor things and fixing #109

[2017-09-07 21:58] tobyplowy commented on #108
@D00Med I see awesome

[2017-09-07 22:01] D00Med commented on #108
@tobyplowy Yep, v1 is getting soooo close

[2017-09-07 22:04] tobyplowy commented on #108
@D00Med oh man I can't wait

[2017-09-07 22:08] tobyplowy commented on #108
@D00Med I'm still looking for a faster way to make Models I whant to mass produce for V2 XD

[2017-09-07 22:09] D00Med commented on #108
You could make a basic four legged animal model, and modify that each time you wanted to make a simple animal

[2017-09-07 22:10] D00Med commented on #108
Or modify your startup file so that there's less to do whilst setting up

[2017-09-07 22:13] tobyplowy commented on #108
@D00Med I finally did it :)

I found a way to make Thecne files in to objs :)

[2017-09-07 22:14] D00Med commented on #108
@tobyplowy Yay...why is that good?

[2017-09-07 22:15] tobyplowy commented on #108
@D00Med you don't know what techne is do you?

[2017-09-07 22:17] D00Med commented on #108
@tobyplowy Nope

[2017-09-07 22:20] tobyplowy commented on #108
@D00Med well quickly explained it's a program to make models for Minecraft mods and I used it alot back in the day (4 years ago) then I got tired of it and apparently the program doesn't exist by the original creator anymore so it was super hard to find it again
But That's not all the program doesn't export Anything that can be used in blender instellen uses A Very specific format for Minecraft mo

[2017-09-07 22:21] D00Med commented on #108
@tobyplowy Oh, nice

[2017-09-07 22:22] tobyplowy commented on #108
@D00Med It allows You To Make cubes and the uv Maps get automatically genarated in the way I make my textures

So you only have to focus on making a model and texture all the rest gets done for you

[2017-09-07 22:23] tobyplowy commented on #108
@D00Med Do you what to have it?

[2017-09-07 22:24] D00Med commented on #108
@tobyplowy Oh, that sounds good. Yes please

[2017-09-07 22:28] tobyplowy commented on #108
@D00Med a WARNING the program has a terrible ui (It Will Take a while to get used to it XD)

[2017-09-07 22:30] tobyplowy commented on #108
@D00Med this shuld work hopfully https://1drv.ms/u/s!Ammw1yWbBi3R6XYxhHc9SU1-EvMJ

[2017-09-07 22:33] D00Med commented on #108
@tobyplowy Thanks, it worked

[2017-09-07 22:35] tobyplowy commented on #108
@D00Med to test just make a simple thing in techne 2 cubes that are merged or something

Also do you know to voice chat so I can explane propprly?

[2017-09-07 22:45] D00Med commented on #108
@tobyplowy It does have a terrible ui xD

[2017-09-07 22:45] tobyplowy commented on #108
@D00Med voice chat?

[2017-09-07 22:46] tobyplowy commented on #108
@D00Med im a voicechat Sellout XD

[2017-09-07 22:50] D00Med commented on #108
@tobyplowy Ah sorry, page wasn't refreshing.
Not today sorry, I have stuff to do

[2017-09-07 22:57] tobyplowy commented on #108
@D00Med also I love this program this will save me so much work :)

[2017-09-07 23:00] D00Med commented on #108
@tobyplowy Aah it depends, my mum wants to drag me along to an airshow.
That's good.

[2017-09-07 23:02] tobyplowy commented on #108
@D00Med ok I see

So is the program usefull for you?

[2017-09-07 23:03] D00Med commented on #108
@tobyplowy I wasn't told about it until this morning, sorry :/
I think so, it's hard to tell without having a proper go at trying to use it.

[2017-09-07 23:04] tobyplowy commented on #108
@D00Med lol

[2017-09-07 23:13] tobyplowy commented on #108
@D00Med 25 minutes and i made a pug
![pug](https://user-images.githubusercontent.com/16853304/30189198-d18f5710-9432-11e7-94d7-9448f275a620.png)

[2017-09-07 23:14] D00Med commented on #108
@tobyplowy Nice!

[2017-09-07 23:15] tobyplowy commented on #108
@D00Med the old way 30 mins i l made a bee XD

[2017-09-07 23:16] tobyplowy commented on #108
@D00Med also the pug has 100% prfect mapping and 100% prfect cubes ;D

[2017-09-07 23:18] D00Med commented on #108
@tobyplowy That's really good.
I'm just hoping it works well in blender

[2017-09-07 23:21] tobyplowy commented on #108
@D00Med well for me it works well I hope the same can be sayd about you (I hope this works)
Guess we can find out for V2

[2017-09-07 23:27] D00Med commented on #108
@tobyplowy I hope so too

[2017-09-07 23:28] tobyplowy commented on #108
@D00Med yeh XD

[2017-09-07 23:29] tobyplowy commented on #108
@D00Med now I can mass produce without a soul like a robot...
like a Microsoft developer XD

[2017-09-07 23:39] tobyplowy commented on #108
@D00Med well I'm going now see you tomorrow

[2017-09-07 23:39] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-09-08 01:23] GreenXenith commented on #108
I am kind of ticked. My locked chests have broke. I probably wont be able to get that fixed soon. We'll see.

[2017-09-08 15:50] tobyplowy opened #115 "This may be useful for V2"
https://forum.minetest.net/viewtopic.php?f=9&t=17918

[2017-09-08 20:55] tobyplowy commented on #108
@D00Med Hi

[2017-09-08 20:58] tobyplowy commented on #108
@GreenXenith thats ok I think you should focus on the inventory GUI rather than the chest gui

I whant the inventory GUI to be added to farlands V2 preferably :)

[2017-09-08 21:09] D00Med commented on #108
@tobyplowy Hi.
I can't talk today sorry.

[2017-09-08 21:10] tobyplowy commented on #108
@D00Med ok have a good day will talk tomorrow

[2017-09-08 21:11] tobyplowy commented on #108
@D00Med bdw can we voice chat tomorrow?

[2017-09-08 21:11] D00Med commented on #108
@tobyplowy Hopefully yes

[2017-09-08 21:12] tobyplowy commented on #108
What Voicechat or talking tomorrow XD

[2017-09-08 21:20] D00Med commented on #108
@tobyplowy voice chat

[2017-09-08 21:21] tobyplowy commented on #108
@D00Med ok see you tomorrow have fun at the air show I think it was :)

[2017-09-08 21:22] D00Med commented on #108
@tobyplowy Yep that's it.
bye

[2017-09-09 20:52] tobyplowy commented on #108
@D00Med hi

[2017-09-09 21:24] tobyplowy commented on #108
@D00Med hi

[2017-09-09 21:45] D00Med commented on #108
@tobyplowy Hello

[2017-09-09 21:46] tobyplowy commented on #108
@D00Med heeeyyy

[2017-09-09 21:46] D00Med commented on #108
@tobyplowy How are you?

[2017-09-09 21:47] tobyplowy commented on #108
@D00Med can you Voice chat?

[2017-09-09 21:47] tobyplowy commented on #108
@D00Med I'm doing good how are you :)

[2017-09-09 21:49] D00Med commented on #108
@tobyplowy I'm good thanks.
Yep, in a bit, I'm just finishing my breakfast

[2017-09-09 21:52] tobyplowy commented on #108
@D00Med happy to hear that (I didn't really expect anything different XD)

Ok I can wait :)

[2017-09-09 21:55] tobyplowy commented on #108
@D00Med how I feel about the V1 to-do list

![xifhvbx](https://user-images.githubusercontent.com/16853304/30244222-5245cb40-95ba-11e7-816d-690d59a3b546.gif)

[2017-09-09 21:59] D00Med commented on #108
@tobyplowy Ha yeah I hardly ever say anything different xD
That is too true

[2017-09-09 23:48] tobyplowy commented on #108
![naamloos](https://user-images.githubusercontent.com/16853304/30244946-13569634-95ca-11e7-8448-a354c050b090.png)

[2017-09-10 20:22] tobyplowy commented on #100
@D00Med dinos dinos and more dinos for V2
[saber tooth tiger.zip](https://github.com/D00Med/farlands/files/1290901/saber.tooth.tiger.zip)
[dodo.zip](https://github.com/D00Med/farlands/files/1290902/dodo.zip)
[ankylosaurus.zip](https://github.com/D00Med/farlands/files/1290903/ankylosaurus.zip)
[trex.zip](https://github.com/D00Med/farlands/files/1290904/trex.zip)

[2017-09-10 20:29] tobyplowy commented on #99
@DS-Minetest wuld you bne interested to make the pet api for V2 or V3?

[2017-09-10 20:30] tobyplowy commented on #99
[pug.zip](https://github.com/D00Med/farlands/files/1290912/pug.zip)

![pug](https://user-images.githubusercontent.com/16853304/30252708-ab4beab8-9677-11e7-98d7-c6d157db6ed0.png)

[2017-09-10 20:32] tobyplowy opened #116 "more animals"
a place to post animal models

[2017-09-10 20:36] tobyplowy commented on #116
[bee.zip](https://github.com/D00Med/farlands/files/1290915/bee.zip)
[sloth.zip](https://github.com/D00Med/farlands/files/1290917/sloth.zip)

[2017-09-10 20:46] tobyplowy commented on #91
https://sketchfab.com/models/6478b4ef2eb343019c1f5fbe12383280

[2017-09-10 20:49] tobyplowy commented on #108
@D00Med Hi how are you doing

[2017-09-10 20:56] D00Med commented on #108
@tobyplowy Hello. I'm good thanks, and yourself?

[2017-09-10 21:04] tobyplowy commented on #108
@D00Med I'm also doing good thanks

[2017-09-10 21:05] tobyplowy commented on #108
@D00Med I have posted some models

I also made a water tooth tiger :)

[2017-09-10 21:06] tobyplowy commented on #108
saber tooth tiger

Not water tooth tiger
(Outocorect)

[2017-09-10 21:08] D00Med commented on #108
@tobyplowy I saw, thanks for that :D
Imagine how weird that would be...a water toothed tiger xd

[2017-09-10 21:20] tobyplowy commented on #108
@D00Med no problem

 Also XD

[2017-09-10 21:21] tobyplowy commented on #108
@D00Med will you be able to work on farlands?

[2017-09-10 21:22] D00Med commented on #108
@tobyplowy Not this morning sorry

[2017-09-10 21:29] D00Med commented on #108
@tobyplowy I finally merged the update to Legend of Minetest.
There's still unfinished stuff but...
http://static1.squarespace.com/static/569880d91c121004ba208185/56988c7b1f00d492061e93ef/56988ca51f00d492061e95f8/1452838053966/images.jpeg?format=original

[2017-09-10 21:31] tobyplowy commented on #108
@D00Med that's good news

[2017-09-10 21:34] D00Med commented on #108
@tobyplowy Yeah, I totally forgot about it xD

[2017-09-10 21:37] tobyplowy commented on #108
@D00Med I made a little something something :)
https://sketchfab.com/models/6478b4ef2eb343019c1f5fbe12383280

[2017-09-10 21:41] D00Med commented on #108
@tobyplowy I saw that, did you use the normals trick?

[2017-09-10 21:42] tobyplowy commented on #108
@D00Med Yeh :)

[2017-09-10 21:45] D00Med commented on #108
@tobyplowy Nice

[2017-09-10 21:55] tobyplowy commented on #108
@D00Med I'm working on the ammoniete model again :)

[2017-09-10 22:02] D00Med commented on #108
@tobyplowy Ok, nice

[2017-09-10 22:02] tobyplowy commented on #108
@D00Med yup

[2017-09-10 22:13] tobyplowy commented on #108
@D00Med so yeh that Todo list :)

[2017-09-10 22:24] tobyplowy commented on #108
@D00Med I like the new armor textures in the legend of Mt

[2017-09-10 22:39] tobyplowy commented on #108
https://skfb.ly/6tDHC

[2017-09-10 22:40] tobyplowy commented on #108
@D00Med i will be going now have a good day

[2017-09-10 22:43] D00Med commented on #108
@tobyplowy Sorry, the page wasn't refreshing.
Thanks.The ammonite is looking good.
Ok, goodnight

[2017-09-11 10:06] DS-Minetest commented on #99
Nah, I'm rather inexperienced with mobs and I don't think I could make anything nice soon.

[2017-09-11 12:46] tobyplowy commented on #108
![uuuuuuhhhhh](https://user-images.githubusercontent.com/16853304/30274981-ef748e06-96ff-11e7-9d1a-8a6096893fb3.png)
crystal shard?

[2017-09-11 21:02] tobyplowy commented on #108
@D00Med hi

[2017-09-11 22:07] tobyplowy commented on #108
@D00Med hi

[2017-09-11 22:10] D00Med commented on #108
@tobyplowy Hello

[2017-09-11 22:10] D00Med commented on #108
Thanks for spotting that problem

[2017-09-11 22:11] tobyplowy commented on #108
@D00Med Can you fix The Above Crafting Problem?

[2017-09-11 22:11] D00Med commented on #108
@tobyplowy Yes

[2017-09-11 22:12] tobyplowy commented on #108
@D00Med Also for v1 I recommend using zombie meat as the center item

[2017-09-11 22:13] tobyplowy commented on #108
@D00Med I think of food problem is reasonable should we release?

Like now?

[2017-09-11 22:15] D00Med commented on #108
@tobyplowy Ok. idk, I think we should keep testing for just a few more days

[2017-09-11 22:16] tobyplowy commented on #108
@D00Med ok what about we test today and release tomorrow?

[2017-09-11 22:19] D00Med commented on #108
@tobyplowy That sounds like a good idea (tomorrow)

[2017-09-11 22:19] tobyplowy commented on #108
@D00Med so it's settled we release tomorrow yes?

[2017-09-11 22:20] D00Med commented on #108
@tobyplowy Ok

[2017-09-11 22:20] tobyplowy commented on #108
@D00Med Ok I will bug test some more

[2017-09-11 22:20] tobyplowy commented on #108
@D00Med what about you?

[2017-09-11 22:21] D00Med commented on #108
@tobyplowy I have to study, but this evening I will work on Farlands

[2017-09-11 22:22] tobyplowy commented on #108
@D00Med ok the final day of development for V1 how exiting is this :)

[2017-09-11 22:23] D00Med commented on #108
@tobyplowy Yeah. Someone's impatient xD

[2017-09-11 22:23] tobyplowy commented on #108
@D00Med yes I am :)

[2017-09-11 22:24] tobyplowy commented on #108
@D00Med but farlands seems to work well so it's not a big problem :)

[2017-09-11 22:31] tobyplowy commented on #108
@D00Med is it possible to have every block breakable in survival with your hand but only if you use the correct tool will it drop an item (like in Minecraft)

[2017-09-11 22:34] D00Med commented on #108
That would be a lot of work :/

[2017-09-11 22:37] tobyplowy commented on #108
@D00Med Ok don't do it

I whant to see V1 released tomorrow no metter what XD

[2017-09-11 22:50] tobyplowy commented on #108
@D00Med I have already fixed some stuff :)

[2017-09-11 22:59] D00Med commented on #108
@tobyplowy That's good

[2017-09-11 23:01] tobyplowy commented on #108
@D00Med I'm now trying to improve mob health

[2017-09-11 23:12] D00Med commented on #108
@tobyplowy In what way?

[2017-09-11 23:14] tobyplowy commented on #108
@D00Med so it doesn't take an hour to kill a horse XD

[2017-09-11 23:17] D00Med commented on #108
@tobyplowy Ah ok

[2017-09-11 23:24] tobyplowy commented on #108
@D00Med chiken and horse are fixed now the rest XD

[2017-09-12 00:08] tobyplowy commented on #108
@D00Med Normal mobs are done,  I will do the Dinos for V2

[2017-09-12 00:11] D00Med commented on #108
@tobyplowy Ok, great :D

[2017-09-12 00:12] tobyplowy commented on #108
@D00Med Yup brb

[2017-09-12 00:13] D00Med commented on #108
@tobyplowy Ok

[2017-09-12 00:13] tobyplowy commented on #108
@D00Med I may not come back I dunno

But if I don't I will see you tomorrow

[2017-09-12 00:13] D00Med commented on #108
@tobyplowy Ok, well I'm going soon anyway.
Goodnight

[2017-09-12 00:25] tobyplowy commented on #108
@D00Med I am back but ok see you tomorrow if possible fix some more problems I added some to the todo list :)

[2017-09-12 20:04] D00Med commented on #108
![](http://az616578.vo.msecnd.net/files/2016/08/22/636074747338726246-1667220714_Clock%203.jpg)

[2017-09-12 20:08] D00Med commented on #108
@tobyplowy Hi :)
You can't test whether mobs attack back when you use a spawn egg.because they are spawned tame

[2017-09-12 20:20] tobyplowy commented on #108
@D00Med oh ok I see nevermind than

Also it is time :)

[2017-09-12 20:22] D00Med commented on #108
@tobyplowy Yep, I'm just fixing that red text.
By the way I don't think changing the hand is possible, because it has to work for all items, and also because I have no idea what the hand settings are xD

[2017-09-12 20:30] D00Med commented on #108
@tobyplowy I have no idea what's causing the HUD error...but I could just disable the error message

[2017-09-12 20:30] tobyplowy commented on #108
Ok so how long do you think this brake shuld last

Also a little question will you be using techne to make your dmobs models?

[2017-09-12 20:31] tobyplowy commented on #108
Yeh do that :)

[2017-09-12 20:33] D00Med commented on #108
@tobyplowy Maybe.
I found something useful last night, in blender, there's an option for UV mapping called "follow active quads", and it helps a lot. It's not quite the same as the minecraft method, but its similar.

[2017-09-12 20:34] tobyplowy commented on #108
@D00Med hu ok I will have to try that

[2017-09-12 20:34] tobyplowy commented on #108
how long do you think this brake shuld last?

[2017-09-12 20:35] D00Med commented on #108
@tobyplowy idk :'D

[2017-09-12 20:36] D00Med commented on #108
@tobyplowy Ok, done all the little fixes

[2017-09-12 20:36] tobyplowy commented on #108
@D00Med 1000 years seems like a good time XD

[2017-09-12 20:37] tobyplowy commented on #108
@D00Med and now the forum and v1 is all done :)

[2017-09-12 20:38] D00Med commented on #108
@tobyplowy yep

[2017-09-12 20:39] tobyplowy commented on #108
Yay

[2017-09-12 20:39] tobyplowy commented on #108
@D00Med Also the GitHub README.txt needs to be updated

[2017-09-12 20:40] D00Med commented on #108
@tobyplowy Yeah I was going to say, should we finish the license files?

[2017-09-12 20:41] tobyplowy commented on #108
If that gets done can we still release today?

[2017-09-12 20:45] D00Med commented on #108
@tobyplowy Shall we split it halfway? you do all the licenses for mods leading up to mapgen, and I'll do all the ones below?

[2017-09-12 20:46] tobyplowy commented on #108
@D00Med I'm not sure what I should type
Can you give me an example

[2017-09-12 20:49] D00Med commented on #108
This is the general license I've been using:

License for Code
----------------

Copyright (C) 2017 D00Med <heiselong@gmx.com>

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation; either version 2.1 of the License, or
(at your option) any later version.

This program is distri

[2017-09-12 20:51] tobyplowy commented on #108
@D00Med I just copy paste this?

[2017-09-12 20:52] tobyplowy commented on #108
@D00Med In a new file?

[2017-09-12 20:53] D00Med commented on #108
@tobyplowy Yep, in a license.txt file

[2017-09-12 20:54] D00Med commented on #108
@tobyplowy or just copy the file in mapgen

[2017-09-12 20:54] tobyplowy commented on #108
@D00Med so allmods get a license.txt file with the abogve text?

[2017-09-12 20:57] D00Med commented on #108
@tobyplowy Yep, unless they have one already

[2017-09-12 20:58] tobyplowy commented on #108
eeeehhhhhh thats not half XD
![eeeehhh](https://user-images.githubusercontent.com/16853304/30347901-daf9331e-980d-11e7-9f9c-e5588c8f27f6.png)

[2017-09-12 20:59] D00Med commented on #108
It isn't? :'D

[2017-09-12 20:59] D00Med commented on #108
@tobyplowy ohhhh, it changes with the view

[2017-09-12 21:01] D00Med commented on #108
![half maye](https://user-images.githubusercontent.com/19916704/30348034-4f3f6c0a-9851-11e7-9950-5088e9c6ffae.PNG)

[2017-09-12 21:01] D00Med commented on #108
@tobyplowy nothing wrong here

[2017-09-12 21:02] D00Med commented on #108
![](http://thebullelephant.com/wp-content/uploads/2016/09/lazy.jpg)

[2017-09-12 21:05] D00Med commented on #108
@tobyplowy I'll just do all of it :'D

[2017-09-12 21:06] tobyplowy commented on #108
@D00Med I'm working on the mobs_farlands this is so boring :/

[2017-09-12 21:07] D00Med commented on #108
@tobyplowy I just finished that :'D

[2017-09-12 21:08] tobyplowy commented on #108
@D00Med Are you fucking joking :/

[2017-09-12 21:09] tobyplowy commented on #108
@D00Med What does it look like did you put all texture names there can you commit it so I can see how you did it?

[2017-09-12 21:10] D00Med commented on #108
@tobyplowy Oh for the mobs I just put the names of the animals

[2017-09-12 21:10] D00Med commented on #108
@tobyplowy It's in the last commit I made

[2017-09-12 21:11] tobyplowy commented on #108
@D00Med ooooh i was typing all file names XD

[2017-09-12 21:12] D00Med commented on #108
@tobyplowy That's what we have to do for most of it 😢

[2017-09-12 21:13] tobyplowy commented on #108
@D00Med can't we make this easier?

[2017-09-12 21:15] tobyplowy commented on #108
![30348034-4f3f6c0a-9851-11e7-9950-5088e9c6ffae](https://user-images.githubusercontent.com/16853304/30348573-2cf03fbc-9810-11e7-98b8-f999a0494902.png)

so i do all this?

[2017-09-12 21:20] D00Med commented on #108
@tobyplowy Yeah :) you're fine with that right?

[2017-09-12 21:20] D00Med commented on #108
I'm up to withcraft, so I've only really got mapgen left to do. Once I've done that I could do some of the others

[2017-09-12 21:22] tobyplowy commented on #108
@D00Med Eeehhhh I guess yeh XD

[2017-09-12 21:29] tobyplowy commented on #108
@D00Med can you do hud hunger up to doors?

[2017-09-12 21:29] D00Med commented on #108
@tobyplowy Ok

[2017-09-12 21:40] tobyplowy commented on #108
@D00Med how manny do you have left?

[2017-09-12 21:44] D00Med commented on #108
@tobyplowy 0

[2017-09-12 21:45] tobyplowy commented on #108
@D00Med can you check if i did my thing correct?

[2017-09-12 21:45] D00Med commented on #108
@tobyplowy Yes

[2017-09-12 21:46] D00Med commented on #108
@tobyplowy lol, just a sec, you only edited the clawshot textures xD

[2017-09-12 21:47] tobyplowy commented on #108
@D00Med Oh yeh sorry
That's why I asked you to have a look at what I did so I know I didn't mess something up XD

[2017-09-12 21:48] D00Med commented on #108
@tobyplowy Oh man xD
You can't just replace everything with your name xD there's sound files too

[2017-09-12 21:49] tobyplowy commented on #108
@D00Med it only says textures and models so

[2017-09-12 21:49] tobyplowy commented on #108
@D00Med im so bad at this XD

[2017-09-12 21:50] tobyplowy commented on #108
@D00Med i will never be a lawyer thats for sure XD

[2017-09-12 21:52] D00Med commented on #108
![](http://i2.kym-cdn.com/photos/images/newsfeed/001/079/173/ed2.png)

[2017-09-12 21:56] tobyplowy commented on #108
@D00Med I have already seen that image XD

[2017-09-12 21:57] D00Med commented on #108
@tobyplowy please say you haven't started on the default readme?

[2017-09-12 21:59] tobyplowy commented on #108
@D00Med are you fixing the stuff I messed up?

Also I have done all of them (the ones you asked me to do)

Oh no this is bad (also yes I did :/ )

[2017-09-12 21:59] D00Med commented on #108
@tobyplowy Yes I am. ok, nvm then :'D

[2017-09-12 22:00] tobyplowy commented on #108
nvm what is that?

[2017-09-12 22:01] D00Med commented on #108
nevermind

[2017-09-12 22:02] D00Med commented on #108
@tobyplowy Let me know when you've uploaded your changes to the default license file

[2017-09-12 22:02] tobyplowy commented on #108
@D00Med I'm already done you already have that update XD

[2017-09-12 22:04] D00Med commented on #108
@tobyplowy Oh yeah, I didn't notice

[2017-09-12 22:04] tobyplowy commented on #108
@D00Med all the licenses you asked me to do are done wwwweeeeeeelllllllll I think wurse is a better word XD

[2017-09-12 22:11] D00Med commented on #108
@tobyplowy It's not too bad.
I'm just glad you didn't edit the readme file in default xD

[2017-09-12 22:13] tobyplowy commented on #108
I think I did under media (textures and models)

[2017-09-12 22:18] tobyplowy commented on #108
@D00Med hows progress going?

[2017-09-12 22:18] D00Med commented on #108
@tobyplowy I just have to finish the default license :)

[2017-09-12 22:20] tobyplowy commented on #108
@D00Med sorry I probably gave you even more work by editing the licenses :/

[2017-09-12 22:28] D00Med commented on #108
@tobyplowy Nah it's fine :)

[2017-09-12 22:29] D00Med commented on #108
@tobyplowy I'm done

[2017-09-12 22:31] tobyplowy commented on #108
@D00Med you may need to remove the mention of dinosours on the forum main subject and add it as a future plans thing

[2017-09-12 22:31] D00Med commented on #108
@tobyplowy Yes, I'm editing the main post at the moment

[2017-09-12 22:32] tobyplowy commented on #108
@D00Med also maybe you can use thes bg images as pictures on the forums
 https://github.com/D00Med/farlands/tree/master/menu

[2017-09-12 22:35] tobyplowy commented on #108
@D00Med we started this mon jan 9 2017 thats inpresive
almost a year

[2017-09-12 22:37] D00Med commented on #108
@tobyplowy I nearly forgot to get a beacon to spawn in villages :'D

[2017-09-12 22:40] D00Med commented on #108
@tobyplowy I'm having trouble writing a description of the game...

[2017-09-12 22:41] tobyplowy commented on #108
@D00Med also how do we get it in subgame releases?

[2017-09-12 22:42] D00Med commented on #108
@tobyplowy I will have to ask for the topic to be moved

[2017-09-12 22:49] tobyplowy commented on #108
read in dramatic movie traler voice

almost a year in the making

produced by michel bay

and derected by d00med and toby109tt

on a mision to make minetes great again (and also to build a wall and mexico will pay)

comming this cristmas...

# farlands

michel bay

![375px-operation_upshot-knothole_-_badger_001](https://user-images.githubusercontent.com/16853304/30351779-57fa332c-981d-11e7-8f26-81

[2017-09-12 22:51] D00Med commented on #108
@tobyplowy Shall I put a post up to announce V1 or do you want to do that?

[2017-09-12 22:52] tobyplowy commented on #108
@D00Med maybe you can say something about the vilage building (the deed system)

Also someting about the 1 boss we have

The high quality models

And unique mapgen and textures

[2017-09-12 22:54] tobyplowy commented on #108
We should both do it :)

[2017-09-12 22:55] D00Med commented on #108
@tobyplowy How? Just two posts? or we write one here and then post that?

[2017-09-12 22:56] tobyplowy commented on #108
Yup

[2017-09-12 22:56] D00Med commented on #108
@tobyplowy Ok.
Well I was just going to put
"V1 is finished!"

[2017-09-12 22:59] tobyplowy commented on #108
@D00Med Maybe we can start it with Something like this

It's been a while since we've started to make farlands and it has been a long wait for some
So without further ado here it is farlands V1

and now you

[2017-09-12 23:00] D00Med commented on #108
@tobyplowy :] hmm...

So without further ado here it is farlands V1 - the beginning.

[2017-09-12 23:01] tobyplowy commented on #108
@D00Med sorry

It's been a while since we've started to make farlands and it has been a long wait for some
So without further ado here it is farlands V1 - the beginning.

I think That's cheesy Enough yes?

[2017-09-12 23:02] tobyplowy commented on #108
@D00Med I will post it :)

[2017-09-12 23:02] D00Med commented on #108
@tobyplowy Very cheesy xD
Ok

[2017-09-12 23:03] D00Med commented on #108
@tobyplowy Thanks by the way :'D I'm not very good at this sort of thing

[2017-09-12 23:04] D00Med commented on #108
@tobyplowy brb

[2017-09-12 23:07] tobyplowy commented on #108
Well that makes up for the mess I have made with The licenses XD

[2017-09-12 23:07] tobyplowy commented on #108
Ok

[2017-09-12 23:15] D00Med commented on #108
@tobyplowy Ok, I'm back

[2017-09-12 23:15] tobyplowy commented on #108
@D00Med Yay

[2017-09-12 23:16] D00Med commented on #108
@tobyplowy I like your signature on the forums xD

[2017-09-12 23:16] tobyplowy commented on #108
@D00Med How can farlands be put in subgame releases

[2017-09-12 23:17] tobyplowy commented on #108
What part XD

[2017-09-12 23:17] D00Med commented on #108
YAAAAAAAAAAAAY

[2017-09-12 23:18] D00Med commented on #108
When it matches the post format( I am checking), I will ask for it to be moved

[2017-09-12 23:18] tobyplowy commented on #108
@D00Med Oh yeh

Have you clicked the YAAAAAAAAAAAAY (that's the best part)

[2017-09-12 23:19] D00Med commented on #108
@tobyplowy Yes xD

[2017-09-12 23:22] tobyplowy commented on #108
@D00Med and now we wait XD

[2017-09-12 23:25] tobyplowy commented on #108
@D00Med I can't wait to see the bug reports flowing in XD

[2017-09-12 23:30] D00Med commented on #108
@tobyplowy for future reference, you have to ask here to have topics moved to releases: https://forum.minetest.net/viewtopic.php?f=11&t=10418&p=293135#p38836

[2017-09-12 23:32] tobyplowy commented on #108
@D00Med ok good I'm wondering how long it will take to have it in releases

[2017-09-12 23:33] D00Med commented on #108
@tobyplowy Probably around a couple of weeks.

[2017-09-12 23:33] tobyplowy commented on #108
@D00Med There's stuff in there from may :/

[2017-09-12 23:34] D00Med commented on #108
@tobyplowy Yeah but that's probably stuff that doesn't follow the guidelines

[2017-09-12 23:35] tobyplowy commented on #108
@D00Med I hope that's it

[2017-09-12 23:36] D00Med commented on #108
@tobyplowy Me too

[2017-09-12 23:36] tobyplowy commented on #108
@D00Med I will prepare some stuff for v2

When do you think we should start working on V2

[2017-09-12 23:36] D00Med commented on #108
@tobyplowy Idk, whenever we feel like it I guess.

[2017-09-12 23:38] tobyplowy commented on #108
@D00Med maybe we can spend some time to work on the other mods like sci-fi nodes and the horror mod

[2017-09-12 23:41] D00Med commented on #108
@tobyplowy Yeah. And dmobs, I really need to finish that xD

[2017-09-12 23:42] tobyplowy commented on #108
@D00Med yup

[2017-09-12 23:49] tobyplowy commented on #108
@D00Med wtf I can't clone (open in desktop) anymore

[2017-09-12 23:50] D00Med commented on #108
That sucks :/

[2017-09-12 23:58] tobyplowy commented on #108
@D00Med yes it does

[2017-09-13 00:02] D00Med commented on #108
@tobyplowy You can't fix it?

[2017-09-13 00:03] tobyplowy commented on #108
@D00Med No I can't seem to

[2017-09-13 00:08] tobyplowy commented on #108
@D00Med this is terrible

[2017-09-13 00:09] tobyplowy commented on #108
@D00Med this is really frustrating!

[2017-09-13 00:10] D00Med commented on #108
![](https://www.thesun.co.uk/wp-content/uploads/2016/10/nintchdbpict0002638694281.jpg)

[2017-09-13 00:12] tobyplowy commented on #108
@D00Med I needed that XD

[2017-09-13 00:13] tobyplowy commented on #108
@D00Med I will try reinstallig

[2017-09-13 00:14] D00Med commented on #108
@tobyplowy That should work

[2017-09-13 00:14] tobyplowy commented on #108
@D00Med Nope it didn't

[2017-09-13 00:15] D00Med commented on #108
:/

[2017-09-13 00:15] tobyplowy commented on #108
@D00Med can you still use open in desktop

[2017-09-13 00:16] D00Med commented on #108
@tobyplowy Idk, it did stop working for me once, but I forgot if and how I fixed it

[2017-09-13 00:17] tobyplowy commented on #108
i keep getting this
![naamloos](https://user-images.githubusercontent.com/16853304/30353945-af82ddae-9829-11e7-92cb-46cf86b91a26.png)

[2017-09-13 00:18] D00Med commented on #108
@tobyplowy Wow, that's really messed up, none of that even makes sense 😂

[2017-09-13 00:20] tobyplowy commented on #108
@D00Med becouse of the languige?

[2017-09-13 00:20] D00Med commented on #108
@tobyplowy Yes of course

[2017-09-13 00:23] D00Med commented on #108
@tobyplowy I'm going now. Hope you can sort out the github thing.
Goodnight

[2017-09-13 00:25] tobyplowy commented on #108
@D00Med I hope so too also have a good day

[2017-09-13 21:21] tobyplowy commented on #108
@D00Med hi

Can we keep Talking here?

Also I found a fix for my GitHub problem

[2017-09-13 21:24] D00Med commented on #108
@tobyplowy Hello :)
Of course.
That's good

[2017-09-13 21:34] tobyplowy commented on #108
@D00Med I have a proposal what if you rename dmobs to datmobs (d00med and Toby mobs)
Because I would like to be part of dmobs (Because I will most likely make big contributions It's Only Reasonable to include my name) keep in mind This Is Just A Proposal

[2017-09-13 21:35] D00Med commented on #108
@tobyplowy I do like the idea of working on a mobs mod together, but not dmobs. I'd like that to stay as my own project :)

[2017-09-13 21:42] tobyplowy commented on #108
@D00Med ok

[2017-09-13 21:43] D00Med commented on #108
@tobyplowy Hope you can understand :)

[2017-09-13 21:45] tobyplowy commented on #108
@D00Med yes I can XD

[2017-09-13 21:52] tobyplowy commented on #108
@D00Med so what are your plans?

[2017-09-13 21:52] tobyplowy commented on #108
@D00Med what mods will you update?

[2017-09-13 22:02] D00Med commented on #108
@tobyplowy I have other things I have to do, but I will work on another dmobs mod, and probably an update to vehicles as well. What about you?

[2017-09-13 22:05] tobyplowy commented on #108
@D00Med I will just wait for V2 :)

And work on some of my own not minetest related projects

[2017-09-13 22:07] D00Med commented on #108
@tobyplowy I'm thinking of looking for a way to sell some of my paintings.

[2017-09-13 22:10] tobyplowy commented on #108
@D00Med that's a good idea

I would do the same but I don't know how I also don't really have the art skill required :\

[2017-09-13 22:12] D00Med commented on #108
@tobyplowy I also feel like I don't have enough skill, but I thought I'd try anyway.
I'll probably end up trying to sell through deviantart, it seems like a good place to start.

[2017-09-13 22:16] tobyplowy commented on #108
@D00Med maybe you can also do YouTube videos (tutorial and speed arts) YouTube pays you money if people view ads on your videos (and it's not alot of work to record your screen)

[2017-09-13 22:18] D00Med commented on #108
@tobyplowy That's a nice idea. I can't seem to find good software for that though, most of it has frozen after recording.

[2017-09-13 22:21] tobyplowy commented on #108
@D00Med have you tried obs studio (open broadcast software studio) https://obsproject.com/download

[2017-09-13 22:23] D00Med commented on #108
No, I will give it a try, thanks

[2017-09-13 22:24] tobyplowy commented on #108
@D00Med it's the program I use :)

[2017-09-13 22:24] tobyplowy commented on #108
@D00Med Woeps XD

[2017-09-13 22:50] D00Med commented on #108
@tobyplowy I'm going now, enjoy the rest of your evening

[2017-09-13 22:51] tobyplowy commented on #108
Have a good day :)

Op 14 sep. 2017 12:50 a.m. schreef D00Med <notifications@github.com>:

@tobyplowy<https://github.com/tobyplowy> I'm going now, enjoy the rest of your evening

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/D00Med/farlands/issues/108#issuecomment-329318910>, or mute the thread<https://github.com/notificatio

[2017-09-14 21:29] tobyplowy commented on #108
@D00Med hi

[2017-09-14 21:37] D00Med commented on #108
@tobyplowy Hello

[2017-09-14 21:37] tobyplowy commented on #108
@D00Med Yay

[2017-09-14 21:38] tobyplowy commented on #108
@D00Med I have a new cool idea for farlands

[2017-09-14 21:38] D00Med commented on #108
@tobyplowy How are you?

[2017-09-14 21:39] tobyplowy commented on #108
@D00Med I'm doing good and you?

[2017-09-14 21:39] D00Med commented on #108
@tobyplowy I'm good thanks

[2017-09-14 21:41] tobyplowy commented on #108
@D00Med soooooowwwww I don't know what to do

[2017-09-14 21:51] D00Med commented on #108
@tobyplowy :] idk

[2017-09-14 21:52] tobyplowy commented on #108
@D00Med hows dmobs going?

[2017-09-14 21:53] D00Med commented on #108
@tobyplowy Haven't touched it yet, I've got a lot to do

[2017-09-14 21:57] tobyplowy commented on #108
@D00Med ok

[2017-09-14 21:58] D00Med commented on #108
@tobyplowy Have you been working on that thing in unreal engine?

[2017-09-14 21:59] tobyplowy commented on #108
@D00Med no :)

[2017-09-14 22:01] tobyplowy commented on #108
@D00Med how about tower defence in farlands for future content?

[2017-09-14 22:10] D00Med commented on #108
@tobyplowy That would be interesting, I like the sound of that

[2017-09-14 22:21] tobyplowy commented on #108
@D00Med It will definitely be interesting

[2017-09-14 22:29] tobyplowy commented on #108
@D00Med I'm already thinking about V2 development XD

[2017-09-14 22:49] D00Med commented on #108
@tobyplowy XD me too. I was thinking, it'd be nice to have sharpened tree trunks as a node for building village walls/fences,

[2017-09-14 22:55] tobyplowy commented on #108
@D00Med Sharpend Tree trunks?

[2017-09-14 22:55] D00Med commented on #108
![](http://c8.alamy.com/comp/AH40MN/high-wall-of-old-wooden-sharpened-logs-over-blue-sky-AH40MN.jpg)

[2017-09-14 22:57] tobyplowy commented on #108
@D00Med oooooohhhhhhhh ok (I didn't really understand what you were saying) I like that :)

[2017-09-14 22:58] tobyplowy commented on #108
@D00Med Alamy stock photo I have never seen that One before XD

[2017-09-14 23:00] D00Med commented on #108
@tobyplowy Me neither, until now

[2017-09-14 23:02] tobyplowy commented on #108
@D00Med I'm also thinking about a new boss I want something that flies

Maybe a bone dragon (that sort of stays in the theme of fossils and a dragon is basically a flying dino)

[2017-09-14 23:08] D00Med commented on #108
@tobyplowy That'd be really cool!

[2017-09-14 23:09] tobyplowy commented on #108
@D00Med Yeh XD

[2017-09-14 23:10] tobyplowy commented on #108
@D00Med I also want to add more decoblocks content for biome specific villages

[2017-09-14 23:12] tobyplowy commented on #108
@D00Med What if we make the Awaj spawn in Savannah and desert biomes?

[2017-09-14 23:12] D00Med commented on #108
@tobyplowy I like that idea

[2017-09-14 23:12] tobyplowy commented on #108
@D00Med yay :)

[2017-09-14 23:13] tobyplowy commented on #108
@D00Med and toad npcs in swamps?

[2017-09-14 23:18] D00Med commented on #108
@tobyplowy that sounds toadally awesome xD

[2017-09-14 23:19] tobyplowy commented on #108
@D00Med nice pun XD

[2017-09-14 23:21] tobyplowy commented on #108
@D00Med I almost frog-ot that idea

[2017-09-14 23:28] tobyplowy commented on #108
@D00Med do you have ideas for future content?

[2017-09-14 23:29] D00Med commented on #108
@tobyplowy More dungeons, more machines. Maybe more vehicles too

[2017-09-14 23:31] tobyplowy commented on #108
i defenetly whant tpo see more dungeons in V2

V3 the engeneers update?

examples?

[2017-09-14 23:35] D00Med commented on #108
@tobyplowy yeah, they'd make it more interesting.

Hmm not that much more xD

And idk, maybe boats, bigger airships...

[2017-09-14 23:37] tobyplowy commented on #108
i like that

[2017-09-14 23:38] tobyplowy commented on #108
@D00Med the qestion is when do we start also im making the bone dragon

[2017-09-14 23:42] D00Med commented on #108
@tobyplowy Whenever I guess.
I probably won't work on it much until december, as I have a lot of stuff coming up.
But I'll might, because I want to.

[2017-09-14 23:43] tobyplowy commented on #108
@D00Med ok :D

[2017-09-14 23:49] tobyplowy commented on #108
@D00Med dragon build immage
![dragon](https://user-images.githubusercontent.com/16853304/30460595-13985a32-99b8-11e7-9326-81959e598c58.png)

[2017-09-14 23:50] tobyplowy commented on #108
![dragon](https://user-images.githubusercontent.com/16853304/30460616-2e34cfd8-99b8-11e7-8103-3b5170adbdf6.png)

[2017-09-14 23:50] D00Med commented on #108
@tobyplowy Looks good!

[2017-09-14 23:50] tobyplowy commented on #108
@D00Med yeh

[2017-09-14 23:50] tobyplowy commented on #108
@D00Med that was the easy part

[2017-09-14 23:52] D00Med commented on #108
🌈Texturing🌈

[2017-09-14 23:55] tobyplowy commented on #108
yaaaaaaaay
![giphy](https://user-images.githubusercontent.com/16853304/30460721-df7cee6a-99b8-11e7-8769-75f7646a1454.gif)

[2017-09-15 00:00] tobyplowy commented on #108
@D00Med i like that gnome XD

[2017-09-15 00:05] D00Med commented on #108
![](https://i.ytimg.com/vi/rI0xQADIFvA/hqdefault.jpg)

[2017-09-15 00:09] tobyplowy commented on #108
@D00Med howly shit what is that XD

[2017-09-15 00:17] tobyplowy commented on #108
fixed
![68747470733a2f2f692e7974696d672e636f6d2f76692f72493078514144494676412f687164656661756c742e6a7067](https://user-images.githubusercontent.com/16853304/30461109-fd65fa86-99bb-11e7-9856-5c3281ad32db.jpg)

[2017-09-15 00:25] D00Med commented on #108
@tobyplowy Much better

[2017-09-15 00:28] tobyplowy commented on #108
@D00Med Yup XD

[2017-09-15 00:29] tobyplowy commented on #108
@D00Med mapping is done now the model

[2017-09-15 00:29] tobyplowy commented on #108
![dragon](https://user-images.githubusercontent.com/16853304/30461309-c11c3e1c-99bd-11e7-99c8-7bcee51cd83b.png)

[2017-09-15 00:35] tobyplowy commented on #108
@D00Med I'm going now have a good day :)

[2017-09-15 00:44] D00Med commented on #108
@tobyplowy Nice.
Ok, goodnight

[2017-09-15 21:48] tobyplowy commented on #108
@D00Med Cant talk today :)

Maybe later today but probably not so see you tomorrow

[2017-09-15 21:55] D00Med commented on #108
@tobyplowy Ok, talk then

[2017-09-16 21:08] tobyplowy commented on #108
@D00Med hi

[2017-09-16 21:15] D00Med commented on #108
@tobyplowy Hello :)

[2017-09-16 21:18] tobyplowy commented on #108
@D00Med ey

[2017-09-16 21:21] tobyplowy commented on #108
@D00Med how are you doing today?

[2017-09-16 21:25] D00Med commented on #108
@tobyplowy I'm good thanks, how are you?

[2017-09-16 21:25] tobyplowy commented on #108
@D00Med I'm fine

Also im just finishing up with that dragon model

[2017-09-16 21:28] D00Med commented on #108
@tobyplowy cool.
I thought it'd be nice to use fires for something, so I made it possible to cook meat cubes with fire by right-clicking.

[2017-09-16 21:29] tobyplowy commented on #108
@D00Med good idea

[2017-09-16 21:30] D00Med commented on #108
@tobyplowy Also I'm thinking that tents would be a nice thing to have

[2017-09-16 21:31] tobyplowy commented on #108
@D00Med yeh but they should be made from blocks (not objects)

[2017-09-16 21:34] D00Med commented on #108
@tobyplowy I'm not sure what you mean.

[2017-09-16 21:41] tobyplowy commented on #108
@D00Med Don't make the whole thing one block

[2017-09-16 21:46] D00Med commented on #108
@tobyplowy How about a frame and canvas separate?

[2017-09-16 21:49] tobyplowy commented on #108
@D00Med ok make it 1 block

[2017-09-16 21:50] D00Med commented on #108
@tobyplowy Ok

[2017-09-16 21:51] tobyplowy commented on #108
@D00Med the dragon model is done now the Texture

[2017-09-16 21:52] D00Med commented on #108
@tobyplowy Nice

[2017-09-16 22:08] tobyplowy commented on #108
@D00Med Nevermind I fucked something up and I have to remodel yaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaay :/

[2017-09-16 22:08] D00Med commented on #108
That sucks

[2017-09-16 22:13] tobyplowy commented on #108
@D00Med Yeh it does but techne saved me :)

Also why the confused Emoji?

[2017-09-16 22:14] D00Med commented on #108
@tobyplowy It looks sad for me

[2017-09-16 22:17] tobyplowy commented on #108
@D00Med well that was confusing
![xd](https://user-images.githubusercontent.com/16853304/30516374-904839ea-9b3d-11e7-963d-0255a43b2e14.png)

[2017-09-16 22:18] D00Med commented on #108
@tobyplowy Oh xD it does kind of look sad-ish

[2017-09-16 22:18] tobyplowy commented on #108
@D00Med What it looks like on mobile
![screenshot_20170917-001744](https://user-images.githubusercontent.com/16853304/30516376-a7a62840-9b3d-11e7-983b-9a30b5e914f5.png)

[2017-09-16 22:18] D00Med commented on #108
It doesn't look confused

[2017-09-16 22:20] tobyplowy commented on #108
@D00Med yeh it does well on mobile it does XD

[2017-09-16 22:21] GreenXenith commented on #108
![image](https://user-images.githubusercontent.com/24834740/30516388-b8aafbf2-9af2-11e7-84e0-21a0df266636.png)

[2017-09-16 22:24] D00Med commented on #108
:S  < that's a confused face

[2017-09-16 22:38] tobyplowy commented on #108
@D00Med I'm really enjoying this remapping XD

[2017-09-16 22:38] tobyplowy commented on #108
NOT!

[2017-09-16 22:38] D00Med commented on #108
@tobyplowy Must be fun

[2017-09-16 22:49] tobyplowy commented on #108
[dragon.zip](https://github.com/D00Med/farlands/files/1308720/dragon.zip)

[2017-09-16 22:50] tobyplowy commented on #108
@D00Med model is done and I will make a Texture later I need to take a break XD

[2017-09-16 22:51] D00Med commented on #108
@tobyplowy Ok, thanks

[2017-09-16 22:53] D00Med commented on #108
@tobyplowy I'm going now, enjoy your evening

[2017-09-16 22:53] tobyplowy commented on #108
Yeh it's as much fun as Getting a blue screen on your computer and trying to fix that (it takes forever and it's super boring and the Only reason it happens is because you fucked Something up)

[2017-09-16 22:55] tobyplowy commented on #108
@D00Med Well you didn't fuck it up but me but you get what I'm saying XD

[2017-09-16 22:57] tobyplowy commented on #108
Ok have a good day

[2017-09-17 21:03] tobyplowy commented on #108
@D00Med hi :)

[2017-09-17 21:36] D00Med commented on #108
@tobyplowy Hello
I can't talk today sorry.

[2017-09-17 22:06] tobyplowy commented on #108
@D00Med Ok well have a good day than :)

[2017-09-18 08:23] D00Med commented on #108
I did have a good day thanks. I went to a park in the city nearby. Every year there is a flower display there. Seeing all the flowers inspired me to add some more to farlands.
![screenshot_20170918_180703](https://user-images.githubusercontent.com/19916704/30533753-5b16f5ba-9c9e-11e7-9c0e-68925abaebd8.png)
There are so many flowers in Farlands.

[2017-09-18 10:31] tobyplowy commented on #108
@D00Med nice!
I really like the hanging flowers :)

[2017-09-18 12:51] tobyplowy commented on #108
nevermind XD

[2017-09-18 16:40] tobyplowy commented on #86
next up is difrent vilage buildings depending on the biome they genarate in

[2017-09-18 16:41] #104 closed

[2017-09-18 16:44] tobyplowy commented on #87
@GreenXenith soooooo how ja doin XD

[2017-09-18 16:58] tobyplowy commented on #108
@D00Med shuld the glacier biome be removed?

(i dount like it and its imposible to survive in)

[2017-09-18 20:38] D00Med commented on #108
@tobyplowy No :/ we can make it more interesting, and possible to survive in

[2017-09-18 20:42] D00Med commented on #108
@tobyplowy Hi btw

[2017-09-18 20:45] tobyplowy commented on #108
@D00Med Hi

[2017-09-18 20:46] tobyplowy commented on #108
How?

Again how

[2017-09-18 20:49] D00Med commented on #108
@tobyplowy More caves maybe, and icicles(really good looking ones though).
We could add mobs like penguins(there is already one in mobs_animal), and polar bears.
Once we add fishing we could add pools of water as an ore below the snow layer.
Also air as an ore could be used for caves like in Legend of Minetest.

[2017-09-18 20:51] tobyplowy commented on #108
@D00Med eeeeeh I agree with the above I think that it's also too big can you make it smaller?

[2017-09-18 20:52] D00Med commented on #108
@tobyplowy I might be able to, I'll try

[2017-09-18 20:53] tobyplowy commented on #108
@D00Med also can you make a V2 branch?

[2017-09-18 20:53] D00Med commented on #108
@tobyplowy Yes, I meant to ask about that.

[2017-09-18 20:54] D00Med commented on #108
@tobyplowy Is V2 too much of a leap?

[2017-09-18 20:54] tobyplowy commented on #108
@D00Med well I guess I was faster XD

[2017-09-18 20:58] tobyplowy commented on #108
What about Eskimo vilages for the glacier biome?

[2017-09-18 21:03] tobyplowy commented on #108
How so in what way do you mean that?

[2017-09-18 21:14] D00Med commented on #108
@tobyplowy That'd be cool!
I was just thinking maybe it should be 1.1 or something, but V2 is good

[2017-09-18 21:17] tobyplowy commented on #108
What would you like the Focus to be of 1.1?

Creative builders update maybe?
(More decoblocks)

[2017-09-18 21:18] D00Med commented on #108
@tobyplowy I think so. Aah I already named the branch xD

[2017-09-18 21:20] tobyplowy commented on #108
@D00Med ok good 1.1 it is

[2017-09-18 21:21] tobyplowy commented on #108
@D00Med how big do you whant 1.1 to be?

And can you make a Todo?

[2017-09-18 21:21] D00Med commented on #108
@tobyplowy No I mean I already named it V2 xD so which shall it be? I can delete the branch if we change the name.

[2017-09-18 21:23] tobyplowy commented on #108
@D00Med it should be V1.1 I was thinking about making a creative content update before V2 so I think you should call it v1.1 if that is ok for you

[2017-09-18 21:24] D00Med commented on #108
@tobyplowy Ok, I will. I've got to go :/ Sorry.

[2017-09-18 21:24] tobyplowy commented on #108
@D00Med or we can skip the creative decoblocks version and start V2 right away

[2017-09-18 21:25] tobyplowy commented on #108
@D00Med Ok have a good day

[2017-09-18 21:25] tobyplowy commented on #108
@D00Med Also those new flowers did you make the Textures for them?

[2017-09-19 20:44] tobyplowy commented on #108
@D00Med hi

[2017-09-19 21:01] D00Med commented on #108
@tobyplowy Hi.
Yes I did.

[2017-09-19 21:03] tobyplowy commented on #108
@D00Med nice textures

[2017-09-19 21:03] D00Med commented on #108
@tobyplowy Thanks. Sorry about yesterday by the way

[2017-09-19 21:04] tobyplowy commented on #108
What why?

[2017-09-19 21:05] D00Med commented on #108
@tobyplowy Just because I left so early. I wasn't expecting to have to go so suddenly

[2017-09-19 21:06] tobyplowy commented on #108
@D00Med oh that's no problem :)

[2017-09-19 21:07] tobyplowy commented on #108
@D00Med If you gotta go you gotta go XD

[2017-09-19 21:08] tobyplowy commented on #108
@D00Med so do we make the next update v1.1 and we focus on decoblocks and other decorative blocks?

[2017-09-19 21:09] D00Med commented on #108
@tobyplowy Ok, that might be an idea

[2017-09-19 21:10] tobyplowy commented on #108
@D00Med A small update?

[2017-09-19 21:11] tobyplowy commented on #108
@D00Med We may also be able to add the furniture mod you wanted to make

[2017-09-19 21:12] D00Med commented on #108
@tobyplowy Yeah, and that will be needed for villages I think

[2017-09-19 21:15] tobyplowy commented on #108
How so

Also is it possible to make vilagers (NPCs) interact with the furniture?
Like sitting on a chair using a furnace and so on

[2017-09-19 21:20] tobyplowy commented on #108
Ok i understand now This Is probably For The custom build Villages depending on the furniture in the house It will Spawn npcs yes?

[2017-09-19 21:20] D00Med commented on #108
@tobyplowy For different houses.
Yes it is, but only with a mod.

[2017-09-19 21:23] tobyplowy commented on #108
@D00Med well I think that npc object interaction should be kept for future content
So we should not talk about it now :)

[2017-09-19 21:23] D00Med commented on #108
@tobyplowy Yeah I agree

[2017-09-19 21:24] tobyplowy commented on #108
@D00Med so can you make a Todo list for 1.1 (still need a proper name)

[2017-09-19 21:27] tobyplowy commented on #108
@D00Med I think you should get the honor of naming V1.1

[2017-09-19 21:29] D00Med commented on #108
@tobyplowy Ok thanks, I will think of something. Should I just add the furniture to decoblocks?

[2017-09-19 21:30] tobyplowy commented on #108
@D00Med I think the furniture shuld be a new mod

[2017-09-19 21:38] tobyplowy commented on #108
@D00Med do you have any other ideas for 1.1?

[2017-09-19 21:43] D00Med commented on #108
@tobyplowy Ok. maybe just blocks of solid colour?

[2017-09-19 21:43] D00Med commented on #108
@tobyplowy and mobs, I think those are important to add

[2017-09-19 21:43] tobyplowy commented on #108
hey you stole that idea from the todo list XD

[2017-09-19 21:46] D00Med commented on #108
@tobyplowy did I? xD

[2017-09-19 21:46] tobyplowy commented on #108
@D00Med how do i make a v1.1 branch?

[2017-09-19 21:47] D00Med commented on #108
@tobyplowy Isn't there already a v1.1 branch?

[2017-09-19 21:47] D00Med commented on #108
https://github.com/D00Med/farlands/tree/V1.1

[2017-09-19 21:51] tobyplowy commented on #108
@D00Med i cant find the 1.1 branch in github desktop

[2017-09-19 21:52] tobyplowy commented on #108
![naamloos](https://user-images.githubusercontent.com/16853304/30617261-8a1f620a-9d95-11e7-8f82-28b623b22dfd.png)

[2017-09-19 22:03] tobyplowy commented on #108
@D00Med refresh the page XD

[2017-09-19 22:04] D00Med commented on #108
@tobyplowy try syncing first?

[2017-09-19 22:04] tobyplowy commented on #108
@D00Med alredy did

[2017-09-19 22:06] D00Med commented on #108
@tobyplowy google it maybe?

[2017-09-19 22:06] tobyplowy commented on #108
@D00Med eeeh

[2017-09-19 22:10] tobyplowy commented on #108
@D00Med can you see the 1.1 branch i made in github desktop?

[2017-09-19 22:10] D00Med commented on #108
@tobyplowy Nope

[2017-09-19 22:11] tobyplowy commented on #108
![naamloos](https://user-images.githubusercontent.com/16853304/30617853-4047d402-9d98-11e7-9c5d-22a9d81ce651.png)

[2017-09-19 22:12] tobyplowy commented on #108
@D00Med thats aperently how you have to do it

[2017-09-19 22:14] D00Med commented on #108
@tobyplowy Oh ok. Sorry I wasn't very helpful there

[2017-09-19 22:15] tobyplowy commented on #108
@D00Med does it work?

[2017-09-19 22:18] D00Med commented on #108
@tobyplowy Yes, just be careful which banch you are looking at when you're doing stuff, because it changes the files to match the branch. eg: if you want to edit v1.1, make sure you have github open and select the v1.1 branch. You don't have to, but if you look at the master branch and forget later, you could accidentally make changes to the wrong one

[2017-09-19 22:19] tobyplowy commented on #108
@D00Med ok good and yes i know

[2017-09-19 22:21] tobyplowy commented on #108
@D00Med ssssoooooowwwwwww now what XD

[2017-09-19 22:24] D00Med commented on #108
@tobyplowy What will you do for v1.1?

[2017-09-19 22:26] tobyplowy commented on #108
@D00Med textures and models

[2017-09-19 22:27] D00Med commented on #108
@tobyplowy Ok

[2017-09-19 22:31] tobyplowy commented on #108
@D00Med I will also do some small fixes for crafting and I will probably register some blocks

[2017-09-19 22:32] D00Med commented on #108
@tobyplowy Sounds good. This is sounding like a good update, small but useful.
brb

[2017-09-19 22:37] tobyplowy commented on #108
Yeh

Ok :)

[2017-09-19 22:50] tobyplowy commented on #108
@D00Med how long did you say it would take for farlands to be added to subgame releases?

[2017-09-19 23:03] D00Med commented on #108
@tobyplowy A couple of weeks maybe

[2017-09-19 23:05] tobyplowy commented on #108
@D00Med Ok also I see your back XD

[2017-09-19 23:06] D00Med commented on #108
@tobyplowy Yeah xD

[2017-09-19 23:09] tobyplowy commented on #108
@D00Med I will add some stuff to 1.1

[2017-09-19 23:10] D00Med commented on #108
@tobyplowy Ok

[2017-09-19 23:17] tobyplowy commented on #108
why is this not working

})

minetest.register_node("decoblocks:snow_bricks", {
	description = "Snow Bricks",
	tiles = {"decoblocks_snow_bricks.png"},
	groups = {crumbly = 3, puts_out_fire = 1, cools_lava = 1, snowy = 1},
	sounds = default.node_sound_dirt_defaults({
		footstep = {name = "default_snow_footstep", gain = 0.15},
		dug = {name = "default_snow_footstep", gain = 0.2},
		dig = {name = "de

[2017-09-19 23:17] D00Med commented on #108
The last bracket should be like this ")"

[2017-09-19 23:18] D00Med commented on #108
The second last bracket should be followed by ")"

[2017-09-19 23:18] D00Med commented on #108
...dig = {name = "default_snow_footstep", gain = 0.2}
})
},

[2017-09-19 23:19] tobyplowy commented on #108
is not working

minetest.register_node("decoblocks:snow_bricks", {
	description = "Snow Bricks",
	tiles = {"decoblocks_snow_bricks.png"},
	groups = {crumbly = 3, puts_out_fire = 1, cools_lava = 1, snowy = 1},
	sounds = default.node_sound_dirt_defaults({
		footstep = {name = "default_snow_footstep", gain = 0.15},
		dug = {name = "default_snow_footstep", gain = 0.2},
dig = {name = "default_snow_foot

[2017-09-19 23:20] D00Med commented on #108
You also need another like this ")" after the last bracket like this "}"

[2017-09-19 23:23] tobyplowy commented on #108
@D00Med  i dount get i can you give ma a copy past of the whole thing?

[2017-09-19 23:26] D00Med commented on #108
minetest.register_node("decoblocks:snow_bricks", {
description = "Snow Bricks",
tiles = {"decoblocks_snow_bricks.png"},
groups = {crumbly = 3, puts_out_fire = 1, cools_lava = 1, snowy = 1},
sounds = default.node_sound_dirt_defaults({
footstep = {name = "default_snow_footstep", gain = 0.15},
dug = {name = "default_snow_footstep", gain = 0.2},
dig = {name = "default_snow_footstep", gain = 0.2}
})
})

[2017-09-19 23:27] tobyplowy commented on #108
@D00Med nope thats not working :/

[2017-09-19 23:30] D00Med commented on #108
@tobyplowy oh there's no need for the comma at the end

[2017-09-19 23:30] tobyplowy commented on #108
@D00Med this works tho
minetest.register_node("decoblocks:snow_bricks", {
	description = "Snow Bricks",
	tiles = {"decoblocks_snow_bricks.png"},
	groups = {crumbly = 3, puts_out_fire = 1, cools_lava = 1, snowy = 1},
footstep = {name = "default_snow_footstep", gain = 0.15},
dug = {name = "default_snow_footstep", gain = 0.2},
dig = {name = "default_snow_footstep", gain = 0.2}
})

[2017-09-19 23:31] D00Med commented on #108
@tobyplowy Does the sound work too?

[2017-09-19 23:31] tobyplowy commented on #108
@D00Med testing now

[2017-09-19 23:32] tobyplowy commented on #108
@D00Med nope god damit

[2017-09-19 23:33] D00Med commented on #108
This is partly why I use notepad++, it shows where brackets start and end.

[2017-09-19 23:35] tobyplowy commented on #108
@D00Med well i gues i will fix it later

[2017-09-19 23:36] tobyplowy commented on #108
snowsound briakes

[2017-09-19 23:37] tobyplowy commented on #108
@D00Med can you see the first commit i made to 1.1?

[2017-09-19 23:37] D00Med commented on #108
@tobyplowy Couldn't you just use sounds=default.node_sound_snow_defaults(),

[2017-09-19 23:39] tobyplowy commented on #108
@D00Med i just copy pasted the sound code from default but probably yes XD

[2017-09-19 23:40] tobyplowy commented on #108
@D00Med but can you see the first commit I made to 1.1?

[2017-09-19 23:45] tobyplowy commented on #108
@D00Med also Creative crafting grid is broken

[2017-09-19 23:48] D00Med commented on #108
@tobyplowy Yes I can. We have two 1.1 branches xD but don't worry about it, I'll just use the same one as you.
Is it broken even on new worlds?

[2017-09-19 23:49] tobyplowy commented on #108
@D00Med no only old ones

[2017-09-20 00:04] tobyplowy commented on #108
@D00Med I added a ice door and it is super cool (yes that joke was intended)

[2017-09-20 00:07] tobyplowy commented on #108
@D00Med I'm going now have a good day :)

[2017-09-20 00:11] D00Med commented on #108
@tobyplowy Ok, thanks. goodnight

[2017-09-20 00:12] tobyplowy commented on #108
@D00Med look at the last commit I made XD

[2017-09-20 00:17] D00Med commented on #108
@tobyplowy n-ice xD

[2017-09-20 14:49] tobyplowy commented on #108
@D00Med you have to try this!!!!
https://forum.minetest.net/viewtopic.php?f=9&t=18515&sid=e460797643625a72f46be8eab6c7d359

[2017-09-20 20:55] tobyplowy commented on #108
@D00Med hi

[2017-09-20 21:17] tobyplowy commented on #108
@D00Med hi

[2017-09-20 21:39] D00Med commented on #108
@tobyplowy Hi. I will try that mod out

[2017-09-20 21:40] tobyplowy commented on #108
@D00Med it's super easy to use even I can use it XD

[2017-09-20 21:41] D00Med commented on #108
@tobyplowy That's good, I was worried it might be harder to use than worldedit

[2017-09-20 21:42] tobyplowy commented on #108
@D00Med No you just need to know how big the thing is (but you can just guess XD)

[2017-09-20 21:43] D00Med commented on #108
@tobyplowy Ok, great

[2017-09-20 21:43] tobyplowy commented on #108
@D00Med Lol

[2017-09-20 21:47] tobyplowy commented on #108
@D00Med i even made a scematic for you XD
[test.zip](https://github.com/D00Med/farlands/files/1319337/test.zip)

[2017-09-20 21:53] D00Med commented on #108
XD

[2017-09-20 21:53] tobyplowy commented on #108
@D00Med what have i done XD
![xd](https://user-images.githubusercontent.com/16853304/30669491-d7bbc908-9e5e-11e7-9fac-e30bcefe91de.png)

[2017-09-20 21:55] D00Med commented on #108
@tobyplowy what was it you said? something like "this is farlands dev where we go; xD"

[2017-09-20 21:57] tobyplowy commented on #108
@D00Med yeh something like that

[2017-09-20 21:59] D00Med commented on #108
@tobyplowy Farlands 1.1 - the xD update

[2017-09-20 22:00] tobyplowy commented on #108
@D00Med 10 out of 10 best update XD

[2017-09-20 22:01] tobyplowy commented on #108
april fools update hu hu wink wink

[2017-09-20 22:02] tobyplowy commented on #108
@D00Med cosy igloo set
![igloo intirior](https://user-images.githubusercontent.com/16853304/30669811-02294b24-9e60-11e7-8318-86e7dbf58093.png)

it also has a f-rose-n rose XD

[2017-09-20 22:04] D00Med commented on #108
@tobyplowy Nice :D

[2017-09-20 22:05] tobyplowy commented on #108
@D00Med for some reason the transparecy doesent work on the ice windows :/

[2017-09-20 22:06] D00Med commented on #108
@tobyplowy did you add "use_texture_alpha = true," to the definition?

[2017-09-20 22:07] tobyplowy commented on #108
@D00Med yes

[2017-09-20 22:11] tobyplowy commented on #108
@D00Med whats the problem doc XD

[2017-09-20 22:15] D00Med commented on #108
@tobyplowy idk, can you send a copy of the code?

[2017-09-20 22:17] tobyplowy commented on #108
@D00Med well can you look github?

[2017-09-20 22:32] tobyplowy commented on #108
@D00Med so how can it be fixed

[2017-09-20 22:32] D00Med commented on #108
@tobyplowy Hmm I'll have a look this afternoon and try and fix it

[2017-09-20 22:35] tobyplowy commented on #108
@D00Med Ok thanks

What do you think about the stuff I added so far?

[2017-09-20 22:37] D00Med commented on #108
@tobyplowy It's good! I like the idea of the rug

[2017-09-20 22:40] tobyplowy commented on #108
@D00Med Yeh bear rugs are weard (your basically using a dead animal as a rug)
But it fits the style so yeh

[2017-09-20 22:44] D00Med commented on #108
@tobyplowy Yeah, and it kind of makes sense

[2017-09-20 22:45] tobyplowy commented on #108
@D00Med Yeh kind of XD

[2017-09-20 22:47] tobyplowy commented on #108
@D00Med I have a new motto for farlands

Farlands development where the XD stands for Xextreme development
(I know Xextreme is spelled extreme)

[2017-09-20 22:58] D00Med commented on #108
@tobyplowy Why don't we just name the whole game xD

[2017-09-20 22:58] tobyplowy commented on #108
@D00Med also I'm drawing at the moment so that's why I'm a bit silent

[2017-09-20 22:58] D00Med commented on #108
@tobyplowy that's ok, I'm kind of working on an assignment

[2017-09-20 22:59] tobyplowy commented on #108
@D00Med XD lands

[2017-09-20 23:10] D00Med commented on #108
@tobyplowy What are you drawing?

[2017-09-20 23:10] D00Med commented on #108
If I may ask

[2017-09-20 23:15] tobyplowy commented on #108
@D00Med a demonic tree

[2017-09-20 23:16] tobyplowy commented on #108
@D00Med I'm trying to make something that looks realistic

[2017-09-20 23:17] D00Med commented on #108
@tobyplowy Ok, cool

[2017-09-20 23:29] tobyplowy commented on #108
@D00Med Hopefully it will be

[2017-09-20 23:41] tobyplowy commented on #108
![demon tree](https://user-images.githubusercontent.com/16853304/30672634-f21653f4-9e6d-11e7-9190-83d750611411.png)

[2017-09-20 23:41] tobyplowy commented on #108
![demon tree](https://user-images.githubusercontent.com/16853304/30672656-0c91f1f2-9e6e-11e7-9518-6f4f24cb2e71.png)

[2017-09-20 23:44] D00Med commented on #108
@tobyplowy Looking good!

[2017-09-20 23:58] tobyplowy commented on #108
@D00Med thanks

[2017-09-21 00:02] tobyplowy commented on #108
@D00Med done i removed the demon part it diddent work that well
![deadtree](https://user-images.githubusercontent.com/16853304/30673089-e1eee5f6-9e70-11e7-9bbd-ec9aa2e0f13c.png)

[2017-09-21 00:03] tobyplowy commented on #108
@D00Med i have to go now have a good day :D

[2017-09-21 00:04] D00Med commented on #108
@tobyplowy Yeah that looks better.
Ok, thanks, and goodnight

[2017-09-21 20:40] D00Med commented on #108
@tobyplowy Hello. I can't talk today, just letting you know

[2017-09-21 20:42] tobyplowy commented on #108
@D00Med ok

[2017-09-22 20:51] D00Med commented on #108
@tobyplowy Hello

[2017-09-22 20:53] tobyplowy commented on #108
@D00Med hi

[2017-09-22 20:58] tobyplowy commented on #108
@D00Med I'm good and you?

[2017-09-22 21:08] D00Med commented on #108
@tobyplowy I'm good thanks

[2017-09-22 21:09] tobyplowy commented on #108
@D00Med I'm installing video editing software or at least trying to XD

[2017-09-22 21:10] D00Med commented on #108
@tobyplowy Oh ok. Installing software is such a joy xD

[2017-09-22 21:13] tobyplowy commented on #108
@D00Med Yeh especially if the windows version is the least supported
(that's a lie Mac is but windows is second)

[2017-09-22 21:13] D00Med commented on #108
@tobyplowy Oh ok

[2017-09-22 21:14] D00Med commented on #108
@tobyplowy I don't even think about adding "@tobyplowy" anymore O.o it's a habit now.

[2017-09-22 21:16] tobyplowy commented on #108
@D00Med I know that it's the same for me XD

[2017-09-22 21:18] D00Med commented on #108
@tobyplowy Oh I should say, I'll be away from monday to thursday(sunday to wednesday for you) next week.

[2017-09-22 21:19] tobyplowy commented on #108
@D00Med Ok

[2017-09-22 21:20] tobyplowy commented on #108
@D00Med and what will you do or where will you go if I may ask :)

[2017-09-22 21:21] D00Med commented on #108
@tobyplowy I have three days of lab lessons at uni

[2017-09-22 21:22] tobyplowy commented on #108
You making drugs in your caravan?

[2017-09-22 21:24] tobyplowy commented on #108
@D00Med #brakingbad

[2017-09-22 21:24] D00Med commented on #108
@tobyplowy I will be making aspirin and paracetamol

[2017-09-22 21:30] tobyplowy commented on #108
@D00Med no explosions :(

[2017-09-22 21:31] tobyplowy commented on #108
@D00Med But all jokes aside cool

So what do you what to become?
Like a doctor or something?

[2017-09-22 21:32] D00Med commented on #108
@tobyplowy

 maybe not 😏
I'm aiming to become a teacher

[2017-09-22 21:34] tobyplowy commented on #108
XD

Oh yeh you already told me that but I forgot :/
So what will you teach?

[2017-09-22 21:34] D00Med commented on #108
@tobyplowy yeah, that's ok. Chemistry and maths.
 what about you? what do you want to become?

[2017-09-22 21:37] D00Med commented on #108
@tobyplowy brb

[2017-09-22 21:39] tobyplowy commented on #108
I would like to become a game artist and owner of a small indie game company but that's never going to happen for more than one reason :/

[2017-09-22 21:40] tobyplowy commented on #108
@D00Med hey maybe you can use minetest in your class XD

[2017-09-22 21:49] D00Med commented on #108
@tobyplowy Ok. I think you can do it :)
Haha yeah maybe xD
Also I'm going to be gone for maybe half an hour or so

[2017-09-22 21:50] tobyplowy commented on #108
Today?

[2017-09-22 21:51] tobyplowy commented on #108
It will stay a dream until I rot in my grave

[2017-09-22 22:13] D00Med commented on #108
@tobyplowy Ok, I'm back.
Ah well if dreams were totally out of reach I don't think they'd be dreams.

[2017-09-22 22:14] tobyplowy commented on #108
@D00Med uh I suppose that's true

[2017-09-22 22:18] D00Med commented on #108
@tobyplowy yeah.
.

[2017-09-22 22:24] tobyplowy commented on #108
@D00Med I'm editing my first video :)

[2017-09-22 22:25] D00Med commented on #108
@tobyplowy Cool. What editor are you using?

[2017-09-22 22:33] tobyplowy commented on #108
@D00Med Kdenlive

[2017-09-22 22:45] D00Med commented on #108
@tobyplowy Oh ok, is it good?

[2017-09-22 22:50] tobyplowy commented on #108
@D00Med yeh it is

[2017-09-22 22:55] D00Med commented on #108
@tobyplowy Ok

[2017-09-22 23:12] tobyplowy commented on #108
@D00Med I'm almost done

[2017-09-22 23:13] D00Med commented on #108
@tobyplowy cool. Have you ever used "simple planes"?

[2017-09-22 23:16] tobyplowy commented on #108
@D00Med no but Google says it's a game

[2017-09-22 23:17] D00Med commented on #108
@tobyplowy Yeah, it's kind of hard to use, but fun.
![fatplane](https://user-images.githubusercontent.com/19916704/30767466-0a98d1b2-a040-11e7-9ada-10ae8f8f90d0.PNG)

[2017-09-22 23:19] tobyplowy commented on #108
@D00Med now that's a plain with obesity

A new oc for Pixar plains

[2017-09-22 23:19] D00Med commented on #108
@tobyplowy It can't take off xD

[2017-09-22 23:20] tobyplowy commented on #108
@D00Med i dount need the game to know that XD

[2017-09-22 23:23] tobyplowy commented on #108
@D00Med hey uh when will you have time for v1.1

Also what is the XD thing you added?

[2017-09-22 23:24] D00Med commented on #108
@tobyplowy Not sure.
Oh I just put the schematic into one of the folders so I could test it.

[2017-09-22 23:28] tobyplowy commented on #108
@D00Med ok also I think it's a good idea to remove that :)

Bdw that exporter wuzzy made is amazing!

[2017-09-22 23:42] tobyplowy commented on #108
@D00Med https://www.youtube.com/watch?v=oNN1uR6uZyY&feature=youtu.be

[2017-09-22 23:47] D00Med commented on #108
@tobyplowy Ok, I didn't think it mattered.
Yeah it's really good.

[2017-09-22 23:48] tobyplowy commented on #108
@D00Med what do you think of the text I added to my vid XD

[2017-09-22 23:48] D00Med commented on #108
@tobyplowy At the start? looking good

[2017-09-22 23:49] D00Med commented on #108
@tobyplowy White might be better

[2017-09-22 23:49] tobyplowy commented on #108
@D00Med The full vid has random quote highlights

[2017-09-22 23:49] tobyplowy commented on #108
@D00Med yeh still lerning

[2017-09-22 23:50] D00Med commented on #108
@tobyplowy I'm watching it now

[2017-09-22 23:55] tobyplowy commented on #108
@D00Med lol

[2017-09-23 00:05] D00Med commented on #108
"PRO"

[2017-09-23 00:08] tobyplowy commented on #108
@D00Med yeh is the text a good or a bad thing?

[2017-09-23 00:10] D00Med commented on #108
@tobyplowy It's funny

[2017-09-23 00:12] tobyplowy commented on #108
@D00Med yeh that's what I was trying to achieve XD

[2017-09-23 00:19] D00Med commented on #108
@tobyplowy super tux cart looks...exactly how I would expect it to be xD

[2017-09-23 00:24] tobyplowy commented on #108
@D00Med Bad XD

[2017-09-23 00:25] D00Med commented on #108
@tobyplowy yeah xD I'll stick to minetest

[2017-09-23 00:26] D00Med commented on #108
@tobyplowy It seems to be the best open source game I've seen.

[2017-09-23 00:26] D00Med commented on #108
oh but that's excluding things like open tyrian or zdoom

[2017-09-23 00:27] tobyplowy commented on #108
@D00Med but the graphics look like shit!

[2017-09-23 00:28] D00Med commented on #108
@tobyplowy They're not so bad

[2017-09-23 00:29] tobyplowy commented on #108
@D00Med yes they are

Also I'm makeing a video to show farlands biomes ;)

[2017-09-23 00:31] D00Med commented on #108
![](https://i.ytimg.com/vi/RuV87oKIMfY/hqdefault.jpg)

[2017-09-23 00:32] tobyplowy commented on #108
@D00Med perfect X'D

[2017-09-23 00:34] D00Med commented on #108
@tobyplowy Perfect graphics xD
This is the new minecraft update

[2017-09-23 00:42] D00Med commented on #108
@tobyplowy I'm going now, goodnight

[2017-09-23 00:51] tobyplowy commented on #108
@D00Med Yup and you have a good day

[2017-09-23 13:06] tobyplowy opened #118 "Village book is hard to read"
@D00Med People report that The Village book is hard to read and to be honest I also have a bit of trouble

[2017-09-23 15:12] LoneWolfHT opened #119 "Bug reporting"
https://cdn.pbrd.co/images/GLId3G6.png

[2017-09-23 19:55] tobyplowy commented on #108
@D00Med hi

[2017-09-23 20:22] D00Med commented on #118
![](http://nooooooooooooooo.com/vader.jpg)

[2017-09-23 20:24] D00Med commented on #108
@tobyplowy Hello. Can't talk for long this morning

[2017-09-23 20:35] tobyplowy commented on #118
@D00Med lol

[2017-09-23 20:36] tobyplowy commented on #108
@D00Med Ok

[2017-09-23 20:37] tobyplowy commented on #108
@D00Med I was planning to do some more modeling for my unreal project anyway

[2017-09-23 20:38] D00Med commented on #108
@tobyplowy Ok cool.
I have to carry firewood again

[2017-09-23 20:40] tobyplowy commented on #108
![giphy](https://user-images.githubusercontent.com/16853304/30776947-23320430-a0b0-11e7-9689-fee1ad2fd317.gif)

[2017-09-23 20:41] D00Med commented on #108
@tobyplowy Whoops, wrong one

[2017-09-23 20:41] D00Med commented on #108
@tobyplowy It's not really hard, just time consuming

[2017-09-23 20:42] tobyplowy commented on #108
yeh that or your just very happy to carry firewood
I will give you the benefit of the dout XD

[2017-09-23 20:49] D00Med commented on #108
@tobyplowy How are you today btw?

[2017-09-23 20:51] tobyplowy commented on #108
@D00Med good and you?

[2017-09-23 20:52] D00Med commented on #108
@tobyplowy I'm good thanks

[2017-09-23 20:55] tobyplowy commented on #108
@D00Med that's good :)

[2017-09-23 20:58] D00Med commented on #108
@tobyplowy I'm just cleaning my computer, there are so many random files everywhere.

[2017-09-23 21:04] tobyplowy commented on #108
@D00Med I don't bother anyone XD

[2017-09-23 21:05] D00Med commented on #108
![explain](https://user-images.githubusercontent.com/19916704/30777092-bc8cd4c0-a0f6-11e7-8133-9889c70af4d5.jpg)

[2017-09-23 21:08] D00Med commented on #108
@tobyplowy I've got to go now.
Goodnight :)

[2017-09-23 21:09] tobyplowy commented on #108
@D00Med Ok see you

[2017-09-24 09:31] kingoscargames opened #120 "Anvil has a weird hitbox"
![image](https://user-images.githubusercontent.com/29333817/30781252-ef8606d8-a11b-11e7-9596-d3316a8cef67.png)

[2017-09-24 12:09] tobyplowy commented on #120
@kingoscargames yes I know I'm very bad with these hitboxes :/
I will ask d00med if he can help

[2017-09-24 12:09] tobyplowy commented on #120
@kingoscargames keep the issues coming :)

[2017-09-25 14:19] DS-Minetest commented on #120
You can make selection and collision boxes like node boxes.

[2017-09-25 15:12] tobyplowy commented on #120
@DS-Minetest Ok

[2017-09-27 20:37] D00Med commented on #108
@tobyplowy Hello

[2017-09-27 20:37] D00Med commented on #120
@tobyplowy @DS-Minetest I can fix this

[2017-09-28 20:55] tobyplowy commented on #108
@D00Med sorry for not being there yesterday and not saying anything I had to go to work and when came back I was to tird to stay up any longer so I went to bed extremely early XD (the sun was still up)

Bdw it's time for another bad joke
So becouse of all that work I'm in alot of pain it hurts as hell
So that's why I say...

[2017-09-28 20:56] tobyplowy commented on #108
@D00Med Hell-o

[2017-09-28 20:58] D00Med commented on #108
@tobyplowy That's ok :)
Hello xD

[2017-09-28 21:00] tobyplowy commented on #108
@D00Med I also had to work today so I can't stay for long but tomorrow hopefully everything will be back to normal :)

[2017-09-28 21:01] tobyplowy commented on #108
@D00Med so what do we talk about?

[2017-09-28 21:02] D00Med commented on #108
@tobyplowy Ok :)
idk xD what's new?

[2017-09-28 21:05] tobyplowy commented on #108
@D00Med Eehhhh I earned a 170€s in 2 days

[2017-09-28 21:09] D00Med commented on #108
@tobyplowy Is that good or bad? I don't know what €s are worth

[2017-09-28 21:12] tobyplowy commented on #108
@D00Med well eperently it's good but is hard work
So hard in fact that I Still felt the pain of Yesterday This Morning (I wish I was joking)

[2017-09-28 21:15] tobyplowy commented on #108
@D00Med It's good money but it's not worth it if you are not used to construction work
I'm an ''artist'' not an construction worker XD

[2017-09-28 21:20] D00Med commented on #108
@tobyplowy Ok.
Ohh yeah I imagine it would be :'D

[2017-09-28 21:22] tobyplowy commented on #108
@D00Med so how's V1.1 have you made any changes?

[2017-09-28 21:23] D00Med commented on #108
@tobyplowy Nothing yet

[2017-09-28 21:26] tobyplowy commented on #108
@D00Med Can you please fix the anvil?
Maybe we should just ask blenderguru XD
(if you haven't seen his latest tutorial you should also that joke will make sense)

[2017-09-28 21:36] tobyplowy commented on #108
@D00Med I'm going now have a good day :)

[2017-09-28 21:39] D00Med commented on #108
@tobyplowy Yep.
Oh ok.
Alright, goodnight

[2017-09-29 21:23] tobyplowy commented on #108
@D00Med Hi

[2017-09-29 21:48] D00Med commented on #108
@tobyplowy Hello

[2017-09-29 21:54] tobyplowy commented on #108
@D00Med Yay

[2017-09-29 21:55] D00Med commented on #108
@tobyplowy How are you?

[2017-09-29 21:58] tobyplowy commented on #108
@D00Med I'm good and you?

[2017-09-29 22:02] D00Med commented on #108
@tobyplowy I'm good too thanks

[2017-09-29 22:15] tobyplowy commented on #108
@D00Med that's good XD

[2017-09-29 22:23] D00Med commented on #108
@tobyplowy  Yep.

[2017-09-29 22:26] D00Med commented on #108
@tobyplowy I don't really know what to talk about today

[2017-09-29 22:37] tobyplowy commented on #108
@D00Med me too

[2017-09-29 22:39] tobyplowy commented on #108
that seems to be a problem lately XD
(It all started after V1 was released)

[2017-09-29 22:39] D00Med commented on #108
@tobyplowy :')

[2017-09-29 22:42] tobyplowy commented on #108
@D00Med How can stained glass be added to V1.1 easely (note textures are already done)

[2017-09-29 22:47] D00Med commented on #108
@tobyplowy Stained glass panes or blocks?

[2017-09-29 22:50] tobyplowy commented on #108
@D00Med both for each color

So that's 16 colors times 2 that will be 32 new blocks 16 glass blocks and 16 glass panes

[2017-09-29 22:52] D00Med commented on #108
@tobyplowy Ok, I can add them

[2017-09-29 22:54] tobyplowy commented on #108
@D00Med Ok fantastic can you add temp textures so I can replace them after you added the code

[2017-09-29 22:55] tobyplowy commented on #108
@D00Med also can we do another Voice chat soon?

[2017-09-29 22:56] D00Med commented on #108
@tobyplowy Ah yeah.
Yeah maybe, idk how busy I'm going to be.

[2017-09-29 22:56] tobyplowy commented on #108
@D00Med oh no XD

[2017-09-29 22:57] D00Med commented on #108
@tobyplowy Yeah :(

[2017-09-29 22:58] tobyplowy commented on #108
@D00Med heh XD

[2017-09-29 23:04] tobyplowy commented on #108
@D00Med also I have a new video with alot of editing :)
https://youtu.be/WIniEikcUI0

[2017-09-29 23:07] D00Med commented on #108
@tobyplowy Ok, I will have a look

[2017-09-29 23:11] tobyplowy commented on #108
@D00Med :)
You will definitely get some laughs XD

[2017-09-29 23:12] tobyplowy commented on #108
@D00Med i had way to much fun naming that first achievement XD

[2017-09-29 23:28] D00Med commented on #108
@tobyplowy sorry I'm not talking much

[2017-09-29 23:29] tobyplowy commented on #108
@D00Med it's fine

[2017-09-29 23:36] tobyplowy commented on #108
@D00Med at what part are you in the video
And is the editing good have you laughed already?

[2017-09-30 00:15] tobyplowy commented on #108
@D00Med I'm going now

[2017-09-30 00:19] D00Med commented on #108
@tobyplowy Haven't watched it yet.
Ok, goodnight :) I'll let you know what I think of the video later

[2017-09-30 10:20] gorkoda1 opened #121 "/change_weather crashes the subgame"
`/change_weather rain` and `/change_weather storm` results in a runtime error
[https://i.imgur.com/l5zy5f6.png](https://i.imgur.com/l5zy5f6.png)
this is due to the fact that the arguments of math.random() is passed in the wrong order
`velocity = {x=0, y=math.random(-15,-20), z=0},`
should be `velocity = {x=0, y=math.random(-20,-15), z=0},`
`velocity = {x=0, y=math.random(-25,-30), z=0},`
should be

[2017-09-30 21:03] tobyplowy commented on #108
@D00Med well I can't talk today so waba labe dab dab XD

[2017-09-30 21:48] D00Med commented on #108
@tobyplowy oh that's a shame.
I watched your video xD Video magic is amazing

[2017-10-01 21:04] tobyplowy commented on #108
@D00Med hi

[2017-10-01 21:07] D00Med commented on #108
@tobyplowy Hello

[2017-10-01 21:08] tobyplowy commented on #108
@D00Med Yay

[2017-10-01 21:12] tobyplowy commented on #108
@D00Med so now what XD

[2017-10-01 21:19] D00Med commented on #108
@tobyplowy idk xD

[2017-10-01 21:20] tobyplowy commented on #108
@D00Med well uuuuhhhh

[2017-10-01 21:21] D00Med commented on #108
@tobyplowy :] how are you doing?

[2017-10-01 21:22] tobyplowy commented on #108
@D00Med I'm good and you?

[2017-10-01 21:23] tobyplowy commented on #108
@D00Med can we Voicechat?

[2017-10-01 21:31] D00Med commented on #108
@tobyplowy I'm good thanks.
No sorry, I have other things to do

[2017-10-01 21:32] tobyplowy commented on #108
@D00Med ok

[2017-10-01 21:33] tobyplowy commented on #108
@D00Med maybe we shouldn't talk every day unless we're actually working on something what do you think?

[2017-10-01 21:43] D00Med commented on #108
@tobyplowy Yeah

[2017-10-01 21:44] tobyplowy commented on #108
@D00Med so how do I know you have time to work on things Mt related?

[2017-10-01 21:45] D00Med commented on #108
@tobyplowy idk, probably saying hi each day xD

[2017-10-01 21:45] D00Med commented on #108
@tobyplowy I'll say when I do anyway

[2017-10-01 21:47] tobyplowy commented on #108
@D00Med ok well than that's good :)

[2017-10-01 21:47] D00Med commented on #108
@tobyplowy Yeah

[2017-10-01 21:48] tobyplowy commented on #108
@D00Med ok now it's getting awkward XD

[2017-10-01 21:50] D00Med commented on #108
@tobyplowy xD What games have you been playing lately?

[2017-10-01 21:52] tobyplowy commented on #108
@D00Med planet coaster it's a successor to rollercoaster tycoon

Atari is now on my dount buy anything from this company at all costs list just under EA and above Ubisoft

[2017-10-01 21:55] D00Med commented on #108
@tobyplowy Oh ok. I've never played either of those.
haha ok. What's wrong with it? (curious)

[2017-10-01 22:06] tobyplowy commented on #108
@D00Med look at this https://youtu.be/m8vltu1xLnU

[2017-10-01 22:07] tobyplowy commented on #108
@D00Med Also have you ever noticed this topic XD https://forum.minetest.net/viewtopic.php?f=3&t=18517&p=295829#p295829

[2017-10-01 22:10] D00Med commented on #108
@tobyplowy Oh thanks for pointing that one out

[2017-10-01 22:13] tobyplowy commented on #108
@D00Med no prob

[2017-10-01 22:19] D00Med commented on #108
@tobyplowy Wow that sucks :/

[2017-10-01 22:22] tobyplowy commented on #108
@D00Med rollercoaster tycoon world yeh that's my whole childhood ripped to shreds in front of my face and then set on fire and all that remains is the black ashes of greed

[2017-10-01 22:22] D00Med commented on #108
^ as in the game

[2017-10-01 22:23] tobyplowy commented on #108
@D00Med Yeh

[2017-10-01 22:23] D00Med commented on #108
@tobyplowy Sad :(

[2017-10-01 22:29] tobyplowy commented on #108
@D00Med well I'm going now see yah

[2017-10-01 22:31] D00Med commented on #108
@tobyplowy Ok, bye

[2017-10-02 21:13] tobyplowy commented on #108
@D00Med hi farlands got added to subgame releases :)
I'm so happy

[2017-10-02 21:20] D00Med commented on #108
@tobyplowy Hi
Oh that's great (and about time too xD)

[2017-10-02 21:21] tobyplowy commented on #108
@D00Med Yeh

[2017-10-02 21:30] tobyplowy commented on #108
@D00Med are you planning on making another update for the legend of minetest?

[2017-10-02 21:45] D00Med commented on #108
@tobyplowy Maybe, I had this idea for seasons, it might be a good thing

[2017-10-02 22:01] tobyplowy commented on #108
@D00Med for the legend of minetest or farlands?

[2017-10-02 22:03] D00Med commented on #108
@tobyplowy Maybe both

[2017-10-02 22:04] tobyplowy commented on #108
@D00Med hmmm for farlands later for the legend of minetest yeh :)

[2017-10-02 22:12] D00Med commented on #108
@tobyplowy Yeah, well I'll test it in legend of minetest to see if it works

[2017-10-02 22:13] tobyplowy commented on #108
@D00Med Ok

[2017-10-02 22:24] tobyplowy commented on #108
@D00Med well I'm going now have a good day

[2017-10-02 22:25] D00Med commented on #108
@tobyplowy Ok, goodnight

[2017-10-06 08:53] MarkuBu opened #124 "some leaves don't decay"
Some leaves like Willow and Palm don't decay, if all trunks are removed

[2017-10-06 10:58] tobyplowy commented on #124
@MarkuBu thanks for reporting :)

[2017-10-06 15:25] MarkuBu opened #125 "Can't open chests when holding crops"
I can't open doors or chests if I hold potatoes, radish or corn in my hand

[2017-10-06 16:06] MarkuBu opened #126 "Repairing tools with a hammer always need the same amount of uses"
It doesn't matter what kind of tool I repair with the hammer on a workbench, it always needs the same amount of wear. If I repair a wooden axe I need one hammer to repair it. So it cost more to repair (two iron and two sticks) than to build a new one.

If I repair a diamond axe it also needs one hammer

A hammer should hold much longer and it should be a difference in repair time and wear if I rep

[2017-10-06 16:21] MarkuBu opened #127 "Crops are rotting to fast"
I like the idea of rotting crops, but they rot too quickly. They grow to fast in general. If you cultivate something, you have to maintain your plants permanently. No time for digging or building while farming.

The plants should grow more slowly and remain in the "mature" state for a while before rotting.

[2017-10-06 19:26] MarkuBu opened #128 "If it rains at night the sky is white"
It looks weird when it rains at night.

![screenshot_20171006_212258](https://user-images.githubusercontent.com/16163058/31294886-d96a5c8a-aadc-11e7-86a2-6e88373097c2.png)

[2017-10-06 20:14] tobyplowy commented on #127
@D00Med ping

[2017-10-06 20:15] tobyplowy commented on #127
@MarkuBu keep them coming :)

[2017-10-06 20:16] tobyplowy commented on #108
@D00Med hi can you please have a look at some of the reported issues?

[2017-10-06 21:15] tobyplowy commented on #108
@D00Med lol

[2017-10-08 03:51] Napiophelios opened #129 "Increase Glow of Fireworks Particles"
Need to change the fireworks particles' glow to 13,
You can't see the fireworks at night.

[2017-10-08 08:58] MarkuBu opened #130 "NPCs should be limited"
I have dozens of NPCs walking around my house

![screenshot_20171007_192501](https://user-images.githubusercontent.com/16163058/31315336-fce46724-ac16-11e7-910a-7ff34e23e0ba.png)
These are only a few of them

I have also a lot of traders.

NPCs should have a limit. I suggest that NPCs despawn after a while if they have no house where they can live. And traders only spawn if there is no other trade

[2017-10-08 11:02] tobyplowy commented on #108
@D00Med you still there?

[2017-10-09 13:21] MarkuBu commented on #124
I'm a bit confused. Now I cut a jungle tree, but the leaves don't decay. Than I plant a new jungle tree from a sapling and this time the leaves decay when I cut the tree

[2017-10-09 13:29] MarkuBu opened #131 "long grass and wild oat don't drop when remove dirt below"
long grass and wild oat don't drop, if I remove the dirt below them.

[2017-10-10 08:30] D00Med commented on #108
@tobyplowy Hello :) how are you?
I will get to those issues later.
And yeah I'm here, I lost internet for a few days because of a storm.
Also I will, unfortunately for the project, be busy for quite some time. I have to go to a school this week and next, and I will have exams the two weeks after. So I have a lot to do. I probably won't be saying much here, just so you know.

[2017-10-10 09:21] MarkuBu commented on #108
What is the goal of this subgame? One interesting part are the villager, but they are really dumb until now (which is partly due to the engine). I have a few dozens of them swimming in a river, a few dozens in different caves, but only 2 or 3 near the buildings. They tend to walk downhills. All they do is placing their deed on the wall end fight enemies

So what's the goal of the game? What's the

[2017-10-10 09:49] D00Med commented on #108
@MarkuBu Hello.
There are sort of multiple goals. One is building villages which is a bit broken at the moment since the villagers stopped returning to their homes at night (I have no idea why, need to re-do that).
And yeah they are pretty dumb, that will also improve once I integrate the mod with smarter npc behaviours.
The other goals of the game would be exploring dungeons (not really implement

[2017-10-10 10:02] MarkuBu commented on #108
Villagers place their deed at each torch or lantern. I have three deeds in one of the default buildings. I guess, if you place 10 torches in a building you get 10 deeds, even if you only have one bed.

can I help with something?

[2017-10-10 10:16] tobyplowy commented on #108
Ok good :)

I hope not to much demage is done :/

Yeh the vilagers (NPCs) are as dumb as a bucket of scrap metal but that's not really our falt I think,
If only we could get a better mob api :)

Also the goals are exploration (not correctly implemented) vilage building (partially implemented) and revival of extinct animals (dinos and what not implemented) and also steampunk machines (not implement

[2017-10-10 10:22] D00Med commented on #108
@MarkuBu I don't know why that is happening, they shouldn't be placed if there is another deed nearby.
But if it's far apart in the same building I don't see that as a problem.

Sure, I'm quite busy for the next few weeks so I'm not likely to be working on anything.
We have a list of things that need doing on the projects page if you'd like to contribute.
Or there are the issues, and speaking of w

[2017-10-10 10:26] tobyplowy commented on #108
Yes I know :)

@MarkuBu yeh thanks for pointing those things out it will really help farlands :)

[2017-10-10 10:27] D00Med commented on #108
@tobyplowy Damn, the page wasn't refreshing.
Nah it's all good, just for some reason rain and internet don't go well.
Steampunk machines are implemented to an extent.

[2017-10-10 10:31] MarkuBu commented on #108
I'll take a look at the code. Maybe I can fix the one ore the other issue. I'm in the mood to do some programming again

[2017-10-10 10:33] tobyplowy commented on #108
Well yes but they don't really do anything special yet do they?

Ooohhh so that's why I didn't see it on the news
Most of the time when People say Storm they amediatly say how much people died so yeh happy it hear everyones ok :)

[2017-10-10 10:36] tobyplowy commented on #108
Yaaayyy amazing hey Eeeehhh do you have a skin you use in game (on servers) alot
We like to add statues of our collaborators to thank them and it's also cool dungoen loot ;D

[2017-10-10 10:36] MarkuBu opened #132 "Whales spawn in puddles"
I have a 2x2 endless water well in front of my house, but it is big enough that whales can spawn in it. Now I have a pet

![screenshot_20171010_123349](https://user-images.githubusercontent.com/16163058/31382288-6ffbd926-adb7-11e7-971d-ae86221da7c7.png)

[2017-10-10 10:39] tobyplowy commented on #132
@MarkuBu yup that is just amazing XD
but I would whale out of there before it's too late (best pun ever)

[2017-10-10 10:39] D00Med commented on #108
@MarkuBu Alright, thanks :)
@tobyplowy Yeah not really, I'm working on it.
Oh it definitely wasn't that bad. Also what Australians call a storm might not be the same in Europe :'D

[2017-10-10 10:39] tobyplowy commented on #132
@MarkuBu Also thank you for the report :)

[2017-10-10 10:39] D00Med commented on #108
@tobyplowy also I'm going now, I have work to do.
Enjoy your day :)

[2017-10-10 10:40] tobyplowy commented on #108
@D00Med jup you too :)

[2017-10-10 10:40] MarkuBu commented on #108
Have a nice day. I'll add some issues to work on

[2017-10-10 10:41] tobyplowy commented on #108
@MarkuBu thanks again for your interest in farlands

[2017-10-10 10:42] tobyplowy commented on #108
@MarkuBu What about this \/

[2017-10-10 10:45] MarkuBu commented on #108
No, I don't have my own skin (until now). I'm not a good artist

[2017-10-10 10:45] MarkuBu opened #133 "Unknown item when make a melon or pumpkin block"
If I put 9 melon or pumpkin slices to the crafting grid I get an unknown item

![screenshot_20171010_123909](https://user-images.githubusercontent.com/16163058/31382555-62163ba2-adb8-11e7-9900-d596715e31ef.png)

Should there be a recipe at all and if so, what is the result?

[2017-10-10 10:48] MarkuBu opened #134 "Yellow dandelion has wrong hitbox"
The yellow dandelion hat the same hitbox as the rose, but should have the hitbox as the white dandelion

![screenshot_20171009_195722](https://user-images.githubusercontent.com/16163058/31382795-19d7fbc2-adb9-11e7-9aca-fbb5686d7c3d.png)

[2017-10-10 10:49] tobyplowy commented on #133
Well it Should Give a full Mellon (or pumpkin) block I Know It Doesn't make Any Sense where's the glue am I right

[2017-10-10 10:50] tobyplowy commented on #133
@MarkuBu I can probably fix this one

[2017-10-10 10:50] MarkuBu opened #135 "Can't place the Village Building Book in a bookshelf"
As the title says. I can't place the VBB in a bookshelf.

[2017-10-10 10:51] tobyplowy commented on #108
@MarkuBu maybe you have another request for a statue?

[2017-10-10 10:53] tobyplowy commented on #87
@GreenXenith when can you work on this again?

[2017-10-10 10:57] MarkuBu opened #136 "Villagers place deeds too close"
In this case villagers place three deeds close together (there is one more inside). If they shouldn't place deeds nearby this seems to be a bug.

![screenshot_20171010_125226](https://user-images.githubusercontent.com/16163058/31383133-2e0fa45e-adba-11e7-8281-0b7590ff872c.png)

Also they place some deeds in the air and not at walls

[2017-10-10 11:35] MarkuBu commented on #134
It seems that the hitbox from MTG is still in use, but the texture has changed.

[2017-10-10 11:41] MarkuBu opened #137 "Chests, bookshelves and furnace are not usable in buildings"
In the default buildings chests, bookshelves and so on are not working. I have to dig and place them.

I know that this is an upstream issue from Minetest itself. If you place these items as part of a shematic they don't work. I just want to mention it and maybe we can find a solution.

[2017-10-10 11:42] MarkuBu commented on #108
Let me think about that.

Meanwhile I'm reporting some issues. I'm sorry there are so many of them.

[2017-10-10 11:46] MarkuBu opened #138 "Drop through beds when sleeping"
I always drop through a bed if I'm sleeping. Seems to be an issue with the beds mod. Doesn't happen with MTG

![screenshot_20171010_134410](https://user-images.githubusercontent.com/16163058/31384873-26481902-adc1-11e7-8827-50485aad4eb8.png)

[2017-10-10 11:53] MarkuBu opened #139 "Missing recipes for some decoblocks"
I like the default buildings, but it is not possible to build now once in the same style, because blocks like stucco or the lantern from the decoblocks mod have no recipe. If I want to build a house in the same style I have to go to creative mode.

 a lot of recipes for the registered nodes are missing in decoblocks

[2017-10-10 12:31] MarkuBu opened #140 "Improve farming"
Farlands adds some new items to farming, but the only food I use is bread. There are two main reasons:

1. Bread gives the most saturation as far as I could see
2. Crops like potatoes rot too fast, as mentioned in #127

To make farming more attractive some thoughts for discussion.

- Increase growing time of the crops and let them stay much longer in "mature" state.
- Decrease saturation of pure b

[2017-10-10 12:33] MarkuBu opened #141 "Can't build powered rails"
To build powered rails I need two crystal shards. But currently there is no way to get crystals.

[2017-10-10 14:46] tobyplowy commented on #108
Dount worry you are more than welcome to keep going :)

[2017-10-10 15:20] MarkuBu opened #142 "Burn time of grass is higher than leaves"
Based on the volume, I would expect leaves to burn longer than grass, but grass has a burn time of 2, leaves have 1.

[2017-10-10 15:29] MarkuBu opened #143 "NPCs "detect" enemies through solid walls"
Mobs and NPCs can detect each other through solid walls and also try to attack each other through solid walls or even a whole building. The NPC runs against the wall from one side of the building, the mob runs against the other side.

It happens a lot while I'm playing and it's annoying.

[2017-10-10 15:48] MarkuBu commented on #108
Ok, should I go the usual way? Fork, branch, edit, PR?

And what do you want me to start with?

[2017-10-10 19:06] tobyplowy commented on #108
Yes but If You plan To contribute alot I (if it's ok for d00med) consider adding you as project developer
So you don't have to go through the anoying pr bs you know

You can choose but if you want me to say what you have to do just let me know (that sounds so odd)
Dout forget to have fun :)

Also the whole portal to the float lands is a nice idea I there actually something like floatlands?

[2017-10-10 20:17] MarkuBu commented on #108
I don't know if I can contribute "alot". Let me first take a look at the current code. But I don't want to make a PR for each simple bugfix.

What I really want to do is to improve farming. But I want to discuss that with you first, maybe in #140

[2017-10-10 20:38] tobyplowy commented on #140
Yeh that was a problem d00med tryed to fix it but it didn't work :/

Yes good idea there really should be more crafteble food

That was the plan :)

For food crafting yes?

Good idea also monsters can drop some things too

True :)

Huh interesting :)

Yes!

Now only one problem I can only make models and textures I cat program
He's the programmer on board but he has no time so yeh

Oh well that's

[2017-10-10 20:44] MarkuBu commented on #140
Ok, let me take a look to the code... Tomorrow

[2017-10-10 20:45] tobyplowy commented on #108
@MarkuBu hey eh that YouTube video you made a while back this one https://youtu.be/DoHbO0RN8AU
Can that be added to farlands the lake's look so nice :)

[2017-10-10 20:45] tobyplowy commented on #140
@MarkuBu Ok :)

[2017-10-10 20:55] tobyplowy commented on #108
@MarkuBu why did you never release that mod?

[2017-10-10 21:49] MarkuBu commented on #108
It never worked perfectly

[2017-10-10 21:51] tobyplowy commented on #108
@MarkuBu aaahhh can you make it work correctly?

[2017-10-10 23:20] MarkuBu commented on #108
Not really. Problems are limitations of the engine. To make it work I had to write the whole mapgen in lua

[2017-10-11 09:05] MarkuBu commented on #140
It's a bit confusing what happens there. The general problem is, that the farming mod doesn't know a "mature" or "rot" state. It only knows states and it automatically steps from the first to the last state.

I try to add a mature state and stay in this state for a while.

![screenshot_20171011_105828](https://user-images.githubusercontent.com/16163058/31431222-5131160c-ae73-11e7-8fc6-b28486cc6b74

[2017-10-11 09:31] MarkuBu commented on #140
And by the way... radish is spelled with one "d", not with two

[2017-10-11 10:19] tobyplowy commented on #140
@MarkuBu is it possible to make it take longer to grow with code?
Making these stage textures is a nightmare it takes forever :/
I'm willing to do it though.

[2017-10-11 10:21] tobyplowy commented on #140
Yeah you're probably going to find the couple throughout farlands XD

[2017-10-11 10:31] tobyplowy commented on #108
@MarkuBu woh in Lua I can emagine that being super laggy :/
Too bad it would have been a good addition to the farlands mapgen :)

[2017-10-11 10:44] MarkuBu commented on #140
Currently the average grow time from stage to stage is the same for all corps. But I think it is possible to add individual grow times for each crop, independent of the number of stages. Probably I can use ingame days as value. Just say, "potatoes need 10 days to grow, radish 3 days".

And we should add a rot state for all crops anyway, even for wheat and cotton, to make it consistent.

[2017-10-11 10:50] MarkuBu commented on #140
This runs now for about 1.5 hours. I doubled the average grow time and the 5% chance to rot. Looks better for me. You don't need to maintain the fields continuously

![screenshot_20171011_124447](https://user-images.githubusercontent.com/16163058/31436100-15322d76-ae82-11e7-9a31-ae87c287c393.png)

[2017-10-11 11:37] tobyplowy commented on #140
@MarkuBu looking good :)

[2017-10-11 11:39] tobyplowy commented on #140
Thats Still abit randomized right so they Don't all grow at the same Time ;)

[2017-10-11 11:46] MarkuBu commented on #140
Of course. Currently you have an average grow time per state in seconds. And each state has a random range based on that time.

I want to calculate this average grow time per state based on the seconds per day and the number of states. With this method the number of states or the length of a day doesn't matter and we have reasonable grow times because I really think, everything grows much too fast

[2017-10-11 12:07] tobyplowy commented on #140
@MarkuBu ok good
 also how do you want me to give you the textures do I upload them in this issue and you add them to your branch
(I prefer to do it this way)

Or do you have another idea

[2017-10-11 13:16] MarkuBu commented on #140
You can upload wherever you want

But I want to reduce the randomization a bit. The difference between the states can be to high. I have cotton in state 8 and in state 3. It's a little too much

[2017-10-11 13:23] MarkuBu commented on #108
Is there a plan to add a cow? I like to have milk and we don't have leather, as far as I can see. Or we can add soy to make soy milk and fiber out of bamboo to make fabric

https://en.wikipedia.org/wiki/Bamboo_fiber

[2017-10-11 14:32] tobyplowy commented on #108
Yeh a cow wuld be nice problem is d00med is not active so you will have to add it but I can make the model
Also I can't animate :/

Yes there is but only in creative at the moment

Is both the cow and soy and bamboo fiber also good?

[2017-10-11 14:35] tobyplowy commented on #140
Jeh that is pretty extreme So jeh go ahead

[2017-10-11 14:44] tobyplowy commented on #108
@MarkuBu I was wondering you left the minetest community because you didn't like the derction minetest was going in (I agree) but why do you like this project?
(I'm asking this for feedback reasons please be honest)

[2017-10-11 15:52] MarkuBu commented on #108
I just felt like playing again. And I just felt like programming again. I just avoid the obstacles Minetest puts in my way. I don't want to discuss with the core developers anymore to add new features

And you can make models/textures for a cow, soy and bamboo fiber

[2017-10-11 16:58] tobyplowy commented on #108
@MarkuBu Yeh minetest game development is anything and it suks the core devs should be more open-minded but yeh that's why this project was started in the first place

Yup will do

[2017-10-12 00:23] tobyplowy commented on #108
@MarkuBu cow model is done but i still need to make a texture but in the main time  you may alredy animate it
[cow.zip](https://github.com/D00Med/farlands/files/1377578/cow.zip)

[2017-10-12 08:57] kingoscargames opened #144 ""straw slab" and "straw stair" look weird"
<img width="179" alt="screenshot_20171012_105342" src="https://user-images.githubusercontent.com/29333817/31487866-2d2e1f4c-af3c-11e7-90a0-685550df9377.png">

[2017-10-12 09:14] kingoscargames commented on #133
https://github.com/D00Med/farlands/pull/123  should fix this.

[2017-10-12 11:19] MarkuBu commented on #108
I don't know if I can animate that. I'm not an Blender expert. But the model looks nice.

But before that I want to make something like the vegan option mod from Minecraft, at least some parts of it.

https://www.youtube.com/watch?v=NmJqBhF1OJ8

Mostly interesting are things like burlap, compost and a few other things.

I also need some tools for the kitchen like a chopping board, a masher e.g. fo

[2017-10-12 12:29] MarkuBu commented on #140
I've updated the first comment. I removed things that are not part of the farming mod. Additional recipes should be added with a new mod.

The farming mod should only contain stuff that is related to farming which is soil, tools, crops and the growing of the crops.

I will add some suggestions for new crops to the first post

[2017-10-12 13:13] MarkuBu opened #145 "Remove palm trees"
Palm trees should be temporarily removed from the mapgen. The often look misplaced, in this case on valleys mapgen

![screenshot_20171012_151226](https://user-images.githubusercontent.com/16163058/31497571-cf8a0d82-af5f-11e7-94ce-97fe26bcaf34.png)

[2017-10-12 13:37] #133 closed

[2017-10-12 13:43] tobyplowy commented on #108
@kingoscargames hey eh do you have a skin so i can add a statue?

[2017-10-12 13:46] tobyplowy commented on #133
@kingoscargames ok its fixed but the naming is wrong

[2017-10-12 13:48] tobyplowy commented on #93
replaced by https://github.com/D00Med/farlands/issues/140

[2017-10-12 13:48] #93 closed

[2017-10-12 13:50] tobyplowy commented on #108
good idea

[2017-10-12 13:51] tobyplowy commented on #108
@MarkuBu if you make someting can you commit it to the 1.1 bransh?

[2017-10-12 13:52] tobyplowy commented on #140
i cant find it

[2017-10-12 13:58] tobyplowy commented on #108
@MarkuBu also do you whant to be added as collaborator

[2017-10-12 14:05] kingoscargames commented on #108
Yes i do (its really ugly and i made it like 1 or 2 years ago).

[2017-10-12 14:29] kingoscargames opened #146 "Rightclicking a slab when holding a slab removes the item your creative inventory."

[2017-10-12 14:42] MarkuBu commented on #140
I mean the first comment in this issue

https://github.com/D00Med/farlands/issues/140#issue-264209856

[2017-10-12 14:57] MarkuBu commented on #108
Why?

And by the way, I assume that no one is working on the farming mod, because I will make major changes here. If someone else makes changes, there may be problems. It will be easier if I make the changes in my branch than merging two branches.

If it's ok for @D00Med ... would make things easier

[2017-10-12 14:58] MarkuBu commented on #127
I close this issue because it is covered by #140

[2017-10-12 14:58] #127 closed

[2017-10-12 20:32] tobyplowy commented on #108
That's the branch I'm working on at the moment the new update so if you commit everything there I will still be able to edit and test your stuff easily but you have to be a collaborator for that to properly work

Yes correct for me and for you

[2017-10-12 20:33] tobyplowy commented on #108
@D00Med if you see this and you agree make @MarkuBu a collaborator

[2017-10-12 20:34] tobyplowy commented on #108
Is that the skin you currently use on servers?
Also it doesn't matter if it's ugly

[2017-10-12 20:38] tobyplowy commented on #108
Wait untill d00med adds you as claborator so you can work on the 1.1 branch together with me

[2017-10-12 21:22] tobyplowy commented on #108
@D00Med you online?

[2017-10-13 09:29] MarkuBu commented on #108
@tobyplowy it doesn't makes sense to work on the same branch. That's not the way how git works.

I make a branch called farming and I just edit the farming mod. If you want to test what I do just update the repo, make a checkout to the farming branch, and test. If you want to add textures just upload them here or send me an email and I will add them to my branch.

And, as I have already mentioned,

[2017-10-13 09:39] MarkuBu commented on #108
Do you know why I like your subgame? It is not just a collection of mods with some minor changes. I like the changes you made to the mapgen, the NPCs, even if they are not working yet, the models of the animals and some other things.

[2017-10-13 10:31] tobyplowy commented on #108
Amazing walcome to the team XD

That's how me and d00med did is the whole time I prefer to do it this way maybe we can try it?
but if you want to make your own branch than that's fine :)

Yup got it

Yeh there's way too many of those

Yeh we took alot of time to make it this good thanks @D00Med for everything!

Hahaha yeh they are pretty dumb but there's something likeable about them

I spend hour

[2017-10-13 11:17] MarkuBu commented on #108
I think it's fine if one is working at the code and one makes the art work. But I had to much trouble when contributing to MTG. Sometimes I had to update my PR multiple times because someone else makes changes somewhere else.

If I work on farming in my own branch, I do not interfere with anybody else and I can merge that to master if I finished

[2017-10-13 11:31] tobyplowy commented on #108
@MarkuBu keep in mind that this is not minetest game we don't do the bs they do if it works it works and it will be added

Again it would be amazing if you can work on the 1.1 branch together with me (just try it you will see that it's not that bad also me and d00med have never really incounterd any odd behavior)

[2017-10-13 11:43] kingoscargames commented on #108
I use it in singleplayer.

[2017-10-13 11:46] tobyplowy commented on #108
@kingoscargames Do you want me to add it as a statue?

[2017-10-13 11:51] kingoscargames commented on #108
Yeah, how should i send the file?

[2017-10-13 11:59] tobyplowy commented on #108
@kingoscargames just drag and drop it in the spot where you type text to upload it ;)

[2017-10-13 12:04] kingoscargames commented on #108
Ok,
<img width="32" alt="player_kingoscargames" src="https://user-images.githubusercontent.com/29333817/31545359-5bcfe69e-b01f-11e7-98bd-4fa7f41a22b8.png">

[2017-10-13 16:10] MarkuBu commented on #134
Some other flowers also have a wrong hitbox

[2017-10-13 17:05] MarkuBu opened #147 "Add gold and copper coins for trading"
I think, gold ingots are a bit to much for trading. I would suggest to add gold and copper coins.

One ingot = 9 coins
10 copper coins = 1 gold coin

Coins can be found in chests. Or you can make coins from nuggets.

[2017-10-13 19:57] tobyplowy commented on #147
@MarkuBu yes good idea but I can't program so if you want them then you will have to add them :/

[2017-10-13 20:36] D00Med commented on #108
@tobyplowy Hello :)
Why do we seem to be using the master branch now?

[2017-10-13 20:45] MarkuBu commented on #108
Normally the master branch is the place where the changes from other branches comes together. Or did I misunderstand something?

[2017-10-13 20:47] MarkuBu commented on #147
Currently I just drop some thoughts and want to know your opinion. I will work on the farming mod first, but I may make minor changes in between

[2017-10-13 20:48] D00Med commented on #108
@MarkuBu Yeah, but merging them into the master branch isn't as safe as doing all commits to the 1.1 branch and then merging that when we are ready. But I guess it's not as sensible to do that.
@tobyplowy Could we instead make a V1 branch and leave it be, whilst modifying the master branch?

[2017-10-13 21:39] D00Med commented on #145
@MarkuBu I don't really agree with this, they're mostly pretty good, and there isn't much that can be done to fix this(as far as I know). I think a few oddly placed trees is tolerable.
And it's more natural that they can appear in different biomes I think.

[2017-10-13 21:42] D00Med commented on #120
Ok, it's done

[2017-10-13 21:49] MarkuBu commented on #145
In MG Valleys a lot of palm trees are placed IN rivers. And a lot of palm trees are placed in snow and ice biomes. Looks odd when there is snow on the palm trees

[2017-10-13 23:03] tobyplowy commented on #108
No I don't think that's a good idea

[2017-10-13 23:14] tobyplowy commented on #145
@MarkuBu yeh but farlands is made for mapgen V7 :/

[2017-10-14 00:36] D00Med commented on #108
@tobyplowy Ok, why not? (curious)

[2017-10-14 06:56] MarkuBu commented on #145
Even there they spawn in cold biomes

[2017-10-14 07:00] MarkuBu commented on #108
That's the regular way. Make a branch of a stable version and work on the master.

I know that some people like to download always the master branch, but that shouldn't be a problem

[2017-10-14 10:29] MarkuBu opened #148 "Can't pay the trader"
I want to try the trader, just for fun. I had some gold ingots in my inventory, clicked on the trader, select an item I want to buy and than I want to pay.

But I can't drag the gold ingots in my inventory. I can drag and drop each item. I can even drop a potato in the payment slot. But I can't drag the gold ingot.

[2017-10-14 11:01] MarkuBu commented on #140
The code from the farming mod confuses me. I have to understand it first, before I can make major changes

[2017-10-14 11:51] tobyplowy commented on #140
@MarkuBu you can rewerite the whole farming mod if youd like (make sure it's compatible with V1 world saves :)

[2017-10-14 11:57] tobyplowy commented on #108
I think the master branch should be the stable branch the thing that people go to when they click the download link always

So making an update wuld be making a branch (in this case V1) and adding everything to that branch and when it's done it gets merged into master

I think it should be done like this but I may be wrong

[2017-10-14 12:01] tobyplowy commented on #108
That's what I said above this comment right?

Yes that's me XD

[2017-10-14 13:23] #120 closed

[2017-10-14 20:42] D00Med commented on #108
@tobyplowy Ok, I can understand that. Let's stick with one branch, whichever we are going to use (so that's the 1.1 branch right?), because otherwise it's going to get messy

[2017-10-14 20:48] tobyplowy commented on #108
@D00Med yes we put everything in the 1.1 branch and when the update is done we merge it in master

@MarkuBu you ok with that putting your farming mod changes in the 1.1 branch?

[2017-10-14 20:56] D00Med commented on #108
@tobyplowy Ok :)

[2017-10-14 21:37] MarkuBu commented on #108
It's not the usual way. Normally the master branch ist the branch with the latest dev version. You make a branch from the master to add a new feature and if the feature is working you merge with the master.

To release a stable version, you make a feature freeze and create a stable branch where you just make Bugfixes, but don't add new features.

I don't care where I add something, but some people

[2017-10-14 22:19] tobyplowy commented on #108
So it's ok to add the stuff to the 1.1 branch?

Most people will get the first thing that pops up and that is the master branch

But I would like to start development so please lets get started we will work on the 1.1 branch that is the unstable so we good? :)

[2017-10-15 20:04] tobyplowy commented on #108
@D00Med @MarkuBu can we start development?

[2017-10-15 20:40] D00Med commented on #108
@tobyplowy Yep

[2017-10-15 20:44] tobyplowy commented on #108
@MarkuBu and you?

[2017-10-15 20:45] tobyplowy commented on #108
@D00Med can you add the cow

[2017-10-15 20:46] tobyplowy commented on #108
[cow.zip](https://github.com/D00Med/farlands/files/1377578/cow.zip)

[2017-10-15 20:46] D00Med commented on #108
@tobyplowy I will when I have time :)
I've got to go now, enjoy your evening.

[2017-10-15 20:47] tobyplowy commented on #108
@D00Med yeh have a good day

[2017-10-15 20:56] MarkuBu commented on #108
No, I'm sick. I have a temperature of 39 degrees Celsius. Sorry

[2017-10-15 21:03] tobyplowy commented on #108
@MarkuBu woh that sucks :/

If you are better tell us ok :)

[2017-10-16 10:24] MarkuBu commented on #108
Can you tell me what'n new to 1.1 compared to the master? I tried to branch 1.1, but I'm not sure that it worked correctly

[2017-10-16 12:32] tobyplowy commented on #108
@MarkuBu it adds more building content

[2017-10-16 12:35] tobyplowy commented on #108
@MarkuBu It's going to be a building/farming update unless you don't want to work on it than its just a building update

[2017-10-16 12:51] MarkuBu commented on #108
I mean something specific. New nodes for example

[2017-10-16 13:20] tobyplowy commented on #108
@MarkuBu yes new nodes

[2017-10-16 14:15] MarkuBu commented on #138
Fixed this (hopefully). Please test. If it works for you too I merge it to 1.1 and master. Check this branch

https://github.com/D00Med/farlands/tree/beddrop

[2017-10-16 14:21] tobyplowy commented on #138
@MarkuBu how do I test this?
Do I fork your branch?

[2017-10-16 14:26] tobyplowy commented on #138
@MarkuBu ok I think I found it

[2017-10-16 14:28] tobyplowy commented on #138
@MarkuBu Yeh I can walk around when I'm in the bed XD

[2017-10-16 14:32] tobyplowy commented on #138
@MarkuBu now that you're at it can you add a fading effect to black so it looks like your closeing your eyes when you sleep?

[2017-10-16 14:42] MarkuBu commented on #138
For all others to test this (if you use git)

go to your farlands folder
type:
git pull
git checkout beddrop

Then start the game. To get back to whatever branch type e.g.
git checkout 1.1

I don't know if something like a fading effect is possible.

[2017-10-16 14:55] MarkuBu commented on #108
How many changes did you make to Minetest Game? Is is possible to update to a newer version? I think no because I found minimal one (unnecessary) change in mapgen.lua and one (unnecessary) file in the default folder.

Wouldn't it be good to keep MTG "as is" to make updates possible?

[2017-10-16 15:22] tobyplowy commented on #108
I don't know would it?

[2017-10-16 15:24] tobyplowy commented on #138
@MarkuBu Apart from the fact that I can walk around while I'm in the bed
I didn't find any other problems

[2017-10-16 15:28] MarkuBu commented on #138
Yeah, will check this too

[2017-10-16 15:29] MarkuBu commented on #108
It would be easier to fix bugs in MTG. Currently you stick with an older version and all of it's bugs

[2017-10-16 15:38] MarkuBu commented on #138
No, I can't move now.

[2017-10-17 09:50] 22i commented on #108
Lets move the Development discussion to Unofficial Minetest discord https://discord.gg/Wr6eXU3

it could be in the Minetest releated under Farlands dev

it could also be implemented as a bot thing that each time a post gets made here dicord bot automaticly post on the unoficial minetest discord server in minetest releated under Farlands dev

Reasons and benefits:

- Farlands gets more popular and

[2017-10-17 22:37] tobyplowy commented on #108
@22i I agree if the others do aswell @D00Med @MarkuBu @GreenXenith @DS-Minetest what do you guys think?

[2017-10-17 22:39] tobyplowy commented on #108
@22i also wuld you be interested in helping with farlands development

We can definitely use someone like you

[2017-10-18 04:11] GreenXenith commented on #108
I already joined the Discord :)

[2017-10-18 09:07] D00Med commented on #108
One more thing I've got to get...well if it's more convenient I'm not going to argue.
As long as we can keep a record, it's really important that everything that needs to be done gets written down.

[2017-10-18 18:17] 22i commented on #108
would love to join and help Farlands development now that i think of it how easy do you guys get to discord on mobile or on desktop? We can keep things that need to be done on the github issues. Not sure about keeping record of the discord chat would need to look into that.

[2017-10-18 19:44] tobyplowy commented on #108
Ha yes amazing (I already have some work for you if your up to it) can you please tell me what you're capable of doing I know you can model and animate prittie well :)

I can get on discord very fast (I use mobile and PC)
web browser and app

Maybe we could use gitter?

[2017-10-18 19:46] tobyplowy commented on #108
@22i https://gitter.im

[2017-10-18 19:57] 22i commented on #108
maybe gitter - for starters we need to improve the readme add some pictures to it

then i could fix the incorrect speed animation parameters for mobs like for example speed_normal is deprecated and speed_run does not do anything since you actualy have to do run_speed for it to work

https://github.com/22i/amc/issues/15

https://github.com/D00Med/farlands/blob/master/mods/mobs_farlands/flying.lua

[2017-10-19 08:47] MarkuBu commented on #108
I really need something for navigation. Every time I go on a bigger trip, I get lost. Than I have to look in the beds_spawns file for my last spawn point to find home

[2017-10-19 08:51] D00Med commented on #108
@MarkuBu Would a compass or beacon help?

[2017-10-19 09:02] MarkuBu commented on #108
Well, compass could help, but if the compass only points to the spawn point you can't sleep on your trips, because you set a new spawn point. The compass should be able to point to a custom point.

My favorite mod would be a big map, but as far as I know there is no usable map mod until now.

[2017-10-19 09:08] MarkuBu commented on #142
I'm still not well, but I want to spend some minutes on some issues. I looked at the burn time of grass and leaves in MTG and it's the same.

From my point of view it doesn't makes sense. Leaves have a much higher volume and contain branches. Grass is just a pile of grass

[2017-10-19 09:17] D00Med commented on #108
Hmmm ok.
Better exploring techniques would help too :P

[2017-10-19 09:32] MarkuBu commented on #108
@D00Med can you tell me how many changes you made to the original MTG mods? I found some unnecessary changes that makes it harder to upgrade MTG, if needed

[2017-10-19 09:40] D00Med commented on #108
@MarkuBu Good question, I haven't really kept track.
Just ask me if you want to update any of the mods, because I have modified some. I don't know what @tobyplowy  has done.

I have been trying to keep new content for the default mod in a seperate lua file, but removal of stuff like mese tools will get overwritten.

[2017-10-19 10:33] MarkuBu commented on #108
Meanwhile there is no need to comment out recipes. We now have the command

minetest.clear_craft(recipe)

You can enter a recipe or the output of a recipe

[2017-10-19 10:35] D00Med commented on #108
@MarkuBu Oh great, that's really handy :) Thanks

[2017-10-19 11:06] MarkuBu commented on #138
Pushed the bugfix to 1.1

[2017-10-19 11:42] MarkuBu commented on #140
Pushed some minor changes to 1.1

Grow time is longer.
Crops stay much longer in mature state
Grow speed is less (but still) random

[2017-10-19 13:16] tobyplowy commented on #108
Nothing apart from removing mese in the beginning of development

[2017-10-19 13:18] tobyplowy commented on #108
I had the idea of waypoint blocks that show you the location of that block on screen but there was no mod that worked at the time maybe there's one now?

[2017-10-19 13:51] MarkuBu commented on #148
This bug seems to be fixed. Probably a master branch issue? Close this

[2017-10-19 13:51] #148 closed

[2017-10-19 15:48] tobyplowy commented on #140
@MarkuBu can you inprove the watering can (so it can be used as a farming tool?)

I whant it to have a durability bar and When The durability bar is empty you need to refill it with water
Also it's not possible to water crops for some reason it's only possible to make saplings grow

D00Med made the original watering can

[2017-10-19 15:50] tobyplowy commented on #140
Amazing thanks again for all your work and time it really means alot to me :)

[2017-10-19 15:51] tobyplowy commented on #147
@MarkuBu are you interested in adding coins

If you say yes than I will begin making the textures :)

[2017-10-19 17:15] MarkuBu commented on #147
What does @D00Med say? If it is ok, keep going

[2017-10-19 17:19] MarkuBu commented on #140
Try it first before you cheer ;-)

[2017-10-19 18:47] tobyplowy commented on #147
@MarkuBu d00med said that it was a good idea (but that was a long time ago)
He may have changed his mind by now
@D00Med guess you will have to say it :)

[2017-10-19 19:08] tobyplowy commented on #108
Can this be used for waypoint blocks https://forum.minetest.net/viewtopic.php?f=9&t=15453

Just change the bones to a beacon or something?

[2017-10-19 19:09] tobyplowy commented on #140
@MarkuBu I'm testing now, but you still deserve a thank you for your time and work you know :)

[2017-10-19 19:13] tobyplowy commented on #140
@MarkuBu I found that Wheat and Cotton grow verry slow can it be faster

[2017-10-19 19:26] tobyplowy commented on #140
@MarkuBu I'm also inproveing the crop grow stages

So it's easier to see when they are ready to be harvested

[2017-10-19 19:34] MarkuBu commented on #140
It grows slow because I just increased the stage time for now, but it still has 7/8 stages instead of 4. It's a bit more work to make it more flexible.

But nevertheless, I think longer times for food production would be better. I don't know what I should do with all the eggs and chicken ;-)

![screenshot_20171019_213100](https://user-images.githubusercontent.com/16163058/31790253-1f86b1f4-b515-11

[2017-10-19 19:39] tobyplowy commented on #140
@MarkuBu rotten cotton (cotton dead)
![rotten cotton](https://user-images.githubusercontent.com/16853304/31790408-a904dadc-b515-11e7-92ad-dada779bee0b.png)

also thats alot of eggs i wish this was real i love eggs :/

[2017-10-19 19:42] tobyplowy commented on #140
@MarkuBu can you add temp textures for rotten wheat and the new crops you sugested
(just add a solid color 16X16 image as texture) so i can work on it later and its alredy in the game

[2017-10-19 19:45] tobyplowy commented on #140
rotten_wheat
![rotten_wheat](https://user-images.githubusercontent.com/16853304/31790757-d806f936-b516-11e7-9ac1-8cff2ceceaef.png)

[2017-10-19 20:21] tobyplowy commented on #140
@MarkuBu I just tested the crop grow times are perfect :)
Wheat and Cotton need to go a bit faster tho also rotting needs to go a little bit faster

Nice job

[2017-10-19 22:48] tobyplowy commented on #108
@22i can you animate this cow model?

[cow.zip](https://github.com/D00Med/farlands/files/1400234/cow.zip)

[2017-10-20 14:15] 22i commented on #108
@tobyplowy @D00Med sure but first i would need to know where are all the Farlands models .blend files with animations at? If there is no such thing there better be because of backup and for reference to make thing look alike and fit together

[2017-10-20 14:19] tobyplowy commented on #108
@22i the bace models (not animated) are on my computer and the animated models are probably on the PC of d00med

I also have the techne model files for my newer models

[2017-10-20 15:25] 22i commented on #108
we should group .blend and techne models all into a folder and either add them all to Farlands subgame repository or make a separete repository just for them

[2017-10-20 16:34] tobyplowy commented on #108
/\ Yeh that's a good idea /\

[2017-10-20 16:39] kingoscargames commented on #108
Can u remove my player texture from the first post?, i don't want other people to have it :/

[2017-10-20 16:54] tobyplowy commented on #108
@kingoscargames done

[2017-10-21 06:09] 22i opened #149 "improve Farlands readme"
![screenshot_20171021_080536](https://user-images.githubusercontent.com/17874916/31848612-a2c09c16-b636-11e7-8fd3-cfee66d4291a.png)

readme.txt should be deleted and be replaced with 2 files:
- license for code.txt - containing the license information
- readme.md - contains basic information about Farlands

readme.md
- pictures like header and main picture
- Farlands subgame shorth description inf

[2017-10-21 06:12] 22i commented on #108
https://github.com/D00Med/farlands/issues/149 improving Farlands readme

[2017-10-21 07:07] 22i commented on #108
aether 2 ai development! https://go.twitch.tv/videos/183732223##

[2017-10-21 07:23] 22i commented on #108
![aether](https://user-images.githubusercontent.com/17874916/31849358-6965251c-b641-11e7-9147-3750ca9653e9.jpg)
what if we added aether or our version of it as a new dimension-layer that would be in the clouds somewhere? aether is open source btw

just asked on their discord https://discord.gg/cRWNCdB under aether-help about how they do their models

https://aether.gildedgames.com/
https://www.mod

[2017-10-21 10:07] 22i opened #150 "Add Minetest and Minetest subgame to the repository topic or description for discoverability"
![screenshot_20171021_120208](https://user-images.githubusercontent.com/17874916/31850729-b0ad94fc-b657-11e7-85e4-9da8cbf11dbb.png)
you can add topics next to the repository description

for much more Farlands hits discoverability and visibilty when searching github for recently updated minetest things

this will make Farlands show up when you search for minetest on github.

github mintest search

[2017-10-21 10:07] 22i commented on #108
make Farlands more discoverable https://github.com/D00Med/farlands/issues/150

[2017-10-21 12:18] tobyplowy commented on #108
@22i heaven and hell are planned for future content V3 but it will only be added if there is propper demension support (we will not use dimension-layers)

[2017-10-21 12:21] tobyplowy commented on #150
@D00Med have a look at this

[2017-10-21 20:29] D00Med commented on #150
@22i Ok, thanks for pointing this out. I've added "minetest" and "minetest-subgame"

[2017-10-21 20:46] tobyplowy commented on #150
@D00Med close?

[2017-10-21 20:47] tobyplowy commented on #149
@D00Med another one for you

[2017-10-21 20:50] D00Med commented on #150
@tobyplowy Oh yes, thanks

[2017-10-21 20:50] #150 closed

[2017-10-22 19:27] tobyplowy commented on #149
@D00Med is it possible to work on this today?

[2017-10-22 19:28] tobyplowy commented on #108
@D00Med @MarkuBu what do you think about the above comments?

[2017-10-22 19:30] tobyplowy commented on #140
@MarkuBu are you still sick?

[2017-10-22 21:10] D00Med commented on #149
@tobyplowy maybe, no promises. Like I said, I will be able to work on farlands again in two weeks.
@22i Why should the readme be changed to this?
There should already be a licence.txt file (and if not I will add it with this name), and I don't understand why the readme should be a different type of file? Most readme files I've seen have been .txt files, so I think that is better for consistency, a

[2017-10-22 21:13] D00Med commented on #108
@tobyplowy Still need to wait until dimensions are added.
Things like this are nice, but I really think we should not add any more really ambitious things to the next version, because otherwise other stuff might get rushed or forgotten.

[2017-10-22 22:28] MarkuBu commented on #108
I agree. Things should be finished first before new stuff is added

[2017-10-22 23:40] tobyplowy commented on #149
Wait you never said that did I miss something or am I just stupid?
Also that's exiting news for how long will you be back?

[2017-10-22 23:45] tobyplowy commented on #108
Hahaha yeah V1 was quite a spectacle XD

Yes agree farming and decoblocks is what we aim for for V1.1

[2017-10-22 23:47] tobyplowy commented on #138
@MarkuBu close?

[2017-10-22 23:49] tobyplowy commented on #144
@kingoscargames that can't be fixed

[2017-10-22 23:49] tobyplowy commented on #144
Well I don't think so at least

[2017-10-22 23:54] tobyplowy commented on #124
@MarkuBu that's odd :/

[2017-10-22 23:55] tobyplowy commented on #121
@gorkoda1 thanks for reporting :)

[2017-10-23 00:00] tobyplowy commented on #87
@GreenXenith do you think you'll be able to add nice GUI for 1.1?

[2017-10-23 00:20] D00Med commented on #108
@tobyplowy yeah it probably won't be so bad now that Markbu and 22i are helping.
Ok, good. That's a nice goal

[2017-10-23 00:21] D00Med commented on #149
@tobyplowy I thought I mentioned it a couple of weeks ago? apologies if I didn't.
But yeah, exams over after next week, then I have one week of holiday, and after that idk, I should have a lot more time.

[2017-10-23 00:32] D00Med commented on #129
Done :)

[2017-10-23 00:32] #129 closed

[2017-10-23 04:38] #138 closed

[2017-10-23 06:15] MarkuBu commented on #124
Only you own trees placed by the mapgen don't decay. Default trees work fine. Don't know why yet.

Who made the tree schematics?

[2017-10-23 07:08] MarkuBu commented on #108
To be honest: MTG really should be cleaned up and code from the subgame should be removed. It is horrible to find out what's going on here

[2017-10-23 07:46] MarkuBu commented on #108
I don't understand. It is currently impossible or at least hard work to update MTG to a newer version because a lot of code in MTG is changed by the subgame.

If the subgame related code is moved to independent files it will be much easier to update MTG

[2017-10-23 08:59] MarkuBu commented on #124
Got it. param2 of the leaves is set to 1, but should be 0. param2=1 is reserved for leaves that are placed by the player.

[2017-10-23 10:11] kingoscargames commented on #144
Oh :(

[2017-10-23 10:33] tobyplowy commented on #124
@MarkuBu can you change the param types?

[2017-10-23 10:36] tobyplowy commented on #108
@D00Med @MarkuBu do we do this or not?

[2017-10-23 10:55] MarkuBu commented on #124
That's why I asked who made the schematics. It would be a lot of work for me to convert all MTS files to lua, edit them and convert them back to MTS. I don't want to do that.

It would be easyer for the original creator to change that, depending on how they were made

[2017-10-23 10:59] tobyplowy commented on #124
@MarkuBu d00med made the tree schematics also I did a couple

[2017-10-23 10:59] tobyplowy commented on #124
@D00Med ping

[2017-10-23 12:06] MarkuBu commented on #124
@tobyplowy how did you make them? Build a tree and save it with a schematic saver?

I always used the schematic saver from duane and I preferred to save the schematic as Lua table instead of MTS.

Take a look to my tree mod

https://github.com/MarkuBu/mb_trees

[2017-10-23 12:53] tobyplowy commented on #124
@MarkuBu furst I build them in game and than I expected them using wuzzys exporter

[2017-10-23 13:00] MarkuBu commented on #124
I would recommend using a Lua table to store schematics. I don't see the advantage of MTS. Just saves a few bytes and a few microseconds while loading

I used the schematic saver from duane.

[2017-10-23 13:05] tobyplowy commented on #124
@MarkuBu I think it's better that d00med takes this over

I'm not very good at this smart poeple stuff :/

[2017-10-23 14:13] MarkuBu commented on #108
@D00Med I made a branch to demonstrate what I mean. I replaced nodes.lua, crafting.lua and tools.lua with the original files from MTG and overwrite the changes (probably not all) in this file

https://github.com/D00Med/farlands/blob/clearmtg/mods/farlands_patch/init.lua

Since Minetest 0.4.16 there is no reason for hard coded changes in MTG, except you need to disable an ABM or similar

I really r

[2017-10-23 15:24] GreenXenith commented on #87
@tobyplowy Don't count on it.. Life has been busy for me as of late. Once I can find time, I will try to get the inventory looking spiffy.

[2017-10-23 17:09] 22i commented on #149
you could just rename readme.txt to license.txt and then add readme.md with all the suggestions in the first post.

@tobyplowy @D00Med lets make a test you two should both download aemp here https://github.com/22i/aemp extract it then try to open readme.md and report back what happens (if it opens what opens) and what operating system you are on.

the reason behind readme.md being md (markdown) in

[2017-10-23 20:25] D00Med commented on #108
@MarkuBu Ok, I understand now, I will sort this out, since I'm have the best idea what's actually going on with the changes xD I will move all farlands related changes in default to default_farlands.lua

[2017-10-23 20:28] D00Med commented on #124
@tobyplowy Thanks
@MarkuBu I've been using worldedit. But I intend to use wuzzy's exporter in future.

[2017-10-23 20:31] D00Med commented on #149
@22i definitely not, the license file has what it needs, and the readme has what it needs.
What I could do, is add another, fancier, readme file :)

[2017-10-24 07:44] MarkuBu commented on #108
@D00Med it would be better to make a farlands mod like I did. You also have to move textures out of default. The doors and stairs mod also have to be cleaned up. And you should avoid to name farland node with "default:"

Let me check that for you.

[2017-10-24 07:50] MarkuBu commented on #124
@D00Med can you save the schematics as Lua table and upload them here?

[2017-10-24 08:06] D00Med commented on #108
@MarkuBu Why would it be better or worse?
Using a separate lua file in default means there is no need for the dependency, but otherwise I don't see why it should be separate or not.

[2017-10-24 08:06] D00Med commented on #124
@MarkuBu do you want them as lua tables so you can set param2?

[2017-10-24 08:14] MarkuBu commented on #124
param2 shouldn't be set at all. I don't know why it is set to 1, but it definitely is. A Lua table is the only way to change this.

It is also handy to have the Lua table if you want to make changes, not only for the trees, but for all schematics.

Schematics can be converted to MTS for a stable release, but for development I prefer the Lua table

[2017-10-24 08:27] MarkuBu commented on #108
You will always have dependencies between mods, except you make everything yourself from scratch in one mod.

Every time, you want to update MTG in your game, you have to add the file and edit init.lua from default. And you have a much higher dependency to default because everything depends on it. What if default is split up one day or replaced by separate mods? Than you still have items like "def

[2017-10-24 08:47] D00Med commented on #124
@MarkuBu Oh ok, well then shouldn't mts files be fine?
Minetest game uses mts files, and they're easier to create, so I figure they are better to use.

[2017-10-24 09:02] MarkuBu commented on #124
Well, MTS files are used for one reason: they save a few bytes of space. Might be interesting if you have a (very) slow Internet connection.

But MTS is a binary format. You can't edit them. And it should be as easy as creating a MTS file. Maybe Wuzzys mod can save as Lua or can be modified to do that.

[2017-10-24 09:04] MarkuBu commented on #108
Maybe I can help you a bit.

[2017-10-24 09:51] D00Med commented on #108
@MarkuBu Thankyou for the offer, but there isn't really much to do, so I will do it.
I need to have a think about what I actually changed.
I hope you don't mind working with me on this subgame, I can be very messy with things.

[2017-10-24 10:16] MarkuBu commented on #108
Well, maybe you can take a look at that.

https://github.com/D00Med/farlands/tree/clearmtg/mods/farlands

Just a suggestion how I would start

[2017-10-24 11:09] D00Med commented on #108
@MarkuBu Ok, thanks

[2017-10-24 13:13] MarkuBu commented on #108
@D00Med why did you add tin to the mapgen? It is default in MTG

[2017-10-24 13:49] tobyplowy commented on #108
@MarkuBu because we added it before minetest game :)

[2017-10-24 13:51] tobyplowy commented on #108
@22i when will you be able to animate that cow model?

[2017-10-24 15:29] MarkuBu commented on #108
I've updated my tree mod. The idea behind this mod is to add new trees without the need for a biome lib or anything else and a mod for each tree

https://github.com/MarkuBu/mb_trees

Everything that is related to the tree is in the same mod, for example if I would add a bamboo door I would add it to the bamboo mod and so on.

Only as a food for thought

[2017-10-25 09:24] MarkuBu commented on #137
Was able to fix the chests. Now we can also add some loot to chests in buildings. I think it will be the same issue with furnace and bookshelf, so it should be possible to fix that too

[2017-10-25 10:14] MarkuBu commented on #137
It is not as easy as I thought. Things are hard coded in nodes.lua. I guess I have to clone the chest code an override the default chest

[2017-10-25 10:37] tobyplowy commented on #137
@MarkuBu pfffffff that sounds complicated

Also I will think of some vilage loot :)

Also also thanks for helping us you are great Asset to the team I can't thank you enough :)

[2017-10-25 12:45] MarkuBu commented on #137
Not complicated, just a little bit unnecessary work. I had to copy the chest code to an external mod to make necessary changes.

[2017-10-25 16:41] MarkuBu commented on #108
The first time I see this, but this looks a bit odd

![screenshot_20171025_183547](https://user-images.githubusercontent.com/16163058/32010970-9ed3cfb2-b9b3-11e7-977b-115d1dd9c5d3.png)

Schematics are placed to deep in general like this three buildings

![screenshot_20171025_112118](https://user-images.githubusercontent.com/16163058/32011052-ebc2def8-b9b3-11e7-8c65-aac1ce6465f4.png)

And schematic

[2017-10-25 19:45] D00Med commented on #108
@MarkuBu Yeah I'm working on that, they should not spawn underground, but there's some hole in the method I've been using for checking for the surface.

Should you?

[2017-10-25 20:13] tobyplowy commented on #108
Well if you use a seed than yes you should :)

[2017-10-25 20:28] D00Med commented on #108
Ok, so how would the villages be placed the same for every map?
The villages are placed after the terrain has been generated.

[2017-10-25 21:45] MarkuBu commented on #108
You need to use a noise function instead of random numbers

[2017-10-25 21:46] D00Med commented on #108
@MarkuBu I still don't understand sorry

[2017-10-28 05:25] Reedych commented on #108
Hello, guys. How is hud look? Is it normal that heart texture is a red square?

[2017-10-28 06:24] Reedych commented on #121
For now, it's not crashing, but snowing isn't working.

[2017-10-28 09:47] MarkuBu commented on #140
Ok, I think I will rewrite the farming mod. Using farming redo as base is a mess. Probably I will use default farming mod as base and go from there.

And I will split farming and food recipes into two mods

[2017-10-28 12:20] MarkuBu commented on #140
Some suggestions.

- You can't find any crop in the wild. To get some progress to the game most crops only can be found in backyards, in chests, can be purchased by traders or dropped e.g. by mobs.
- Crops can grow on dry soil, on wet soil and on fertile soil (compost). On dry soil they grow slow and rot fast, but you can grow something even if you have no water or bucket. On fertile soil they gro

[2017-10-28 12:50] tobyplowy commented on #140
I'm excited :)

Eeeemmmm yes you can at least in v1 not sure about 1.1 tho :/

I agree with the above but if the soil is not wet it should grow really slow
(Like painfully slow becouse it's not hard to get water)

Can you change dry soil into wet soil if it's raining without having alot of performance issues?

Oh man I really like that idea

Yes :)
Can the watering can be used? (Idea below)

If th

[2017-10-28 12:55] tobyplowy commented on #108
@Reedych hey welcome to farlands :)

Not sure what you mean by that

Yes it is :)

Better GUI may be added but I'm waiting for someone to make it :/
GreenXenith doesent seem to have time

https://github.com/D00Med/farlands/issues/87

[2017-10-28 14:04] MarkuBu commented on #140
I know that it is currently possible, but for future versions this should be removed. It won't break old worlds. You just wont find crops in newly explored areas.

A game needs some progress. Walking through a grassland and find 9 of 10 crops is not very satisfying. You need some progress. For example: find wheat seed, grow wheat, get bread. Find a house with some potatoes in a chest, grow more po

[2017-10-28 14:39] tobyplowy commented on #140
I really like whatever it's my favorite food XD
But all joking aside I agree

Yes ok

Is it possible to make the crops grow at random if you use fertilizer
So you need to fertilise it more Than ones to get a full crop?

[2017-10-28 16:00] MarkuBu commented on #140
So you need to fertilise it more Than ones to get a full crop?

I think about to add an API to make it easy to add fertilizer with different chances

But something else: I don't like the fact that it is enough to have a water source or floating water within 3 nodes, even if it is 3 nodes below or flying 3 nodes above the crops. Water should be at the same level as the soil

![screenshot_20171028_1

[2017-10-28 16:07] tobyplowy commented on #140
Nice :)

I never even knew that was possible but yes I agree
Also can you increase the distance of water effect to 4 blocks far instead of 3?

[2017-10-28 16:09] tobyplowy commented on #108
@MarkuBu do you think it would be possible to use your unfinished mob api for farlands?

[2017-10-28 16:58] MarkuBu commented on #140
Already done

![screenshot_20171028_185425](https://user-images.githubusercontent.com/16163058/32136639-7ed7d39c-bc11-11e7-8e99-44f62287d304.png)

Now the water source has to be at the same level as the soil and you can water a 9x9 field instead of 7x7

But don't be confused. This is not farlands. Currently I use default MTG. I just modify the default farming mod

[2017-10-28 17:53] MarkuBu commented on #108
Not really. It is more a proof of concept than something that can be used. And without a good pathfinder the best mob API is useless. I hope this will change soon

[2017-10-28 17:56] tobyplowy commented on #108
@22i my cow model is compleatly done can you animate it?

![cow pic](https://user-images.githubusercontent.com/16853304/32137084-b56d948e-bc19-11e7-85f7-161aaeee375e.png)

[cow.zip](https://github.com/D00Med/farlands/files/1424461/cow.zip)
(NOTE dout use the previus cow model you got use the one in the above cow.zip file)

[2017-10-28 17:59] tobyplowy commented on #140
@MarkuBu it will be added to farlands later right?

Also do you think pigs shuld be added to farlands?

[2017-10-28 18:27] MarkuBu commented on #140
We should open a new issue for animals

[2017-10-28 18:28] MarkuBu commented on #108
That's cute. I like your models

[2017-10-28 18:52] MarkuBu commented on #108
Can you make different textures?

[2017-10-28 19:17] Reedych commented on #108
@tobyplowy

But why not use vanilla HUD?

[2017-10-28 19:56] D00Med commented on #140
@MarkuBu Something good about anything like farming being more complicated, is that it extends the depth of the game. If you look at the other aspects of Farlands, complexity is sort of a running theme.
So here are my thoughts:
Farming could be complex, but it should tie in with the village building aspect. When I add npc vocations, we can have farmers that grow crops in nearby areas, without it b

[2017-10-28 20:38] tobyplowy commented on #140
@D00Med i agree :)

[2017-10-28 20:46] tobyplowy commented on #108
@Reedych becouse I whant the textures to be different and icones dident work for me so thats why
Also the default textures are bad

[2017-10-28 20:51] tobyplowy commented on #108
Thanks :)

As in difrent colors like a brown cow?
Maybe this XD (I'm just joking)
![hqdefault](https://user-images.githubusercontent.com/16853304/32138406-64536cc2-bc32-11e7-8b0e-77f1c0da3197.jpg)

[2017-10-29 04:47] 77i commented on #108
@tobyplowy like i said earlier i can easily animate the cow but first i need @D00Med to upload here atleast animated horse.blend so that i can copy the animation armature to the cow. In other words animation is already there i dont need to create it from scratch just copy from horse. You can copy animation pretty easily in blender. i will make a tutorial on how to do it.

@MarkuBu @tobyplowy i agr

[2017-10-29 06:02] MarkuBu commented on #108
The animation of the horse should be modified because it is not nice. The head only moves down, but not up. The head "jumps" back.

Similar problem with other models. Only half of the animation is done

[2017-10-29 06:19] Reedych commented on #108
Why not :)

[2017-10-29 08:54] MarkuBu commented on #140
Well, I forgot something important. Nothing grows if no player is near the plants. So you can walk around as long as you want.

But if you are building near your farm plants are growing.

And it is a difference between complexity and annoyance. And it is annoying if you have to interrupt whatever you do every other minute to maintain your farm.

[2017-10-29 09:17] 22i opened #152 "add all animated or not Farlands mobs.blend blender files or techne files to this repository or some other."
Benefits
- beter organization
- the models could be improved
- backup in case of system failure
- we could add these models to any game
- people could make machinimas or youtube animations with em
- easier to animate said models with ability to copy animation over
- easier to update the models when Minetest changes model standards

[2017-10-29 09:19] 22i commented on #108
https://github.com/D00Med/farlands/issues/152 add all Farlands mobs.blend blender files or techne files to this repository or some other.

[2017-10-29 09:40] MarkuBu opened #153 "Oak sapling + fruit = fruit tree"
This is an idea I have from a minecraft mod. If you put an oak tree sapling and a fruit to your crafting field you get a fruit tree sapling.

For example: Oak sapling + apple = Apple tree sapling

Should work with all tree fruits. Then you can make a nice orchard.

[2017-10-29 10:10] tobyplowy commented on #152
@D00Med can you make a repo for this?

[2017-10-29 10:12] tobyplowy commented on #153
@MarkuBu oooohhhh nice idea

@D00Med ping

[2017-10-29 10:18] Reedych commented on #153
Not very realistic, but for farlands can be good.
On Oct 29, 2017 3:40 PM, MarkuBu <notifications@github.com> wrote:This is an idea I have from a minecraft mod. If you put an oak tree sapling and a fruit to your crafting field you get a fruit tree sapling.
For example: Oak sapling + apple = Apple tree sapling
Should work with all tree fruits. Then you can make a nice orchard.

—You are receiving t

[2017-10-29 10:34] MarkuBu commented on #153
Since when is Minetest/Minecraft realistic? And just imagine this recipe as "grafting", if you know what that means.

[2017-10-29 10:53] MarkuBu commented on #140
just a few ideas for more complexity.
Wheat
If you harvest you only get wheat, but no seeds. You need a scyth to harvest wheat. To get seeds you need a flail and you get straw and seeds. If you do it by hand you get less seeds. Wheat is attacked by crows. You need to build a scarecrow to protect your fields. To build a scarecrow you need to find a pumpkin and maybe some leather or cotton fabric.

[2017-10-29 11:06] tobyplowy commented on #153
@Reedych please never use the email reply ever again there's mountains of useless text if you use the email reply :/

[2017-10-29 20:31] D00Med commented on #108
@MarkuBu

Similar problem with other models. Only half of the animation is done

Please make sure you know what you are talking about before saying something like that.
The animations are complete, but the mob api almost always changes the animation, or starts it again, before it can be finished. This is a pretty frustrating problem, but I can't think of any way to avoid it besides timers specific

[2017-10-29 20:36] D00Med commented on #153
@MarkuBu That's a good idea :D
I'd suggest grafting, but that would require growing trees. So a crafting recipe is the next best thing.

[2017-10-29 20:45] D00Med commented on #140
@MarkuBu
Those are good ideas. Crows would be cool, @tobyplowy could you make a model for those?
Would it be good to have pipelines for water? If I added that, it would be a good use for machines.

[2017-10-29 20:57] MarkuBu commented on #108
Ah, ok. Yeah, mobs redo is really ...

[2017-10-29 21:23] D00Med commented on #108
@MarkuBu Yeah, but it's the best we have for now.

[2017-10-29 22:32] tobyplowy commented on #108
@MarkuBu you mean crap I agree

[2017-10-29 22:38] tobyplowy commented on #140
Yes I can but maybe we can use the bird model that we already have?

[2017-10-29 22:39] tobyplowy commented on #140
Yes if sprinklers get added

[2017-10-29 22:44] D00Med commented on #140
@tobyplowy It's not really crow-shaped.
Sprinklers are a good idea :)

[2017-10-29 22:46] tobyplowy commented on #140
For quality reasons I will make a new model :)
Added to my to-do list

[2017-10-29 22:55] D00Med commented on #140
@tobyplowy Thankyou :)

[2017-10-30 09:59] MarkuBu commented on #140
How do we get seeds? That is the next question to which I would like an answer.

The default farming mod assumes that harvesting always drops a crop and a seed. But that doesn't makes sense.

My suggestions:
- Wheat: If you harvest wheat you get wheat. From that wheat you get straw and seeds. From the seeds you can make flour or you can plant them.
- Potatoes: If you harvest you get potatoes. The

[2017-10-30 11:19] MarkuBu commented on #140
The thing is, that the default farming mod from MTG defines crops and seeds for all plants. If you harvest you always get a crop and a seed.

We need to define now how farming should look like in Farlands.
- Crops and seeds for all plants like in MTG?
- Crops can be seeds, even if it is not realistic like carrots in farming redo?
- A more realistic approach where some crops can be seeds, some crop